Repository electricitymaps/electricitymaps-contrib, changes with the owners that .github/CODEOWNERS names for each.
All owners: @VIKTORVAV99, @electricitymaps/advocacy, @electricitymaps/self-service

.github/CODEOWNERS:

# Codeowners file

parsers/* @VIKTORVAV99
config/* @VIKTORVAV99
web/* @electricitymaps/advocacy
mobileapp/* @electricitymaps/advocacy
mockserver/* @electricitymaps/advocacy
web/public/locales/en.json @electricitymaps/self-service

remove estimation_method from config. (#8358)
  config/zones/AU.yaml
  config/zones/BR.yaml
  config/zones/CH.yaml
  config/zones/HK.yaml
  config/zones/ID.yaml
  config/zones/IL.yaml
  config/zones/IN-MH.yaml
  config/zones/IN-UP.yaml
  config/zones/IN.yaml
  config/zones/IT.yaml
  config/zones/JP-KN.yaml
  config/zones/JP-TK.yaml
  config/zones/KR.yaml
  config/zones/MY-EM.yaml
  config/zones/MY.yaml
  config/zones/NL.yaml
  config/zones/US.yaml
  electricitymap/contrib/config/model.py
  web/geo/types.ts
  web/scripts/generateZonesConfig.ts
  web/src/features/panels/zone/util.ts
Owners: none

quality of life error message
  parsers/CL.py
Owners: @VIKTORVAV99

chore(parser CL): quality of life error message (#8384)
  parsers/CL.py
Owners: @VIKTORVAV99

Include static config in built package
  pyproject.toml
Owners: none

Include static config in built package (#8386)
  pyproject.toml
Owners: none

Package config separately
  config/__init__.py
  pyproject.toml
Owners: @VIKTORVAV99

Package config separately (#8388)
  config/__init__.py
  pyproject.toml
Owners: @VIKTORVAV99

updated HISTORICAL_GENERATION_URL and code good for: storage live, generation live and generation historical. Now I need to do storage historical
  parsers/US_ERCOT.py
Owners: @VIKTORVAV99

experimental(web): 5 mins
  web/src/api/getState.ts
  web/src/api/getZone.ts
  web/src/api/helpers.ts
Owners: none

parse UA price data
  parsers/ENTSOE.py
Owners: @VIKTORVAV99

parse UA price data (#8389)
  parsers/ENTSOE.py
Owners: @VIKTORVAV99

Bumps version
  web/package.json
Owners: @electricitymaps/advocacy

add currency in model
  electricitymap/contrib/config/model.py
Owners: none

fix DK, SE, NO are traded in EUR
  config/zones/DK-BHM.yaml
  config/zones/DK-DK1.yaml
  config/zones/DK-DK2.yaml
  config/zones/DK.yaml
  config/zones/NO-NO1.yaml
  config/zones/NO-NO2.yaml
  config/zones/NO-NO3.yaml
  config/zones/NO-NO4.yaml
  config/zones/NO-NO5.yaml
  config/zones/NO.yaml
  config/zones/SE-SE1.yaml
  config/zones/SE-SE2.yaml
  config/zones/SE-SE3.yaml
  config/zones/SE-SE4.yaml
  config/zones/SE.yaml
Owners: none

Update config/zones/CH.yaml
  config/zones/CH.yaml
Owners: none

Update config/zones/HR.yaml
  config/zones/HR.yaml
Owners: none

Update config/zones/HU.yaml
  config/zones/HU.yaml
Owners: none

Update config/zones/BG.yaml
  config/zones/BG.yaml
Owners: none

Update config/zones/CZ.yaml
  config/zones/CZ.yaml
Owners: none

Update config/zones/GB-NIR.yaml
  config/zones/GB-NIR.yaml
Owners: none

Update config/zones/MK.yaml
  config/zones/MK.yaml
Owners: none

Update config/zones/PL.yaml
  config/zones/PL.yaml
Owners: none

Update config/zones/RS.yaml
  config/zones/RS.yaml
Owners: none

Update config/zones/RO.yaml
  config/zones/RO.yaml
Owners: none

add ME
  config/zones/ME.yaml
Owners: none

prettier
  config/zones/DK-DK1.yaml
  config/zones/DK-DK2.yaml
  config/zones/NO-NO1.yaml
  config/zones/NO-NO2.yaml
  config/zones/NO-NO3.yaml
  config/zones/NO-NO4.yaml
  config/zones/NO-NO5.yaml
  config/zones/NO.yaml
  config/zones/SE-SE1.yaml
  config/zones/SE-SE2.yaml
  config/zones/SE-SE3.yaml
  config/zones/SE-SE4.yaml
  config/zones/SE.yaml
Owners: none

Bumps version
  web/package.json
Owners: @electricitymaps/advocacy

test(parsers): fix mock patch target in JP_KY parser test
  electricitymap/contrib/parsers/tests/test_JP_KY.py
Owners: none

refactor(parsers): use ZoneKey in JP_KY parser
  electricitymap/contrib/parsers/JP_KY.py
Owners: none

refactor(parsers): use event classes in JP_KY parser
  electricitymap/contrib/parsers/JP_KY.py
  electricitymap/contrib/parsers/tests/__snapshots__/test_JP_KY.ambr
Owners: none

Enables self-destroying of service worker (#8395)
  web/vite.config.ts
Owners: @electricitymaps/advocacy

Update zoneShortName in ko.json
  web/src/locales/ko.json
Owners: none

Update zoneShortName in ko.json (#8412)
  web/src/locales/ko.json
Owners: none

fix ENTSO-E price parsing
  config/zones/ES.yaml
  electricitymap/contrib/config/model.py
  electricitymap/contrib/lib/data_types.py
  electricitymap/contrib/parsers/ENTSOE.py
  electricitymap/contrib/parsers/lib/parsers.py
  electricitymap/contrib/parsers/tests/__snapshots__/test_ENTSOE.ambr
  electricitymap/contrib/parsers/tests/mocks/ENTSOE/ES_day_ahead_price.xml
  electricitymap/contrib/parsers/tests/mocks/ENTSOE/ES_intraday_price.xml
  electricitymap/contrib/parsers/tests/test_ENTSOE.py
Owners: none

Bumps version
  web/package.json
Owners: @electricitymaps/advocacy

update linguist-vendored path
  .gitattributes
Owners: none

add comments clearifying usecase
  config/zones/ES.yaml
  electricitymap/contrib/parsers/ENTSOE.py
Owners: none

fix(parsers): ENTSO-E price parsing (#8413)
  config/zones/ES.yaml
  electricitymap/contrib/config/model.py
  electricitymap/contrib/lib/data_types.py
  electricitymap/contrib/parsers/ENTSOE.py
  electricitymap/contrib/parsers/lib/parsers.py
  electricitymap/contrib/parsers/tests/__snapshots__/test_ENTSOE.ambr
  electricitymap/contrib/parsers/tests/mocks/ENTSOE/ES_day_ahead_price.xml
  electricitymap/contrib/parsers/tests/mocks/ENTSOE/ES_intraday_price.xml
  electricitymap/contrib/parsers/tests/test_ENTSOE.py
Owners: none

Bumps version
  web/package.json
Owners: @electricitymaps/advocacy

update linguist-vendored path (#8414)
  .gitattributes
Owners: none
