Repository electricitymaps/electricitymaps-contrib, changes with the owners that .github/CODEOWNERS names for each.
All owners: @VIKTORVAV99, @electricitymaps/advocacy, @electricitymaps/self-service

Update CA-ON.yaml for historical nuclear capacity data
  config/zones/CA-ON.yaml
Owners: none

Removed None because it is a default value anyway
  electricitymap/contrib/capacity_parsers/CA_ON.py
Owners: none

Updating of Ontario data to new mapping for 2025 data (#8368)
  config/zones/CA-ON.yaml
  electricitymap/contrib/capacity_parsers/CA_ON.py
Owners: none

Get the outlook file with the proper month
  electricitymap/contrib/capacity_parsers/CA_ON.py
Owners: none

Added use of proxy for production function
  parsers/TH.py
Owners: @VIKTORVAV99

hackday-outages-temp-fix-aggregation
  electricitymap/contrib/lib/models/event_lists.py
  electricitymap/contrib/lib/models/events.py
  parsers/ENTSOE.py
  parsers/test/__snapshots__/test_ENTSOE.ambr
Owners: @VIKTORVAV99

Update MN.py
  parsers/MN.py
Owners: @VIKTORVAV99

removing from the web constant (#8359)
  web/src/features/panels/zone/EstimationCard.cy.tsx
  web/src/utils/constants.ts
Owners: none

Update TH.yaml
  config/zones/TH.yaml
Owners: none

removing the dict parser since there is not longer production parser
  config/zones/CA-NS.yaml
  config/zones/CA-PE.yaml
Owners: none

ruff format .
  parsers/CY.py
  parsers/CZ.py
  parsers/IN_MH.py
  parsers/MN.py
  parsers/TAIPOWER.py
  parsers/US_PREPA.py
  test_parser.py
  tests/test_zones_json.py
Owners: @VIKTORVAV99

Paulromieu/cleaning parser data no used (#8349)
  config/zones/BB.yaml
  config/zones/CA-NS.yaml
  config/zones/CA-PE.yaml
  config/zones/IL.yaml
  config/zones/PR.yaml
Owners: none

(cherry picked from commit 575286ed0ab903ef2719965469cfe18764cfb7ad)
  parsers/ECO2MIX.py
Owners: @VIKTORVAV99

add typings and ExchangeList
  parsers/ECO2MIX.py
Owners: @VIKTORVAV99

add exchange overrides and FR->LU
  config/exchanges/DE_FR.yaml
  config/exchanges/FR_LU.yaml
  parsers/ECO2MIX.py
Owners: @VIKTORVAV99

Update parsers/ECO2MIX.py
  parsers/ECO2MIX.py
Owners: @VIKTORVAV99

remove comment
  parsers/ECO2MIX.py
Owners: @VIKTORVAV99

format
  config/exchanges/FR_LU.yaml
Owners: none

feat: Add ECO2MIX parser and FR->LU exchange (#8372)
  config/exchanges/DE_FR.yaml
  config/exchanges/FR_LU.yaml
  parsers/ECO2MIX.py
Owners: @VIKTORVAV99

updated the use of the proper date for the final capacity data
  electricitymap/contrib/capacity_parsers/CA_ON.py
Owners: none

Bumps version
  web/package.json
Owners: @electricitymaps/advocacy

bump app version
  mobileapp/ios/App/App.xcodeproj/project.pbxproj
  mobileapp/package.json
Owners: @electricitymaps/advocacy

add capacitor plugin
  web/package.json
  web/pnpm-lock.yaml
Owners: @electricitymaps/advocacy

add capacitor plugin to handle edge to edge on android 15
  mobileapp/android/app/capacitor.build.gradle
  mobileapp/android/capacitor.settings.gradle
  mobileapp/capacitor.config.ts
  mobileapp/ios/App/Podfile
  mobileapp/ios/App/Podfile.lock
  mobileapp/package.json
  mobileapp/pnpm-lock.yaml
  web/package.json
  web/src/features/panels/LeftPanel.tsx
Owners: @electricitymaps/advocacy

include web changes to status bar plugin
  mobileapp/capacitor.config.ts
  web/package.json
  web/pnpm-lock.yaml
  web/src/App.tsx
  web/src/features/map-controls/MapButtons.tsx
  web/src/features/modals/LayersModal.tsx
  web/src/features/modals/SettingsModal.tsx
  web/src/features/panels/LeftPanel.tsx
  web/src/utils/helpers.ts
Owners: @electricitymaps/advocacy

use capacitor-plugin-safe-area instead of conditional logic
  mobileapp/android/app/capacitor.build.gradle
  mobileapp/android/capacitor.settings.gradle
  mobileapp/ios/App/Podfile
  mobileapp/ios/App/Podfile.lock
  mobileapp/package.json
  mobileapp/pnpm-lock.yaml
  package.json
  pnpm-lock.yaml
  web/package.json
  web/pnpm-lock.yaml
  web/src/App.tsx
  web/src/features/map-controls/MapButtons.tsx
  web/src/features/modals/LayersModal.tsx
  web/src/features/modals/SettingsModal.tsx
  web/src/features/panels/LeftPanel.tsx
  web/src/features/panels/zone/ZoneDetails.tsx
  web/src/features/panels/zone/ZoneHeader.tsx
  web/src/index.css
  web/src/utils/helpers.ts
Owners: @electricitymaps/advocacy

fix for web
  web/src/App.tsx
  web/src/features/panels/zone/ZoneHeader.tsx
Owners: none

remove unused dep
  web/package.json
  web/pnpm-lock.yaml
Owners: @electricitymaps/advocacy

fix(TR): fetch the last 2 days of data to avoid missing the last hours of the day
  parsers/TR.py
Owners: @VIKTORVAV99

fix(TR): fetch the last 2 days of data to avoid missing the last hours of the day (#8373)
  parsers/TR.py
Owners: @VIKTORVAV99

fix(CA-ON): live mode correctly fetches last hour of previous day
  parsers/CA_ON.py
Owners: @VIKTORVAV99

fix(CA-ON): live mode correctly fetches last hour of previous day (#8374)
  parsers/CA_ON.py
Owners: @VIKTORVAV99

fix version
  mobileapp/android/app/build.gradle
  mobileapp/package.json
  web/package.json
  web/src/App.tsx
Owners: @electricitymaps/advocacy

fix version
  mobileapp/android/app/build.gradle
  mobileapp/ios/App/App.xcodeproj/project.pbxproj
  mobileapp/package.json
  web/package.json
Owners: @electricitymaps/advocacy

Run format
  parsers/YUKONENERGY.py
Owners: @VIKTORVAV99

Add updated YUKONENERGY for CA-YT (#8277)
  config/zones/CA-YT.yaml
  parsers/YUKONENERGY.py
Owners: @VIKTORVAV99

prep
  notebook.ipynb
  poetry.lock
  pyproject.toml
Owners: none

fix(parers):Remove breakpoint
  parsers/YUKONENERGY.py
Owners: @VIKTORVAV99

fix(parers):Remove breakpoint (#8382)
  parsers/YUKONENERGY.py
Owners: @VIKTORVAV99

Enables self-destroying of service worker
  web/vite.config.ts
Owners: @electricitymaps/advocacy

.github/CODEOWNERS:

# Codeowners file

parsers/* @VIKTORVAV99
config/* @VIKTORVAV99
web/* @electricitymaps/advocacy
mobileapp/* @electricitymaps/advocacy
mockserver/* @electricitymaps/advocacy
web/public/locales/en.json @electricitymaps/self-service
