Repository electricitymaps/electricitymaps-contrib, pull requests merged in 2020-07, with the labels that each got.

#2559 Update German
  web/locales/de.json
Labels: autosquash

#2565 Computed fallback emission factor for CA-QC.
  config/co2eq_parameters.json
Labels: electricityMap

#2566 Removed references to google form survey.
  web/locales/ar.json
  web/locales/cs.json
  web/locales/da.json
  web/locales/de.json
  web/locales/en.json
  web/locales/es.json
  web/locales/fi.json
  web/locales/fr.json
  web/locales/hr.json
  web/locales/id.json
  web/locales/it.json
  web/locales/ja.json
  web/locales/kr.json
  web/locales/nl.json
  web/locales/pl.json
  web/locales/pt-br.json
  web/locales/ru.json
  web/locales/sk.json
  web/locales/sv.json
  web/locales/vi.json
  web/locales/zh-cn.json
  web/locales/zh-hk.json
  web/locales/zh-tw.json
  web/src/layout/leftpanel/infotext.js
  web/src/layout/leftpanel/mobileinfotab.js
Labels: autosquash

#2585 Ps/add checks outliers
  parsers/lib/quality.py
Labels: electricityMap

#2609 Update useWindowSize hook only when window size actually changes
  web/src/hooks/viewport.js
Labels: bug 🐞
