Repository electricitymaps/electricitymaps-contrib, pull requests merged in 2020-10, with the labels that each got.

#2735 Added autosquash
  .github/workflows/autosquash.yml
Labels: autosquash

#2739 update map to show Serbia and Kosovo separately
  web/generate-geometries.js
  web/locales/en.json
  web/src/world.json
Labels: frontend 🎨

#2753 Added automerge
  .github/workflows/automerge.yml
Labels: automerge
