Repository electricitymaps/electricitymaps-contrib, pull requests merged in 2020-06, with the labels that each got.

#2544 Fix broken img paths on mobile builds
  mobileapp/package.json
  web/src/components/buttontoggle.js
  web/src/components/loadingoverlay.js
  web/src/components/loadingplaceholder.js
  web/src/layout/leftpanel/index.js
Labels: autosquash

#2547 Raise validation error if netFlow of an exchange is of greater magnitude than the interconnector capacity.
  parsers/lib/quality.py
Labels: autosquash, electricityMap

#2552 Cleaned up parser file.
  parsers/CL.py
Labels: electricityMap

#2555 Ps/fix discrepency historical live CL-SEN
  config/co2eq_parameters.json
  parsers/CL.py
Labels: electricityMap
