Repository electricitymaps/electricitymaps-contrib, pull requests merged in 2021-05, with the labels that each got.

#3128 AR.py add new plants to parser
  parsers/AR.py
Labels: parser

#3123 Add price scraping to IL
  config/zones.json
  parsers/IL.py
Labels: automerge, parser

#3125 update Switzerland capacity
  DATA_SOURCES.md
  config/zones.json
Labels: automerge

#3109 Fix iOS layout
  web/src/cordova.js
Labels: frontend 🎨

#3132 Fix iOS layout regression
  mobileapp/.gitignore
  web/src/cordova.js
Labels: frontend 🎨

#3136 Update CH discharge values
  config/co2eq_parameters.json
Labels: science

#3138 Update README.md with flow-tracing article
  README.md
Labels: automerge

#3148 Create et.json
  mobileapp/www/index.html
  web/locales-config.json
  web/locales/et.json
Labels: change requested, mobile app 📱, translations 🗣

#3146 Require `solar` to be present in DE
  parsers/ENTSOE.py
Labels: automerge, parser

#3157 Fix IN-HP parser
  parsers/IN_HP.py
  parsers/test/mocks/IN_HP.html
  parsers/test/test_IN_HP.py
Labels: automerge, parser

#3150 Use ISO 639-1 language codes
  mobileapp/www/index.html
  web/locales-config.json
  web/locales/README.md
  web/locales/ko.json
Labels: automerge, mobile app 📱, translations 🗣

#3162 Update sv.json
  web/locales/sv.json
Labels: translations 🗣

#3159 test_parser: add timestamps to logs
  pyproject.toml
  test_parser.py
Labels: automerge, dependencies

#3161 Update solar capacity for Cyprus
  config/zones.json
Labels: automerge

#3155 CY: Improve biomass estimate
  parsers/CY.py
Labels: parser
