Repository electricitymaps/electricitymaps-contrib, pull requests merged in 2021-10, with the labels that each got.

#3425 Fix version detection
  web/BUILD.yaml
  web/package.json
  web/server.js
  web/src/helpers/client.js
  web/src/hooks/fetch.js
  web/src/layout/main.js
  web/src/reducers/index.js
  web/src/sagas/index.js
  web/version.js
  web/webpack.config.js
  web/yarn.lock
Labels: frontend 🎨

#3430 Add new PT-BR translations and improve old ones.
  web/locales/pt-br.json
Labels: hacktoberfest-accepted, translations 🗣

#3415 feat(parsers): extra hydro in CR
  parsers/CR.py
Labels: parser
