Repository electricitymaps/electricitymaps-contrib, pull requests merged in 2021-04, with the labels that each got.

#3073 Update Quebec capacities
  DATA_SOURCES.md
  config/zones.json
Labels: automerge

#3081 update capacities Brazil
  config/zones.json
Labels: automerge

#3087 Fixes OPENNEM parser when there's no solar_rooftop data available
  parsers/OPENNEM.py
Labels: automerge, parser

#3066 OpenNem historical
  parsers/OPENNEM.py
  poetry.lock
  pyproject.toml
  test_parser.py
Labels: automerge, dependencies, parser

#3091 Adds disclaimer for Switzerland data
  config/zones.json
  config/zones.schema.json
  web/src/components/countrydisclaimer.js
  web/src/layout/leftpanel/countrypanel.js
  web/src/reducers/dataReducer.js
  web/src/scss/content/panel/_country-panel.scss
Labels: frontend 🎨

#3092 Split Newfoundland and Labrador into 2 zones
  config/zones.json
  web/generate-geometries.js
  web/locales/en.json
  web/src/world.json
  web/third_party_maps/CA-NL-LB.geojson
  web/third_party_maps/CA-NL-NF.geojson
Labels: frontend 🎨, translations 🗣

#3095 IL refactor
  parsers/IL.py
Labels: automerge, parser

#3096 Fix header logo link on open source and API website
  web/src/components/sharedheader.js
Labels: automerge, frontend 🎨

#3098 Disable Chile live parser
  config/zones.json
  parsers/CL.py
Labels: parser

#3106 Update JP-TK and KR capacities.
  DATA_SOURCES.md
  config/zones.json
Labels: automerge

#3093 add US capacities
  DATA_SOURCES.md
  config/zones.json
Labels: automerge

#3113 Updates Swedish solar capacity
  config/zones.json
Labels: capacity

#3115 Italian language update
  web/locales/it.json
Labels: translations 🗣

#3114 remove tqdm from OpenNEM parser
  parsers/OPENNEM.py
Labels: parser

#3118 Upgrade tqdm to ensure it works in worker threads
  poetry.lock
  pyproject.toml
Labels: automerge, dependencies

#3120 Updates nuclear capacity for Sweden
  DATA_SOURCES.md
  config/zones.json
Labels: capacity

#3121 Update JP-TK capacities.
  config/zones.json
Labels: automerge

#3099 Add Israel consumption data
  config/zones.json
  parsers/IL.py
Labels: parser

#3122 Format .lib folder
  .gitignore
  parsers/lib/IN.py
  parsers/lib/__init__.py
  parsers/lib/parsers.py
  parsers/lib/quality.py
  parsers/lib/utils.py
  parsers/lib/validation.py
  parsers/lib/web.py
  parsers/lib/zonekey.py
Labels: parser
