Repository electricitymaps/electricitymaps-contrib, pull requests merged in 2021-12, with the labels that each got.

#3543 Added Euiam and Seomjingang hydro plants
  parsers/KR.py
Labels: parser

#3550 Improve OPENNEM parser
  parsers/OPENNEM.py
  parsers/test/test_OPENNEM.py
Labels: parser

#3581 Updated czech word for oil from 'olej' (which means oil for cooking) …
  web/locales/cs.json
Labels: translations 🗣

#3582 Fixed package-lock.json
  mobileapp/package-lock.json
Labels: mobile app 📱

#3580 Adds support for using feature-query-parameters
  web/src/hooks/fetch.js
  web/src/hooks/redux.js
  web/src/hooks/router.js
  web/src/sagas/index.js
Labels: frontend 🎨

#3592 Bump mobile version number after breaking cordova changes
  mobileapp/config.xml
Labels: mobile app 📱

#3590 Enable v0.1 of estimated data on the map (under feature-flag) 🗺️
  web/locales/en.json
  web/src/components/countrytableoverlayifnodata.js
  web/src/layout/leftpanel/countrypanel.js
  web/src/sagas/index.js
Labels: frontend 🎨, translations 🗣

#3589 Shortens very long zone names
  web/locales/de.json
  web/locales/en.json
  web/src/components/tooltips/common.js
  web/src/components/tooltips/mapcountrytooltip.js
  web/src/components/tooltips/mapexchangetooltip.js
  web/src/helpers/translation.js
Labels: frontend 🎨, translations 🗣

#3594 Updated vi.json - Vietnamese Translations
  web/locales/vi.json
Labels: translations 🗣

#3609 Fix GB wind being None
  parsers/ELEXON.py
Labels: parser

#3622 Fixed PA, RU, RU-AS parsers and updated German capacities
  config/zones.json
  parsers/PA.py
  parsers/RU.py
Labels: parser

#3620 Fix SG parser running on tesseract 5.x
  config/zones.json
  parsers/SG.py
  parsers/test/mocks/SG_ema_gov_sg_solar_map.png
  parsers/test/mocks/SG_ema_gov_sg_solar_map_nonzero.png
  parsers/test/test_SG.py
Labels: parser

#3578 Ensure US_HI.py uses real-time data; add unit tests
  config/zones.json
  parsers/US_HI.py
  parsers/test/mocks/US_HI.htm
  parsers/test/mocks/US_HI_hist.htm
  parsers/test/test_US_HI.py
Labels: parser
