Repository electricitymaps/electricitymaps-contrib, pull requests merged in 2021-03, with the labels that each got.

#3016 Bumps Pillow version to fix issues with Homebrew
  poetry.lock
  pyproject.toml
Labels: dependencies

#3018 Update Poland solar capacity
  DATA_SOURCES.md
  config/zones.json
Labels: capacity

#3017 Update zh-cn locales
  README.md
  web/locales/zh-cn.json
Labels: automerge, translations 🗣

#3007 Add a parser for French Polynesia live generation/consumption
  DATA_SOURCES.md
  config/zones.json
  parsers/PF.py
Labels: automerge, parser

#2941 Update/Add solar capacities in Australia
  DATA_SOURCES.md
  config/zones.json
Labels: capacity

#3023 Fix drag
  web/src/scss/_base.scss
Labels: automerge, frontend 🎨

#3026 Various bugfixes
  web/server.js
  web/src/components/countrytable.js
  web/src/components/loadingoverlay.js
  web/src/globalstyle.js
Labels: automerge, frontend 🎨

#3029 Add theMap section in zh-cn locales
  web/locales/zh-cn.json
Labels: automerge, translations 🗣

#3030 Update GB capacity
  config/zones.json
Labels: automerge, capacity, change requested

#2969 fix(parsers): bolivia now uses json
  parsers/BO.py
Labels: automerge, parser

#3037 update BG generation capacities
  DATA_SOURCES.md
  config/zones.json
Labels: automerge, capacity, change requested

#3038 Italian language update
  web/locales/it.json
Labels: automerge, translations 🗣

#3028 [DE] Update zones.json
  config/zones.json
Labels: capacity, change requested

#3041 Entsoe countries capacity update
  config/zones.json
Labels: automerge, capacity

#3036 AT Capacities update
  config/zones.json
Labels: automerge, capacity

#3035 Fix Iraq
  DATA_SOURCES.md
  config/exchanges.json
  config/zones.json
  parsers/IQ.py
Labels: automerge, parser

#3040 CY: Return oil installed capacity instead of availability
  parsers/CY.py
Labels: automerge, parser

#3046 Ignore flaky code push errors
  mobileapp/BUILD.yaml
Labels: mobile app 📱

#3050 Limit supported Python version to 3.6-3.7
  .circleci/config.yml
  .python-version
  parsers/requirements.txt
  poetry.lock
  pyproject.toml
Labels: dependencies, parser

#3027 Improved Spanish translations
  web/locales/es.json
Labels: translations 🗣

#3006 Show header when map is loading
  web/src/components/loadingoverlay.js
Labels: change requested, frontend 🎨

#3054 Fix colorbar rendering on mobile
  web/src/hooks/viewport.js
Labels: frontend 🎨

#3053 Fix IT south
  parsers/ENTSOE.py
Labels: parser

#3055 Upgrade ESLint + fix react-hook errors
  web/.eslintrc
  web/.eslintrc.js
  web/BUILD.yaml
  web/package.json
  web/src/layout/leftpanel/mobileinfotab.js
  web/yarn.lock
Labels: frontend 🎨

#2860 OpenNEM
  config/exchanges.json
  config/zones.json
  parsers/AU.py
  parsers/AU_WA.py
  parsers/OPENNEM.py
  parsers/lib/AU_battery.py
  parsers/lib/AU_solar.py
  test_parser.py
Labels: automerge, parser

#3061 Fix real-time update of %
  web/src/reducers/dataReducer.js
Labels: automerge, frontend 🎨

#3058 Update German translations
  web/locales/de.json
Labels: translations 🗣

#3056 Separate Easter Island from Chile-SEN
  DATA_SOURCES.md
  config/zones.json
  web/generate-geometries.js
  web/locales/de.json
  web/locales/en.json
  web/locales/es.json
  web/locales/fr.json
  web/locales/hr.json
  web/locales/sv.json
  web/src/world.json
  web/third_party_maps/CL-SEN.geojson
Labels: capacity, change requested, frontend 🎨, new zone, parser, translations 🗣

#3064 Fixed IT-SIC->IT-SO exchange
  parsers/ENTSOE.py
Labels: parser

#3071 Add mapAreas section in zh-cn locales
  web/locales/zh-cn.json
Labels: translations 🗣

#3076 Fix OpenNEM source URL
  parsers/OPENNEM.py
Labels: automerge, parser
