Repository electricitymaps/electricitymaps-contrib, pull requests merged in 2021-11, with the labels that each got.

#3525 EIA: log relevant warning if mixes are an empty list
  parsers/EIA.py
Labels: parser

#3546 Fix link to blog
  web/src/layout/header.js
Labels: frontend 🎨

#3544 Make EIA parser raise errors
  parsers/EIA.py
Labels: parser

#3549 Added refetch_frequency decorator
  parsers/CH.py
  parsers/CL.py
  parsers/DK.py
  parsers/EIA.py
  parsers/ELEXON.py
  parsers/ENTSOE.py
  parsers/FR.py
  parsers/GB_NIR.py
  parsers/JP.py
  parsers/NL.py
  parsers/OPENNEM.py
  parsers/SE.py
  parsers/TW.py
  parsers/US_CA.py
  parsers/US_NEISO.py
  parsers/US_NY.py
  parsers/US_SPP.py
  parsers/lib/config.py
  parsers/statnett.py
Labels: parser

#3547 Apps: Correct deep links
  mobileapp/config.xml
  web/views/pages/index.ejs
Labels: mobile app 📱

#3551 Update parser logs link
  web/src/components/countrytableoverlayifnodata.js
Labels: frontend 🎨

#3552 Add mobile app readme
  mobileapp/README.md
Labels: mobile app 📱

#3565 Changes links to electricitymap.org
  README.md
  web/locales/cs.json
  web/locales/de.json
  web/locales/el.json
  web/locales/en.json
  web/locales/es.json
  web/locales/et.json
  web/locales/fi.json
  web/locales/fr.json
  web/locales/hr.json
  web/locales/id.json
  web/locales/it.json
  web/locales/ja.json
  web/locales/ko.json
  web/locales/nl.json
  web/locales/pl.json
  web/locales/pt-br.json
  web/locales/ro.json
  web/locales/ru.json
  web/locales/sk.json
  web/locales/sv.json
  web/locales/vi.json
  web/locales/zh-cn.json
  web/src/layout/header.js
  web/src/layout/leftpanel/countrypanel.js
Labels: frontend 🎨, translations 🗣

#3428 IN-AP
  parsers/IN_AP.py
Labels: parser

#3429 IN-CT
  parsers/IN_CT.py
Labels: parser

#3568 BG fix parser
  config/zones.json
  parsers/BG.py
Labels: parser

#3553 Fix Bolivia parser that now includes solar production
  config/zones.json
  parsers/BO.py
Labels: parser

#3574 Fix iOS mobile app build
  mobileapp/BUILD.yaml
  mobileapp/README.md
  mobileapp/config.xml
  mobileapp/package-lock.json
  mobileapp/package.json
  mobileapp/www/index.html
  web/src/cordova.js
Labels: frontend 🎨, mobile app 📱

#3472 RE parser update proposal in accordance with the evolution of the API
  parsers/FR_O.py
Labels: parser
