Repository electricitymaps/electricitymaps-contrib, pull requests merged in 2021-02, with the labels that each got.

#2960 Fix contribute by adding area data link
  web/src/components/tooltips/mapcountrytooltip.js
  web/src/layout/leftpanel/countrypanel.js
  web/src/layout/leftpanel/infotext.js
  web/src/layout/leftpanel/mobileinfotab.js
Labels: frontend 🎨

#2925 Separate Flinders Island and Cape Barren Island regions from Tasmania
  web/generate-geometries.js
  web/locales/en.json
  web/src/world.json
  web/third_party_maps/AUS-TAS-CBI.geojson
  web/third_party_maps/AUS-TAS-FI.geojson
  web/third_party_maps/AUS-TAS.geojson
Labels: frontend 🎨, translations 🗣

#2957 update Yukon timezone
  parsers/CA_YT.py
Labels: bug 🐞, parser

#2948 Updated solar, gas and hydro capacity for Poland
  DATA_SOURCES.md
  config/zones.json
Labels: capacity

#2851 feat: add Nigeria live parser
  DATA_SOURCES.md
  config/zones.json
  parsers/NG.py
Labels: parser

#2947 Coal Update for Portugal
  config/zones.json
Labels: capacity, change requested

#2964 Introduce jsonlint-mod and fix CA-QC duplicate key
  .circleci/config.yml
  config/co2eq_parameters.json
Labels: science

#2966 Fix url for PE parser
  parsers/PE.py
Labels: parser

#2967 Fix KR requests and MX signature
  parsers/KR.py
  parsers/MX.py
Labels: parser

#2971 electricitymap-contrib Poetry package
  .circleci/config.yml
  .github/labeler.yml
  .python-version
  config/poetry.lock
  config/pyproject.toml
  config/scripts.py
  electricitymap/contrib/config/__init__.py
  electricitymap/contrib/config/constants.py
  electricitymap/contrib/parsers
  parsers/requirements.txt
  poetry.lock
  poetry.toml
  pyproject.toml
  scripts.py
  tests/__init__.py
  tests/test_config.py
  tests/test_zones_json.py
Labels: parser

#2974 Expose parsers.py in package
  electricitymap/contrib/config/__init__.py
  parsers/lib/parsers.py
  parsers/lib/quality.py
  scripts.py
  test_parser.py
  utils/config.py
Labels: parser

#2979 Ignore ENTSOE self-consumption values with no corresponding consumption
  parsers/ENTSOE.py
Labels: parser

#2981 Updates text-color of the carbon intensity "square" based on contrast to background
  web/src/components/carbonintensitysquare.js
  web/src/components/tooltips/mapcountrytooltip.js
  web/src/layout/leftpanel/countrypanel.js
  web/src/scss/content/map/_map.scss
Labels: frontend 🎨

#2965 Update solar and wind capacity for Cyprus
  config/zones.json
Labels: capacity

#2980 Updated Legend to make it closeable on small screens
  web/src/components/horizontalcolorbar.js
  web/src/layout/legend.js
  web/src/scss/content/map/_legend.scss
  web/src/scss/styles.scss
Labels: frontend 🎨

#2956 Update NL capacity configuration
  DATA_SOURCES.md
  config/zones.json
Labels: capacity, change requested

#2933 Show emissions in tooltip
  web/locales/en.json
  web/src/components/tooltips/countrypanelexchangetooltip.js
  web/src/components/tooltips/countrypanelproductiontooltip.js
Labels: frontend 🎨, translations 🗣

#2983 Document how to generate bounding boxes for zones
  web/README.md
  web/generate-geometries.js
Labels: automerge, frontend 🎨

#2949 Add Morocco capacities
  DATA_SOURCES.md
  config/zones.json
Labels: automerge, capacity

#2984 Configure probot-auto-merge instead of pascalgn/automerge-action
  .github/auto-merge.yml
  .github/workflows/automerge.yml
Labels: automerge

#2985 Fix Twitter event tracking
  web/src/services/thirdparty/twitter.js
Labels: automerge, frontend 🎨

#2895 Add Kazakhstan power origin ratios
  config/co2eq_parameters.json
Labels: automerge, science

#2977 Add Geodata for Rottnest Island (Australia)
  web/generate-geometries.js
  web/locales/en.json
  web/locales/fr.json
  web/src/world.json
  web/third_party_maps/AUS-WA-RI.geojson
Labels: automerge, frontend 🎨, translations 🗣

#2973 Switzerland CO2eq parameters
  config/co2eq_parameters.json
Labels: automerge, science

#2923 Add capacity of US-CAL-CISO
  config/zones.json
Labels: automerge, capacity

#2990 Disables user-select on buttons and legend
  web/src/components/toggle.js
  web/src/layout/legend.js
  web/src/scss/content/map/_map.scss
Labels: frontend 🎨

#2993 update DK-1 and DK-2 capacities
  config/zones.json
Labels: automerge, capacity

#2994 Update sv.json
  web/locales/sv.json
Labels: automerge, translations 🗣

#2976 Fix Japan consumptionForecast parsers
  parsers/JP-KY.py
  parsers/JP.py
  parsers/occtonet.py
Labels: parser

#2996 Switzerland powerOriginRatios
  config/co2eq_parameters.json
Labels: science

#2997 Fix King Island country name
  web/locales/en.json
Labels: translations 🗣

#2911 Add value for battery storage in France 🇫🇷
  DATA_SOURCES.md
  config/zones.json
Labels: automerge

#2937 Fix hydro capacity in France
  DATA_SOURCES.md
  config/zones.json
Labels: automerge, capacity

#2913 Add value for AD 🇦🇩
  DATA_SOURCES.md
  config/zones.json
Labels: automerge, capacity

#2952 Update DK capacity (at 2020-12-31) from opendata
  DATA_SOURCES.md
  config/zones.json
Labels: automerge, capacity

#3000 capacity update Spain January 2021
  DATA_SOURCES.md
  config/zones.json
Labels: automerge, capacity

#3005 Adds Kosovo (xk) flag
  web/public/images/flag-icons/flags_iso/128/xk.png
  web/public/images/flag-icons/flags_iso/16/xk.png
  web/public/images/flag-icons/flags_iso/24/xk.png
  web/public/images/flag-icons/flags_iso/32/xk.png
  web/public/images/flag-icons/flags_iso/48/xk.png
  web/public/images/flag-icons/flags_iso/64/xk.png
  web/public/images/flag-icons/flags_iso/list.txt
Labels: automerge

#3008 Adds Danish translations
  web/locales/da.json
Labels: translations 🗣

#3009 Changed US-MIDW-MISO parser to use EIA instead
  DATA_SOURCES.md
  config/zones.json
Labels: change requested, parser

#3010 Update CY parser to return dynamic capacities
  DATA_SOURCES.md
  parsers/CY.py
Labels: automerge, parser

#3011 test-parser.py: Poetry, sys.exit and Black
  pyproject.toml
  test_parser.py
Labels: automerge, dependencies

#3012 US-CAL-CISO: Ignore self-consumption when fetching historical data as well
  parsers/US_CA.py
Labels: parser
