Repository electricitymaps/electricitymaps-contrib, pull requests merged in 2021-09, with the labels that each got.

#3351 Add script for zone removal
  config/co2eq_parameters.json
  config/exchanges.json
  scripts/ENTSOE_capacity_update.py
  scripts/remove_zone.py
  scripts/utils.py
  web/locales/ar.json
  web/locales/da.json
  web/locales/el.json
  web/locales/en.json
  web/locales/es.json
  web/locales/fi.json
  web/locales/hr.json
  web/locales/it.json
  web/locales/ja.json
  web/locales/ko.json
  web/locales/nl.json
  web/locales/pl.json
  web/locales/pt-br.json
  web/locales/sv.json
  web/locales/vi.json
  web/locales/zh-cn.json
  web/locales/zh-hk.json
  web/locales/zh-tw.json
Labels: science, translations 🗣

#3355 Add "lowCarbDescription" locale in PL
  web/locales/pl.json
Labels: translations 🗣

#3117 Mobile app iteration: update documentation
  mobileapp/README.md
  mobileapp/package.json
Labels: mobile app 📱

#3348 Updated unknown co2eq value for Sweden with 2019 data
  config/co2eq_parameters.json
Labels: science

#3357 Use step curve in graphs
  web/src/components/graph/areagraphlayers.js
Labels: frontend 🎨

#3367 Fix for IN-KA parser
  parsers/IN_KA.py
  parsers/test/mocks/IN_KA_StateGen.html
  parsers/test/mocks/IN_KA_StateNCEP.html
  parsers/test/test_IN_KA.py
Labels: parser

#3380 Fix JP occtonet exchange parser
  parsers/occtonet.py
Labels: parser

#3381 change text color function for carbon intensity square
  web/src/components/carbonintensitysquare.js
Labels: frontend 🎨

#3335 Replacing SCSS with styled components
  web/src/components/countrytable.js
  web/src/components/tooltips/common.js
  web/src/components/tooltips/mapcountrytooltip.js
  web/src/components/zonelist.js
  web/src/layout/header.js
  web/src/layout/leftpanel/countrypanel.js
  web/src/layout/leftpanel/index.js
  web/src/layout/leftpanel/infotext.js
  web/src/layout/leftpanel/mobileinfotab.js
  web/src/layout/leftpanel/zonedetailspanel.js
  web/src/layout/main.js
  web/src/scss/_base.scss
  web/src/scss/content/panel/_country-panel.scss
Labels: frontend 🎨

#3387 Number formatting for exchange flow
  web/src/components/tooltips/mapexchangetooltip.js
Labels: frontend 🎨

#3398 Use the new demjson3 library to fix install failures
  parsers/US_PJM.py
  poetry.lock
  pyproject.toml
Labels: parser, dependencies

#3402 AX parser cleanup
  parsers/AX.py
Labels: parser

#3405 Ps/investigate jp refetch
  parsers/JP.py
  parsers/occtonet.py
Labels: parser

#3417 Update old http links
  README.md
  web/locales/cs.json
  web/locales/de.json
  web/locales/el.json
  web/locales/en.json
  web/locales/es.json
  web/locales/et.json
  web/locales/fi.json
  web/locales/fr.json
  web/locales/hr.json
  web/locales/id.json
  web/locales/it.json
  web/locales/ja.json
  web/locales/ko.json
  web/locales/nl.json
  web/locales/pl.json
  web/locales/pt-br.json
  web/locales/ru.json
  web/locales/sk.json
  web/locales/sv.json
  web/locales/vi.json
  web/locales/zh-cn.json
  web/src/components/sharedheader.js
  web/src/layout/header.js
  web/src/layout/leftpanel/countrypanel.js
  web/src/layout/leftpanel/infotext.js
  web/src/layout/leftpanel/mobileinfotab.js
  web/src/layout/leftpanel/zonedetailspanel.js
  web/src/layout/main.js
  web/views/pages/index.ejs
Labels: frontend 🎨, translations 🗣

#3414 fix(parsers): update url for IN-PB
  parsers/IN_PB.py
Labels: parser

#3422 Change backend for the live map
  docker-compose.yml
  web/src/helpers/api.js
Labels: frontend 🎨
