Repository electricitymaps/electricitymaps-contrib, pull requests merged in 2021-07, with the labels that each got.

#3202 fix CA_AB battery key #3201
  parsers/CA_AB.py
Labels: parser

#3203 Fix pt-br one letter typo
  web/locales/pt-br.json
Labels: translations 🗣

#3204 Fix Dominican Republic parser down
  parsers/DO.py
Labels: parser

#3192 Strict configuration system using Pydantic
  electricitymap/contrib/config/model.py
  poetry.lock
  pyproject.toml
  scripts.py
  tests/test_config_model.py
Labels: dependencies

#3139 update IL production capacities
  DATA_SOURCES.md
  config/zones.json
Labels: capacity, change requested

#3214 Update IN-UP capacities.
  config/zones.json
Labels: automerge, capacity

#3224 Translate "representing % of emissions" to Greek and Polish
  web/locales/el.json
  web/locales/pl.json
Labels: translations 🗣

#3225 Changes US-CA to use a simple proxy service based in US
  parsers/US_CA.py
Labels: parser

#3219 ajenti parser formatting
  parsers/ajenti.py
Labels: parser

#3227 Edit russia
  config/exchanges.json
  parsers/RU.py
  web/locales/en.json
  web/locales/fr.json
Labels: parser, translations 🗣

#2871 Add sunrise/sunset times
  web/package.json
  web/public/images/timeslider-night.svg
  web/public/images/timeslider-sun.svg
  web/src/components/TimeSliderInput.js
  web/src/components/graph/areagraph.js
  web/src/components/timeslider.js
  web/src/hooks/redux.js
  web/src/scss/content/panel/_time-slider.scss
  web/yarn.lock
Labels: frontend 🎨

#3220 AM parser formatting
  parsers/AM.py
Labels: parser

#3232 Italian language update
  web/locales/it.json
Labels: translations 🗣

#3234 Update data-source and add archive for moldova
  DATA_SOURCES.md
  config/zones.json
  parsers/MD.py
Labels: parser

#3241 Enable NL with adjusted emission factor and disclaimer
  config/co2eq_parameters.json
  config/zones.json
  parsers/NL.py
Labels: parser, science

#3242 Fix price for moldova
  parsers/MD.py
Labels: parser

#3243 Bulgaria: Fixes URL for parser
  parsers/BG.py
Labels: parser

#3237 First try at building a parser using data from Quebec
  config/zones.json
  parsers/CA_QC.py
Labels: parser

#3244 Adds CA-MB fallbackZoneMixes
  config/co2eq_parameters.json
Labels: science
