Repository electricitymaps/electricitymaps-contrib, pull requests merged in 2021-08, with the labels that each got.

#3261 Give accessible names to buttons.
  web/locales/en.json
  web/src/components/buttontoggle.js
  web/src/components/languageselect.js
  web/src/components/zonemap.js
  web/src/layout/layerbuttons.js
Labels: frontend 🎨, translations 🗣

#3257 Update KR hydro capacity (in parser)
  parsers/KR.py
Labels: parser

#3254 handle thermal/gas generation in Québec
  parsers/CA_QC.py
Labels: automerge, parser

#3264 Minor changes to CA-QC production mix plus explanatory notes.
  config/zones.json
  parsers/CA_QC.py
Labels: parser

#3274 Consistently use window so we can render in node.js/Gatsby
  web/src/helpers/translation.js
Labels: frontend 🎨

#3275 Add capacity parsers for NL
  parsers/NL.py
Labels: parser

#3216 Read from new cache
  web/BUILD.yaml
  web/package.json
  web/src/components/countryhistorymixgraph.js
  web/src/components/countrytableoverlayifnodata.js
  web/src/components/graph/areagraph.js
  web/src/components/timeslider.js
  web/src/reducers/dataReducer.js
  web/src/sagas/index.js
  web/yarn.lock
Labels: frontend 🎨

#3287 specify sources not present in Alberta and format unknown
  DATA_SOURCES.md
  config/co2eq_parameters.json
  config/zones.json
Labels: science

#3276 Add Russia East (RU-AS) parser
  config/co2eq_parameters.json
  config/zones.json
  parsers/RU.py
  web/generate-geometries.js
  web/generate-zone-bounding-boxes.js
  web/locales/en.json
  web/locales/fr.json
  web/src/world.json
Labels: science, frontend 🎨, parser, translations 🗣

#3294 Add Russia East (RU-AS) parser
  parsers/RU.py
Labels: science, frontend 🎨, parser, translations 🗣

#3290 Update OPENNEM.py
  parsers/OPENNEM.py
Labels: parser

#3301 Cache updater fixes
  web/src/components/countryhistorymixgraph.js
  web/src/helpers/zonedata.js
  web/src/reducers/dataReducer.js
Labels: frontend 🎨

#3267 [AW] Calculate the unknown live production (in Aruba)
  parsers/AW.py
Labels: parser

#3289 Update exchanges.json
  config/exchanges.json
Labels: change requested

#3296 Changed kptclwebsite domain from .com to .in
  DATA_SOURCES.md
  parsers/IN_KA.py
  parsers/test/test_IN_KA.py
Labels: parser

#3303 Fix slider styling
  web/src/components/graph/timeaxis.js
  web/src/scss/components/_meta.scss
  web/src/scss/content/panel/_time-slider.scss
Labels: frontend 🎨

#3315 Update German locales
  web/locales/de.json
Labels: translations 🗣

#3326 Fix US-CA parser
  parsers/US_CA.py
Labels: parser

#3321 Update pl.json
  web/locales/pl.json
Labels: translations 🗣

#3329 Remove old US zones
  config/co2eq_parameters.json
  config/exchanges.json
  config/zones.json
  mockserver/public/v3/state
  parsers/EIA.py
  parsers/US_IPC.py
  parsers/US_SEC.py
  parsers/US_TX.py
  parsers/lib/quality.py
  web/Dockerfile
  web/generate-geometries.js
  web/locales/cs.json
  web/locales/de.json
  web/locales/el.json
  web/locales/en.json
  web/locales/es.json
  web/locales/et.json
  web/locales/fi.json
  web/locales/fr.json
  web/locales/hr.json
  web/locales/id.json
  web/locales/it.json
  web/locales/ja.json
  web/locales/ko.json
  web/locales/pl.json
  web/locales/pt-br.json
  web/locales/ru.json
  web/locales/sk.json
  web/locales/sv.json
  web/locales/vi.json
  web/topogen.sh
Labels: science, parser, translations 🗣

#3215 Show error message when wind or solar is unavailable
  web/locales/en.json
  web/src/components/buttontoggle.js
  web/src/layout/layerbuttons.js
  web/src/reducers/dataReducer.js
  web/src/scss/content/map/_controls.scss
Labels: frontend 🎨, translations 🗣

#3323 Added electricity prices for New Zealand
  DATA_SOURCES.md
  config/zones.json
  parsers/NZ.py
Labels: science, parser, translations 🗣

#3332 Fix Kuwait (KW) production parser
  parsers/KW.py
Labels: parser

#3333 Fixes .com emails that we don't own...
  web/locales/de.json
  web/locales/it.json
  web/locales/sk.json
Labels: translations 🗣

#3347 Languages update
  web/locales/en.json
  web/locales/it.json
Labels: translations 🗣
