Repository electricitymaps/electricitymaps-contrib, pull requests merged in 2021-06, with the labels that each got.

#3167 Update id.json
  web/locales/id.json
Labels: translations 🗣

#3169 Removes old CL-SIC zone
  config/zones.json
  web/locales/cs.json
  web/locales/de.json
  web/locales/fr.json
  web/locales/ru.json
  web/locales/sk.json
Labels: translations 🗣

#3171 Deduplicate columns in OpenNem
  parsers/OPENNEM.py
Labels: parser

#3177 Fix Panama parser (#3176)
  parsers/PA.py
Labels: parser

#3165 Handle None hydro value for EIA parser
  parsers/EIA.py
Labels: parser

#3188 Fixes tests and makes Python happy after parser refactoring
  parsers/ENTE.py
  parsers/KR.py
Labels: parser

#3187 Change colorblind-friendly gradient to less intense colors
  web/public/images/colorblind-arrow-0-animated-0.gif
  web/public/images/colorblind-arrow-0-animated-1.gif
  web/public/images/colorblind-arrow-0-animated-2.gif
  web/public/images/colorblind-arrow-160-animated-0.gif
  web/public/images/colorblind-arrow-160-animated-1.gif
  web/public/images/colorblind-arrow-160-animated-2.gif
  web/public/images/colorblind-arrow-240-animated-0.gif
  web/public/images/colorblind-arrow-240-animated-1.gif
  web/public/images/colorblind-arrow-240-animated-2.gif
  web/public/images/colorblind-arrow-320-animated-0.gif
  web/public/images/colorblind-arrow-320-animated-1.gif
  web/public/images/colorblind-arrow-320-animated-2.gif
  web/public/images/colorblind-arrow-400-animated-0.gif
  web/public/images/colorblind-arrow-400-animated-1.gif
  web/public/images/colorblind-arrow-400-animated-2.gif
  web/public/images/colorblind-arrow-480-animated-0.gif
  web/public/images/colorblind-arrow-480-animated-1.gif
  web/public/images/colorblind-arrow-480-animated-2.gif
  web/public/images/colorblind-arrow-560-animated-0.gif
  web/public/images/colorblind-arrow-560-animated-1.gif
  web/public/images/colorblind-arrow-560-animated-2.gif
  web/public/images/colorblind-arrow-640-animated-0.gif
  web/public/images/colorblind-arrow-640-animated-1.gif
  web/public/images/colorblind-arrow-640-animated-2.gif
  web/public/images/colorblind-arrow-720-animated-0.gif
  web/public/images/colorblind-arrow-720-animated-1.gif
  web/public/images/colorblind-arrow-720-animated-2.gif
  web/public/images/colorblind-arrow-80-animated-0.gif
  web/public/images/colorblind-arrow-80-animated-1.gif
  web/public/images/colorblind-arrow-80-animated-2.gif
  web/public/images/colorblind-arrow-800-animated-0.gif
  web/public/images/colorblind-arrow-800-animated-1.gif
  web/public/images/colorblind-arrow-800-animated-2.gif
  web/public/images/colorblind-arrow-nan-animated-0.gif
  web/public/images/colorblind-arrow-nan-animated-1.gif
  web/public/images/colorblind-arrow-nan-animated-2.gif
  web/src/helpers/themes.js
Labels: frontend 🎨

#3189 update Alberta to new categories available
  config/co2eq_parameters.json
  parsers/CA_AB.py
Labels: parser, science
