Repository electricitymaps/electricitymaps-contrib, pull requests merged in 2022-09, with the labels that each got.

#4485 Split Sweden into subzones (recreated)
  DATA_SOURCES.md
  config/co2eq_parameters_lifecycle.json
  config/exchanges.json
  config/zones.json
  parsers/AX.py
  parsers/DK.py
  parsers/DK_BHM.py
  parsers/ENTSOE.py
  tests/test_config_model.py
  web/geo/update-world.js
  web/geo/utilities.js
  web/geo/validate.js
  web/geo/world.geojson
  web/public/locales/en.json
  web/public/locales/sv.json
  web/src/world.json
Labels: frontend 🎨, parser, translations 🗣, BLOCKED, tests

#4525 Disable code push
  mobileapp/BUILD.yaml
  mobileapp/config.xml
Labels: mobile app 📱

#4523 Fix "new version available" cache issue
  web/server.js
  web/src/layout/main.jsx
Labels: frontend 🎨

#4526 Update US-HI-OA generation capacities
  DATA_SOURCES.md
  config/zones.json
Labels: capacity

#4443 Spatial Aggregations 🗺️
  .prettierignore
  config/zones.json
  web/.prettierignore
  web/BUILD.yaml
  web/Dockerfile
  web/geo/README.md
  web/geo/generate-aggregates.js
  web/geo/generate-exchanges-to-exclude.js
  web/geo/generate-topojson.js
  web/geo/update-world.js
  web/geo/utilities.js
  web/geo/validate-v2.js
  web/package.json
  web/public/locales/en.json
  web/public/locales/sv.json
  web/src/components/settingsmodal.jsx
  web/src/components/toggle.jsx
  web/src/components/zonemap.jsx
  web/src/components/zoomcontrols.jsx
  web/src/excluded-aggregated-exchanges.json
  web/src/helpers/api.js
  web/src/helpers/featureFlags.js
  web/src/helpers/topos.js
  web/src/hooks/layers.js
  web/src/hooks/router.js
  web/src/layout/layerbuttons.jsx
  web/src/layout/main.jsx
  web/src/scss/content/map/_controls.scss
  web/src/world-aggregated.json
  web/yarn.lock
Labels: frontend 🎨, parser, dependencies, translations 🗣, infrastructure

#4540 Fix ENTSOE productionPerUnit
  .github/workflows/python.yml
  parsers/ENTSOE.py
Labels: parser, infrastructure

#4547 [CI TEST]: Bump Cypress to version 9.7
  web/package.json
  web/yarn.lock
Labels: frontend 🎨, dependencies

#4529 remove moment.js
  .github/workflows/cypress.yml
  web/cypress/integration/countrypanel.spec.js
  web/cypress/integration/map.spec.js
  web/cypress/integration/onboarding.spec.js
  web/cypress/integration/ranking.spec.js
  web/package.json
  web/src/helpers/gfs.js
  web/yarn.lock
Labels: frontend 🎨, performance 🏎, dependencies, infrastructure

#4506 Add timestamps to tooltips
  web/src/components/tooltips/countrypanelemissionstooltip.jsx
  web/src/components/tooltips/countrypanelexchangetooltip.jsx
  web/src/components/tooltips/countrypanelproductiontooltip.jsx
  web/src/components/tooltips/mapcountrytooltip.jsx
  web/src/components/tooltips/pricetooltip.jsx
  web/src/components/tooltips/tooltiptimedisplay.jsx
  web/src/layout/map.jsx
  web/src/reducers/dataReducer.js
  web/src/scss/content/map/_map.scss
Labels: frontend 🎨

#4551 update repo url references
  README.md
  web/README.md
  web/geo/README.md
  web/package.json
  web/public/locales/de.json
  web/public/locales/en.json
  web/public/locales/it.json
  web/public/locales/no-NB.json
  web/public/locales/pl.json
  web/public/locales/sv.json
  web/src/components/errorboundary.jsx
  web/src/components/infomodal.jsx
  web/src/index.jsx
Labels: frontend 🎨, dependencies, translations 🗣

#4566 Add nullish coalescing and re-enable tests
  web/cypress/integration/map.spec.js
  web/src/helpers/gfs.js
Labels: frontend 🎨

#4561 fix `RE` parsing in `FR_O.py`
  parsers/FR_O.py
Labels: parser

#4546 Improve API key selection for `ENTSOE.py`
  parsers/ENTSOE.py
Labels: parser

#4580 remove pro badges
  web/src/layout/leftpanel/countrypanel/countryDetails.jsx
  web/src/scss/_base.scss
Labels: frontend 🎨

#4557 Fix rte-france's API URL for GB parser
  parsers/GB.py
Labels: parser

#4541 #4222: if there are multiple decimals in price, ignore all but last
  parsers/TR.py
Labels: parser

#4583 update slack links and some github links to s.com
  parsers/README.md
  web/src/components/infomodal.jsx
  web/src/layout/leftpanel/countrypanel/countryDetails.jsx
  web/src/layout/leftpanel/infotext.jsx
  web/src/layout/leftpanel/mobileinfotab.jsx
  web/src/layout/leftpanel/socialbuttons.jsx
Labels: frontend 🎨, parser

#4576 Create new DK parser for exchanges
  parsers/DK.py
  parsers/archived/DK_old.py
Labels: parser

#4587 Update to improve cypress reliability
  web/cypress/integration/ranking.spec.js
Labels: frontend 🎨

#4586 use native crypto functions instead of js-sha256
  web/package.json
  web/src/helpers/api.js
  web/yarn.lock
Labels: frontend 🎨, dependencies

#4588 Use short month for ticks to prevent text overflow
  web/src/helpers/formatting.js
Labels: frontend 🎨

#4590 Update pandas and stop support for python 3.7
  poetry.lock
  pyproject.toml
Labels: dependencies

#4528 Clean up type errors in `ENTSOE.py`
  parsers/ENTSOE.py
  web/Dockerfile
Labels: frontend 🎨, parser, infrastructure

#4592 Tvs/weather layers fix
  web/package.json
  web/src/helpers/gfs.js
  web/yarn.lock
Labels: frontend 🎨, dependencies

#4464 Upgrade EIA parser with EIA APIv2
  parsers/EIA.py
  poetry.lock
  pyproject.toml
Labels: parser, dependencies

#4573 NZ parser: add placeholder for solar
  parsers/NZ.py
Labels: parser

#4601 Ceuta and Melilla cleanup (bounding boxes, documentation, capacities)
  DATA_SOURCES.md
  config/zones.json
Labels: capacity

#4591 4574-nl-production-parser-down
  parsers/NL.py
Labels: parser

#4615 added timezone test + changed datetime in EIA
  parsers/EIA.py
  test_parser.py
Labels: parser

#4618 Map Ukraine exchanges to `UA-IPS`
  parsers/ENTSOE.py
Labels: parser, data

#4612 Add color to selected language button in select language drop down menu
  web/src/components/languageselect.jsx
Labels: frontend 🎨

#4544 Fix localizations (russian, danish, date range formatting)
  web/locales-config.json
  web/public/locales/da.json
  web/public/locales/ru.json
  web/src/components/timeControls.jsx
  web/src/helpers/constants.js
Labels: frontend 🎨, translations 🗣

#4626 Md/fix ch parser
  parsers/CH.py
  parsers/ENTSOE.py
Labels: parser

#4629 Fix datetimes in `DK.py`
  parsers/DK.py
Labels: parser
