Repository electricitymaps/electricitymaps-contrib, pull requests merged in 2022-10, with the labels that each got.

#4632 Bump REE to 2.3.2
  poetry.lock
  pyproject.toml
Labels: dependencies, data

#4637 ZA parser: Integrated new CSV file format
  parsers/ZA.py
Labels: parser

#4640 Switch Croatia (HR) to `ENTSOE.py`
  config/exchanges.json
  config/zones.json
  parsers/ENTSOE.py
  parsers/archived/HOPS.py
  parsers/test/mocks/hops.json
  parsers/test/mocks/hrote.json
  parsers/test/mocks/hrote_dates.json
  parsers/test/mocks/hrote_no_solar_on_that_hour.json
  parsers/test/test_HOPS.py
Labels: parser, tests

#4631 Improve front end tests
  web/cypress.config.js
  web/cypress.json
  web/cypress/e2e/countrypanel.spec.js
  web/cypress/e2e/map.spec.js
  web/cypress/e2e/onboarding.spec.js
  web/cypress/e2e/ranking.spec.js
  web/cypress/e2e/timeslider.spec.js
  web/cypress/plugins/index.js
  web/cypress/support/e2e.js
  web/package.json
  web/yarn.lock
Labels: frontend 🎨, dependencies

#4644 Use fetch depth 2 for CI checkout
  .github/workflows/CI.yml
Labels: infrastructure

#4645 Fixes app breaking when using URL with invalid zoneid
  web/src/layout/map.jsx
Labels: frontend 🎨

#4646 Dependabot ignore patch versions for actions
  .github/dependabot.yml
Labels: infrastructure

#4320 Add Andorra capacity
  DATA_SOURCES.md
  config/zones.json
Labels: capacity

#4641 Update Spanish translations
  web/public/locales/es.json
Labels: translations 🗣, hacktoberfest

#4653 Add time-controller.title translation to PT-BR
  web/public/locales/pt-BR.json
Labels: translations 🗣

#4627 Spatial Aggregations V2
  config/exchanges.json
  config/zones.json
  electricitymap/contrib/config/__init__.py
  web/geo/generate-exchanges-to-exclude.js
  web/geo/update-world.js
  web/geo/validate-v2.js
  web/geo/validate.js
  web/public/locales/en.json
  web/src/components/settingsmodal.jsx
  web/src/components/zonemap.jsx
  web/src/components/zoomcontrols.jsx
  web/src/excluded-aggregated-exchanges.json
  web/src/helpers/featureFlags.js
  web/src/helpers/topos.js
  web/src/hooks/layers.js
  web/src/hooks/redux.js
  web/src/layout/layerbuttons.jsx
  web/src/layout/leftpanel/countrypanel/index.jsx
  web/src/layout/main.jsx
  web/src/scss/content/map/_controls.scss
  web/src/world-aggregated.json
Labels: frontend 🎨, translations 🗣

#4656 include pyyaml package
  pyproject.toml
Labels: dependencies

#4635 Translated to Hindi
  mobileapp/www/index.html
  web/locales-config.json
  web/public/locales/hi.json
Labels: frontend 🎨, mobile app 📱, translations 🗣, hacktoberfest

#4651 Add CodeQL scanning
  .github/workflows/CI.yml
  .github/workflows/codeql.yml
  .github/workflows/eslint.yml
Labels: infrastructure

#4382 Format sources properly on country panel using `Intl.ListFormat`
  web/src/helpers/formatting.js
  web/src/helpers/redux.js
  web/src/layout/leftpanel/countrypanel/countryDetails.jsx
Labels: frontend 🎨, translations 🗣

#4662 update for app builds
  mobileapp/config.xml
  mobileapp/generate-index.js
  mobileapp/package-lock.json
Labels: mobile app 📱, dependencies

#4663 Tvs/app build updates
  mobileapp/config.xml
  mobileapp/package-lock.json
Labels: mobile app 📱, dependencies

#4664 add missing exchange and logic for swapping between country and zone …
  config/exchanges.json
  config/exchanges/DK→NO.yaml
  web/src/excluded-aggregated-exchanges.json
  web/src/layout/leftpanel/countrypanel/index.jsx
Labels: frontend 🎨, exchange config

#4671 Update minimal Slovenian production to just 140MW
  parsers/ENTSOE.py
Labels: parser

#4666 Fix date tick for months in Estonian
  web/src/helpers/formatting.js
Labels: frontend 🎨

#4673 co-locate config files
  web/.gitignore
  web/Dockerfile
  web/geo/README.md
  web/geo/update-world.js
  web/src/config/excluded-aggregated-exchanges.json
  web/src/config/world.json
  web/src/helpers/topos.js
  web/src/hooks/layers.js
  web/src/hooks/redux.js
  web/src/world.json
Labels: frontend 🎨, dependencies, infrastructure

#4678 FR hydro & pumped storage capacity update
  config/zones/FR.yaml
Labels: zone config

#4687 Add missing `NL_NO` exchange
  config/exchanges/NL_NO.yaml
  web/src/config/excluded-aggregated-exchanges.json
Labels: frontend 🎨, exchange config

#4692 NZ: fix change in transpower website
  parsers/NZ.py
Labels: parser

#4686 Add historical prices
  web/src/layout/leftpanel/countrypanel/countryDetails.jsx
Labels: frontend 🎨

#4704 update build file web
  web/BUILD.yaml
Labels: frontend 🎨

#4706 Update Taiwanese Capacities
  DATA_SOURCES.md
  config/zones/TW.yaml
Labels: zone config

#4696 Add and Update exchange capacities
  DATA_SOURCES.md
  config/exchanges/BA_HR.yaml
  config/exchanges/BG_RS.yaml
  config/exchanges/GR_MK.yaml
  config/exchanges/LT_RU-KGD.yaml
  config/exchanges/LV_RU-1.yaml
  config/exchanges/SK_UA.yaml
Labels: exchange config

#4709 changed eia_ts_format in _fetch
  parsers/EIA.py
Labels: parser

#4712 [BUGFIX]: Don't join on undefined or null
  web/src/helpers/formatting.js
Labels: frontend 🎨

#4715 fix_us_again
  parsers/EIA.py
Labels: parser

#4665 Add Missing PT-BR translations using helper
  web/public/locales/pt-BR.json
Labels: translations 🗣

#4713 Streamline node.js CI jobs
  .dockerignore
  .gitattributes
  .github/workflows/CI.yml
  .github/workflows/eslint.yml
  .github/workflows/jest.yml
  .github/workflows/prettier.yml
  .github/workflows/verify.yml
  .prettierignore
  mobileapp/README.md
  parsers.dockerfile
  web/.prettierignore
  web/package.json
  web/yarn.lock
Labels: frontend 🎨, mobile app 📱, dependencies, infrastructure

#4711 Fix alignment of info button on language change
  web/src/components/toggle.jsx
Labels: frontend 🎨

#4691 Change all current log messages to info, warn or error
  .github/workflows/eslint.yml
  web/.eslintrc.js
  web/generate-arrows.js
  web/generate-contributor-list.js
  web/geo/generate-exchanges-to-exclude.js
  web/geo/generate-topojson.js
  web/geo/validate.js
  web/package.json
  web/server.js
  web/src/cordova.js
  web/src/hooks/layers.js
  web/src/index.jsx
  web/src/layout/map.jsx
  web/src/services/thirdparty.js
  web/src/services/thirdparty/debugconsole.js
  web/translation-helper.js
  web/translation-status.js
Labels: frontend 🎨, dependencies, infrastructure

#4723 Update Norway capacities
  config/zones/NO-NO1.yaml
  config/zones/NO-NO2.yaml
  config/zones/NO-NO3.yaml
  config/zones/NO-NO4.yaml
  config/zones/NO-NO5.yaml
  config/zones/NO.yaml
Labels: zone config

#4725 Update French translations
  web/public/locales/fr.json
Labels: translations 🗣

#4493 Removed zone-list.scss & moved some other CSS to styled components
  web/src/components/circulargauge.jsx
  web/src/components/colorblindcheckbox.jsx
  web/src/components/tooltips/common.jsx
  web/src/components/tooltips/mapcountrytooltip.jsx
  web/src/components/zonelist.jsx
  web/src/layout/leftpanel/index.jsx
  web/src/layout/leftpanel/infotext.jsx
  web/src/layout/leftpanel/mobileinfotab.jsx
  web/src/layout/leftpanel/zonelistpanel.jsx
  web/src/layout/tabs.jsx
  web/src/scss/_variables.scss
  web/src/scss/content/map/_controls.scss
  web/src/scss/content/map/_map.scss
  web/src/scss/content/panel/_country-panel.scss
  web/src/scss/content/panel/_zone-list.scss
  web/src/scss/layout/_footer.scss
  web/src/scss/layout/_header.scss
  web/src/scss/layout/_left-panel.scss
  web/src/scss/styles.scss
Labels: frontend 🎨, parser, mobile app 📱, dependencies, translations 🗣, tests, infrastructure
