Repository electricitymaps/electricitymaps-contrib, pull requests merged in 2022-02, with the labels that each got.

#3723 Reimplementing AR parser from scratch.
  parsers/AR.py
Labels: parser

#3691 KR parser: Integrate new real-time data sources
  config/zones.json
  parsers/KR.py
Labels: parser

#3782 Adds NZ translation
  web/locales/de.json
  web/locales/en.json
  web/locales/es.json
  web/locales/fr.json
Labels: translations 🗣

#3789 Supports new estimation model
  web/locales/en.json
  web/src/components/countrytableoverlayifnodata.js
  web/src/components/tooltips/mapcountrytooltip.js
  web/src/layout/leftpanel/countrypanel.js
  web/src/reducers/dataReducer.js
  web/src/sagas/index.js
Labels: frontend 🎨, translations 🗣

#3796 update PEI API URL and params
  parsers/CA_PE.py
Labels: parser

#3804 Updates the mobileapp setup so it works on iOS
  mobileapp/BUILD.yaml
  mobileapp/README.md
  mobileapp/config.xml
  mobileapp/package-lock.json
  mobileapp/package.json
  mobileapp/sentry.properties
  mobileapp/www/index.html
  web/src/cordova.js
  web/src/layout/leftpanel/countrypanel.js
  web/src/scss/layout/_left-panel.scss
Labels: frontend 🎨, mobile app 📱

#3808 Updates eiapy to new version (to make the EIA parser work again)
  poetry.lock
  pyproject.toml
Labels: dependencies

#3814 Fixes bugs with language selector on mobile
  web/src/components/languageselect.js
  web/src/cordova.js
Labels: frontend 🎨

#3815 Make it clear that we're looking for sharp minds to join the team⚡
  web/src/components/openpositionsbadge.js
  web/src/layout/header.js
Labels: frontend 🎨

#3819 more robust CA_PE default when 'data' is missing
  parsers/CA_PE.py
Labels: parser
