Repository electricitymaps/electricitymaps-contrib, pull requests merged in 2022-05, with the labels that each got.

#4069 Workaround to fix labeler removing labels.
  .github/workflows/label.yml
Labels: infrastructure

#4078 Update babel and configs
  web/.babelrc
  web/.eslintrc.js
  web/package.json
  web/translation-helper.js
  web/webpack.config.js
  web/yarn.lock
Labels: frontend 🎨, dependencies

#4079 Remove url-search-params-polyfill (included in babel now)
  web/package.json
  web/src/index.jsx
  web/yarn.lock
Labels: frontend 🎨, dependencies

#3996 Switch Material Icon font to SVG sprites
  web/public/fonts/MaterialIcons-Regular.eot
  web/public/fonts/MaterialIcons-Regular.ijmap
  web/public/fonts/MaterialIcons-Regular.svg
  web/public/fonts/MaterialIcons-Regular.ttf
  web/public/fonts/MaterialIcons-Regular.woff
  web/public/fonts/MaterialIcons-Regular.woff2
  web/public/images/material-icon-sprite.svg
  web/public/index.html
  web/src/components/countrydisclaimer.jsx
  web/src/components/faq.jsx
  web/src/components/icon.jsx
  web/src/components/onboardingmodal.jsx
  web/src/layout/leftpanel/countrypanel.jsx
  web/src/layout/leftpanel/faqpanel.jsx
  web/src/layout/leftpanel/index.jsx
  web/src/layout/legend.jsx
  web/src/layout/tabs.jsx
  web/src/scss/MaterialIcons.scss
  web/src/scss/_base.scss
  web/src/scss/components/_faqs.scss
  web/src/scss/components/_modal.scss
  web/src/scss/content/panel/_country-panel.scss
  web/src/scss/layout/_footer.scss
  web/src/scss/layout/_left-panel.scss
  web/src/scss/styles.scss
  web/views/pages/index.ejs
Labels: frontend 🎨

#4082 Drop IE 11 support! (browserslist targets update)
  web/package.json
Labels: frontend 🎨, dependencies

#4072 Disables dependabot for normal dependencies
  .github/dependabot.yml.bk
Labels: infrastructure

#4045 Fix missing FAQ styling & updates test-parser help message
  test_parser.py
  web/src/scss/styles.scss
Labels: frontend 🎨

#4081 Improve contributorlist.jsx and zones.json
  config/zones.json
  web/src/components/contributorlist.jsx
  web/src/scss/components/_meta.scss
Labels: frontend 🎨

#4088 Add overrides for isLowCarbon and isRenewable contributions for CH
  config/co2eq_parameters_all.json
  tests/test_co2eq_parameters.py
Labels: tests

#4080 [historical-view] Changes colors on the map when timeslider is used
  web/src/components/zonemap.jsx
  web/src/hooks/router.js
  web/src/layout/map.jsx
Labels: frontend 🎨

#4042 feat(parser): add solar forecast to MY-WM
  config/zones.json
  parsers/MY_WM.py
Labels: parser

#4094 Webpack config duplicate bundle fix
  web/server.js
  web/views/pages/index.ejs
  web/webpack.config.js
Labels: frontend 🎨

#4089 Webpack 5 migration prep (update css loaders and webpack config)
  web/package.json
  web/webpack.config.js
  web/yarn.lock
Labels: frontend 🎨, dependencies

#4070 Remove momentjs
  web/package.json
  web/src/components/countryhistorycarbongraph.jsx
  web/src/components/countryhistoryemissionsgraph.jsx
  web/src/components/countryhistorymixgraph.jsx
  web/src/components/countryhistorypricesgraph.jsx
  web/src/components/graph/areagraph.jsx
  web/src/components/graph/timeaxis.jsx
  web/src/components/lastupdatedtime.jsx
  web/src/components/timeslider.jsx
  web/src/helpers/gfs.js
  web/src/helpers/grib.js
  web/src/helpers/i18n.js
  web/src/hooks/layers.js
  web/src/hooks/redux.js
  web/src/layout/leftpanel/countrypanel.jsx
  web/src/reducers/dataReducer.js
  web/yarn.lock
Labels: frontend 🎨, dependencies

#3985 Remove lodash
  web/.eslintrc.js
  web/geo/generate-topojson.js
  web/package.json
  web/src/components/TimeSliderInput.jsx
  web/src/components/buttontoggle.jsx
  web/src/components/circulargauge.jsx
  web/src/components/countrydisclaimer.jsx
  web/src/components/countryestimationlabel.jsx
  web/src/components/countryhistorymixgraph.jsx
  web/src/components/countryhistorypricesgraph.jsx
  web/src/components/countrytable.jsx
  web/src/components/exchangearrow.jsx
  web/src/components/graph/areagraph.jsx
  web/src/components/graph/areagraphlayers.jsx
  web/src/components/graph/graphbackground.jsx
  web/src/components/graph/graphhoverline.jsx
  web/src/components/graph/timeaxis.jsx
  web/src/components/horizontalcolorbar.jsx
  web/src/components/languageselect.jsx
  web/src/components/layers/solarlayer.jsx
  web/src/components/searchbar.jsx
  web/src/components/timeslider.jsx
  web/src/components/toggle.jsx
  web/src/components/tooltips/common.jsx
  web/src/components/tooltips/countrypanelproductiontooltip.jsx
  web/src/components/tooltips/pricetooltip.jsx
  web/src/components/zonemap.jsx
  web/src/helpers/debounce.js
  web/src/helpers/isEmpty.js
  web/src/helpers/math.js
  web/src/helpers/noop.js
  web/src/helpers/zonedata.js
  web/src/hooks/fetch.js
  web/src/hooks/layers.js
  web/src/hooks/map.js
  web/src/hooks/redux.js
  web/src/layout/leftpanel/countrypanel.jsx
  web/src/layout/map.jsx
  web/translation-status.js
  web/yarn.lock
Labels: frontend 🎨, dependencies

#4038 fix(parser): improve GT production breakdown
  config/co2eq_parameters_all.json
  config/co2eq_parameters_direct.json
  config/co2eq_parameters_lifecycle.json
  parsers/GT.py
Labels: parser

#4110 Uses correct hash (to fix mobileapp build)
  mobileapp/generate-index.js
Labels: mobile app 📱

#4111 Moves dependency out of shared ZoneMap component
  web/src/components/zonemap.jsx
  web/src/layout/map.jsx
Labels: frontend 🎨

#4112 Moves to using localStorage instead of cookies
  web/src/helpers/i18n.js
  web/src/helpers/storage.js
  web/src/reducers/index.js
Labels: frontend 🎨

#4113 Makes it possible to skip the onboarding-modal via URL
  web/src/components/onboardingmodal.jsx
Labels: frontend 🎨

#4118 [historical-view] Disable date range options and change text to 24 hours
  web/src/components/timeControls.jsx
Labels: frontend 🎨

#4121 Adds moment back to fix broken wind and solar layers
  web/package.json
  web/src/helpers/gfs.js
  web/yarn.lock
Labels: frontend 🎨, dependencies

#4114 Remove units from height and width in `contributorlist.jsx`
  web/src/components/contributorlist.jsx
Labels: frontend 🎨

#4123 Fix log messages in layers.js
  web/src/hooks/layers.js
Labels: frontend 🎨

#4119 [historical-view] Uses new backend endpoint and data format
  mockserver/public/v5/state/hourly
  mockserver/server.js
  web/src/components/graph/timeaxis.jsx
  web/src/components/graph/valueaxis.jsx
  web/src/components/horizontalcolorbar.jsx
  web/src/hooks/fetch.js
  web/src/hooks/redux.js
  web/src/reducers/dataReducerForHistoryFeature.js
  web/src/reducers/index.js
  web/src/sagas/index.js
Labels: frontend 🎨

#4105 Webpack 5 update
  web/package.json
  web/webpack.config.js
  web/yarn.lock
Labels: frontend 🎨, dependencies

#4129 Improve linting
  web/.eslintrc.js
  web/geo/generate-topojson.js
  web/geo/generate-zone-bounding-boxes.js
  web/geo/validate.js
  web/package.json
  web/src/components/countryhistorycarbongraph.jsx
  web/src/components/countryhistoryemissionsgraph.jsx
  web/src/components/countryhistorymixgraph.jsx
  web/src/components/countryhistorypricesgraph.jsx
  web/src/components/countrytable.jsx
  web/src/components/exchangearrow.jsx
  web/src/components/graph/areagraph.jsx
  web/src/components/graph/areagraphlayers.jsx
  web/src/components/graph/graphbackground.jsx
  web/src/components/layers/exchangelayer.jsx
  web/src/components/layers/solarlayer.jsx
  web/src/components/layers/windlayer.jsx
  web/src/components/onboardingmodal.jsx
  web/src/components/openpositionsbadge.jsx
  web/src/components/timeControls.jsx
  web/src/components/timeslider.jsx
  web/src/components/timeslider_new.jsx
  web/src/components/tooltip.jsx
  web/src/components/tooltips/countrypanelemissionstooltip.jsx
  web/src/components/tooltips/countrypanelexchangetooltip.jsx
  web/src/components/tooltips/countrypanelproductiontooltip.jsx
  web/src/components/tooltips/mapcountrytooltip.jsx
  web/src/components/tooltips/mapexchangetooltip.jsx
  web/src/components/tooltips/pricetooltip.jsx
  web/src/components/tooltips/timeslidertooltip.jsx
  web/src/components/zonelist.jsx
  web/src/components/zonemap.jsx
  web/src/cordova.js
  web/src/helpers/api.js
  web/src/helpers/debounce.js
  web/src/helpers/flags.js
  web/src/helpers/graph.js
  web/src/helpers/grib.js
  web/src/helpers/i18n.js
  web/src/helpers/zonedata.js
  web/src/hooks/fetch.js
  web/src/hooks/layers.js
  web/src/hooks/redux.js
  web/src/hooks/theme.js
  web/src/index.jsx
  web/src/layout/leftpanel/countrypanel.jsx
  web/src/layout/leftpanel/mobileinfotab.jsx
  web/src/layout/map.jsx
  web/src/reducers/dataReducerForHistoryFeature.js
  web/src/services/thirdparty.js
  web/src/services/thirdparty/debugconsole.js
Labels: frontend 🎨, dependencies

#4128 Adds prettier packages and updates eslint dependencies
  .circleci/config.yml
  web/.eslintrc.js
  web/.prettierrc.js
  web/Dockerfile
  web/package.json
  web/yarn.lock
Labels: frontend 🎨, dependencies, infrastructure

#3692 Ensuring consistent parser interface
  electricitymap/contrib/config/model.py
  parsers/BR.py
  parsers/ENTE.py
  parsers/ESIOS.py
  parsers/GCCIA.py
  parsers/KW.py
  parsers/NL.py
  parsers/SG.py
  parsers/test/test_ESIOS.py
  tests/test_parser_interface.py
Labels: parser, tests

#4146 Update verify_python command to use `poetry run check`
  .circleci/config.yml
Labels: infrastructure

#4136 Adds Cypress for local end-to-end testing
  web/.eslintrc.js
  web/cypress.json
  web/cypress/integration/countrypanel.spec.js
  web/cypress/integration/onboarding.spec.js
  web/cypress/plugins/index.js
  web/cypress/support/commands.js
  web/cypress/support/index.js
  web/package.json
  web/src/components/carbonintensitysquare.jsx
  web/src/components/onboardingmodal.jsx
  web/src/layout/leftpanel/countrypanel.jsx
  web/yarn.lock
Labels: frontend 🎨, dependencies

#4151 Fixes rerendering useEffect that keeps fetching or trying to fetch /state
  web/src/hooks/router.js
  web/src/reducers/dataReducerForHistoryFeature.js
  web/src/sagas/index.js
Labels: frontend 🎨

#4154 Downgrade isort version for backend compatibility
  poetry.lock
  pyproject.toml
Labels: dependencies

#4152 Adds cypress workflow to run on pull request with 'frontend' label
  .github/workflows/cypress.yml
Labels: frontend 🎨, infrastructure

#4156 Downgrade black for backend compatibility
  parsers/DK.py
  poetry.lock
  pyproject.toml
Labels: parser, dependencies

#4157 Adds some Cypress integration tests
  web/cypress/integration/api/history.spec.js
  web/cypress/integration/api/state.spec.js
  web/cypress/integration/countrypanel.spec.js
  web/src/components/carbonintensitysquare.jsx
Labels: frontend 🎨

#4148 Reduce center coordinate accuracy from 111 pm to 11.1 km
  web/geo/generate-topojson.js
  web/geo/utilities.js
  web/src/world.json
Labels: frontend 🎨

#3817 Add test case to verify that all zones in geometries are in zones.json
  config/exchanges.json
  config/zones.json
  parsers/EIA.py
  tests/test_zones_json.py
  web/geo/world.geojson
  web/src/world.json
Labels: frontend 🎨, parser, techdebt, tests

#4132 Makes linting run before code is committed
  .circleci/config.yml
  web/.eslintrc.js
  web/.husky/pre-commit
  web/BUILD.yaml
  web/Dockerfile
  web/cypress/plugins/index.js
  web/cypress/support/index.js
  web/package.json
  web/yarn.lock
Labels: frontend 🎨, dependencies, infrastructure

#4158 Feature/ru add proxy
  config/zones.json
  parsers/RU.py
Labels: parser

#4169 Cypress - enable recording
  .github/workflows/cypress.yml
  web/cypress.json
Labels: frontend 🎨, infrastructure

#4160 Update CA_QC.py
  parsers/CA_QC.py
Labels: parser

#4170 Update tests to use mockserver
  .github/workflows/cypress.yml
  web/cypress/integration/api/history.spec.js
  web/cypress/integration/api/state.spec.js
Labels: frontend 🎨, infrastructure

#4171 CI setup job
  .github/workflows/CI.yml
  .github/workflows/README.md
  .github/workflows/cypress.yml
  .github/workflows/validate-local-links-in-md.yml
Labels: infrastructure

#4176 Updates info on how to release for Android and bumps version
  mobileapp/.gitignore
  mobileapp/README.md
  mobileapp/config.xml
Labels: mobile app 📱

#4163 Archive broken and unused parsers
  .github/labeler.yml
  config/exchanges.json
  config/zones.json
  parsers/README.md
  parsers/archived/AM.py
  parsers/archived/GB_NIR.py
  parsers/archived/IN_UP.py
  parsers/archived/JP_ISEP.py
  parsers/archived/SE.py
  parsers/archived/US_BPA.py
  parsers/archived/XK.py
Labels: parser, infrastructure

#4165 Add noscript fallback and necessary changes
  web/public/index.html
  web/src/scss/_base.scss
  web/views/pages/index.ejs
Labels: frontend 🎨

#4182 Fix capacity parser NL
  parsers/NL.py
Labels: parser

#4187 Fixes icons on mobile app (in a simpler way)
  web/src/components/icon.jsx
Labels: frontend 🎨

#4140 Webpack 5 follow up
  web/package.json
  web/yarn.lock
Labels: frontend 🎨, dependencies

#4200 Fix ci
  .github/workflows/CI.yml
Labels: infrastructure

#4189 Update webmanifest
  web/public/electricityMap.webmanifest
  web/public/images/electricitymap-icon.png
  web/public/index.html
  web/public/manifest.json
  web/views/pages/index.ejs
Labels: frontend 🎨

#4201 Memoizes Icon component and fixes Polish translation
  web/public/locales/pl.json
  web/src/components/icon.jsx
Labels: frontend 🎨, translations 🗣

#4205 Trailing slashes
  README.md
  web/src/layout/header.jsx
Labels: frontend 🎨
