Repository electricitymaps/electricitymaps-contrib, pull requests merged in 2022-12, with the labels that each got.

#4824 Switch to contiguous US
  config/zones/US.yaml
  web/public/locales/de.json
  web/public/locales/el.json
  web/public/locales/en.json
  web/public/locales/es.json
  web/public/locales/et.json
  web/public/locales/fi.json
  web/public/locales/fr.json
  web/public/locales/id.json
  web/public/locales/it.json
  web/public/locales/ja.json
  web/public/locales/ko.json
  web/public/locales/pt-BR.json
  web/public/locales/sv.json
  web/src/config/world.json
Labels: frontend 🎨, translations 🗣, zone config

#4817 Migrate Shetland Island to use `GB-ZET` as the zone code to match ISO
  config/zones/GB-ZET.yaml
  mockserver/public/v5/state/daily.json
  mockserver/public/v5/state/hourly.json
  mockserver/public/v5/state/monthly.json
  mockserver/public/v5/state/yearly.json
  web/geo/world.geojson
  web/public/locales/cs.json
  web/public/locales/de.json
  web/public/locales/el.json
  web/public/locales/en.json
  web/public/locales/es.json
  web/public/locales/et.json
  web/public/locales/fi.json
  web/public/locales/fr.json
  web/public/locales/hr.json
  web/public/locales/id.json
  web/public/locales/it.json
  web/public/locales/ja.json
  web/public/locales/ko.json
  web/public/locales/no-NB.json
  web/public/locales/pt-BR.json
  web/public/locales/ro.json
  web/public/locales/ru.json
  web/public/locales/sk.json
  web/public/locales/sv.json
  web/public/locales/vi.json
  web/src/config/world.json
Labels: frontend 🎨, translations 🗣, zone config

#4822 CA-ON zone carbon update
  config/zones/CA-ON.yaml
Labels: zone config

#4836 updated be capacity
  config/zones/BE.yaml
Labels: zone config

#4838 Revert "updated be capacity"
  config/zones/BE.yaml
Labels: zone config

#4789 Update Carbon Intensity Range to 0-1500 g co2eq/kWh
  web/src/helpers/themes.js
  web/src/layout/legend.jsx
Labels: frontend 🎨

#4846 Italian time period translation/bugfix
  web/public/locales/it.json
Labels: translations 🗣

#4847 Fix bad French values
  web/public/locales/fr.json
Labels: translations 🗣

#4859 Updated FI wind & solar capacities based on Fingrid values (#4857)
  DATA_SOURCES.md
  config/zones/FI.yaml
Labels: zone config

#4861 Updated the FI-NO4 cross-border capacity based on the Nordic SOA
  DATA_SOURCES.md
  config/exchanges/FI_NO-NO4.yaml
Labels: exchange config

#4852 New parser for Åland
  config/zones/AX.yaml
  parsers/AX.py
  parsers/archived/AX.py
Labels: parser, zone config

#4860 Add NTESMO parser
  config/zones/AU-NT.yaml
  config/zones/AU-TAS-CBI.yaml
  config/zones/AU.yaml
  config/zones/AUS-NT.yaml
  mockserver/public/v5/state/daily.json
  mockserver/public/v5/state/hourly.json
  mockserver/public/v5/state/monthly.json
  mockserver/public/v5/state/yearly.json
  parsers/NTESMO.py
  parsers/test/mocks/AUS/NTESMO.xlsx
  parsers/test/test_NTESMO.py
  scripts/create_aggregated_zone_config.py
  web/geo/world.geojson
  web/public/locales/ar.json
  web/public/locales/cs.json
  web/public/locales/de.json
  web/public/locales/el.json
  web/public/locales/en.json
  web/public/locales/es.json
  web/public/locales/et.json
  web/public/locales/fi.json
  web/public/locales/fr.json
  web/public/locales/hr.json
  web/public/locales/id.json
  web/public/locales/it.json
  web/public/locales/ja.json
  web/public/locales/ko.json
  web/public/locales/no-NB.json
  web/public/locales/pl.json
  web/public/locales/pt-BR.json
  web/public/locales/ro.json
  web/public/locales/ru.json
  web/public/locales/sk.json
  web/public/locales/sv.json
  web/public/locales/vi.json
  web/public/locales/zh-CN.json
  web/public/locales/zh-HK.json
  web/public/locales/zh-TW.json
  web/src/config/world.json
Labels: frontend 🎨, parser, translations 🗣, tests, zone config

#4866 Prevent edge case in AX parser
  parsers/AX.py
Labels: parser

#4875 Localize consumption for AU-NT
  config/zones/AU.yaml
  parsers/NTESMO.py
  parsers/test/test_NTESMO.py
Labels: parser, tests, zone config

#4871 Upgrade PJM production parser
  parsers/US_PJM.py
Labels: parser

#4878 Add a temporary hardcoded fix for AUS exchanges
  web/geo/generate-exchanges-to-exclude.js
  web/src/config/excluded-aggregated-exchanges.json
Labels: frontend 🎨

#4676 Aggregate Brazil
  .prettierignore
  config/exchanges/AR_BR.yaml
  config/exchanges/BR_PY.yaml
  config/exchanges/BR_UY.yaml
  config/zones/BR-I.yaml
  config/zones/BR.yaml
  web/.prettierignore
  web/public/locales/cs.json
  web/public/locales/de.json
  web/public/locales/el.json
  web/public/locales/en.json
  web/public/locales/es.json
  web/public/locales/et.json
  web/public/locales/fi.json
  web/public/locales/fr.json
  web/public/locales/hr.json
  web/public/locales/id.json
  web/public/locales/it.json
  web/public/locales/ja.json
  web/public/locales/ko.json
  web/public/locales/no-NB.json
  web/public/locales/pl.json
  web/public/locales/pt-BR.json
  web/public/locales/ro.json
  web/public/locales/ru.json
  web/public/locales/sk.json
  web/public/locales/sv.json
  web/public/locales/vi.json
  web/src/config/excluded-aggregated-exchanges.json
  web/src/config/world.json
Labels: frontend 🎨, translations 🗣, zone config, exchange config

#4882 Aggregate Faroe Islands
  config/zones/FO.yaml
  web/src/config/world.json
Labels: frontend 🎨, zone config

#4881 Create a parser for ELEXON's FUELINST report.
  parsers/ELEXON.py
Labels: parser

#4887 Add estimation method to Brazil
  config/zones/BR.yaml
Labels: zone config

#4888 Add US-CAR-YAD to bypassed while there's an outage of US-CAR-YAD
  config/zones/US.yaml
Labels: zone config

#4889 Filter out null values in the EIA parser
  parsers/EIA.py
  parsers/test/mocks/EIA/US-NW-PGE-with-nulls.json
  parsers/test/test_EIA.py
Labels: parser, tests

#4891 Fix datetime query in Production mix for ELEXON parser
  parsers/ELEXON.py
Labels: parser

#4890 Create MK ENTSOE wrapper
  config/zones/MK.yaml
  parsers/MK_wrapper.py
Labels: parser, zone config

#4898 Fix. change color of update link in newVersion component (#4892)
  web/src/layout/main.jsx
Labels: frontend 🎨

#4902 Added GB <> GB-ORK transmission capacity
  DATA_SOURCES.md
  config/exchanges/GB_GB-ORK.yaml
Labels: exchange config

#4906 update capacities in Europe
  config/zones/AT.yaml
  config/zones/BE.yaml
  config/zones/CH.yaml
  config/zones/CZ.yaml
  config/zones/DE.yaml
  config/zones/DK-DK1.yaml
  config/zones/DK-DK2.yaml
  config/zones/DK.yaml
  config/zones/EE.yaml
  config/zones/ES.yaml
  config/zones/FI.yaml
  config/zones/FR.yaml
  config/zones/HR.yaml
  config/zones/HU.yaml
  config/zones/MK.yaml
  config/zones/PL.yaml
  config/zones/PT.yaml
  config/zones/RS.yaml
  config/zones/SI.yaml
  config/zones/SK.yaml
Labels: capacity, zone config

#4905 Updates isort to the same version as the backend
  parsers/archived/DK_old.py
  poetry.lock
  pyproject.toml
Labels: parser, dependencies

#4911 update capacities North America (Canada, USA, Puerto Rico)
  config/zones/CA-NS.yaml
  config/zones/CA-ON.yaml
  config/zones/CA-QC.yaml
  config/zones/CA-SK.yaml
  config/zones/PR.yaml
  config/zones/US-CAL-BANC.yaml
  config/zones/US-CAL-CISO.yaml
  config/zones/US-CAL-IID.yaml
  config/zones/US-CAL-LDWP.yaml
  config/zones/US-CAR-CPLE.yaml
  config/zones/US-CAR-CPLW.yaml
  config/zones/US-CAR-DUK.yaml
  config/zones/US-CAR-SCEG.yaml
  config/zones/US-CENT-SWPP.yaml
  config/zones/US-FLA-FPC.yaml
  config/zones/US-FLA-FPL.yaml
  config/zones/US-FLA-HST.yaml
  config/zones/US-FLA-TEC.yaml
  config/zones/US-HI-OA.yaml
  config/zones/US-MIDA-PJM.yaml
  config/zones/US-MIDW-AECI.yaml
  config/zones/US-MIDW-LGEE.yaml
  config/zones/US-MIDW-MISO.yaml
  config/zones/US-NE-ISNE.yaml
  config/zones/US-NW-AVRN.yaml
  config/zones/US-NW-BPAT.yaml
  config/zones/US-NW-GRID.yaml
  config/zones/US-NW-IPCO.yaml
  config/zones/US-NW-NEVP.yaml
  config/zones/US-NW-NWMT.yaml
  config/zones/US-NW-PACE.yaml
  config/zones/US-NW-PACW.yaml
  config/zones/US-NW-PGE.yaml
  config/zones/US-NW-PSCO.yaml
  config/zones/US-NW-PSEI.yaml
  config/zones/US-NW-SCL.yaml
  config/zones/US-NW-WACM.yaml
  config/zones/US-NY-NYIS.yaml
  config/zones/US-SE-SEPA.yaml
  config/zones/US-SE-SOCO.yaml
  config/zones/US-SW-AZPS.yaml
  config/zones/US-SW-EPE.yaml
  config/zones/US-SW-PNM.yaml
  config/zones/US-SW-SRP.yaml
  config/zones/US-SW-TEPC.yaml
  config/zones/US-SW-WALC.yaml
  config/zones/US-TEN-TVA.yaml
  config/zones/US-TEX-ERCO.yaml
  config/zones/US.yaml
Labels: zone config

#4910 Temp fix for FR_O.py
  parsers/FR_O.py
Labels: parser
