Repository electricitymaps/electricitymaps-contrib, pull requests merged in 2022-07, with the labels that each got.

#4310 Adds infobox for aggregates on non-hourly views
  web/public/locales/en.json
  web/src/components/countrydatainfo.jsx
  web/src/layout/leftpanel/countrypanel.jsx
Labels: frontend 🎨, translations 🗣

#4303 Merged ES_CN and ES_IB parsers
  config/exchanges.json
  config/zones.json
  parsers/ES.py
  parsers/ES_CN.py
  parsers/ES_IB.py
  parsers/test/test_ES.py
  parsers/test/test_ES_CN.py
  poetry.lock
  pyproject.toml
Labels: parser, dependencies, tests

#4325 [Historical-view] Adds a few nice touches
  web/public/locales/en.json
  web/src/components/timeDisplay.jsx
  web/src/components/timesliderheader.jsx
  web/src/components/tooltips/mapcountrytooltip.jsx
  web/src/components/zonelabel.jsx
  web/src/components/zonemap.jsx
  web/src/helpers/formatting.js
  web/src/hooks/fetch.js
  web/src/hooks/router.js
  web/src/layout/layerbuttons.jsx
  web/src/layout/leftpanel/countrypanel.jsx
Labels: frontend 🎨, translations 🗣

#4313 [WIP] Adds intro modal that explains the new feature
  .prettierignore
  web/.prettierignore
  web/cypress/integration/map.spec.js
  web/cypress/integration/onboarding.spec.js
  web/public/images/historicalviewmodal/timeslider.png
  web/src/components/graph/areagraph.jsx
  web/src/components/historicalviewintromodal.jsx
  web/src/layout/main.jsx
  web/src/reducers/index.js
Labels: frontend 🎨

#4315 Migrate Python tests to GitHub actions
  .github/workflows/CI.yml
  .github/workflows/python-formatting.yml
  .github/workflows/python.yml
  pyproject.toml
  scripts/tooling.py
Labels: infrastructure

#4330 Update assets/text
  README.md
  config/co2eq_parameters_all.json
  config/co2eq_parameters_direct.json
  config/co2eq_parameters_lifecycle.json
  mobileapp/config.xml
  web/README.md
  web/geo/README.md
  web/public/electricityMap.webmanifest
  web/public/images/electricitymap-favicon-dark-light.svg
  web/public/images/electricitymap-favicon-dark-light_old.svg
  web/public/images/electricitymap-icon.png
  web/public/images/electricitymap-icon.svg
  web/public/images/electricitymap-loading.svg
  web/public/images/electricitymap-logo-white.svg
  web/public/images/electricitymap-logo.svg
  web/public/images/favicon-16x16.png
  web/public/images/favicon-32x32.png
  web/public/images/icon-sprite.svg
  web/public/index.html
  web/public/locales/cs.json
  web/public/locales/da.json
  web/public/locales/de.json
  web/public/locales/el.json
  web/public/locales/en.json
  web/public/locales/es.json
  web/public/locales/et.json
  web/public/locales/fi.json
  web/public/locales/fr.json
  web/public/locales/hr.json
  web/public/locales/id.json
  web/public/locales/it.json
  web/public/locales/ja.json
  web/public/locales/ko.json
  web/public/locales/nl.json
  web/public/locales/no-NB.json
  web/public/locales/pl.json
  web/public/locales/pt-BR.json
  web/public/locales/ro.json
  web/public/locales/ru.json
  web/public/locales/sk.json
  web/public/locales/sv.json
  web/public/locales/vi.json
  web/src/components/loadingoverlay.jsx
  web/src/components/loadingplaceholder.jsx
  web/src/components/sharedheader.jsx
  web/src/layout/leftpanel/countrypanel.jsx
  web/src/layout/tabs.jsx
  web/src/scss/layout/_header.scss
Labels: frontend 🎨, mobile app 📱, translations 🗣

#4347 fix(JP): fix date comparison error in `price` parser
  parsers/JP.py
Labels: parser

#4350 fix(JP-TK): fix "No recent data found for consumptionForecast parser" warning
  DATA_SOURCES.md
  parsers/JP.py
Labels: parser

#4354 fix(KR): correct the price value unit from Won/kWh to Won/MWh
  parsers/KR.py
Labels: parser

#4355 Update sv.json
  web/public/locales/en.json
  web/public/locales/sv.json
Labels: translations 🗣

#4364 fix(GCCIA): fix consumption data fetch for AE, BH, OM, QA, and SA
  parsers/GCCIA.py
Labels: parser

#4360 Average by source
  web/public/locales/en.json
  web/public/locales/sv.json
  web/src/layout/leftpanel/countrypanel.jsx
Labels: frontend 🎨, translations 🗣

#4385 Add data issue form and issue config
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/data-issue.yml
Labels: infrastructure

#4374 Fix mobile issues
  mobileapp/config.xml
  mobileapp/package-lock.json
  mobileapp/package.json
  web/src/components/mobilelayerbuttons.jsx
  web/src/components/sharedheader.jsx
  web/src/cordova.js
  web/src/layout/header.jsx
  web/src/layout/leftpanel/countrypanel.jsx
  web/src/layout/leftpanel/index.jsx
  web/src/layout/main.jsx
  web/src/layout/responsiveSheet.jsx
Labels: frontend 🎨, mobile app 📱, dependencies

#4363 New production parser for South Africa
  DATA_SOURCES.md
  config/co2eq_parameters_all.json
  config/zones.json
  parsers/ZA.py
Labels: parser

#4400 Fix mobile brick build
  mobileapp/package-lock.json
  mobileapp/package.json
Labels: mobile app 📱, dependencies

#4392 fix(TH): fix `fetch_consumption()` return type error
  parsers/TH.py
Labels: parser

#4391 fix(BY): fix a typo in the base URL to fix the `BY->RU-1` exchange
  parsers/RU.py
Labels: parser

#4394 refactor(parsers): replace `RuntimeError` with `ParserException` for better error message
  parsers/AW.py
  parsers/BD.py
  parsers/CL.py
  parsers/FO.py
  parsers/occtonet.py
Labels: parser
