Repository electricitymaps/electricitymaps-contrib, pull requests merged in 2022-04, with the labels that each got.

#3930 Makes translation path absolute (to fix issues when changing language on a zone)
  web/src/helpers/i18n.js
Labels: frontend 🎨

#3929 Moves message so it's not repeated and improves it
  web/src/layout/main.js
  web/src/main.js
Labels: frontend 🎨

#3901 Removes NZ-NZN and NZ-NZS
  config/exchanges.json
  config/zones.json
  mockserver/public/v4/state
  parsers/NZ.py
  web/public/locales/ar.json
  web/public/locales/cs.json
  web/public/locales/de.json
  web/public/locales/el.json
  web/public/locales/en.json
  web/public/locales/es.json
  web/public/locales/et.json
  web/public/locales/fi.json
  web/public/locales/fr.json
  web/public/locales/hr.json
  web/public/locales/id.json
  web/public/locales/it.json
  web/public/locales/ja.json
  web/public/locales/ko.json
  web/public/locales/no-nb.json
  web/public/locales/pl.json
  web/public/locales/pt-br.json
  web/public/locales/ro.json
  web/public/locales/ru.json
  web/public/locales/sk.json
  web/public/locales/sv.json
  web/public/locales/vi.json
  web/public/locales/zh-cn.json
  web/public/locales/zh-hk.json
  web/public/locales/zh-tw.json
Labels: parser, translations 🗣

#3926 Update co2eq parameters with generalised yearly aggregates
  config/co2eq_parameters.test.js
  config/co2eq_parameters_all.json
  config/co2eq_parameters_direct.json
  config/co2eq_parameters_lifecycle.json
  parsers/test/test_config.py
Labels: parser

#3939 Fix translations on phones - again 🙃
  web/src/helpers/i18n.js
Labels: frontend 🎨

#3941 Fix missing "data is estimated" text
  web/src/layout/leftpanel/countrypanel.js
Labels: frontend 🎨

#3934 Map works with minimized state files
  mockserver/public/v4/state
  web/src/hooks/redux.js
Labels: frontend 🎨

#3948 Changes casing of regional locale files (from pt-br to pt-BR)
  mobileapp/www/index.html
  web/locales-config.json
  web/public/locales/README.md
  web/public/locales/no-NB.json
  web/public/locales/pt-BR.json
  web/public/locales/zh-CN.json
  web/public/locales/zh-HK.json
  web/public/locales/zh-TW.json
Labels: mobile app 📱, translations 🗣

#3951 Additional ENTSO-E parsers for GE and switched `GE->RU-1` from ru parser to ENTSO-E.
  config/exchanges.json
  config/zones.json
  parsers/ENTSOE.py
Labels: parser

#3956 ENTSOE price overrides cleanup
  parsers/ENTSOE.py
Labels: parser

#3923 Updates Plausible events
  web/src/components/onboardingmodal.js
  web/src/components/sharedheader.js
  web/src/components/zonelist.js
  web/src/hooks/tracking.js
  web/src/layout/header.js
  web/src/layout/leftpanel/countrypanel.js
  web/src/layout/leftpanel/index.js
  web/src/layout/map.js
  web/src/sagas/index.js
  web/src/services/thirdparty.js
  web/src/services/thirdparty/mixpanel.js
  web/src/services/thirdparty/plausible.js
Labels: frontend 🎨

#3966 Update German locale
  web/public/locales/de.json
Labels: translations 🗣

#3960 SEO 24/7
  web/public/locales/en.json
  web/views/pages/index.ejs
Labels: translations 🗣

#3975 chore: Flag missing space between header on country tooltip
  web/src/components/tooltips/common.js
Labels: frontend 🎨

#3862 Adds Snowpack for speedy local development ⚡
  .dockerignore
  docker-compose.yml
  web/package.json
  web/public/index.html
  web/snowpack.config.mjs
  web/src/components/languageselect.js
  web/src/components/zonemap.js
  web/src/helpers/api.js
  web/src/helpers/constants.js
  web/src/helpers/i18n.js
  web/src/index.jsx
  web/src/scss/styles.scss
  web/webpack.config.js
  web/yarn.lock
Labels: frontend 🎨

#3961 Font optimizations
  web/public/fonts/OpenSans-Bold.woff2
  web/public/fonts/OpenSans-Regular.woff2
  web/public/index.html
  web/src/scss/EuclidTriangleFont.scss
  web/src/scss/MaterialIcons.scss
  web/src/scss/OpenSansFont.scss
  web/src/scss/styles.scss
  web/views/pages/index.ejs
Labels: frontend 🎨

#3932 Add Sri Lanka
  DATA_SOURCES.md
  config/zones.json
  parsers/LK.py
Labels: parser

#3978 Add support for FR-COR real-time data to FR_O parser
  config/zones.json
  parsers/FR_O.py
Labels: parser

#3977 feat(parser): enable GT historical data retrieval
  config/zones.json
  parsers/GT.py
Labels: parser

#3983 Reactivate plausible
  web/src/services/thirdparty/plausible.js
Labels: frontend 🎨

#3992 feat(parser): implement historical and consumption data retrieval
  config/zones.json
  parsers/MY_WM.py
Labels: parser

#3962 chore(parser): fetch CSV instead of HTML in CA-AB
  parsers/CA_AB.py
Labels: parser

#3991 Updates parsers to use new proxy structure
  parsers/US_CA.py
  parsers/US_PREPA.py
Labels: parser

#3957 GE: retrieve historical exchange data via ENTSOE
  parsers/GE.py
Labels: parser

#3969 Update Panama Renewable Capacities
  DATA_SOURCES.md
  config/zones.json
Labels: change requested

#3974 fix: Language selector overlapping
  web/src/components/languageselect.js
  web/src/scss/content/map/_controls.scss
Labels: frontend 🎨

#3965 improve: Cyprus geometries
  web/geo/world.geojson
  web/src/world.json
Labels: frontend 🎨

#4009 Makes the "no data available" work again
  web/src/layout/leftpanel/countrypanel.js
  web/src/reducers/dataReducer.js
Labels: frontend 🎨

#3972 Added Indonesia Renewable Capacities
  DATA_SOURCES.md
  config/zones.json
Labels: change requested

#4048 Update CH solar capacity
  config/zones.json
  parsers/CH.py
  parsers/test/test_CH.py
Labels: parser, tests

#4043 Reduce expected range for Slovenia down to 800MW
  parsers/ENTSOE.py
Labels: parser

#4050 Fix mechanism to get date in CH production parser
  parsers/CH.py
Labels: parser

#4002 Thailand 🇹🇭 Capacities/Pricing/Production(total)
  DATA_SOURCES.md
  config/co2eq_parameters_all.json
  config/co2eq_parameters_direct.json
  config/co2eq_parameters_lifecycle.json
  config/exchanges.json
  config/zones.json
  parsers/TH.py
Labels: parser
