Repository electricitymaps/electricitymaps-contrib, pull requests merged in 2022-11, with the labels that each got.

#4732 Add US-NW-SCL geometry
  web/geo/world.geojson
  web/src/config/world.json
Labels: frontend 🎨

#4738 Migrate web
  Earthfile
  config/Earthfile
  web/.prettierignore
  web/Earthfile
Labels: frontend 🎨

#4746 run CI only on master pushes
  .github/workflows/CI.yml
Labels: infrastructure

#4742 New parser for French overseas territories
  config/zones/FR-COR.yaml
  config/zones/GF.yaml
  config/zones/GP.yaml
  config/zones/MQ.yaml
  config/zones/RE.yaml
  parsers/FR_O.py
  parsers/test/mocks/FR_O/FR_GP.json
  parsers/test/mocks/FR_O/__init__.py
  parsers/test/test_FR_O.py
Labels: parser, tests, zone config

#4749 Fix negative prices display
  web/src/components/countryhistorypricesgraph.jsx
  web/src/components/graph/areagraph.jsx
Labels: frontend 🎨

#4748 Fix areagraph for missing data
  web/src/components/graph/areagraphlayers.jsx
Labels: frontend 🎨

#4758 Mounts secret during build
  web/Earthfile
  web/src/helpers/api.js
Labels: frontend 🎨

#4754 Adjust SE-SE3 and SE-SE4 border
  config/exchanges/SE-SE3_SE-SE4.yaml
  config/zones/SE-SE3.yaml
  config/zones/SE-SE4.yaml
  web/geo/world.geojson
  web/src/config/world.json
Labels: frontend 🎨, zone config, exchange config

#4757 Add `US-SE-SOCO` to `US` subZones
  config/zones/US.yaml
  web/src/config/world.json
Labels: frontend 🎨, zone config

#4755 Round geopoints to 10 meter accuracy
  web/geo/update-world.js
  web/geo/utilities.js
  web/src/config/world.json
Labels: frontend 🎨, performance 🏎

#4743 US translation strings
  web/public/locales/de.json
  web/public/locales/el.json
  web/public/locales/en.json
  web/public/locales/es.json
  web/public/locales/et.json
  web/public/locales/fi.json
  web/public/locales/fr.json
  web/public/locales/id.json
  web/public/locales/it.json
  web/public/locales/ja.json
  web/public/locales/ko.json
  web/public/locales/pt-BR.json
  web/public/locales/sv.json
Labels: translations 🗣

#4765 SE unknown regional emission factors
  config/zones/SE-SE1.yaml
  config/zones/SE-SE2.yaml
  config/zones/SE-SE3.yaml
  config/zones/SE-SE4.yaml
  config/zones/SE.yaml
Labels: zone config

#4766 Md/ele 1406 development zone in west
  config/exchanges/IN-EA_IN-WE.yaml
  config/exchanges/IN-NO_IN-WE.yaml
  config/exchanges/IN-SO_IN-WE.yaml
  config/retired_zones/IN-AP.yaml
  config/retired_zones/IN-AR.yaml
  config/retired_zones/IN-AS.yaml
  config/retired_zones/IN-BR.yaml
  config/retired_zones/IN-CT.yaml
  config/retired_zones/IN-DN.yaml
  config/retired_zones/IN-GA.yaml
  config/retired_zones/IN-GJ.yaml
  config/retired_zones/IN-HR.yaml
  config/retired_zones/IN-JH.yaml
  config/retired_zones/IN-JK.yaml
  config/retired_zones/IN-KL.yaml
  config/retired_zones/IN-ML.yaml
  config/retired_zones/IN-MN.yaml
  config/retired_zones/IN-MP.yaml
  config/retired_zones/IN-MZ.yaml
  config/retired_zones/IN-NL.yaml
  config/retired_zones/IN-OR.yaml
  config/retired_zones/IN-PY.yaml
  config/retired_zones/IN-RJ.yaml
  config/retired_zones/IN-SK.yaml
  config/retired_zones/IN-TN.yaml
  config/retired_zones/IN-TR.yaml
  config/retired_zones/IN-WB.yaml
  config/retired_zones/README.md
  config/zones/IN-EA.yaml
  config/zones/IN-NE.yaml
  config/zones/IN-NO.yaml
  config/zones/IN-SO.yaml
  config/zones/IN-WE.yaml
  parsers/IN_WE.py
  parsers/archived/IN_AP.py
  parsers/archived/IN_CT.py
  parsers/archived/IN_GJ.py
  parsers/test/test_IN_AP.py
  poetry.lock
  pyproject.toml
  web/geo/world.geojson
  web/src/config/world.json
Labels: frontend 🎨, parser, dependencies, tests, zone config, exchange config

#4778 add US-FLA-HST to byPassedZones
  config/zones/US.yaml
Labels: zone config

#4779 Repair real-time-electricity-data-sources link
  web/src/layout/leftpanel/countrypanel/countryDetails.jsx
Labels: frontend 🎨

#4783 Add support for no content response for IN-WE
  parsers/IN_WE.py
Labels: parser

#4784 [Fix] Merge again zones that were demerged from the us
  parsers/EIA.py
  web/geo/generate-topojson.js
  web/geo/world.geojson
  web/src/config/world.json
Labels: frontend 🎨, parser

#4785 Improve US-CENT-SWPP load parser
  parsers/US_SPP.py
Labels: parser

#4786 Remove decomissioned US-MIDW-GLHB zone
  config/exchanges/US-MIDW-GLHB_US-MIDW-LGEE.yaml
  config/exchanges/US-MIDW-GLHB_US-MIDW-MISO.yaml
  config/exchanges/US-MIDW-GLHB_US-TEN-TVA.yaml
  config/zones/US-MIDW-GLHB.yaml
  config/zones/US.yaml
  mockserver/public/v4/state
  mockserver/public/v5/state/daily.json
  mockserver/public/v5/state/hourly.json
  mockserver/public/v5/state/monthly.json
  mockserver/public/v5/state/yearly.json
  parsers/EIA.py
  web/geo/world.geojson
  web/public/locales/de.json
  web/public/locales/el.json
  web/public/locales/en.json
  web/public/locales/es.json
  web/public/locales/et.json
  web/public/locales/fi.json
  web/public/locales/fr.json
  web/public/locales/id.json
  web/public/locales/it.json
  web/public/locales/ja.json
  web/public/locales/ko.json
  web/public/locales/no-NB.json
  web/public/locales/pt-BR.json
  web/public/locales/ro.json
  web/public/locales/sv.json
  web/src/config/excluded-aggregated-exchanges.json
  web/src/config/world.json
Labels: frontend 🎨, parser, translations 🗣, zone config, exchange config

#4795 fix_in_parser
  parsers/IN_WE.py
Labels: parser

#4797 Update prettier to 2.8.0
  web/package.json
  web/yarn.lock
Labels: frontend 🎨, dependencies

#4787 restore SE-SE3 SE-SE4 border change
  web/geo/world.geojson
  web/src/config/world.json
Labels: frontend 🎨

#4799 In we change exchange direction
  config/exchanges/IN-EA_IN-WE.yaml
  config/exchanges/IN-NO_IN-WE.yaml
  config/exchanges/IN-SO_IN-WE.yaml
Labels: exchange config

#4800 Italian interconnectors disappear when toggling country aggregation #4767
  config/exchanges/IT_ME.yaml
Labels: exchange config

#4802 Adds tracking of interacting with layer buttons
  web/src/layout/layerbuttons.jsx
Labels: frontend 🎨

#4803 Fix arrow drag
  web/src/components/exchangearrow.jsx
Labels: frontend 🎨

#4801 Update CI to run verify on zone & exchange changes
  .github/workflows/CI.yml
  web/geo/generate-exchanges-to-exclude.js
  web/geo/update-world.js
  web/src/config/excluded-aggregated-exchanges.json
Labels: frontend 🎨, infrastructure

#4750 Minimize generated `zones.json` and `exchanges.json` by excluding unused objects and keys
  web/generate-zones-config.js
  web/src/helpers/redux.js
  web/src/reducers/dataReducer.test.js
Labels: frontend 🎨, performance 🏎

#4807 Change CI to use config + frontend instead of geometries for verify
  .github/workflows/CI.yml
Labels: infrastructure

#4818 Update US config
  config/zones/US.yaml
Labels: zone config
