Repository electricitymaps/electricitymaps-contrib, pull requests merged in 2022-08, with the labels that each got.

#4405 Bump dependencies for python 3.10 compat
  poetry.lock
  pyproject.toml
Labels: dependencies, techdebt, python

#4437 update FO capacities
  config/zones.json
Labels: capacity

#4417 Simplify data issue form
  .github/ISSUE_TEMPLATE/data-issue.yml
Labels: infrastructure

#4410 Update meta data to Electricity Maps
  .github/ISSUE_TEMPLATE/config.yml
  README.md
  mobileapp/config.xml
  parsers/AW.py
  pyproject.toml
  web/package.json
  web/public/index.html
  web/public/locales/cs.json
  web/public/locales/de.json
  web/public/locales/el.json
  web/public/locales/en.json
  web/public/locales/es.json
  web/public/locales/et.json
  web/public/locales/fi.json
  web/public/locales/fr.json
  web/public/locales/hr.json
  web/public/locales/id.json
  web/public/locales/it.json
  web/public/locales/ja.json
  web/public/locales/ko.json
  web/public/locales/nl.json
  web/public/locales/no-NB.json
  web/public/locales/pl.json
  web/public/locales/pt-BR.json
  web/public/locales/ro.json
  web/public/locales/ru.json
  web/public/locales/sk.json
  web/public/locales/sv.json
  web/public/locales/vi.json
  web/public/locales/zh-CN.json
  web/server.js
  web/src/components/faq.jsx
  web/src/components/infomodal.jsx
  web/src/components/openpositionsbadge.jsx
  web/src/components/sharedheader.jsx
  web/src/helpers/api.js
  web/src/helpers/i18n.js
  web/src/index.jsx
  web/src/layout/header.jsx
  web/src/layout/leftpanel/countrypanel.jsx
  web/src/layout/leftpanel/mobileinfotab.jsx
  web/src/layout/leftpanel/socialbuttons.jsx
  web/views/pages/index.ejs
Labels: frontend 🎨, parser, mobile app 📱, dependencies, translations 🗣, infrastructure

#4431 Handle grid and zone request failure and retry
  web/README.md
  web/src/components/retrybanner.jsx
  web/src/helpers/constants.js
  web/src/helpers/redux.js
  web/src/layout/leftpanel/countrypanel.jsx
  web/src/layout/main.jsx
  web/src/reducers/dataReducer.js
  web/src/scss/components/_messaging.scss
Labels: frontend 🎨

#4445 Add validation rule for ensuring that the netFlow key is present in the parser event
  parsers/lib/quality.py
Labels: parser

#4444 Ensure data contains netflow for AX
  parsers/AX.py
Labels: parser

#4446 use .org for api
  web/public/index.html
  web/src/helpers/api.js
Labels: frontend 🎨

#4447 Use static.electricitymap.org
  web/server.js
Labels: frontend 🎨

#4425 Style price graph
  web/src/components/countryhistorypricesgraph.jsx
Labels: frontend 🎨

#4418 Fix ZA production format error
  parsers/ZA.py
Labels: parser

#4321 Update Albania generation capacity
  DATA_SOURCES.md
  config/zones.json
Labels: capacity

#4402 Updated Data Source for the Philippines
  DATA_SOURCES.md
  config/zones.json
Labels: capacity

#4454 Fixed elexon parser
  parsers/ELEXON.py
Labels: parser

#4449 Authorise LU not to have any fossil production
  parsers/lib/quality.py
  validators/zone_specific_checks.py
Labels: parser

#4455 Parser bugfixes for CY and AW
  parsers/AW.py
  parsers/CY.py
Labels: parser

#3936 Split Sweden into subzones.
  DATA_SOURCES.md
  config/co2eq_parameters_lifecycle.json
  config/exchanges.json
  config/zones.json
  parsers/AX.py
  parsers/DK.py
  parsers/DK_BHM.py
  parsers/ENTSOE.py
  tests/test_config_model.py
  web/geo/update-world.js
  web/geo/utilities.js
  web/geo/validate.js
  web/geo/world.geojson
  web/public/locales/en.json
  web/public/locales/sv.json
  web/src/reducers/dataReducer.test.js
  web/src/world.json
Labels: frontend 🎨, parser, translations 🗣, tests

#4450 Create parser wrapper for `FR-COR->IT-SAR`
  config/exchanges.json
  parsers/ENTSOE.py
  parsers/FR-COR_IT-SAR.py
Labels: parser

#4422 Properly re-render map upon updates
  web/src/components/zonemap.jsx
  web/src/hooks/theme.js
Labels: frontend 🎨

#4461 Update the generation of zone neighbours
  electricitymap/contrib/config/__init__.py
  tests/test_config.py
Labels: tests

#4462 Update ENTSO-E REST API endpoint
  parsers/ENTSOE.py
Labels: parser

#4318 Add Ceuta and Melilla and split Faroe Islands
  DATA_SOURCES.md
  config/co2eq_parameters_all.json
  config/co2eq_parameters_direct.json
  config/co2eq_parameters_lifecycle.json
  config/zones.json
  parsers/ES.py
  parsers/FO.py
  web/geo/world.geojson
  web/public/locales/cs.json
  web/public/locales/da.json
  web/public/locales/de.json
  web/public/locales/el.json
  web/public/locales/en.json
  web/public/locales/es.json
  web/public/locales/et.json
  web/public/locales/fi.json
  web/public/locales/fr.json
  web/public/locales/hr.json
  web/public/locales/id.json
  web/public/locales/it.json
  web/public/locales/nl.json
  web/public/locales/no-NB.json
  web/public/locales/pl.json
  web/public/locales/pt-BR.json
  web/public/locales/ro.json
  web/public/locales/sk.json
  web/public/locales/sv.json
  web/public/locales/vi.json
  web/src/world.json
Labels: help wanted, frontend 🎨, parser, translations 🗣

#4463 Fix EIA parser datetime import
  parsers/EIA.py
Labels: parser

#4465 Add generate exchanges for the config
  electricitymap/contrib/config/__init__.py
  tests/test_config.py
Labels: tests

#4466 Fix zone neighbours generation
  electricitymap/contrib/config/__init__.py
  tests/test_config.py
Labels: tests

#4474 Add PL locales for aggregated data and time controller
  web/public/locales/pl.json
Labels: translations 🗣

#4479 electricitymap_social_image.png
  web/public/images/electricitymap_social_image.png
Labels: frontend 🎨

#4469 Revert se split and exchanges config updates
  DATA_SOURCES.md
  config/co2eq_parameters_lifecycle.json
  config/exchanges.json
  config/zones.json
  electricitymap/contrib/config/__init__.py
  parsers/AX.py
  parsers/DK.py
  parsers/DK_BHM.py
  parsers/ENTSOE.py
  tests/test_config.py
  tests/test_config_model.py
  web/geo/update-world.js
  web/geo/utilities.js
  web/geo/validate.js
  web/geo/world.geojson
  web/public/locales/en.json
  web/public/locales/sv.json
  web/src/world.json
Labels: frontend 🎨, parser, translations 🗣, tests

#4448 Fixes time slider appearing over loading screen
  web/src/layout/main.jsx
  web/src/layout/responsiveSheet.jsx
Labels: frontend 🎨

#4438 Dynamic Loading Screen
  web/public/images/electricitymap-loading-icon.svg
  web/public/images/electricitymap-loading.svg
  web/src/components/loadingoverlay.jsx
  web/src/components/loadingplaceholder.jsx
Labels: frontend 🎨

#4478 Update neighbours
  electricitymap/contrib/config/__init__.py
  tests/test_config.py
Labels: tests

#4457 Use ENTSO-E for Nordic and Baltic exchanges
  config/exchanges.json
  parsers/ENTSOE.py
  parsers/NL.py
  parsers/NO-NO4_SE.py
  parsers/statnett.py
Labels: parser

#4495 Italian translation update strings and style
  web/public/locales/it.json
Labels: translations 🗣

#4497 Return if source not loaded yet
  web/src/components/zonemap.jsx
  web/src/layout/map.jsx
Labels: frontend 🎨

#4498 Revert "Update neighbours (#4478)"
  electricitymap/contrib/config/__init__.py
  tests/test_config.py
Labels: tests

#4501 FR prices
  config/zones.json
  parsers/FR.py
Labels: parser

#4502 Update zone neighbours
  electricitymap/contrib/config/__init__.py
  tests/test_config.py
Labels: tests

#4503 SEO index .com instead of .org
  web/server.js
Labels: frontend 🎨

#4505 Update capacity for Luxembourg
  DATA_SOURCES.md
  config/zones.json
Labels: capacity

#4491 Allow missing entries in data
  mockserver/public/v5/history/DK-DK2/daily.json
  mockserver/public/v5/history/DK-DK2/hourly.json
  mockserver/public/v5/history/DK-DK2/monthly.json
  mockserver/public/v5/history/DK-DK2/yearly.json
  mockserver/public/v5/history/UA/monthly.json
  mockserver/public/v5/history/UA/yearly.json
  mockserver/public/v5/history/daily.json
  mockserver/public/v5/history/hourly.json
  mockserver/public/v5/history/monthly.json
  mockserver/public/v5/history/yearly.json
  mockserver/public/v5/state/daily.json
  mockserver/public/v5/state/hourly.json
  mockserver/public/v5/state/monthly.json
  mockserver/public/v5/state/yearly.json
  web/cypress/integration/timeslider.spec.js
  web/src/components/countryhistorycarbongraph.jsx
  web/src/components/countrytableoverlayifnodata.jsx
  web/src/helpers/redux.js
  web/src/layout/leftpanel/countrypanel.jsx
  web/src/layout/leftpanel/countrypanel/countryDetails.jsx
  web/src/layout/leftpanel/countrypanel/countryHeader.jsx
  web/src/layout/leftpanel/countrypanel/countryLowCarbonGauge.jsx
  web/src/layout/leftpanel/countrypanel/countryOverview.jsx
  web/src/layout/leftpanel/countrypanel/countryRenewableGauge.jsx
  web/src/layout/leftpanel/countrypanel/index.jsx
Labels: frontend 🎨

#4393 Update mobile assets and copy
  mobileapp/BUILD.yaml
  mobileapp/config.xml
  mobileapp/icon.foreground.png
  mobileapp/icon_android_legacy.png
  mobileapp/icon_ios.png
  mobileapp/package-lock.json
  mobileapp/package.json
  mobileapp/res/screen/ios/Default@2x~universal~anyany.png
  web/public/images/apple-icon-180x180.png
  web/public/images/electricitymap-favicon-dark-light_old.svg
  web/public/images/electricitymap-icon-maskable_old.svg
  web/public/images/favicon.ico
  web/public/images/icon_noborder_small.png
  web/public/images/ms-icon-144x144.png
  web/public/images/ms-icon-150x150.png
  web/public/images/ms-icon-70x70.png
  web/public/images/onboarding/electricymapLogoIcon.svg
Labels: frontend 🎨, mobile app 📱, dependencies

#4496 Add Norway (NO) solar capacity
  DATA_SOURCES.md
  config/zones.json
Labels: capacity
