Repository electricitymaps/electricitymaps-contrib, pull requests merged in 2022-03, with the labels that each got.

#3828 www.ssen.co.uk -> distribution.ssen.co.uk
  parsers/GB_ORK.py
Labels: parser

#3834 allow 10% unknown values (up from 2%) for AW
  parsers/AW.py
Labels: parser

#3838 Moves client-version check from server to static files
  web/BUILD.yaml
  web/package.json
  web/public/client-version.json
  web/server.js
  web/src/layout/main.js
  web/webpack.config.js
Labels: frontend 🎨

#3841 Supports file:// protocol on iOS
  mobileapp/config.xml
  mobileapp/package.json
Labels: mobile app 📱

#3839 Simplifies functionality for getting a zone/country name
  web/src/components/tooltips/common.js
  web/src/components/tooltips/countrypanelexchangetooltip.js
  web/src/components/tooltips/countrypanelproductiontooltip.js
  web/src/components/tooltips/mapcountrytooltip.js
  web/src/components/tooltips/mapexchangetooltip.js
  web/src/components/zonelist.js
  web/src/helpers/translation.js
  web/src/layout/leftpanel/countrypanel.js
  web/src/reducers/dataReducer.js
Labels: frontend 🎨

#3842 Adds new translation setup
  web/package.json
  web/src/helpers/i18n.js
  web/src/helpers/router.js
  web/src/main.js
  web/yarn.lock
Labels: frontend 🎨

#3822 Updates mockserver to node.js and remove /v3
  .circleci/config.yml
  .gitignore
  docker-compose.yml
  mockserver/Dockerfile
  mockserver/package.json
  mockserver/public/v3/state
  mockserver/public/v4/history
  mockserver/public/v4/history_DK-DK2
  mockserver/server.js
  mockserver/server.py
  mockserver/update_state.py
  mockserver/yarn.lock
  web/package.json
Labels: mobile app 📱

#3865 Change to Plausible
  mobileapp/README.md
  web/src/hooks/tracking.js
  web/src/layout/map.js
  web/src/main.js
  web/src/services/thirdparty.js
  web/src/services/thirdparty/ga.js
  web/src/services/thirdparty/plausible.js
  web/src/services/thirdparty/twitter.js
  web/views/pages/index.ejs
Labels: frontend 🎨, mobile app 📱

#3895 Fixes bug with emission-factors after changing to yearly co2eq-parameters
  electricitymap/contrib/config/__init__.py
  parsers/test/test_config.py
Labels: parser

#3875 improve: Optimize contributors avatar size
  web/src/components/contributorlist.js
Labels: frontend 🎨

#3900 Fixes OPENNEM (Australia) exchanges
  parsers/OPENNEM.py
Labels: parser

#3873 Creates shared SocialButtons component
  web/src/layout/leftpanel/countrypanel.js
  web/src/layout/leftpanel/infotext.js
  web/src/layout/leftpanel/mobileinfotab.js
  web/src/layout/leftpanel/socialbuttons.js
  web/src/layout/leftpanel/zonedetailspanel.js
  web/src/scss/components/_meta.scss
Labels: frontend 🎨

#3897 Removes analytics from app
  mobileapp/config.xml
  mobileapp/package-lock.json
  mobileapp/package.json
Labels: mobile app 📱

#3903 Change "natural gas" to "gas"
  web/public/locales/en.json
Labels: translations 🗣

#3898 fix(parser): fix the NG parser
  DATA_SOURCES.md
  config/zones.json
  parsers/NG.py
Labels: parser

#3871 Update co2eq parameters with yearly zone overrides
  config/co2eq_parameters.test.js
  config/co2eq_parameters_all.json
  config/co2eq_parameters_lifecycle.json
  electricitymap/contrib/config/__init__.py
  parsers/test/test_config.py
Labels: parser

#3918 chore(parser): enable cert verification in GB-ORK
  parsers/GB_ORK.py
Labels: parser

#3910 Change tmrow to electricityMap
  README.md
  config/co2eq_parameters_all.json
  config/co2eq_parameters_lifecycle.json
  web/public/images/tomorrow.svg
  web/public/locales/cs.json
  web/public/locales/da.json
  web/public/locales/de.json
  web/public/locales/el.json
  web/public/locales/en.json
  web/public/locales/es.json
  web/public/locales/et.json
  web/public/locales/fi.json
  web/public/locales/fr.json
  web/public/locales/hr.json
  web/public/locales/id.json
  web/public/locales/it.json
  web/public/locales/ja.json
  web/public/locales/ko.json
  web/public/locales/nl.json
  web/public/locales/pl.json
  web/public/locales/pt-br.json
  web/public/locales/ro.json
  web/public/locales/ru.json
  web/public/locales/sk.json
  web/public/locales/sv.json
  web/public/locales/vi.json
Labels: translations 🗣

#3922 Sv language updates
  web/public/locales/sv.json
Labels: translations 🗣

#3914 Disable GE certificate verification and refactor (#3831)
  DATA_SOURCES.md
  config/zones.json
  parsers/GE.py
Labels: parser

#3874 Adds loading indicator while fetching history
  web/src/layout/leftpanel/countrypanel.js
  web/src/scss/layout/_left-panel.scss
Labels: frontend 🎨

#3843 Uses new translation approach
  web/src/components/carbonintensitysquare.js
  web/src/components/colorblindcheckbox.js
  web/src/components/countryestimationlabel.js
  web/src/components/countrytable.js
  web/src/components/countrytableoverlayifnodata.js
  web/src/components/faq.js
  web/src/components/graph/timeaxis.js
  web/src/components/languageselect.js
  web/src/components/onboardingmodal.js
  web/src/components/tooltips/countrypanelemissionstooltip.js
  web/src/components/tooltips/countrypanelexchangetooltip.js
  web/src/components/tooltips/countrypanelproductiontooltip.js
  web/src/components/tooltips/lowcarboninfotooltip.js
  web/src/components/tooltips/mapcountrytooltip.js
  web/src/components/tooltips/mapexchangetooltip.js
  web/src/components/zonelist.js
  web/src/components/zonemap.js
  web/src/helpers/translation.js
  web/src/layout/layerbuttons.js
  web/src/layout/leftpanel/countrypanel.js
  web/src/layout/leftpanel/faqpanel.js
  web/src/layout/leftpanel/infotext.js
  web/src/layout/leftpanel/mobileinfotab.js
  web/src/layout/leftpanel/socialbuttons.js
  web/src/layout/leftpanel/zonelistpanel.js
  web/src/layout/legend.js
  web/src/layout/main.js
  web/src/layout/map.js
  web/src/layout/tabs.js
  web/src/reducers/index.js
Labels: frontend 🎨, BLOCKED

#3909 refactor: replace deprecated String.prototype.substr()
  mobileapp/www/index.html
Labels: mobile app 📱
