Repository electricitymaps/electricitymaps-contrib, pull requests merged in 2022-06, with the labels that each got.

#4208 [historical view] Enable country panel for other time aggregates part 1
  web/src/components/timeControls.jsx
  web/src/components/tooltips/timeslidertooltip.jsx
  web/src/helpers/constants.js
  web/src/helpers/formatting.js
  web/src/layout/leftpanel/countrypanel.jsx
  web/src/reducers/index.js
Labels: frontend 🎨

#4209 [historical view] Enable country panel for other time aggregates part 2
  web/src/components/graph/areagraph.jsx
  web/src/components/graph/timeaxis.jsx
  web/src/components/timeControls.jsx
  web/src/components/timeslider_new.jsx
Labels: frontend 🎨

#4215 Move estimated data info box
  web/src/components/countryEstimatedDataInfo.jsx
  web/src/layout/leftpanel/countrypanel.jsx
Labels: frontend 🎨

#4210 [historical-view] Enable country panel for other time aggregates part 3
  web/public/locales/ar.json
  web/public/locales/cs.json
  web/public/locales/da.json
  web/public/locales/de.json
  web/public/locales/el.json
  web/public/locales/en.json
  web/public/locales/es.json
  web/public/locales/et.json
  web/public/locales/fi.json
  web/public/locales/fr.json
  web/public/locales/hr.json
  web/public/locales/id.json
  web/public/locales/it.json
  web/public/locales/ja.json
  web/public/locales/ko.json
  web/public/locales/nl.json
  web/public/locales/no-NB.json
  web/public/locales/pl.json
  web/public/locales/pt-BR.json
  web/public/locales/ro.json
  web/public/locales/ru.json
  web/public/locales/sk.json
  web/public/locales/sv.json
  web/public/locales/vi.json
  web/public/locales/zh-CN.json
  web/public/locales/zh-HK.json
  web/public/locales/zh-TW.json
  web/src/components/countryhistorytitle.jsx
  web/src/layout/leftpanel/countrypanel.jsx
Labels: frontend 🎨, translations 🗣

#4211 [historical view] Enable country panel for other time aggregates part 4
  web/src/components/countryhistorycarbongraph.jsx
  web/src/components/countryhistoryemissionsgraph.jsx
  web/src/components/countryhistorymixgraph.jsx
  web/src/components/countryhistorypricesgraph.jsx
  web/src/components/timeslider_new.jsx
  web/src/components/tooltips/countrypanelproductiontooltip.jsx
  web/src/hooks/fetch.js
  web/src/layout/timeController.jsx
  web/src/reducers/dataReducerForHistoryFeature.js
  web/src/sagas/index.js
Labels: frontend 🎨, translations 🗣

#4206 Simplify Icons
  web/public/images/icon-sprite.svg
  web/public/images/material-icon-sprite.svg
  web/src/components/icon.jsx
  web/src/components/onboardingmodal.jsx
  web/src/layout/leftpanel/countrypanel.jsx
  web/src/layout/tabs.jsx
  web/src/scss/_base.scss
  web/src/scss/components/_modal.scss
  web/src/scss/content/panel/_country-panel.scss
  web/src/scss/layout/_footer.scss
Labels: frontend 🎨

#4221 Add react-is and babel-plugin-styled-components
  web/.babelrc
  web/package.json
  web/yarn.lock
Labels: frontend 🎨, dependencies

#4224 Fix some bugs
  web/src/components/graph/areagraph.jsx
  web/src/components/graph/timeaxis.jsx
  web/src/components/timeslider_new.jsx
  web/src/components/zonemap.jsx
  web/src/helpers/constants.js
  web/src/helpers/formatting.js
  web/src/hooks/fetch.js
  web/src/hooks/redux.js
  web/src/layout/leftpanel/countrypanel.jsx
  web/src/layout/timeController.jsx
  web/src/reducers/dataReducerForHistoryFeature.js
  web/src/sagas/index.js
Labels: frontend 🎨

#4218 Adds legal links to FAQ section
  web/public/locales/en.json
  web/src/components/faq.jsx
Labels: frontend 🎨, translations 🗣

#4214 Virtualize zonelist
  web/package.json
  web/src/components/zonelist.jsx
  web/src/reducers/dataReducer.js
  web/src/reducers/dataReducerForHistoryFeature.js
  web/src/scss/content/panel/_zone-list.scss
  web/yarn.lock
Labels: frontend 🎨, performance 🏎, dependencies

#4220 Enables history view for countryPanel
  web/public/locales/ar.json
  web/public/locales/cs.json
  web/public/locales/da.json
  web/public/locales/de.json
  web/public/locales/el.json
  web/public/locales/en.json
  web/public/locales/es.json
  web/public/locales/et.json
  web/public/locales/fi.json
  web/public/locales/fr.json
  web/public/locales/hr.json
  web/public/locales/id.json
  web/public/locales/it.json
  web/public/locales/ja.json
  web/public/locales/ko.json
  web/public/locales/nl.json
  web/public/locales/no-NB.json
  web/public/locales/pl.json
  web/public/locales/pt-BR.json
  web/public/locales/ro.json
  web/public/locales/ru.json
  web/public/locales/sk.json
  web/public/locales/sv.json
  web/public/locales/vi.json
  web/public/locales/zh-CN.json
  web/public/locales/zh-HK.json
  web/public/locales/zh-TW.json
  web/src/components/countryhistorycarbongraph.jsx
  web/src/components/countryhistoryemissionsgraph.jsx
  web/src/components/countryhistorymixgraph.jsx
  web/src/components/countryhistorypricesgraph.jsx
  web/src/components/countryhistorytitle.jsx
  web/src/components/graph/areagraph.jsx
  web/src/components/graph/timeaxis.jsx
  web/src/components/timeControls.jsx
  web/src/components/timeslider.jsx
  web/src/components/timeslider_new.jsx
  web/src/components/tooltips/countrypanelproductiontooltip.jsx
  web/src/components/tooltips/timeslidertooltip.jsx
  web/src/components/zonemap.jsx
  web/src/helpers/constants.js
  web/src/helpers/formatting.js
  web/src/hooks/fetch.js
  web/src/hooks/redux.js
  web/src/layout/leftpanel/countrypanel.jsx
  web/src/layout/timeController.jsx
  web/src/reducers/dataReducerForHistoryFeature.js
  web/src/reducers/index.js
  web/src/sagas/index.js
Labels: frontend 🎨, translations 🗣

#4226 Added initial scaffolding for open source QA layer
  electricitymap/contrib/validators
  pyproject.toml
  validators/__init__.py
  validators/lib/__init__.py
  validators/lib/config.py
  validators/sanity_checks.py
Labels: dependencies

#4229 Fix update contrib
  web/src/components/zonemap.jsx
  web/src/layout/map.jsx
Labels: frontend 🎨

#4234 Åland (AX) capacity update
  DATA_SOURCES.md
  config/exchanges.json
  config/zones.json
  parsers/AX.py
Labels: parser, capacity

#4238 [BUGFIX] Fix "of installed capacity" on production tooltip
  web/src/components/tooltips/countrypanelproductiontooltip.jsx
Labels: frontend 🎨

#4252 Removes auto-merge
  .github/auto-merge.yml
Labels: infrastructure

#4251 Updates feedback form link and replaces email address
  mobileapp/config.xml
  pyproject.toml
  web/public/locales/cs.json
  web/public/locales/de.json
  web/public/locales/el.json
  web/public/locales/en.json
  web/public/locales/es.json
  web/public/locales/et.json
  web/public/locales/fi.json
  web/public/locales/fr.json
  web/public/locales/hr.json
  web/public/locales/id.json
  web/public/locales/it.json
  web/public/locales/ja.json
  web/public/locales/ko.json
  web/public/locales/no-NB.json
  web/public/locales/pl.json
  web/public/locales/pt-BR.json
  web/public/locales/ro.json
  web/public/locales/ru.json
  web/public/locales/sk.json
  web/public/locales/sv.json
  web/public/locales/vi.json
Labels: mobile app 📱, dependencies, translations 🗣

#4228 [historical view] Creates new shared modal component
  web/src/components/modal.jsx
  web/src/components/onboardingmodal.jsx
  web/src/scss/components/_modal.scss
Labels: frontend 🎨

#4232 [historical view] Info (and FAQ) Modals
  web/public/images/icon-sprite.svg
  web/public/locales/en.json
  web/src/components/button.jsx
  web/src/components/faq.jsx
  web/src/components/faqmodal.jsx
  web/src/components/infomodal.jsx
  web/src/layout/main.jsx
  web/src/reducers/index.js
Labels: frontend 🎨, translations 🗣

#4266 Improve ELEXON parser for historical refetch
  parsers/ELEXON.py
Labels: parser

#4231 Update nl.json
  web/public/locales/nl.json
Labels: translations 🗣

#4268 Added tests for validators
  poetry.lock
  pyproject.toml
  scripts/tooling.py
  tests/validators/__init__.py
  tests/validators/fixtures/production_negative_values.csv
  tests/validators/fixtures/production_with_no_values.csv
  tests/validators/lib/fixtures.py
  tests/validators/test_sanity_checks.py
  validators/lib/config.py
  validators/sanity_checks.py
Labels: dependencies, tests

#4233 [historical view] Implements a Settings modal
  web/public/images/icon-sprite.svg
  web/public/locales/en.json
  web/src/components/button.jsx
  web/src/components/settingsmodal.jsx
  web/src/components/toggle.jsx
  web/src/layout/main.jsx
  web/src/reducers/index.js
Labels: frontend 🎨, translations 🗣

#4265 Update to new dataReducer
  mockserver/public/v5/history_DK-DK2_daily
  mockserver/public/v5/history_DK-DK2_hourly
  mockserver/public/v5/history_DK-DK2_hourly.json
  mockserver/public/v5/state/hourly
  mockserver/public/v5/state_hourly.json
  parsers/ELEXON.py
  poetry.lock
  pyproject.toml
  scripts/tooling.py
  test_parser.py
  tests/validators/__init__.py
  tests/validators/fixtures/production_negative_values.csv
  tests/validators/fixtures/production_with_no_values.csv
  tests/validators/lib/fixtures.py
  tests/validators/test_sanity_checks.py
  validators/lib/config.py
  validators/sanity_checks.py
  web/.eslintrc.js
  web/.prettierignore
  web/jest.config.js
  web/package.json
  web/public/images/icon-sprite.svg
  web/public/locales/en.json
  web/public/locales/nl.json
  web/src/components/TimeSliderInput.jsx
  web/src/components/button.jsx
  web/src/components/faq.jsx
  web/src/components/faqmodal.jsx
  web/src/components/infomodal.jsx
  web/src/components/timeControls.jsx
  web/src/components/timeslider.jsx
  web/src/components/timeslider_new.jsx
  web/src/components/tooltips/mapcountrytooltip.jsx
  web/src/components/zonelist.jsx
  web/src/components/zonemap.jsx
  web/src/helpers/formatting.js
  web/src/helpers/redux.js
  web/src/hooks/fetch.js
  web/src/hooks/layers.js
  web/src/hooks/map.js
  web/src/hooks/redux.js
  web/src/hooks/router.js
  web/src/layout/leftpanel/countrypanel.jsx
  web/src/layout/main.jsx
  web/src/layout/main_old.jsx
  web/src/layout/map.jsx
  web/src/layout/timeController.jsx
  web/src/reducers/dataReducer.js
  web/src/reducers/dataReducer.test.js
  web/src/reducers/dataReducerForHistoryFeature.js
  web/src/reducers/index.js
  web/src/sagas/index.js
  web/src/store.js
  web/yarn.lock
Labels: frontend 🎨, parser, dependencies, translations 🗣, tests

#4264 [historical-view] use history as default
  web/src/components/timeslider.jsx
  web/src/components/timeslider_new.jsx
  web/src/components/zonemap.jsx
  web/src/index.jsx
  web/src/layout/leftpanel/countrypanel.jsx
  web/src/layout/leftpanel/zonedetailspanel.jsx
  web/src/layout/leftpanel/zonelistpanel.jsx
  web/src/layout/main_old.jsx
  web/src/layout/map.jsx
  web/src/layout/timeController.jsx
  web/src/sagas/index.js
  web/yarn.lock
Labels: frontend 🎨, dependencies

#4267 [E2E] Tests map, country panel and ranking panel
  web/cypress.json
  web/cypress/integration/countrypanel.spec.js
  web/cypress/integration/map.spec.js
  web/cypress/integration/ranking.spec.js
  web/cypress/support/commands.js
  web/jsconfig.json
Labels: frontend 🎨

#4250 [historical view] Map buttons for info and settings modal
  web/public/images/icon-sprite.svg
  web/src/components/mobilelayerbuttons.jsx
  web/src/components/zonemap.jsx
  web/src/components/zoomcontrols.jsx
  web/src/layout/layerbuttons.jsx
  web/src/layout/legend.jsx
  web/src/layout/main.jsx
  web/src/layout/main_old.jsx
  web/src/layout/map.jsx
  web/src/scss/content/map/_map.scss
Labels: frontend 🎨, translations 🗣

#4269 Added all old quality checks to new validator system
  tests/validators/fixtures/exchange_with_unplausible_netflows.csv
  tests/validators/fixtures/exchange_with_unreasonable_datetimes.csv
  tests/validators/fixtures/production_with_no_fossil_fuel.csv
  tests/validators/fixtures/production_with_unplausible_productions.csv
  tests/validators/fixtures/production_with_unreasonable_datetimes.csv
  tests/validators/lib/fixtures.py
  tests/validators/test_sanity_checks.py
  tests/validators/test_zone_specific_checks.py
  validators/lib/config.py
  validators/sanity_checks.py
  validators/zone_specific_checks.py
Labels: dependencies, tests

#4275 [Historical-view] Add formatting and function
  web/src/helpers/formatting.js
Labels: frontend 🎨

#4274 [Historical-view] Enable exchanges
  web/src/hooks/layers.js
  web/src/reducers/dataReducer.js
Labels: frontend 🎨

#4276 Fixes tests
  web/cypress.json
  web/cypress/integration/countrypanel.spec.js
  web/cypress/integration/map.spec.js
  web/cypress/integration/ranking.spec.js
  web/cypress/support/commands.js
  web/jsconfig.json
  web/public/images/icon-sprite.svg
  web/public/locales/en.json
  web/src/components/button.jsx
  web/src/components/mobilelayerbuttons.jsx
  web/src/components/settingsmodal.jsx
  web/src/components/toggle.jsx
  web/src/components/zonemap.jsx
  web/src/components/zoomcontrols.jsx
  web/src/layout/layerbuttons.jsx
  web/src/layout/legend.jsx
  web/src/layout/main.jsx
  web/src/layout/map.jsx
  web/src/reducers/index.js
  web/src/scss/content/map/_map.scss
Labels: frontend 🎨, parser, dependencies, translations 🗣, tests

#4279 [historical-view] Adds loading spinner to timecontroller
  web/package.json
  web/src/components/graph/timeaxis.jsx
  web/src/components/timeControls.jsx
  web/src/components/timeslider.jsx
  web/yarn.lock
Labels: frontend 🎨, dependencies

#4280 Fix production/consumption toggle and sources being duplicated
  web/src/components/countryhistorycarbongraph.jsx
  web/src/components/tooltips/mapcountrytooltip.jsx
  web/src/components/zonemap.jsx
  web/src/helpers/redux.js
  web/src/helpers/zonedata.js
  web/src/layout/leftpanel/countrypanel.jsx
  web/src/layout/map.jsx
  web/src/reducers/dataReducer.js
Labels: frontend 🎨

#4282 Fix jests tests for datareducer
  .github/workflows/CI.yml
  .github/workflows/jest.yml
  mockserver/public/v5/history/DK-DK2/daily.json
  mockserver/public/v5/history/DK-DK2/hourly.json
  mockserver/public/v5/history/DK-DK2/monthly.json
  mockserver/public/v5/history/DK-DK2/yearly.json
  mockserver/public/v5/history/UA/hourly.json
  mockserver/public/v5/history/daily.json
  mockserver/public/v5/history/hourly.json
  mockserver/public/v5/history/monthly.json
  mockserver/public/v5/history/yearly.json
  mockserver/public/v5/state/daily.json
  mockserver/public/v5/state/hourly.json
  mockserver/public/v5/state/monthly.json
  mockserver/public/v5/state/yearly.json
  mockserver/server.js
  web/src/helpers/i18n.js
  web/src/reducers/dataReducer.test.js
Labels: frontend 🎨, infrastructure

#4286 Bump opencv-python version
  poetry.lock
  pyproject.toml
Labels: dependencies

#4287 bump ree
  poetry.lock
  pyproject.toml
Labels: dependencies

#4291 Bump prettier, eslint and webpack development dependencies
  .github/workflows/prettier.yml
  .prettierignore
  web/.prettierignore
  web/package.json
  web/yarn.lock
Labels: frontend 🎨, dependencies, infrastructure

#4297 Adds timeslider icon and fixes styling on Firefox
  web/cypress/integration/countrypanel.spec.js
  web/src/components/TimeSliderInput.jsx
  web/src/components/graph/timeaxis.jsx
  web/src/components/timeslider.jsx
  web/src/layout/leftpanel/countrypanel.jsx
  web/src/layout/timeController.jsx
  web/src/scss/content/panel/_time-slider.scss
  web/src/scss/styles.scss
Labels: frontend 🎨

#4283 [Historical view] Adds more e2e testing of the new feature
  .github/workflows/cypress.yml
  web/cypress.json
  web/cypress/integration/api/history.spec.js
  web/cypress/integration/api/state.spec.js
  web/cypress/integration/countrypanel.spec.js
  web/cypress/integration/map.spec.js
  web/cypress/integration/onboarding.spec.js
  web/cypress/integration/ranking.spec.js
  web/cypress/integration/timeslider.spec.js
  web/cypress/support/commands.js
  web/package.json
  web/src/components/carbonintensitysquare.jsx
  web/src/components/timeControls.jsx
Labels: frontend 🎨, dependencies, infrastructure

#4299 Changes mockserver to use nodemon
  mockserver/package.json
  mockserver/yarn.lock
  web/package.json
Labels: frontend 🎨, dependencies

#4285 [historical-view] Allow empty minimized state from app-backend
  config/zones.json
  electricitymap/contrib/config/model.py
  mockserver/README.md
  mockserver/generate_mock_data.js
  mockserver/package.json
  mockserver/public/v5/history/DK-DK2/daily.json
  mockserver/public/v5/history/DK-DK2/hourly.json
  mockserver/public/v5/history/DK-DK2/monthly.json
  mockserver/public/v5/history/DK-DK2/yearly.json
  mockserver/public/v5/history/UA/daily.json
  mockserver/public/v5/history/UA/hourly.json
  mockserver/public/v5/history/UA/monthly.json
  mockserver/public/v5/history/UA/yearly.json
  mockserver/public/v5/history/daily.json
  mockserver/public/v5/history/hourly.json
  mockserver/public/v5/history/monthly.json
  mockserver/public/v5/history/yearly.json
  mockserver/public/v5/state/daily.json
  mockserver/public/v5/state/hourly.json
  mockserver/public/v5/state/monthly.json
  mockserver/public/v5/state/yearly.json
  mockserver/yarn.lock
  web/cypress/integration/countrypanel.spec.js
  web/cypress/integration/ranking.spec.js
  web/cypress/integration/timeslider.spec.js
  web/src/helpers/redux.js
  web/src/hooks/redux.js
  web/src/layout/leftpanel/countrypanel.jsx
  web/src/layout/map.jsx
  web/src/reducers/dataReducer.js
Labels: frontend 🎨, dependencies

#4295 Changes graphs to no update global "selected time" when hovering
  web/cypress/integration/countrypanel.spec.js
  web/src/components/countryhistorycarbongraph.jsx
  web/src/components/countryhistoryemissionsgraph.jsx
  web/src/components/countryhistorymixgraph.jsx
  web/src/components/countryhistorypricesgraph.jsx
  web/src/components/graph/areagraph.jsx
Labels: frontend 🎨

#4304 Fixes accessibility issues
  web/.eslintrc.js
  web/public/images/electricitymap_social_image.png
  web/src/components/button.jsx
  web/src/components/circulargauge.jsx
  web/src/components/colorblindcheckbox.jsx
  web/src/components/countrytable.jsx
  web/src/components/faq.jsx
  web/src/components/faqmodal.jsx
  web/src/components/languageselect.jsx
  web/src/components/mobilelayerbuttons.jsx
  web/src/components/modal.jsx
  web/src/components/settingsmodal.jsx
  web/src/components/timeslider.jsx
  web/src/layout/leftpanel/countrypanel.jsx
  web/src/layout/leftpanel/index.jsx
  web/src/layout/leftpanel/infotext.jsx
  web/src/layout/leftpanel/mobileinfotab.jsx
  web/src/layout/leftpanel/socialbuttons.jsx
  web/src/layout/legend.jsx
  web/src/layout/main.jsx
  web/src/scss/components/_faqs.scss
  web/src/scss/components/_messaging.scss
  web/src/scss/components/_meta.scss
  web/src/scss/content/panel/_country-panel.scss
  web/src/services/thirdparty.js
  web/src/services/thirdparty/twitter.js
Labels: frontend 🎨

#4305 Adds sync functionality for history and grid state
  web/src/helpers/redux.js
  web/src/hooks/fetch.js
  web/src/reducers/dataReducer.js
  web/src/reducers/dataReducer.test.js
Labels: frontend 🎨

#4306 Make target_datetime typing safer for EIA
  parsers/EIA.py
Labels: parser
