Repository electricitymaps/electricitymaps-contrib, pull requests merged in 2022-01, with the labels that each got.

#3614 added Norwegian (bokmål) translation
  mobileapp/www/index.html
  web/locales-config.json
  web/locales/no-nb.json
Labels: mobile app 📱, translations 🗣

#3627 PA parser, map CADASA and Sparkle Power thermal generation
  config/zones.json
  parsers/PA.py
  parsers/test/mocks/PA_nominal_generation.html
  parsers/test/test_PA.py
Labels: parser

#3630 PA parser: Added fetch_consumption() and fetch_exchange()
  config/zones.json
  parsers/PA.py
Labels: parser

#3649 Add series ID to error log for EIA parser
  parsers/EIA.py
Labels: parser, automerge

#3657 Adds an error boundary to avoid showing a blank page
  web/src/components/errorboundary.js
  web/src/layout/main.js
Labels: frontend 🎨

#3658 Fixes crash on specific, small zones
  web/src/helpers/map.js
Labels: frontend 🎨

#3659 Fix Bahamas geometry
  web/geo/world.geojson
  web/src/world.json
Labels: frontend 🎨

#3660 Pre-compute zone center compile time
  web/geo/generate-topojson.js
  web/src/helpers/map.js
  web/src/helpers/topos.js
  web/src/world.json
Labels: frontend 🎨

#3661 Enable geojson clean up in the zone removal script
  scripts/remove_zone.py
  scripts/utils.py
  web/geo/world.geojson
  web/locales/ro.json
  web/package.json
  web/yarn.lock
Labels: translations 🗣

#3666 Remove US-MIDA-OVEC
  config/co2eq_parameters.json
  config/exchanges.json
  config/zones.json
  mockserver/public/v3/state
  mockserver/public/v4/state
  parsers/EIA.py
  scripts/remove_zone.py
  web/geo/test/invalidworld.geojson
  web/geo/world.geojson
  web/locales/de.json
  web/locales/el.json
  web/locales/en.json
  web/locales/es.json
  web/locales/et.json
  web/locales/fi.json
  web/locales/it.json
  web/locales/ja.json
  web/locales/pt-br.json
  web/locales/ro.json
  web/locales/sv.json
  web/src/world.json
Labels: science, frontend 🎨, parser, translations 🗣

#3664 Adds "estimated" label and text below breakdown
  web/locales/en.json
  web/src/components/countryestimationlabel.js
  web/src/components/countrytableoverlayifnodata.js
  web/src/layout/leftpanel/countrypanel.js
Labels: frontend 🎨, translations 🗣

#3667 Releases the estimations-feature publicly
  web/src/sagas/index.js
Labels: frontend 🎨

#3679 update PEI request with param now required
  parsers/CA_PE.py
Labels: parser

#3690 Updated packages and added support for python 3.8.12
  .circleci/config.yml
  .python-version
  mockserver/Dockerfile
  poetry.lock
  pyproject.toml
Labels: dependencies

#3703 Nicaragua generation capacity update
  DATA_SOURCES.md
  config/zones.json
  parsers/NI.py
Labels: parser

#3567 NZ data - fix parser
  config/zones.json
  parsers/NZ.py
Labels: parser

#3698 PA parser: Fixed broken production parser
  parsers/PA.py
  parsers/test/test_PA.py
Labels: parser

#3645 EIA parser: Improve negative production resilience
  parsers/EIA.py
Labels: parser

#3714 Update poetry.lock after 3.8.12 upgrade
  poetry.lock
Labels: dependencies

#3715 Fix OPENNEM test_process_solar_rooftop
  parsers/test/test_OPENNEM.py
Labels: parser

#3708 Merges South and North New Zealand
  web/geo/world.geojson
  web/src/world.json
Labels: frontend 🎨

#3697 Update "unknown"-CO2-intensity of BO, HN, IL, KR, KW
  config/co2eq_parameters.json
Labels: science

#3710 Update LU capacity
  DATA_SOURCES.md
  config/zones.json
Labels: change requested

#3696 Update DO.py fuel type mapping
  parsers/DO.py
Labels: parser

#3678 [AW] Fix invalid point due to negative value of "unknown"
  parsers/AW.py
Labels: parser

#3702 Add cross-border flows with Kosovo
  config/exchanges.json
  parsers/ENTSOE.py
Labels: parser

#3709 Add fetch_price method in GB parsers based on fetch_price FR parser
  config/zones.json
  parsers/GB.py
Labels: parser
