Repository electricitymaps/electricitymaps-contrib, pull requests merged in 2023-10, with the labels that each got.

#5979 Remove US generation only zones configs
  config/exchanges/US-NW-NWMT_US-NW-WWA.yaml
  config/zones/US-NW-GWA.yaml
  config/zones/US-NW-WWA.yaml
  config/zones/US-SW-GRIF.yaml
Labels: zone config, exchange config

#5967 fix wrong term in zh-TW
  web/public/locales/zh-TW.json
Labels: translations 🗣

#5956 Update FI.yaml
  config/zones/FI.yaml
Labels: zone config

#5985 Fix CA-NS parser
  parsers/CA_NS.py
Labels: parser

#5824 Complete rewrite of ES.py parser
  parsers/ES.py
  parsers/test/test_ES.py
  poetry.lock
  pyproject.toml
Labels: parser, dependencies, tests

#5953 Updated capacities for Hungary
  DATA_SOURCES.md
  config/zones/HU.yaml
Labels: zone config

#5997 Bar chart tooltips are not rendered from the correct hover location
  web/src/features/charts/graphUtils.ts
Labels: frontend 🎨

#5998 Make chart tick fill gray when co2 value is 0
  web/src/features/charts/elements/GraphHoverline.tsx
  web/src/features/charts/hooks/useCarbonChartData.ts
Labels: frontend 🎨

#6006 Improve mobile app documentation
  mobileapp/Gemfile.lock
  mobileapp/README.md
  mobileapp/fastlane/Fastfile
  mobileapp/package.json
Labels: mobile app 📱, dependencies

#5497 Deduplicate contributor names in zones.json
  web/geo/generateAggregates.ts
  web/geo/generateExchangesToExclude.ts
  web/geo/generateWorld.ts
  web/geo/types.ts
  web/geo/validate.test.ts
  web/geo/validate.ts
  web/scripts/generateZonesConfig.ts
  web/src/features/panels/zone/Attribution.tsx
  web/src/features/panels/zone/util.ts
Labels: frontend 🎨

#6008 Add IT interconnection capacities
  config/exchanges/AT_IT-NO.yaml
  config/exchanges/AT_IT.yaml
  config/exchanges/CH_IT-NO.yaml
  config/exchanges/CH_IT.yaml
  config/exchanges/FR-COR_IT-CNO.yaml
  config/exchanges/FR-COR_IT-SAR.yaml
  config/exchanges/FR-COR_IT.yaml
  config/exchanges/FR_IT-NO.yaml
  config/exchanges/FR_IT.yaml
  config/exchanges/GR_IT.yaml
  config/exchanges/IT-CNO_IT-CSO.yaml
  config/exchanges/IT-CNO_IT-NO.yaml
  config/exchanges/IT-CSO_IT-SAR.yaml
  config/exchanges/IT-CSO_IT-SO.yaml
  config/exchanges/IT-NO_SI.yaml
  config/exchanges/IT-SIC_IT-SO.yaml
  config/exchanges/IT-SIC_MT.yaml
  config/exchanges/IT_MT.yaml
  config/exchanges/IT_SI.yaml
Labels: exchange config

#5939 Fix Geothermal parsing in TAIPOWER
  parsers/TAIPOWER.py
  parsers/test/mocks/TAIPOWER/genary.json
  parsers/test/snapshots/snap_test_TAIPOWER.py
Labels: parser, tests

#6010 Add config for Viking Link Interconnector
  config/exchanges/DK-DK1_GB.yaml
  mockserver/public/v7/state/hourly.json
Labels: exchange config

#6015 Fix total consumption tooltip numbers
  web/src/features/charts/graphUtils.test.ts
  web/src/features/charts/graphUtils.ts
  web/src/features/charts/hooks/useBreakdownChartData.ts
  web/src/features/charts/hooks/useEmissionChartData.ts
  web/src/features/charts/tooltipCalculations.test.ts
  web/src/features/charts/tooltipCalculations.ts
  web/src/features/charts/tooltips/EmissionChartTooltip.tsx
  web/src/types.ts
Labels: frontend 🎨

#6021 Update FI.yaml
  config/zones/FI.yaml
Labels: zone config

#6026 Optimise misc parsers for refetch
  config/exchanges/MY-WM_SG.yaml
  config/exchanges/MY-WM_TH.yaml
  config/zones/MY-WM.yaml
  parsers/CR.py
  parsers/ELEXON.py
  parsers/FO.py
  parsers/GE.py
  parsers/GSO.py
  parsers/IEMOP.py
  parsers/KPX.py
  parsers/TH.py
Labels: parser, zone config, exchange config

#6030 wfix solar layer crash from bookmark launch
  web/src/features/weather-layers/solar/SolarLayer.tsx
Labels: frontend 🎨

#6031 fix solar layer part 2
  web/src/features/weather-layers/solar/SolarLayer.tsx
Labels: frontend 🎨

#6034 fix(parser): Add expected range for gas to Peru
  parsers/PE.py
Labels: parser

#6037 fix(parser): Drop last datapoint for PE if it contains incomplete data
  parsers/PE.py
Labels: parser

#6032 Update unknown emission factor in CH
  config/zones/CH.yaml
Labels: zone config

#6036 add compressed us states matching our geometries
  web/geo/generateTopojson.ts
  web/geo/generateWorld.ts
  web/geo/usa-states.geojson
Labels: frontend 🎨

#6001 Add validation test for emissions factor references provided in zone configs
  config/zones/CA-AB.yaml
  config/zones/CH.yaml
  config/zones/FO-MI.yaml
  config/zones/FO.yaml
  config/zones/GT.yaml
  config/zones/HR.yaml
  config/zones/IN-KA.yaml
  config/zones/JP-CG.yaml
  config/zones/JP-HKD.yaml
  config/zones/JP-HR.yaml
  config/zones/JP-ON.yaml
  config/zones/JP-SK.yaml
  config/zones/JP-TH.yaml
  config/zones/MX-CE.yaml
  config/zones/MX-NE.yaml
  config/zones/MX-NO.yaml
  config/zones/MX-NW.yaml
  config/zones/MX-OC.yaml
  config/zones/MX-OR.yaml
  config/zones/MX-PN.yaml
  config/zones/MX.yaml
  config/zones/NL.yaml
  config/zones/PR.yaml
  config/zones/UA.yaml
  tests/test_config_model.py
Labels: tests, zone config

#6013 refactor: upgrade CA-SK with event classes
  parsers/CA_SK.py
Labels: parser

#6049 Remove unused energieopwek source
  DATA_SOURCES.md
  parsers/NL.py
Labels: parser

#6038 Load topojson in the app
  web/Earthfile
  web/geo/generateExchangesToExclude.ts
  web/geo/generateTopojson.ts
  web/geo/generateWorld.ts
  web/geo/usa_states.geojson
  web/src/features/charts/bar-breakdown/utils.ts
  web/src/features/map/map-utils/generateTopos.ts
  web/src/features/map/map-utils/getMapGrid.ts
  web/src/hooks/arrows.ts
  web/src/hooks/nightTimes.ts
  web/src/types.ts
  web/vite.config.cts
Labels: frontend 🎨

#6054 Updates Poetry version
  Earthfile
  pyproject.toml
Labels: dependencies

#6061 Updated capacities for Hungary
  DATA_SOURCES.md
  config/zones/HU.yaml
Labels: zone config

#5787 Adds cache header to allow CloudFlare caching
  web/src/api/helpers.ts
Labels: frontend 🎨, hacktoberfest-accepted

#6065 chore: trade out pkg_resources for importlib
  parsers/test/test_AW.py
  parsers/test/test_CAMMESA.py
  parsers/test/test_CA_CQ.py
  parsers/test/test_CEB.py
  parsers/test/test_EIA.py
  parsers/test/test_ESIOS.py
  parsers/test/test_FR_O.py
  parsers/test/test_IN_AP.py
  parsers/test/test_IN_HP.py
  parsers/test/test_IN_KA.py
  parsers/test/test_PA.py
  parsers/test/test_SG.py
Labels: parser, hacktoberfest-accepted, tests
