Repository electricitymaps/electricitymaps-contrib, pull requests merged in 2023-07, with the labels that each got.

#5539 add_value method
  electricitymap/contrib/lib/models/events.py
  electricitymap/contrib/lib/tests/test_events.py
  pyproject.toml
Labels: dependencies

#5519 Add timezones for most zones with null
  config/zones/AU-NSW.yaml
  config/zones/AU-QLD.yaml
  config/zones/AU-SA.yaml
  config/zones/AU-TAS-FI.yaml
  config/zones/AU-TAS-KI.yaml
  config/zones/AU-TAS.yaml
  config/zones/AU-VIC.yaml
  config/zones/AU-WA.yaml
  config/zones/AZ.yaml
  config/zones/BG.yaml
  config/zones/BY.yaml
  config/zones/BZ.yaml
  config/zones/CA-AB.yaml
  config/zones/CA-NT.yaml
  config/zones/CA-NU.yaml
  config/zones/CN.yaml
  config/zones/CR.yaml
  config/zones/GB-NIR.yaml
  config/zones/GB-ORK.yaml
  config/zones/GB-ZET.yaml
  config/zones/GB.yaml
  config/zones/GR-IS.yaml
  config/zones/GR.yaml
  config/zones/GT.yaml
  config/zones/IR.yaml
  config/zones/IS.yaml
  config/zones/KZ.yaml
  config/zones/LU.yaml
  config/zones/MT.yaml
  config/zones/NA.yaml
  config/zones/NP.yaml
  config/zones/PT-AC.yaml
  config/zones/PT-MA.yaml
  config/zones/PY.yaml
  config/zones/RU-EU.yaml
  config/zones/RU-KGD.yaml
  config/zones/US-AK.yaml
  config/zones/ZM.yaml
Labels: zone config

#5525 Add simplified chinese translations
  web/public/locales/zh-CN.json
Labels: translations 🗣

#5551 Fix negative solar gets discarded for BR
  parsers/BR.py
  parsers/test/mocks/BR.html
  parsers/test/mocks/BR/BR.json
  parsers/test/mocks/BR/BR_negative_solar.json
  parsers/test/test_BR.py
Labels: parser, tests

#5548 Add Réunion and update FR_O.py to parser classes
  parsers/FR_O.py
  parsers/test/mocks/FR_O/FR_COR.json
  parsers/test/test_FR_O.py
Labels: parser, tests

#5495 ZoneHeader decoupled to be scrollable to give more height to view graphs
  web/src/features/panels/zone/ZoneDetails.tsx
  web/src/features/panels/zone/ZoneHeaderGauges.tsx
  web/src/features/panels/zone/ZoneHeaderTitle.tsx
Labels: frontend 🎨, dependencies

#5553 Use refetch token if specified datetime in ENTSOE parser
  parsers/ENTSOE.py
  parsers/test/test_ENTSOE.py
Labels: parser, tests

#5557 Use EU proxy for refetches
  parsers/ENTSOE.py
  parsers/test/test_ENTSOE.py
Labels: parser, tests

#5558 Improve pydantic validation
  electricitymap/contrib/lib/models/events.py
  poetry.lock
  pyproject.toml
Labels: dependencies

#5560 Revert "Improve pydantic validation (#5558)"
  electricitymap/contrib/lib/models/events.py
  poetry.lock
  pyproject.toml
Labels: dependencies

#5403 Fit ENTSO-E production mix with new ProductionBreakdown structure
  config/zones/IT-SO.yaml
  electricitymap/contrib/lib/models/event_lists.py
  parsers/ENTSOE.py
  parsers/lib/utils.py
  parsers/test/mocks/ENTSOE/FI_production.xml
  parsers/test/mocks/ENTSOE/NO-NO5_production-negatives.xml
  parsers/test/mocks/ENTSOE/NO-NO5_production.xml
  parsers/test/test_ENTSOE.py
Labels: parser, tests, zone config

#5563 Fix ES.py to not update global constant
  parsers/ES.py
Labels: parser

#5565 `Mobile performance`:Hide exchange arrows on touch start
  web/src/features/map/Map.tsx
Labels: frontend 🎨

#5566 Automatic dependency updates for app dependencies
  .github/dependabot.yml
Labels: infrastructure

#5559 Updates missing bounding boxes (and improves the script)
  config/zones/BR.yaml
  config/zones/BT.yaml
  config/zones/CO.yaml
  config/zones/FO-MI.yaml
  config/zones/FO-SI.yaml
  config/zones/IN.yaml
  config/zones/NO.yaml
  web/geo/generateZoneBoundingBoxes.ts
Labels: frontend 🎨, zone config

#5554 Change yearly label to be dynamic
  web/src/utils/formatting.ts
Labels: frontend 🎨

#5556 Fix KR parser down (SSL certificate issues) and invert hydro storage
  parsers/KR.py
Labels: parser

#5591 Fix ENTSOE.py storage consumption
  parsers/ENTSOE.py
Labels: parser

#5590 Fix Alaska Bounding Box
  config/zones/US-AK.yaml
  web/geo/generateZoneBoundingBoxes.ts
Labels: frontend 🎨, zone config

#5592 Fix CA parser to parse gas values
  parsers/US_CA.py
Labels: parser

#5593 Changes borders of El Paso and ERCOT
  config/exchanges/US-CENT-SWPP_US-SW-EPE.yaml
  config/zones/US-CENT-SWPP.yaml
  config/zones/US-SW-EPE.yaml
  config/zones/US-SW-PNM.yaml
  config/zones/US-TEX-ERCO.yaml
  web/geo/validate.ts
  web/geo/world.geojson
Labels: frontend 🎨, zone config, exchange config

#5578 Add retries to CO parser for most recent data
  parsers/CO.py
Labels: parser

#5588 update Brazil and some US capacities
  config/zones/BR-CS.yaml
  config/zones/BR-N.yaml
  config/zones/BR-NE.yaml
  config/zones/BR-S.yaml
  config/zones/BR.yaml
  config/zones/US-CAL-CISO.yaml
  config/zones/US-NW-IPCO.yaml
  config/zones/US-NW-PACE.yaml
  config/zones/US-NW-PSCO.yaml
  config/zones/US-NW-WACM.yaml
  config/zones/US-SW-AZPS.yaml
  config/zones/US-SW-EPE.yaml
  config/zones/US-SW-PNM.yaml
  config/zones/US-SW-SRP.yaml
  config/zones/US-TEX-ERCO.yaml
  config/zones/US.yaml
Labels: zone config

#5597 Upgrade MY-WM parser
  parsers/MY_WM.py
Labels: parser

#5598 Update MY-WM again
  config/zones/MY-WM.yaml
  parsers/MY_WM.py
Labels: parser, zone config

#5368 Switches yaml package to gain 5x speed
  electricitymap/contrib/config/reading.py
  poetry.lock
  pyproject.toml
Labels: dependencies

#5564 update to jotai v2
  web/package.json
  web/pnpm-lock.yaml
  web/src/utils/state/atomWithCustomStorage.ts
  web/src/utils/state/atoms.ts
Labels: frontend 🎨, dependencies

#5504 Update i18next
  web/package.json
  web/pnpm-lock.yaml
Labels: frontend 🎨, dependencies

#5600 bump jotai (again)
  web/package.json
  web/pnpm-lock.yaml
Labels: frontend 🎨, dependencies

#5585 Add LegacyHttpAdapter for TR parser SSL certificate issue
  parsers/GB_ORK.py
  parsers/TR.py
  parsers/lib/session.py
Labels: parser

#5601 Add tests around 'getExchangeCo2Intensity' and 'getExchangeData'
  web/src/features/charts/bar-breakdown/utils.test.ts
Labels: frontend 🎨

#5610 JP-TH: remove config disclaimer
  config/zones/JP-TH.yaml
Labels: zone config

#5618 Update disclaimer for JP-CB
  config/zones/JP-CB.yaml
Labels: zone config

#5620 Update US-NW-WACM hydro capacity
  config/zones/US-NW-WACM.yaml
Labels: zone config

#5609 Updated FI renewable capacities per Fingrid
  config/zones/FI.yaml
Labels: zone config

#5625 simplify_CI_setup_job
  .github/filter-groups.yml
  .github/workflows/CI.yml
Labels: techdebt, infrastructure

#5636 Remove US-FLA-NSB,US-SE-AEC,US-SW-GRMA
  EMISSION_FACTORS_SOURCES.md
  config/zones/US-FLA-NSB.yaml
  config/zones/US-SE-AEC.yaml
  config/zones/US-SW-GRMA.yaml
  mockserver/public/v6/state/hourly.json
  mockserver/public/v6/state/monthly.json
  mockserver/public/v6/state/yearly.json
  parsers/EIA.py
Labels: parser, zone config

#5640 Add zone disclamers for production transfers in the US
  config/zones/US-CAR-SC.yaml
  config/zones/US-CAR-SCEG.yaml
  config/zones/US-NW-BPAT.yaml
  config/zones/US-NW-NWMT.yaml
  config/zones/US-NW-PACE.yaml
  config/zones/US-SW-SRP.yaml
  config/zones/US-SW-WALC.yaml
Labels: zone config

#5635 Add Andorra<->Spain exchange
  DATA_SOURCES.md
  config/exchanges/AD_ES.yaml
  parsers/ESIOS.py
Labels: parser, exchange config

#5646 Fix DK parser
  parsers/DK.py
Labels: parser

#5642 Incorporate US-FLA-NSB into US-FLA-FPL and US-SE-AEC into US-SE-SOCO
  config/retired_zones/US-FLA-NSB.yaml
  config/retired_zones/US-SE-AEC.yaml
  config/retired_zones/US-SW-GRMA.yaml
  parsers/EIA.py
  parsers/test/mocks/EIA/US-FLA-FPC_US-FLA-FPL_exchange.json
  parsers/test/mocks/EIA/US-FLA-FPC_US-FLA-NSB_exchange.json
  parsers/test/test_EIA.py
Labels: parser, tests, zone config

#5648 optimize python codeql scanning
  .github/workflows/codeql.yml
Labels: infrastructure

#5650 Improve US-NE-ISNE parser
  electricitymap/contrib/lib/models/event_lists.py
  parsers/US_NEISO.py
  parsers/test/test_EIA.py
  parsers/test/test_FR_O.py
Labels: parser, tests

#5659 Format US_NEISO.py
  parsers/US_NEISO.py
Labels: parser
