Repository electricitymaps/electricitymaps-contrib, pull requests merged in 2023-02, with the labels that each got.

#5001 Add US-CENT-SPP exchanges
  config/exchanges/CA-SK_US-CENT-SWPP.yaml
  config/exchanges/US-CENT-SWPP_US-MIDW-AECI.yaml
  config/exchanges/US-CENT-SWPP_US-MIDW-MISO.yaml
  config/exchanges/US-CENT-SWPP_US-NW-PSCO.yaml
  config/exchanges/US-CENT-SWPP_US-NW-WACM.yaml
  config/exchanges/US-CENT-SWPP_US-NW-WAUW.yaml
  config/exchanges/US-CENT-SWPP_US-SW-EPE.yaml
  config/exchanges/US-CENT-SWPP_US-SW-PNM.yaml
  config/exchanges/US-CENT-SWPP_US-TEX-ERCO.yaml
  parsers/US_SPP.py
  parsers/lib/validation.py
Labels: parser, exchange config

#5003 Adds earthfile
  web/Earthfile
  web/package.json
  web/public/client-version.json
Labels: frontend 🎨, dependencies

#5005 Updates paths again
  web/Earthfile
Labels: frontend 🎨

#5009 Reverts name change as internal packages rely on it
  DATA_SOURCES.md
  README.md
  config/zones/NL.yaml
  parsers/KW.py
  parsers/ajenti.py
  parsers/lib/quality.py
  parsers/lib/utils.py
  pyproject.toml
  web/public/locales/cs.json
  web/public/locales/de.json
  web/public/locales/el.json
  web/public/locales/es.json
  web/public/locales/et.json
  web/public/locales/fi.json
  web/public/locales/fr.json
  web/public/locales/hr.json
  web/public/locales/id.json
  web/public/locales/it.json
  web/public/locales/ja.json
  web/public/locales/ko.json
  web/public/locales/no-NB.json
  web/public/locales/pl.json
  web/public/locales/pt-BR.json
  web/public/locales/ro.json
  web/public/locales/ru.json
  web/public/locales/sk.json
  web/public/locales/vi.json
  web/src/components/CarbonIntensitySquare.tsx
  web/src/features/exchanges/ExchangeLayer.tsx
Labels: frontend 🎨, parser, dependencies, translations 🗣, zone config

#5002 fix sources link
  web/src/features/panels/zone/Attribution.tsx
Labels: frontend 🎨

#5010 Updates inputs to ensure all geo files are available
  web/Earthfile
Labels: frontend 🎨

#4997 mobile all release 1.5.1
  mobileapp/.gitignore
  mobileapp/README.md
  mobileapp/android/app/build.gradle
  mobileapp/ios/App/App.xcodeproj/project.pbxproj
  web/package.json
Labels: frontend 🎨, mobile app 📱, dependencies

#5013 trigger useEffect on map loaded to fill colors
  web/src/features/map/Map.tsx
Labels: frontend 🎨

#5012 Make TW throw warnings instead of crash when production exceeds capacity
  parsers/TW.py
Labels: parser

#5014 US_SPP: add source to exchange function
  parsers/US_SPP.py
Labels: parser

#5018 Bumps Node version to 18 everywhere
  .github/workflows/eslint.yml
  .github/workflows/jsonlint.yml
  .github/workflows/prettier.yml
  .github/workflows/validate_generated_files.yml
  mobileapp/package.json
  web/Earthfile
  web/package.json
Labels: frontend 🎨, mobile app 📱, dependencies, infrastructure

#4999 New Honduras parser
  config/zones/HN.yaml
  parsers/HN.py
Labels: parser, zone config

#5017 Run ESLint --fix
  web/geo/generate-topojson.ts
  web/geo/generate-zone-bounding-boxes.ts
  web/public/client-version.json
  web/scripts/generate-index-files.ts
  web/scripts/generate-zones-config.ts
  web/src/components/CarbonIntensityDisplay.stories.tsx
  web/src/components/CarbonIntensitySquare.stories.ts
Labels: frontend 🎨

#5021 Fixes breaking builds!
  web/Earthfile
  web/src/features/error-boundary/ErrorBoundary.tsx
  web/vite.config.ts
Labels: frontend 🎨

#5023 Migrates from GCP Bucket to Cloudflare Pages for hosting the app
  web/Earthfile
  web/package.json
  web/scripts/generate-index-files.ts
  web/src/features/panels/LeftPanel.tsx
Labels: frontend 🎨, dependencies

#5029 Md/fix ie parser
  parsers/IE.py
Labels: parser

#5037 Parser datapoint validation
  parsers/lib/quality.py
Labels: parser

#5033 add field to exclude price data for nordpool / epex zones
  config/zones/AT.yaml
  config/zones/AX.yaml
  config/zones/BE.yaml
  config/zones/CH.yaml
  config/zones/DE.yaml
  config/zones/DK-BHM.yaml
  config/zones/DK-DK1.yaml
  config/zones/DK-DK2.yaml
  config/zones/DK.yaml
  config/zones/EE.yaml
  config/zones/FI.yaml
  config/zones/FR.yaml
  config/zones/GB.yaml
  config/zones/LT.yaml
  config/zones/LU.yaml
  config/zones/LV.yaml
  config/zones/NL.yaml
  config/zones/NO-NO1.yaml
  config/zones/NO-NO2.yaml
  config/zones/NO-NO3.yaml
  config/zones/NO-NO4.yaml
  config/zones/NO-NO5.yaml
  config/zones/NO.yaml
  config/zones/PL.yaml
  config/zones/SE-SE1.yaml
  config/zones/SE-SE2.yaml
  config/zones/SE-SE3.yaml
  config/zones/SE-SE4.yaml
  config/zones/SE.yaml
  web/config/zones.json
Labels: frontend 🎨, zone config

#4915 Added slovene translation
  web/index.html
  web/public/locales/sl.json
  web/src/translation/locales.ts
Labels: frontend 🎨, mobile app 📱, translations 🗣

#5043 Fixes storage values in graph and tooltip when data is missing or zero
  web/src/features/charts/bar-breakdown/utils.test.ts
  web/src/features/charts/bar-breakdown/utils.ts
  web/src/features/charts/graphUtils.test.ts
  web/src/features/charts/graphUtils.ts
Labels: frontend 🎨

#5045 Tonyvanswet/ele 1693 create list of zones with zones where
  config/zones/HR.yaml
  electricitymap/contrib/config/model.py
  web/config/zones.json
Labels: frontend 🎨, zone config

#5022 Fix ESLint part 1
  web/.eslintrc.json
  web/.prettierignore
  web/geo/files.ts
  web/geo/generate-aggregates.ts
  web/geo/utilities.ts
  web/package.json
  web/src/types.ts
  web/src/utils/formatting.ts
Labels: frontend 🎨, dependencies

#5048 [ESLint]: Rename files to camelCase
  web/Earthfile
  web/geo/generateAggregates.ts
  web/geo/generateExchangesToExclude.ts
  web/geo/generateTopojson.ts
  web/geo/generateWorld.ts
  web/geo/generateZoneBoundingBoxes.ts
  web/geo/validate.ts
  web/package.json
  web/scripts/generateZonesConfig.ts
Labels: frontend 🎨, dependencies

#5049 ESLint: Fix in loops and no process exit
  web/.eslintrc.json
  web/scripts/generateZonesConfig.ts
Labels: frontend 🎨

#4994 Parser for Mongolia
  config/zones/MN.yaml
  parsers/MN.py
  web/config/zones.json
Labels: frontend 🎨, parser, zone config

#5054 IE: Fix consumption forecast parser
  parsers/IE.py
Labels: parser

#5057 Update datapoint format validation
  parsers/lib/quality.py
Labels: parser

#4989 Update capacity of FR<->GB interconnectors
  DATA_SOURCES.md
  config/exchanges/FR_GB.yaml
  web/config/exchanges.json
Labels: frontend 🎨, exchange config

#5059 Update cs.json
  web/public/locales/cs.json
Labels: translations 🗣

#5038 Update nuclear capacity for SK to include Mochovce-3
  DATA_SOURCES.md
  config/zones/SK.yaml
Labels: zone config

#5044 Better parser documentation
  parsers/README.md
  parsers/examples/example_parser.py
  parsers/examples/production.md
Labels: parser

#5058 hide zonetooltip on smaller devices
  web/src/features/map/MapTooltip.tsx
Labels: frontend 🎨

#5061 update arrow config
  config/exchanges/AR_CL-SEN.yaml
  config/exchanges/AR_PY.yaml
  config/exchanges/CA-NB_CA-NS.yaml
  config/exchanges/US-CENT-SWPP_US-MIDW-AECI.yaml
  config/exchanges/US-CENT-SWPP_US-MIDW-MISO.yaml
  config/exchanges/US-CENT-SWPP_US-NW-PSCO.yaml
  config/exchanges/US-CENT-SWPP_US-NW-WACM.yaml
  config/exchanges/US-CENT-SWPP_US-NW-WAUW.yaml
  config/exchanges/US-CENT-SWPP_US-SW-EPE.yaml
  config/exchanges/US-CENT-SWPP_US-TEX-ERCO.yaml
  config/exchanges/US-MIDA-PJM_US-MIDW-MISO.yaml
  web/config/exchanges.json
Labels: frontend 🎨, exchange config

#5072 Add IN-EA->IN-NO exchange
  config/exchanges/IN-EA_IN-NO.yaml
  parsers/IN_EA.py
  web/config/exchanges.json
Labels: frontend 🎨, parser, exchange config

#4980 test: fix deprecation warning of escape character in regex
  parsers/ELEXON.py
  parsers/IL.py
  parsers/JP-KY.py
Labels: parser

#5085 Fix Mongolia config
  config/zones/MN.yaml
Labels: zone config

#5071 New Brunswick (CA-NB) Unknown CO2 emission factor
  config/zones/CA-NB.yaml
  web/config/zones.json
Labels: frontend 🎨, zone config, emission factors

#5028 Implement `fetch_exchange` in HN.py
  config/exchanges/GT_HN.yaml
  config/exchanges/HN_NI.yaml
  config/exchanges/HN_SV.yaml
  config/zones/HN.yaml
  parsers/HN.py
  web/config/zones.json
Labels: frontend 🎨, parser, zone config, exchange config

#5087 Fix CA-NB datetimes
  config/zones/CA-NB.yaml
Labels: zone config

#5079 Update prettier
  web/package.json
  web/pnpm-lock.yaml
Labels: frontend 🎨, dependencies

#5088 Fixed space in kW units
  web/src/utils/formatting.ts
Labels: frontend 🎨

#5070 Tonyvanswet/exchange arrow tooltip mobile
  web/src/components/tooltips/MobileTooltipWrapper.tsx
  web/src/features/exchanges/ExchangeArrow.tsx
  web/src/features/exchanges/MobileExchangeTooltip.tsx
Labels: frontend 🎨

#5090 Fix GB-ORK down
  config/zones/CA-NB.yaml
  parsers/GB_ORK.py
Labels: parser, zone config

#5084 Fix Aruba timestamp-issue
  parsers/AW.py
Labels: parser

#5093 Ignore paths instead of query for CodeQL
  .github/codeql-config.yml
Labels: infrastructure

#5092 [CI]: Run tests in parallel
  .github/workflows/CI.yml
  .github/workflows/python_formatting.yml
  .github/workflows/python_tests.yml
Labels: infrastructure

#4675 Add guard to `generate-aggregates.js`
  web/geo/generateAggregates.ts
Labels: frontend 🎨

#5095 Fix validation for DK-DK2
  parsers/lib/quality.py
Labels: parser

#5056 Fix ESLint disable comments + eslint --fix
  web/src/features/weather-layers/solar/stackBlurImageOpacity.ts
  web/src/main.tsx
Labels: frontend 🎨

#5098 update in-no config
  config/zones/IN-NO.yaml
  web/config/zones.json
Labels: frontend 🎨, zone config

#5105 Update PR template
  .github/pull_request_template.md
Labels: infrastructure

#5046 change fly to zone based on atom
  web/src/features/map/Map.tsx
  web/src/types.ts
Labels: frontend 🎨

#5102 Tonyvanswet/exchange arrow tooltip mobile
  web/src/features/exchanges/ExchangeArrow.tsx
  web/src/features/exchanges/ExchangeLayer.tsx
Labels: frontend 🎨

#5103 include capacity for JP-TH for map visualization
  config/zones/JP-TH.yaml
  web/config/zones.json
Labels: frontend 🎨, zone config

#5053 Updates spacing of MapTooltip to make it look nice in more languages
  web/src/features/map/MapTooltip.tsx
Labels: frontend 🎨

#5073 update aggregate tooltip
  web/public/locales/de.json
  web/public/locales/en.json
  web/public/locales/es.json
  web/public/locales/fr.json
  web/public/locales/pt-BR.json
  web/public/locales/sl.json
  web/public/locales/sv.json
  web/src/features/map-controls/SpatialAggregatesToggle.tsx
Labels: frontend 🎨, translations 🗣

#5111 Tonyvanswet/update aggregate tooltip
  web/public/locales/es.json
  web/public/locales/sv.json
Labels: frontend 🎨, translations 🗣

#4965 Fix FR_O.py storage values
  parsers/FR_O.py
Labels: parser

#5096 Fix the last ESLint errors and enable CI
  .github/workflows/CI.yml
  web/cypress/.eslintrc.cjs
  web/geo/files.ts
  web/geo/generateAggregates.ts
  web/geo/generateExchangesToExclude.ts
  web/geo/generateTopojson.ts
  web/geo/generateWorld.ts
  web/geo/generateZoneBoundingBoxes.ts
  web/geo/validate.ts
  web/package.json
  web/pnpm-lock.yaml
  web/scripts/generateZonesConfig.ts
  web/src/features/weather-layers/solar/stackBlurImageOpacity.ts
  web/src/utils/formatting.ts
  web/tailwind.config.cjs
  web/tsconfig.json
  web/tsconfig.node.json
  web/vite.config.cts
Labels: frontend 🎨, dependencies, infrastructure

#5115 Include JP-HKD configuration to enable flowtracing
  DATA_SOURCES.md
  config/zones/JP-HKD.yaml
  web/config/zones.json
Labels: frontend 🎨, zone config

#5113 mobile release 1.12.0
  mobileapp/android/app/build.gradle
  mobileapp/ios/App/App.xcodeproj/project.pbxproj
  mobileapp/ios/App/App.xcodeproj/xcshareddata/xcschemes/Electricity Maps.xcscheme
  mobileapp/package.json
  web/package.json
Labels: frontend 🎨, mobile app 📱, dependencies

#5119 Include capacities, disclaimers and data sources
  DATA_SOURCES.md
  config/zones/JP-CB.yaml
  web/config/zones.json
Labels: frontend 🎨, zone config

#5124 Fixed flaky future test
  parsers/test/mocks/quality_check.py
Labels: parser, tests

#5123 [Typing Fixes] Fixes incomplete data usage in Stories
  web/src/features/charts/BreakdownChart.stories.ts
  web/src/features/charts/PriceChart.stories.ts
  web/src/features/charts/bar-breakdown/BarBreakdownEmissionsChart.stories.ts
  web/src/features/charts/bar-breakdown/BarElectricityBreakdownChart.stories.ts
  web/src/features/charts/bar-breakdown/utils.test.ts
  web/src/features/charts/tooltips/BreakdownChartTooltip.stories.ts
  web/src/features/charts/tooltips/CarbonChartTooltip.stories.ts
  web/src/features/charts/tooltips/PriceChartTooltip.stories.ts
  web/src/stories/mockData.ts
Labels: frontend 🎨

#5125 Changes how the cache key works for ESLint
  .github/workflows/eslint.yml
Labels: infrastructure

#5126 [Typing Fixes] Fixes TypeScript errors related to charts
  web/src/features/charts/bar-breakdown/BarBreakdownChart.tsx
  web/src/features/charts/bar-breakdown/BarBreakdownEmissionsChart.stories.ts
  web/src/features/charts/bar-breakdown/BarBreakdownEmissionsChart.tsx
  web/src/features/charts/bar-breakdown/BarElectricityBreakdownChart.stories.ts
  web/src/features/charts/bar-breakdown/BarElectricityBreakdownChart.tsx
  web/src/features/charts/bar-breakdown/elements/HorizontalBar.tsx
  web/src/features/charts/bar-breakdown/elements/Row.tsx
  web/src/features/charts/bar-breakdown/utils.test.ts
  web/src/features/charts/bar-breakdown/utils.ts
  web/src/features/charts/elements/AreaGraph.tsx
  web/src/features/charts/graphUtils.ts
  web/src/features/charts/hooks/useBreakdownChartData.ts
  web/src/features/charts/hooks/useCarbonChartData.ts
  web/src/features/charts/tooltips/AreaGraphTooltip.tsx
  web/src/features/charts/tooltips/BreakdownChartTooltip.tsx
  web/src/features/charts/types.ts
  web/src/types.ts
Labels: frontend 🎨

#5131 Include JP-HR capacities, disclaimer, parser to enable flowtracing
  DATA_SOURCES.md
  config/zones/JP-HR.yaml
  web/config/zones.json
Labels: frontend 🎨, zone config

#5132 JP-CG include data sources, capacities, disclaimer and parsers
  DATA_SOURCES.md
  config/zones/JP-CG.yaml
  web/config/zones.json
Labels: frontend 🎨, zone config

#4843 CONTRIBUTING.md
  CONTRIBUTING.md
  parsers/examples/production.md
Labels: help wanted, frontend 🎨, parser, mobile app 📱

#5129 [Typing Fixes]: Type fix + cleanup
  web/src/components/MetricRatio.tsx
  web/src/features/charts/bar-breakdown/utils.ts
  web/src/features/charts/graphUtils.ts
  web/src/features/charts/tooltips/BreakdownChartTooltip.tsx
  web/src/utils/helpers.ts
Labels: frontend 🎨
