Repository electricitymaps/electricitymaps-contrib, pull requests merged in 2023-05, with the labels that each got.

#5345 Fix UY parser
  pyproject.toml
Labels: dependencies

#5323 Add consumption data for MX
  config/zones/MX-BC.yaml
  config/zones/MX-BCS.yaml
  config/zones/MX-CE.yaml
  config/zones/MX-NE.yaml
  config/zones/MX-NO.yaml
  config/zones/MX-NW.yaml
  config/zones/MX-OC.yaml
  config/zones/MX-OR.yaml
  config/zones/MX-PN.yaml
  config/zones/MX.yaml
  parsers/MX.py
  parsers/test/mocks/MX/DemandaRegional.html
  parsers/test/test_MX.py
  web/geo/world.geojson
Labels: frontend 🎨, parser, tests, zone config

#5333 FR - update production diffs validation
  parsers/FR.py
Labels: parser

#5335 Add consumption for CA BC
  config/zones/CA-BC.yaml
  parsers/CA_BC.py
Labels: parser, zone config

#5348 MX parser - try to set user agent to not be flagged as a bot
  parsers/MX.py
Labels: parser

#5340 Fixing the parser for IN-KA
  parsers/IN_KA.py
Labels: parser

#5341 Add TWEPL-TUGLAK biogas power plant to IN Delhi
  parsers/IN_DL.py
Labels: parser

#5343 Fixing bugs in IN-MH parser where OCR was not able to read two fields from the image
  parsers/IN_MH.py
Labels: parser

#5349 Fix IN parser + parser validation
  parsers/IN.py
Labels: parser

#5353 IN-WE: update unknown EF
  config/zones/IN-WE.yaml
Labels: zone config

#5358 Move EIA production mix to new datastructure
  electricitymap/contrib/lib/models/event_lists.py
  electricitymap/contrib/lib/models/events.py
  parsers/EIA.py
  parsers/examples/example_parser.py
  parsers/test/mocks/EIA/US_SW_DEAA-hydro.json
  parsers/test/mocks/EIA/US_SW_HGMA-hydro.json
  parsers/test/mocks/EIA/US_SW_SRP-hydro.json
  parsers/test/test_EIA.py
  parsers/test/test_MX.py
Labels: parser, tests

#5372 Update Chinese translation for gas
  web/public/locales/zh-CN.json
  web/public/locales/zh-HK.json
  web/public/locales/zh-TW.json
Labels: translations 🗣

#5378 Fit Price data from ENTSOE parser with new data structure
  parsers/ENTSOE.py
  parsers/test/mocks/ENTSOE/FR_prices.xml
  parsers/test/test_ENTSOE.py
Labels: parser, tests

#5285 Missing aggregateButtons and other Italian labels
  web/public/locales/it.json
Labels: translations 🗣

#5379 Negation of exchange values from CZ
  parsers/CZ.py
Labels: parser

#5387 Update IN-WE consumption + parser validation
  parsers/IN_WE.py
Labels: parser

#5269 Refactor by splitting out functionality from config/__init__.py
  electricitymap/contrib/config/__init__.py
  electricitymap/contrib/config/co2eq_parameters.py
  electricitymap/contrib/config/model.py
  electricitymap/contrib/config/reading.py
  electricitymap/contrib/config/types.py
  electricitymap/contrib/config/zones.py
  electricitymap/contrib/lib/models/event_lists.py
  electricitymap/contrib/lib/models/events.py
  electricitymap/contrib/lib/tests/test_event_lists.py
  electricitymap/contrib/lib/tests/test_events.py
  electricitymap/contrib/lib/types.py
  parsers/CA_BC.py
  parsers/EIA.py
  parsers/ENTSOE.py
  parsers/ESIOS.py
  parsers/IN.py
  parsers/IN_WE.py
  parsers/MX.py
  parsers/NI.py
  parsers/examples/example_parser.py
  parsers/lib/quality.py
  parsers/test/test_EIA.py
  parsers/test/test_ENTSOE.py
  parsers/test/test_MX.py
  scripts/ENTSOE_capacity_update.py
  scripts/remove_zone.py
  test_parser.py
  tests/test_config.py
  tests/test_config_zones.py
  tests/test_exchanges_json.py
  tests/test_zones_json.py
Labels: parser, tests

#5382 Remove unused imports from Python files and add flake8 lint check
  electricitymap/contrib/lib/models/event_lists.py
  parsers/CA_AB.py
  parsers/IE.py
  parsers/MX.py
  parsers/MY_WM.py
  parsers/NTESMO.py
  parsers/US_CA.py
  parsers/US_PJM.py
  parsers/archived/GB_NIR.py
  parsers/archived/IN_GJ.py
  parsers/archived/JP_ISEP.py
  parsers/test/test_AU_TAS_FI.py
  parsers/test/test_AU_TAS_KI.py
  parsers/test/test_AU_WA_RI.py
  parsers/test/test_BR.py
  parsers/test/test_ENTSOE.py
  parsers/test/test_IN_HP.py
  parsers/test/test_OPENNEM.py
  parsers/test/test_US_MISO.py
  scripts/tooling.py
Labels: parser, tests

#5396 Fix exchange directions in AR parser
  parsers/AR.py
Labels: parser

#5364 Vietnam parser (continued)
  DATA_SOURCES.md
  config/zones/VN-C.yaml
  config/zones/VN-N.yaml
  config/zones/VN-S.yaml
  config/zones/VN.yaml
  parsers/VN.py
  web/geo/world.geojson
Labels: frontend 🎨, parser, zone config

#5400 Update BG capacities
  config/zones/BG.yaml
Labels: zone config

#5245 remove DEMAND_URL (twice)
  parsers/IN.py
Labels: parser

#5406 fix CZ->SK exchange
  parsers/CZ.py
Labels: parser

#5409 Adds translation for zones of Vietnam
  web/public/locales/en.json
Labels: translations 🗣

#5359 Fixing bugs for new errors in the IN-MH parser
  parsers/IN_MH.py
Labels: parser

#5401 Resolving deprecation warnings when running tests.
  parsers/test/test_OPENNEM.py
  validators/zone_specific_checks.py
Labels: parser, tests

#5398 Fix update capacity script
  scripts/ENTSOE_capacity_update.py
Labels: zone config

#5373 Check values of emission factors are in expected ranges at test time
  tests/test_co2eq_parameters.py
Labels: tests

#5413 Updated solar capacity for Hungary
  DATA_SOURCES.md
  config/zones/HU.yaml
Labels: zone config

#5407 Automatically switch to correct "view mode" (zone/country)
  web/scripts/generateZonesConfig.ts
  web/src/features/charts/bar-breakdown/utils.ts
  web/src/features/charts/hooks/useBarElectricityBreakdownChartData.ts
  web/src/features/charts/hooks/useBreakdownChartData.ts
  web/src/features/map-controls/SpatialAggregatesToggle.tsx
  web/src/features/map/Map.tsx
  web/src/features/map/map-utils/generateTopos.ts
  web/src/features/map/map-utils/getApproximateFeature.ts
  web/src/features/panels/zone/ZoneDetails.tsx
  web/src/features/panels/zone/util.ts
  web/src/hooks/arrows.ts
  web/src/types.ts
  web/src/utils/state/atoms.ts
Labels: frontend 🎨

#5384 Add missing translation to zh-tw (chinese)
  web/public/locales/zh-TW.json
Labels: translations 🗣

#5419 Update Portugal<->Spain interconnection capacity Take 2
  DATA_SOURCES.md
  config/exchanges/ES_PT.yaml
Labels: exchange config

#5427 TH: Includes Float Time (Ft) rate for tariff pricing
  parsers/TH.py
Labels: parser

#5432 Temporarily disable SG certificate verification
  parsers/SG.py
Labels: parser

#5433 Fetch production for IN-SO
  config/zones/IN-SO.yaml
Labels: zone config

#5420 Split expected emission factors into direct and lifecycle
  tests/test_co2eq_parameters.py
Labels: tests
