Repository electricitymaps/electricitymaps-contrib, pull requests merged in 2023-06, with the labels that each got.

#5436 Update FI.yaml
  config/zones/FI.yaml
Labels: zone config

#5434 Update capacities of IN-SO
  DATA_SOURCES.md
  config/zones/IN-SO.yaml
Labels: zone config

#5440 Update the SE capacities based on the latest report from SVK
  DATA_SOURCES.md
  config/zones/SE-SE1.yaml
  config/zones/SE-SE2.yaml
  config/zones/SE-SE3.yaml
  config/zones/SE-SE4.yaml
  config/zones/SE.yaml
Labels: zone config

#5441 Add wind data to BD (Bangladesh)
  parsers/BD.py
Labels: parser

#5442 fix CO production parser
  parsers/CO.py
Labels: parser

#5443 Small updates to geo files to reduce duplicate points and gaps
  web/geo/world.geojson
Labels: frontend 🎨, geometry

#5444 Handles AUS zones in URLs
  web/public/locales/sl.json
  web/src/features/panels/LeftPanel.tsx
Labels: frontend 🎨, translations 🗣

#5439 Use UTC when labeling non-hourly time slider values
  web/src/utils/formatting.ts
Labels: frontend 🎨

#5445 Add IN-EA->IN-SO exchange
  config/exchanges/IN-EA_IN-SO.yaml
Labels: exchange config

#5446 fix IN-EA_IN-SO exchange config
  config/exchanges/IN-EA_IN-SO.yaml
Labels: exchange config

#5447 Update IN-SO emission factors
  config/zones/IN-SO.yaml
Labels: zone config

#5449 Change MD exchanges to ENTSOE
  config/exchanges/MD_RO.yaml
  config/exchanges/MD_UA.yaml
Labels: exchange config

#5438 NL/update solar and wind capacity
  DATA_SOURCES.md
  config/zones/NL.yaml
Labels: zone config

#5452 Update readme screenshot and provide dark version
  README.md
  web/public/images/electricitymap_social_image.png
  web/public/images/electricitymap_social_image_dark.png
Labels: frontend 🎨

#5458 Updated FI renewable capacities per Fingrid
  config/zones/FI.yaml
Labels: zone config

#5456 Restructure scheduled jobs
  .github/workflows/CI.yml
  .github/workflows/codeql.yml
  .github/workflows/eslint.yml
Labels: infrastructure

#5460 Fix India exchanges are rejected because their are in the future
  parsers/IN_EA.py
  parsers/lib/quality.py
Labels: parser

#5463 Use india proxy for live demand
  parsers/IN.py
Labels: parser

#5462 Upgrade ES parser consumption and exchange
  parsers/ES.py
  parsers/test/test_ES.py
Labels: parser, tests

#5459 Fix for issue #5083 (Graph selector offset when missing data)
  web/src/features/charts/elements/AreaGraph.tsx
  web/src/features/charts/elements/GraphHoverline.tsx
Labels: frontend 🎨

#5457 add error checking on unknown zones + remove unused options params
  web/src/api/getState.ts
  web/src/api/getZone.ts
  web/src/components/Button.tsx
  web/src/components/CarbonIntensitySquare.tsx
  web/src/components/Flag.tsx
  web/src/features/map-controls/LanguageSelector.tsx
  web/src/features/panels/zone/ZoneDetails.tsx
Labels: frontend 🎨

#5127 add check to set the correct target datetime
  parsers/ENTSOE.py
Labels: parser

#5467 Add pnpm to engines and pin versions
  .github/workflows/cypress.yml
  .github/workflows/eslint.yml
  .github/workflows/prettier.yml
  .github/workflows/typecheck.yml
  .github/workflows/unit_test.yml
  .github/workflows/validate_generate_files.yml
  .github/workflows/validate_generated_files.yml
  mobileapp/package.json
  mockserver/package.json
  mockserver/pnpm-lock.yaml
  web/package.json
  web/pnpm-lock.yaml
Labels: frontend 🎨, mobile app 📱, dependencies, infrastructure

#5461 Issue 5352: Fixed layout overflow of ZoneHeaderTitle
  web/src/components/ZoneName.tsx
  web/src/features/panels/zone/ZoneHeaderTitle.tsx
Labels: frontend 🎨, dependencies

#5474 Fix: production history shows mt instead of kg
  web/src/utils/formatting.ts
Labels: frontend 🎨

#5478 Use Merit India to get consumption data
  parsers/IN.py
Labels: parser

#5479 Enable fetch production for IN-EA and IN-NE
  config/zones/IN-EA.yaml
  config/zones/IN-NE.yaml
Labels: zone config

#5486 Add exchanges for IN-EA
  config/exchanges/BT_IN-EA.yaml
  config/exchanges/IN-EA_IN-NE.yaml
  config/exchanges/IN-EA_NP.yaml
  config/zones/IN-EA.yaml
  config/zones/IN-NE.yaml
  parsers/IN_EA.py
Labels: parser, zone config, exchange config

#5481 include capacity changes for JP-HKD
  config/zones/JP-HKD.yaml
  parsers/JP.py
Labels: parser, zone config

#5155 Zone outage message component
  mockserver/public/v6/details/hourly/DK-DK2.json
  web/src/features/panels/LeftPanel.tsx
  web/src/features/panels/zone/ZoneHeader.tsx
  web/src/types.ts
Labels: frontend 🎨

#5494 Remove unused imports in web
  web/src/api/getState.ts
  web/src/api/getZone.ts
  web/src/components/CarbonIntensityDisplay.stories.tsx
  web/src/components/CircularGauge.stories.tsx
  web/src/features/charts/tooltips/AreaGraphTooltipHeader.tsx
  web/src/features/map-controls/MapOptionSelector.tsx
  web/src/features/map-controls/ThemeSelector.tsx
  web/src/features/panels/ranking-panel/RankingPanel.tsx
Labels: frontend 🎨

#5496 Remove logger validation from ES.py
  parsers/ES.py
Labels: parser

#5498 Add configuration for aggregation of India
  config/exchanges/BT_IN.yaml
  config/exchanges/IN_NP.yaml
  config/zones/IN.yaml
  web/public/locales/en.json
Labels: translations 🗣, zone config, exchange config

#5453 Chore(deps) upgrade lint deps
  web/package.json
  web/pnpm-lock.yaml
  web/src/components/CarbonIntensitySquare.tsx
  web/src/components/CircularGauge.tsx
  web/src/features/charts/bar-breakdown/elements/BySource.tsx
  web/src/features/charts/bar-breakdown/elements/Row.tsx
  web/src/features/charts/elements/AreaGraph.tsx
  web/src/features/charts/elements/AreaGraphLayers.tsx
  web/src/features/charts/elements/GraphBackground.tsx
  web/src/features/charts/hooks/useBreakdownChartData.ts
  web/src/features/exchanges/ExchangeTooltip.tsx
  web/src/features/exchanges/MobileExchangeTooltip.tsx
  web/src/features/map-controls/MapControls.tsx
  web/src/features/modals/SettingsModal.tsx
  web/src/features/panels/LeftPanel.tsx
  web/src/features/panels/zone/Attribution.tsx
  web/src/features/time/TimeAxis.tsx
  web/src/features/time/TimeController.tsx
  web/src/utils/formatting.ts
Labels: frontend 🎨, dependencies

#5500 app release version bump + readme update
  mobileapp/README.md
  mobileapp/android/app/build.gradle
  mobileapp/ios/App/App.xcodeproj/project.pbxproj
  mobileapp/package.json
Labels: mobile app 📱, dependencies

#5490 Deploy branch preview and staging env from GH action - Can be reviewed 🔍
  .github/workflows/CI.yml
  .github/workflows/deploy-preview-branch.yml
  .github/workflows/deploy-staging.yml
Labels: infrastructure

#5505 Updates ci with new syntax for changed-files
  .github/workflows/CI.yml
  web/package.json
  web/pnpm-lock.yaml
Labels: frontend 🎨, dependencies, infrastructure

#5507 bypass AU-WA-RI for Australia aggregation
  config/zones/AU.yaml
Labels: zone config

#5516 Fixes in IN-EA parser
  parsers/IN_EA.py
  parsers/test/mocks/IN_EA/interregional_exchanges.json
  parsers/test/mocks/IN_EA/transnational_exchanges.json
  parsers/test/test_IN_EA.py
Labels: parser, tests

#5509 Add geothermal and biomass to Taiwan
  config/zones/TW.yaml
  parsers/TW.py
Labels: parser, zone config

#5508 Changes data caching and refetching logic
  web/src/api/getAppVersion.ts
  web/src/api/getState.ts
  web/src/api/getWeatherData.ts
  web/src/api/getZone.ts
  web/src/api/helpers.ts
  web/src/main.tsx
  web/src/utils/refetching.ts
Labels: frontend 🎨

#5523 Fix for Mongolia parser
  config/zones/MN.yaml
  parsers/IN_EA.py
  parsers/MN.py
Labels: parser, zone config

#5532 Fix and upgrade ZA.py to get South Africa data again.
  electricitymap/contrib/config/model.py
  parsers/ZA.py
Labels: parser

#5529 Update CH with 2022 data
  parsers/CH.py
  parsers/test/test_CH.py
Labels: parser, tests

#5534 Update GB Capacities
  DATA_SOURCES.md
  config/zones/GB.yaml
  parsers/ELEXON.py
Labels: parser, zone config

#5402 Retain corrected negative production values when merging production outputs
  electricitymap/contrib/lib/models/event_lists.py
  electricitymap/contrib/lib/models/events.py
  electricitymap/contrib/lib/tests/test_event_lists.py
Labels: parser

#5541 Add Balearic Islands exchange capacities
  DATA_SOURCES.md
  config/exchanges/ES-IB-FO_ES-IB-IZ.yaml
  config/exchanges/ES-IB-IZ_ES-IB-MA.yaml
  config/exchanges/ES-IB-MA_ES-IB-ME.yaml
Labels: exchange config
