Repository electricitymaps/electricitymaps-contrib, pull requests merged in 2023-11, with the labels that each got.

#6071 Capacity parser - REE
  electricitymap/contrib/capacity_parsers/REE.py
  electricitymap/contrib/capacity_parsers/__init__.py
Labels: hacktoberfest-accepted

#6074 add states as linestring objects with seperate labels file
  web/geo/usa_state_names.json
  web/geo/usa_states.geojson
  web/public/fonts/Poppins SemiBold/0-255.pbf
  web/src/features/map/Map.tsx
  web/src/features/map/map-utils/generateTopos.ts
  web/src/hooks/colors.ts
  web/src/types.ts
Labels: frontend 🎨, hacktoberfest-accepted

#6059 Create EIA capacity parser
  electricitymap/contrib/capacity_parsers/EIA.py
Labels: hacktoberfest-accepted

#6057 Capacity parser ENTSOE
  electricitymap/contrib/capacity_parsers/ENTSOE.py
Labels: frontend 🎨, dependencies, hacktoberfest-accepted

#6058 Capacity parser for EMBER
  electricitymap/contrib/capacity_parsers/EMBER.py
  electricitymap/contrib/capacity_parsers/tests/__init__.py
  electricitymap/contrib/capacity_parsers/tests/test_EMBER.py
  poetry.lock
  pyproject.toml
Labels: dependencies, hacktoberfest-accepted

#6086 Fix GB Parser
  parsers/ELEXON.py
Labels: parser, dependencies

#6096 Bumps Node version in Earthfile
  web/Earthfile
Labels: frontend 🎨

#6091 Capacity parser - ONS
  electricitymap/contrib/capacity_parsers/ONS.py
  electricitymap/contrib/capacity_parsers/tests/test_ONS.py
Labels: frontend 🎨, parser, dependencies, tests, infrastructure, zone config

#6073 Capacity parser - OPENNEM
  electricitymap/contrib/capacity_parsers/OPENNEM.py
  electricitymap/contrib/capacity_parsers/tests/test_OPENNEM.py
Labels: hacktoberfest-accepted

#6099 Changes to use Node v20 (and not pin to 20.6)
  web/Earthfile
Labels: frontend 🎨

#6100 Update FI.yaml
  config/zones/FI.yaml
Labels: zone config

#6103 Fixes missing script
  web/Earthfile
Labels: frontend 🎨

#6033 Add US State borders to the map 🇺🇸
  web/Earthfile
  web/geo/generateExchangesToExclude.ts
  web/geo/generateTopojson.ts
  web/geo/generateWorld.ts
  web/geo/usa_states.geojson
  web/package.json
  web/pnpm-lock.yaml
  web/public/fonts/poppins-semibold/0-255.pbf
  web/src/features/charts/bar-breakdown/utils.ts
  web/src/features/map/Map.tsx
  web/src/features/map/map-utils/generateTopos.ts
  web/src/features/map/map-utils/getMapGrid.ts
  web/src/hooks/arrows.ts
  web/src/hooks/colors.ts
  web/src/hooks/nightTimes.ts
  web/src/types.ts
  web/vite.config.cts
Labels: frontend 🎨, dependencies, hacktoberfest-accepted

#6106 Updated FI renewable capacities per Fingrid
  config/zones/FI.yaml
Labels: zone config

#6109 Paint map when zones source not fully loaded
  web/src/features/map/Map.tsx
Labels: bug 🐞, frontend 🎨

#6112 Skip deploy on fork PRs
  .github/workflows/CI.yml
Labels: infrastructure

#6101 Update no-NB.json
  web/public/locales/no-NB.json
Labels: translations 🗣

#6111 Add map component tests
  .github/workflows/cypress.yml
  mockserver/public/v7/state/hourly.json
  mockserver/public/v7/state/last_hour.json
  web/.eslintrc.json
  web/src/features/exchanges/ExchangeLayer.tsx
  web/src/features/map/Map.cy.tsx
  web/src/features/map/Map.tsx
  web/src/features/weather-layers/wind-layer/WindLayer.tsx
Labels: frontend 🎨, infrastructure

#6126 Improve source for unknown CL-SEN
  config/zones/CL-SEN.yaml
Labels: zone config

#6070 Capacity parser - IRENA
  electricitymap/contrib/capacity_parsers/IRENA.py
  electricitymap/contrib/capacity_parsers/tests/test_IRENA.py
Labels: hacktoberfest-accepted

#6134 Change pytz to timezone.utc and ZoneInfo
  electricitymap/contrib/lib/tests/test_events.py
  parsers/AW.py
  parsers/AX.py
  parsers/BD.py
  parsers/CA_BC.py
  parsers/CA_QC.py
  parsers/CR.py
  parsers/ELEXON.py
  parsers/ENTSOE.py
  parsers/ESIOS.py
  parsers/ESKOM.py
  parsers/GCCIA.py
  parsers/HN.py
  parsers/IE.py
  parsers/IN.py
  parsers/IN_EA.py
  parsers/KPX.py
  parsers/MK_wrapper.py
  parsers/MN.py
  parsers/NL.py
  parsers/NTESMO.py
  parsers/TAIPOWER.py
  parsers/TH.py
  parsers/TR.py
  parsers/UA.py
  parsers/US_CA.py
  parsers/US_NEISO.py
  parsers/US_SPP.py
  parsers/UY.py
  parsers/VN.py
  parsers/archived/DK_old.py
  parsers/archived/SE.py
  parsers/examples/example_parser.py
  parsers/test/snapshots/snap_test_ESKOM.py
  parsers/test/test_CENACE.py
  parsers/test/test_EIA.py
  parsers/test/test_ENTSOE.py
  parsers/test/test_IN_EA.py
  parsers/test/test_NTESMO.py
Labels: parser, tests

#6029 Northern Ireland (GB-NIR) Coal Capacity Reduced
  DATA_SOURCES.md
  config/zones/GB-NIR.yaml
Labels: hacktoberfest-accepted, zone config

#6114 Refactor map.tsx
  web/src/features/map/Map.tsx
  web/src/features/map/map-layers/BackgroundLayer.tsx
  web/src/features/map/map-layers/StatesLayer.tsx
  web/src/features/map/map-layers/ZonesLayer.tsx
Labels: frontend 🎨, infrastructure

#6140 Make UY parser throw clearer error
  parsers/UY.py
Labels: parser

#6150 Capacity parsers - add productionCapacity parser
  electricitymap/contrib/config/model.py
  parsers/lib/parsers.py
  tests/test_parser_interface.py
Labels: parser, tests

#6151 Capacity parsers : update EIA
  electricitymap/contrib/capacity_parsers/EIA.py
Labels: parser, tests

#6144 Remove arrow part 1
  parsers/BO.py
  parsers/CAMMESA.py
  parsers/CH.py
  parsers/DO.py
  parsers/IL.py
  parsers/IN.py
  parsers/IN_HP.py
  parsers/IN_MH.py
  parsers/IN_PB.py
  parsers/KPX.py
  parsers/KW.py
  parsers/MD.py
  parsers/PA.py
  parsers/ajenti.py
  parsers/test/test_PA.py
Labels: parser, tests

#6142 Allow selected zone to appear above state layer
  web/src/features/map/map-layers/StatesLayer.tsx
  web/src/features/map/map-layers/ZonesLayer.tsx
Labels: frontend 🎨

#6156 bug(web): Match style of language selector button to theme selector
  web/src/features/map-controls/LanguageSelector.tsx
Labels: frontend 🎨

#6157 bug(web): Remove check for loaded source (again)
  web/src/features/map/Map.tsx
Labels: frontend 🎨

#6158 Fix warning in the FR parser for depreciated pandas default
  parsers/FR.py
  parsers/test/mocks/FR/response.json
  parsers/test/snapshots/snap_test_FR.py
  parsers/test/test_FR.py
Labels: parser, tests

#6159 fix formating FR parser
  parsers/FR.py
Labels: parser

#6160 Fix token in FR test
  parsers/test/test_FR.py
Labels: parser, tests

#6056 Fix Vietnam parser
  config/zones/VN.yaml
  parsers/VN.py
Labels: parser, hacktoberfest-accepted, zone config

#6062 refactor: upgrade CA-YT with event classes
  config/zones/CA-YT.yaml
  parsers/CA_YT.py
  parsers/YUKONENERGY.py
Labels: parser, hacktoberfest-accepted, zone config

#6064 refactor: upgrade CA-PE with event classes
  config/exchanges/CA-NB_CA-PE.yaml
  config/zones/CA-PE.yaml
  parsers/CA_PE.py
  parsers/PrinceEdwardIsland.py
Labels: parser, hacktoberfest-accepted, zone config, exchange config

#6154 Slovene translation: fixed typo
  web/public/locales/sl.json
Labels: translations 🗣

#6133 Spellings
  web/public/locales/en.json
Labels: translations 🗣

#6132 Update no-NB.json completed translation
  web/public/locales/no-NB.json
Labels: translations 🗣

#6164 tiny bit of cleanup in the parsers
  parsers/PrinceEdwardIsland.py
  parsers/YUKONENERGY.py
Labels: parser

#6168 UX(web): tweak state border transition
  web/src/features/map/map-layers/StatesLayer.tsx
Labels: frontend 🎨

#6163 Tweak Thumbicon
  web/src/components/TimeSlider.tsx
Labels: frontend 🎨

#6170 Add better error handling in ENTSOE.
  parsers/ENTSOE.py
Labels: parser

#6171 Capacity update - create poetry command
  capacity_update.py
  poetry.lock
  pyproject.toml
  scripts/update_capacity_configuration.py
  scripts/utils.py
  tests/test_update_capacity_configuration.py
Labels: dependencies, tests

#6175 Update BE solar capacity
  config/zones/BE.yaml
Labels: zone config

#5940 Fix MN parser
  parsers/MN.py
Labels: parser

#6176 Change Python caching strategy
  .github/workflows/python_formatting.yml
  .github/workflows/python_tests.yml
Labels: infrastructure

#6177 feat(web): Remove total energy feedback modal
  web/cypress/e2e/countrypanel.spec.ts
  web/cypress/e2e/map.spec.ts
  web/cypress/e2e/ranking.spec.ts
  web/cypress/e2e/timeslider.spec.ts
  web/public/images/onboarding/totalEnergyIntro.png
  web/public/images/onboarding/totalEnergyIntro.webp
  web/src/App.tsx
  web/src/features/modals/TotalEnergyIntroModal.tsx
  web/src/utils/state/atoms.ts
Labels: frontend 🎨

#6178 refactor: removed arrow from BG parser
  parsers/BG.py
Labels: parser

#6180 Update FI.yaml
  config/zones/FI.yaml
Labels: zone config

#6181 ops(mobileapp): prepare new release - Mobile app release 1.89.0
  mobileapp/Gemfile.lock
  mobileapp/android/app/build.gradle
  mobileapp/ios/App/App.xcodeproj/project.pbxproj
  mobileapp/ios/App/Podfile
  mobileapp/package.json
Labels: mobile app 📱, dependencies

#6186 [Capacity parsers] - Update parser for DE
  config/zones/DE.yaml
  electricitymap/contrib/capacity_parsers/DE.py
Labels: parser, mobile app 📱, dependencies, zone config

#6130 Optimize zone configuration loading and contributors upsert
  web/scripts/generateZonesConfig.test.ts
  web/scripts/generateZonesConfig.ts
  web/vite.config.cts
Labels: frontend 🎨

#6184 [IN-WE] Handle errors better during expected downtime
  parsers/IN_WE.py
Labels: parser

#6174 Update dependabot configuration to include ruff updates
  .github/dependabot.yml
Labels: infrastructure

#6189 refactor: removed arrow from FO parser
  CONTRIBUTING.md
  parsers/FO.py
Labels: parser

#6207 MN hotfix
  parsers/MN.py
Labels: parser
