Repository electricitymaps/electricitymaps-contrib, pull requests merged in 2023-09, with the labels that each got.

#5799 Support higher energy values and change labels to watt hour
  web/src/features/charts/bar-breakdown/BarElectricityBreakdownChart.tsx
  web/src/utils/formatting.ts
Labels: frontend 🎨

#5816 Update Typescript to v5
  web/package.json
  web/pnpm-lock.yaml
Labels: frontend 🎨, dependencies

#5818 Update FI.yaml
  config/zones/FI.yaml
Labels: zone config

#5821 Update dark-mode styling of map controls
  web/src/features/charts/PriceChart.tsx
  web/src/features/charts/tooltips/NetExchangeChartTooltip.tsx
  web/src/features/charts/tooltips/PriceChartTooltip.tsx
  web/src/features/exchanges/ExchangeArrow.tsx
  web/src/features/map-controls/LanguageSelector.tsx
  web/src/features/map-controls/MapButton.tsx
  web/src/features/map-controls/MapControls.tsx
  web/src/features/map-controls/MapOptionSelector.tsx
  web/src/features/map/MapTooltip.tsx
  web/src/index.css
Labels: frontend 🎨

#5813 Feature flagging 🎏
  web/package.json
  web/pnpm-lock.yaml
  web/src/App.tsx
  web/src/api/helpers.ts
  web/src/features/feature-flags/FeatureFlagsManager.tsx
  web/src/features/feature-flags/api.ts
  web/src/features/feature-flags/types.ts
Labels: frontend 🎨, dependencies

#5772 Support larger emission numbers
  web/src/components/MetricRatio.tsx
  web/src/features/charts/BreakdownChart.tsx
  web/src/features/charts/EmissionChart.tsx
  web/src/features/charts/NetExchangeChart.tsx
  web/src/features/charts/bar-breakdown/BarBreakdownEmissionsChart.tsx
  web/src/features/charts/bar-breakdown/BarElectricityBreakdownChart.tsx
  web/src/features/charts/bar-breakdown/elements/Axis.tsx
  web/src/features/charts/elements/AreaGraph.tsx
  web/src/features/charts/elements/ValueAxis.tsx
  web/src/features/charts/graphUtils.ts
  web/src/features/charts/hooks/useBreakdownChartData.ts
  web/src/features/charts/hooks/useEmissionChartData.ts
  web/src/features/charts/hooks/usePriceChartData.ts
  web/src/features/charts/tooltips/BreakdownChartTooltip.tsx
  web/src/features/charts/tooltips/ChartTooltips.cy.tsx
  web/src/features/charts/tooltips/EmissionChartTooltip.tsx
  web/src/features/charts/tooltips/NetExchangeChartTooltip.tsx
  web/src/utils/formatting.test.ts
  web/src/utils/formatting.ts
  web/src/utils/helpers.ts
Labels: frontend 🎨

#5825 Improve map-control buttons look and feel
  web/src/features/map-controls/MapButton.tsx
  web/src/index.css
Labels: frontend 🎨

#5829 bump to V7 for zone api
  mockserver/generate_mock_data.js
  mockserver/public/v7/details/daily/DK-DK2.json
  mockserver/public/v7/details/hourly/DE.json
  mockserver/public/v7/details/hourly/DK-DK2.json
  mockserver/public/v7/details/hourly/UA.json
  mockserver/public/v7/details/monthly/DK-DK2.json
  mockserver/public/v7/details/yearly/DK-DK2.json
  mockserver/public/v7/state/daily.json
  mockserver/public/v7/state/hourly.json
  mockserver/public/v7/state/monthly.json
  mockserver/public/v7/state/yearly.json
  mockserver/server.js
  web/cypress/e2e/countrypanel.spec.ts
  web/cypress/e2e/ranking.spec.ts
  web/cypress/e2e/timeslider.spec.ts
Labels: frontend 🎨

#5828 Revert exchange tooltip color change
  web/src/features/exchanges/ExchangeArrow.tsx
Labels: frontend 🎨

#5822 Update data for Philippines
  DATA_SOURCES.md
  config/zones/PH-LU.yaml
  config/zones/PH-MI.yaml
  config/zones/PH-VI.yaml
  config/zones/PH.yaml
  parsers/PH.py
Labels: parser, capacity, zone config

#5836 Round values in add_value() method
  electricitymap/contrib/lib/models/events.py
  parsers/test/test_EIA.py
  parsers/test/test_FR_O.py
Labels: parser, tests

#5830 Use api total consumption and product values
  web/src/features/charts/bar-breakdown/BarBreakdownEmissionsChart.stories.ts
  web/src/features/charts/bar-breakdown/BarBreakdownEmissionsChart.tsx
  web/src/features/charts/bar-breakdown/BarElectricityBreakdownChart.stories.ts
  web/src/features/charts/bar-breakdown/BarElectricityBreakdownChart.tsx
  web/src/features/charts/bar-breakdown/EmptyBarBreakdownChart.tsx
  web/src/features/charts/bar-breakdown/elements/HorizontalBar.tsx
  web/src/features/charts/bar-breakdown/utils.test.ts
  web/src/features/charts/bar-breakdown/utils.ts
  web/src/features/charts/graphUtils.test.ts
  web/src/features/charts/graphUtils.ts
  web/src/features/charts/hooks/useBreakdownChartData.ts
  web/src/features/charts/hooks/useEmissionChartData.ts
  web/src/features/charts/tooltipCalculations.test.ts
  web/src/features/charts/tooltipCalculations.ts
  web/src/features/charts/tooltips/BreakdownChartTooltip.tsx
  web/src/features/charts/tooltips/ChartTooltips.cy.tsx
  web/src/features/charts/tooltips/EmissionChartTooltip.tsx
  web/src/features/exchanges/ExchangeTooltip.tsx
  web/src/features/exchanges/MobileExchangeTooltip.tsx
  web/src/stories/mockData.ts
  web/src/types.ts
  web/src/utils/formatting.test.ts
  web/src/utils/formatting.ts
  web/src/utils/helpers.test.ts
  web/src/utils/helpers.ts
Labels: frontend 🎨, translations 🗣

#5841 Update positioning of AR-UY exchange
  config/exchanges/AR_UY.yaml
Labels: exchange config

#5840 [total energy] Adds new introduction modal
  web/cypress/e2e/countrypanel.spec.ts
  web/cypress/e2e/map.spec.ts
  web/cypress/e2e/ranking.spec.ts
  web/cypress/e2e/timeslider.spec.ts
  web/public/images/onboarding/totalEnergyIntro.png
  web/src/App.tsx
  web/src/components/Modal.tsx
  web/src/features/modals/TotalEnergyIntroModal.tsx
  web/src/utils/state/atoms.ts
Labels: frontend 🎨

#5843 [total-energy] Update "by source" label to make it more clear
  web/public/locales/da.json
  web/public/locales/de.json
  web/public/locales/en.json
  web/public/locales/es.json
  web/public/locales/fr.json
  web/public/locales/hi.json
  web/public/locales/it.json
  web/public/locales/pt-BR.json
  web/public/locales/sl.json
  web/public/locales/sv.json
  web/public/locales/zh-CN.json
  web/public/locales/zh-TW.json
  web/src/features/charts/bar-breakdown/elements/BySource.tsx
Labels: frontend 🎨, translations 🗣

#5698 Update GB emission factors
  config/zones/GB-NIR.yaml
  config/zones/GB-ORK.yaml
  config/zones/GB.yaml
Labels: zone config

#5853 Update CO2 formatting
  web/src/utils/formatting.test.ts
  web/src/utils/formatting.ts
Labels: frontend 🎨

#5856 add GF and MQ "realtime" data
  parsers/FR_O.py
Labels: parser

#5855 fix IL production parser and add total production
  parsers/IL.py
Labels: parser

#5817 some windy fixes
  web/src/features/weather-layers/wind-layer/windy.test.ts
  web/src/features/weather-layers/wind-layer/windy.ts
Labels: frontend 🎨

#5854 Update capacity to use power and production to use energy
  web/src/features/charts/tooltips/BreakdownChartTooltip.tsx
  web/src/utils/formatting.test.ts
  web/src/utils/formatting.ts
Labels: frontend 🎨

#5860 Use power units for hourly and energy units for aggregated views
  web/src/features/charts/bar-breakdown/BarElectricityBreakdownChart.tsx
  web/src/features/charts/hooks/useBreakdownChartData.ts
  web/src/features/charts/hooks/useNetExchangeChartData.ts
  web/src/features/charts/tooltips/BreakdownChartTooltip.tsx
  web/src/features/charts/tooltips/NetExchangeChartTooltip.tsx
  web/src/features/exchanges/ExchangeTooltip.tsx
  web/src/features/exchanges/MobileExchangeTooltip.tsx
  web/src/utils/formatting.ts
Labels: frontend 🎨, translations 🗣

#5863 Refactor ZA parser
  config/zones/ZA.yaml
  parsers/ESKOM.py
Labels: parser, zone config

#5859 Refactor parser names
  config/exchanges/AR_CL-SEN.yaml
  config/exchanges/AR_PY.yaml
  config/exchanges/BZ_MX-PN.yaml
  config/exchanges/MX-CE_MX-OC.yaml
  config/exchanges/MX-CE_MX-OR.yaml
  config/exchanges/MX-NE_MX-NO.yaml
  config/exchanges/MX-NE_MX-OC.yaml
  config/exchanges/MX-NE_MX-OR.yaml
  config/exchanges/MX-NE_US-TEX-ERCO.yaml
  config/exchanges/MX-NO_MX-NW.yaml
  config/exchanges/MX-NO_MX-OC.yaml
  config/exchanges/MX-NO_US-TEX-ERCO.yaml
  config/exchanges/MX-NW_MX-OC.yaml
  config/exchanges/MX-OC_MX-OR.yaml
  config/exchanges/MX-OR_MX-PN.yaml
  config/zones/AR.yaml
  config/zones/MX-BC.yaml
  config/zones/MX-BCS.yaml
  config/zones/MX-CE.yaml
  config/zones/MX-NE.yaml
  config/zones/MX-NO.yaml
  config/zones/MX-NW.yaml
  config/zones/MX-OC.yaml
  config/zones/MX-OR.yaml
  config/zones/MX-PN.yaml
  config/zones/MX.yaml
  parsers/CAMMESA.py
  parsers/CENACE.py
  parsers/test/mocks/CENACE/DemandaRegional.html
  parsers/test/test_CAMMESA.py
  parsers/test/test_CENACE.py
Labels: parser, tests, zone config, exchange config

#5864 add a value factor for axis ticks of emissions breakdown chart
  web/src/features/charts/hooks/useBreakdownChartData.ts
Labels: frontend 🎨

#5844 Make FAQ more visible and update content
  web/public/locales/en.json
  web/src/components/Modal.tsx
  web/src/features/header/Header.tsx
  web/src/features/panels/LeftPanel.tsx
  web/src/features/panels/faq/FAQContent.tsx
  web/src/features/panels/faq/FAQPanel.tsx
  web/src/features/panels/ranking-panel/InfoText.tsx
Labels: frontend 🎨, translations 🗣

#5862 Shows a message if we dont have enough data for the charts
  web/public/locales/da.json
  web/public/locales/de.json
  web/public/locales/en.json
  web/public/locales/es.json
  web/public/locales/fr.json
  web/src/features/charts/BreakdownChart.tsx
  web/src/features/charts/CarbonChart.tsx
  web/src/features/charts/ChartTitle.tsx
  web/src/features/charts/NotEnoughDataMessage.tsx
  web/src/features/charts/PriceChart.tsx
Labels: frontend 🎨, translations 🗣

#5879 remove disclaimer for JP-ON
  config/zones/JP-ON.yaml
Labels: zone config

#5866 Update min python version to 3.10
  .python-version
  CONTRIBUTING.md
  Earthfile
  parsers.dockerfile
  poetry.lock
  pyproject.toml
Labels: dependencies

#5869 Refactor BR exchanges
  config/exchanges/AR_BR-S.yaml
  config/exchanges/BR-CS_BR-N.yaml
  config/exchanges/BR-CS_BR-NE.yaml
  config/exchanges/BR-CS_BR-S.yaml
  config/exchanges/BR-N_BR-NE.yaml
  config/exchanges/BR-S_PY.yaml
  config/zones/BR-CS.yaml
  config/zones/BR-N.yaml
  config/zones/BR-NE.yaml
  config/zones/BR-S.yaml
  parsers/ONS.py
  parsers/test/mocks/ONS/BR.json
  parsers/test/mocks/ONS/BR_negative_solar.json
  parsers/test/test_ONS.py
Labels: parser, tests, zone config, exchange config

#5887 Fix PH: Handle battery storage
  parsers/PH.py
Labels: parser

#5868 Refactor KR parser (bis)
  config/zones/KR.yaml
  parsers/KPX.py
  parsers/KR.py
  parsers/test/mocks/KPX/historical.html
  parsers/test/mocks/KPX/realtime.html
  parsers/test/snapshots/snap_test_KPX.py
  parsers/test/test_KPX.py
Labels: parser, tests, zone config

#5890 Ensure modal is always closeable
  web/src/components/Modal.tsx
  web/src/features/modals/TotalEnergyIntroModal.tsx
  web/tailwind.config.cjs
Labels: frontend 🎨

#5889 format axis to 2sf and reduce font size when more than 4 axis ticks
  web/src/features/charts/bar-breakdown/BarElectricityBreakdownChart.tsx
  web/src/features/charts/bar-breakdown/elements/Axis.tsx
Labels: frontend 🎨

#5891 Rename PH parser to IEMOP
  config/exchanges/PH-LU_PH-VI.yaml
  config/exchanges/PH-MI_PH-VI.yaml
  config/zones/PH-LU.yaml
  config/zones/PH-MI.yaml
  config/zones/PH-VI.yaml
  parsers/IEMOP.py
Labels: parser, zone config, exchange config

#5801 Use translation for new app toast
  web/public/locales/en.json
  web/src/App.tsx
  web/src/components/Toast.tsx
Labels: frontend 🎨, translations 🗣

#5896 update workbox and vite-plugin-pwa
  web/package.json
  web/pnpm-lock.yaml
Labels: frontend 🎨, dependencies

#5737 Remove unused `countryName` in world files
  web/geo/generateAggregates.ts
  web/geo/generateTopojson.ts
  web/geo/types.ts
  web/geo/validate.test.ts
  web/geo/validate.ts
  web/src/types.ts
Labels: frontend 🎨, techdebt

#5899 Fix NP config
  config/zones/NP.yaml
Labels: zone config

#5907 set PH nuclear subzone capacity to 0
  config/zones/PH-LU.yaml
  config/zones/PH-MI.yaml
  config/zones/PH-VI.yaml
Labels: zone config

#5902 Don't fly to zone when geometry changes and uppercase zones
  web/src/features/map/Map.tsx
  web/src/features/panels/LeftPanel.tsx
Labels: frontend 🎨

#5914 Include MX-BCS into MX aggreagation
  config/zones/MX.yaml
  web/public/locales/en.json
Labels: translations 🗣, zone config

#5892 Add tests for IEMOP production
  parsers/IEMOP.py
  parsers/test/mocks/IEMOP/list_reports_items.json
  parsers/test/mocks/IEMOP/reports_content
  parsers/test/snapshots/snap_test_IEMOP.py
  parsers/test/test_IEMOP.py
Labels: parser, tests

#5917 Fix KPX refetch frequency
  parsers/KPX.py
Labels: parser

#5897 Make monthly include 1 more month
  web/cypress/e2e/countrypanel.spec.ts
  web/cypress/e2e/map.spec.ts
  web/cypress/e2e/ranking.spec.ts
  web/cypress/e2e/timeslider.spec.ts
  web/src/api/getState.ts
  web/src/features/time/TimeAxis.tsx
Labels: frontend 🎨

#5922 Enable getting storage data
  parsers/IEMOP.py
  parsers/test/snapshots/snap_test_IEMOP.py
Labels: parser, tests

#5893 Upgrade pandas to 2.1.0
  poetry.lock
  pyproject.toml
Labels: dependencies

#5919 Hide specific aggregates for specific zones
  config/zones/HK.yaml
  config/zones/ID.yaml
  electricitymap/contrib/config/model.py
  web/public/locales/en.json
  web/src/features/panels/zone/NoInformationMessage.tsx
  web/src/features/panels/zone/ZoneDetails.tsx
  web/src/features/panels/zone/util.ts
Labels: frontend 🎨, translations 🗣, zone config

#5931 Fix ZA and add snapshot
  parsers/ESKOM.py
  parsers/test/mocks/ESKOM/Station_Build_Up.csv
  parsers/test/snapshots/snap_test_ESKOM.py
  parsers/test/test_ESKOM.py
Labels: parser, tests

#5930 Fix KeyError and refactor TW parser
  config/zones/TW.yaml
  parsers/TAIPOWER.py
  parsers/test/mocks/TAIPOWER/genary.json
  parsers/test/snapshots/snap_test_TAIPOWER.py
  parsers/test/test_TAIPOWER.py
Labels: parser, tests, zone config

#5927 Update Swedish translations
  web/public/locales/sv.json
Labels: translations 🗣

#5937 fix KPX parser
  parsers/KPX.py
  parsers/test/snapshots/snap_test_KPX.py
Labels: parser, tests

#5936 fix MX-BC->US-CAL-CISO exchange
  config/exchanges/MX-BC_US-CAL-CISO.yaml
  parsers/CENACE.py
  parsers/US_CA.py
Labels: parser, exchange config

#5932 Show daily, monthly and yearly for CA-SK
  config/zones/CA-SK.yaml
Labels: zone config

#5947 Update FI.yaml
  config/zones/FI.yaml
Labels: zone config

#5949 Link Get our data to /get-our-data
  web/src/features/header/Header.tsx
Labels: frontend 🎨

#5948 run eslint fix
  web/src/features/panels/zone/NoInformationMessage.tsx
  web/src/features/panels/zone/ZoneDetails.tsx
  web/src/features/panels/zone/util.ts
Labels: frontend 🎨

#5926 New onboarding modal
  web/public/images/onboarding/exchangeArrows.gif
  web/public/images/onboarding/exchangeArrows.png
  web/public/images/onboarding/mapExtract.png
  web/public/images/onboarding/mapExtract.webp
  web/public/images/onboarding/pastData.png
  web/public/images/onboarding/pastData.webp
  web/public/images/onboarding/splitLayers.png
  web/public/images/onboarding/splitLayers.webp
  web/public/images/onboarding/switchEmissions.png
  web/public/images/onboarding/switchEmissions.webp
  web/public/images/onboarding/switchViews.png
  web/public/images/onboarding/switchViews.webp
  web/public/images/onboarding/totalEnergyIntro.webp
  web/public/locales/cs.json
  web/public/locales/de.json
  web/public/locales/el.json
  web/public/locales/en.json
  web/public/locales/es.json
  web/public/locales/et.json
  web/public/locales/fi.json
  web/public/locales/fr.json
  web/public/locales/hi.json
  web/public/locales/hr.json
  web/public/locales/id.json
  web/public/locales/it.json
  web/public/locales/ja.json
  web/public/locales/ko.json
  web/public/locales/no-NB.json
  web/public/locales/pl.json
  web/public/locales/pt-BR.json
  web/public/locales/ro.json
  web/public/locales/ru.json
  web/public/locales/sk.json
  web/public/locales/sl.json
  web/public/locales/sv.json
  web/public/locales/vi.json
  web/public/locales/zh-CN.json
  web/public/locales/zh-TW.json
  web/src/components/modals/OnboardingModal.tsx
  web/src/components/modals/OnboardingModalInner.tsx
Labels: frontend 🎨, translations 🗣

#5815 Render solar layer for the whole planet
  web/src/features/map-controls/MapControls.tsx
  web/src/features/weather-layers/solar/SolarLayer.tsx
Labels: frontend 🎨
