Repository electricitymaps/electricitymaps-contrib, pull requests merged in 2023-12, with the labels that each got.

#6173 Increase significant digits
  web/src/features/charts/bar-breakdown/BarElectricityBreakdownChart.tsx
  web/src/features/charts/tooltips/ChartTooltips.cy.tsx
  web/src/utils/formatting.test.ts
  web/src/utils/formatting.ts
Labels: frontend 🎨

#6219 [CA-BC] Updates unknown emission factor for zone
  config/zones/CA-BC.yaml
Labels: zone config

#6230 ops(workflows): Add codium PR reviewing agent
  .github/workflows/pr_agent.yml
Labels: infrastructure

#6235 ops(workflows): call on both PR and comment issued
  .github/workflows/pr_agent.yml
Labels: infrastructure

#6241 [REF] Update US emission factors
  config/zones/US-AK.yaml
  config/zones/US-CAL-BANC.yaml
  config/zones/US-CAL-CISO.yaml
  config/zones/US-CAL-IID.yaml
  config/zones/US-CAL-LDWP.yaml
  config/zones/US-CAL-TIDC.yaml
  config/zones/US-CAR-CPLE.yaml
  config/zones/US-CAR-DUK.yaml
  config/zones/US-CAR-SC.yaml
  config/zones/US-CAR-SCEG.yaml
  config/zones/US-CENT-SPA.yaml
  config/zones/US-CENT-SWPP.yaml
  config/zones/US-FLA-FMPP.yaml
  config/zones/US-FLA-FPC.yaml
  config/zones/US-FLA-FPL.yaml
  config/zones/US-FLA-GVL.yaml
  config/zones/US-FLA-HST.yaml
  config/zones/US-FLA-JEA.yaml
  config/zones/US-FLA-SEC.yaml
  config/zones/US-FLA-TAL.yaml
  config/zones/US-FLA-TEC.yaml
  config/zones/US-HI-HA.yaml
  config/zones/US-HI-KA.yaml
  config/zones/US-HI-MA.yaml
  config/zones/US-HI-OA.yaml
  config/zones/US-MIDA-PJM.yaml
  config/zones/US-MIDW-AECI.yaml
  config/zones/US-MIDW-LGEE.yaml
  config/zones/US-MIDW-MISO.yaml
  config/zones/US-NE-ISNE.yaml
  config/zones/US-NW-AVA.yaml
  config/zones/US-NW-BPAT.yaml
  config/zones/US-NW-GRID.yaml
  config/zones/US-NW-IPCO.yaml
  config/zones/US-NW-NEVP.yaml
  config/zones/US-NW-NWMT.yaml
  config/zones/US-NW-PACE.yaml
  config/zones/US-NW-PACW.yaml
  config/zones/US-NW-PGE.yaml
  config/zones/US-NW-PSCO.yaml
  config/zones/US-NW-PSEI.yaml
  config/zones/US-NW-TPWR.yaml
  config/zones/US-NW-WACM.yaml
  config/zones/US-NY-NYIS.yaml
  config/zones/US-SE-SOCO.yaml
  config/zones/US-SW-AZPS.yaml
  config/zones/US-SW-EPE.yaml
  config/zones/US-SW-PNM.yaml
  config/zones/US-SW-SRP.yaml
  config/zones/US-SW-TEPC.yaml
  config/zones/US-SW-WALC.yaml
  config/zones/US-TEN-TVA.yaml
  config/zones/US-TEX-ERCO.yaml
  tests/test_co2eq_parameters.py
Labels: emission factors

#6194 Jl/nova scotia update capacity + add oil parsing
  config/zones/CA-NS.yaml
  parsers/CA_NS.py
Labels: parser, zone config

#6239 Reduce AU-NT data lag
  parsers/NTESMO.py
Labels: parser

#6226 Add VN unknown emission factor
  config/zones/VN-C.yaml
  config/zones/VN-N.yaml
  config/zones/VN-S.yaml
  config/zones/VN.yaml
Labels: zone config

#6245 [REF] EU emission factors 2022
  config/zones/AT.yaml
  config/zones/AX.yaml
  config/zones/BE.yaml
  config/zones/BG.yaml
  config/zones/CY.yaml
  config/zones/CZ.yaml
  config/zones/DE.yaml
  config/zones/DK-BHM.yaml
  config/zones/DK-DK1.yaml
  config/zones/DK-DK2.yaml
  config/zones/DK.yaml
  config/zones/EE.yaml
  config/zones/ES-CN-FVLZ.yaml
  config/zones/ES-CN-GC.yaml
  config/zones/ES-CN-HI.yaml
  config/zones/ES-CN-IG.yaml
  config/zones/ES-CN-LP.yaml
  config/zones/ES-CN-TE.yaml
  config/zones/ES-IB-FO.yaml
  config/zones/ES-IB-IZ.yaml
  config/zones/ES-IB-MA.yaml
  config/zones/ES-IB-ME.yaml
  config/zones/ES.yaml
  config/zones/FI.yaml
  config/zones/FO-MI.yaml
  config/zones/FO-SI.yaml
  config/zones/FO.yaml
  config/zones/FR-COR.yaml
  config/zones/FR.yaml
  config/zones/GR-IS.yaml
  config/zones/GR.yaml
  config/zones/HR.yaml
  config/zones/HU.yaml
  config/zones/IE.yaml
  config/zones/IT-CNO.yaml
  config/zones/IT-CSO.yaml
  config/zones/IT-NO.yaml
  config/zones/IT-SAR.yaml
  config/zones/IT-SIC.yaml
  config/zones/IT-SO.yaml
  config/zones/IT.yaml
  config/zones/LT.yaml
  config/zones/LU.yaml
  config/zones/LV.yaml
  config/zones/MT.yaml
  config/zones/NL.yaml
  config/zones/NO.yaml
  config/zones/PL.yaml
  config/zones/PT-AC.yaml
  config/zones/PT-MA.yaml
  config/zones/PT.yaml
  config/zones/RO.yaml
  config/zones/SE-SE1.yaml
  config/zones/SE-SE2.yaml
  config/zones/SE-SE3.yaml
  config/zones/SE-SE4.yaml
  config/zones/SE.yaml
  config/zones/SI.yaml
  config/zones/SK.yaml
  parsers/test/test_config.py
Labels: parser, python, tests, zone config

#6253 update REE capacity mode mapping
  electricitymap/contrib/capacity_parsers/REE.py
Labels: python, capacity parser

#6105 Run Earthly on Actions
  .github/workflows/CI.yml
  .github/workflows/earthly-contrib.yml
  Earthfile
  config/Earthfile
  web/Earthfile
  web/package.json
Labels: frontend 🎨, dependencies, infrastructure

#6182 Add support for fetching historical data for all French overseas regions
  parsers/FR_O.py
  parsers/test/test_FR_O.py
Labels: parser, historical data :calendar:, python, tests

#6233 ops(workflows): Update filenames to use underscores over dashes
  .github/workflows/CI.yml
  .github/workflows/deploy_preview_branch.yml
  .github/workflows/deploy_staging.yml
  .github/workflows/validate_local_links_in_md.yml
Labels: infrastructure

#6162 Slovenian translation: fixed country names
  web/public/locales/sl.json
Labels: translations 🗣

#6260 Update discharge emission factors and overrides CH
  config/zones/CH.yaml
Labels: zone config

#5888 Refactor DK-BHM parser
  config/zones/DK-BHM.yaml
  parsers/BORNHOLM_POWERLAB.py
  parsers/DK_BHM.py
  parsers/test/mocks/Bornholm_Powerlab/__init__.py
  parsers/test/mocks/Bornholm_Powerlab/latest_data.json
  parsers/test/snapshots/snap_test_bornholm_powerlab.py
  parsers/test/test_bornholm_powerlab.py
Labels: parser, python, tests, zone config

#6262 refactor(parser structure): Refactor IS parser
  config/zones/IS.yaml
  parsers/IS.py
  parsers/amper_landsnet.py
  parsers/test/mocks/amper_landsnet/production.json
  parsers/test/snapshots/snap_test_amper_landsnet.py
  parsers/test/test_amper_landsnet.py
Labels: parser, python, tests, zone config

#6256 Fix initial map state uncolored zones issue
  web/src/features/map/Map.tsx
Labels: frontend 🎨

#6265 refactor(parser validation): Refactor BD part 1
  config/exchanges/BD_IN-EA.yaml
  config/exchanges/BD_IN-NE.yaml
  config/zones/BD.yaml
  parsers/ERP_PGCB.py
  parsers/test/mocks/ERP_PCGB/historical.html
  parsers/test/mocks/ERP_PCGB/latest.html
  parsers/test/snapshots/snap_test_ERP_PCGB.py
  parsers/test/test_ERP_PCGB.py
Labels: parser, python, tests, zone config, exchange config

#6266 fix(parser_ERP_PGCB): rename the test files accordingly
  parsers/test/mocks/ERP_PGCB/historical.html
  parsers/test/mocks/ERP_PGCB/latest.html
  parsers/test/snapshots/snap_test_ERP_PGCB.py
  parsers/test/test_ERP_PGCB.py
Labels: parser, python, tests

#6267 refactor(parser-validation): refactor BD part 2
  parsers/ERP_PGCB.py
  parsers/test/snapshots/snap_test_ERP_PGCB.py
Labels: parser, python, tests

#6272 fix(event structure): round values in settratr
  electricitymap/contrib/lib/models/events.py
Labels: python

#6271 refactor(parser-valiation): refactor BO parser
  config/zones/BO.yaml
  parsers/BO.py
  parsers/CNDC.py
  parsers/test/mocks/CNDC/data.json
  parsers/test/mocks/CNDC/index.html
  parsers/test/snapshots/snap_test_CNDC.py
  parsers/test/test_CNDC.py
Labels: parser, python, tests, zone config

#6192 refactor: remove arrow from CA-QC
  parsers/CA_QC.py
Labels: parser, python

#6246 refactor: remove arrow from SG parser
  parsers/SG.py
Labels: parser, python

#6281 refactor: remove arrow from UY parser
  parsers/UY.py
Labels: parser, python

#6290 Update LT.yaml
  config/zones/LT.yaml
Labels: zone config

#6269 NZ parser: Update oil for name change
  parsers/NZ.py
Labels: parser, python

#6296 fix(Taipower parser down): update number of expected columns in the TW parser
  parsers/TAIPOWER.py
  parsers/test/mocks/TAIPOWER/genary.json
  parsers/test/snapshots/snap_test_TAIPOWER.py
Labels: parser, python, tests
