Repository electricitymaps/electricitymaps-contrib, pull requests merged in 2023-03, with the labels that each got.

#5144 Replaces the fallback flag with a square
  web/src/components/Flag.tsx
  web/src/features/panels/zone/ZoneHeaderTitle.tsx
Labels: frontend 🎨

#5138 Reworks the main README
  README.md
  web/public/images/electricitymap_social_image.png
Labels: frontend 🎨

#5148 Upgrade Earthly version
  Earthfile
  config/Earthfile
  web/Earthfile
Labels: frontend 🎨

#5082 Ignore generated files
  .github/workflows/CI.yml
  .github/workflows/validate_generate_files.yml
  .gitignore
  web/.gitignore
  web/config/exchanges.json
  web/config/excludedAggregatedExchanges.json
  web/config/world.json
  web/config/zones.json
  web/package.json
Labels: frontend 🎨, dependencies, infrastructure

#5150 Adds typechecking workflow to CI
  .github/workflows/CI.yml
  .github/workflows/typecheck.yml
  web/src/features/map/map-utils/generateTopos.ts
Labels: frontend 🎨, infrastructure

#5145 Tonyvanswet/ele 1792 get cypress e2e running locally
  mockserver/public/v6/details/hourly/UA.json
  web/cypress.config.ts
  web/cypress/e2e/countrypanel.spec.ts
  web/cypress/e2e/index.spec.ts
  web/cypress/e2e/onboarding.spec.ts
  web/cypress/e2e/timeslider.spec.ts
  web/package.json
  web/pnpm-lock.yaml
  web/src/components/CircularGauge.tsx
  web/src/components/TimeSlider.tsx
  web/src/components/modals/OnboardingModal.tsx
  web/src/components/modals/OnboardingModalInner.tsx
  web/src/features/charts/CarbonChart.tsx
  web/src/features/charts/tooltips/CarbonChartTooltip.tsx
  web/src/features/panels/LeftPanel.tsx
  web/src/features/panels/zone/ZoneDetails.tsx
  web/src/features/panels/zone/ZoneHeader.tsx
  web/src/utils/analytics.ts
Labels: frontend 🎨, dependencies

#5162 create config for enabling aggregated view
  config/zones/JP.yaml
Labels: zone config

#5076 Create CO.py parser for Colombia's demand
  config/zones/CO.yaml
  parsers/CO.py
Labels: frontend 🎨, parser, zone config

#5165 Fixes typechecking CI step!
  .github/workflows/typecheck.yml
Labels: infrastructure

#5147 Tonyvanswet/ele 1792 get cypress e2e running on contrib ci 2
  .github/workflows/CI.yml
  .github/workflows/cypress.yml
  web/cypress.config.ts
  web/cypress/e2e/countrypanel.spec.ts
  web/cypress/support/commands.ts
  web/src/api/helpers.ts
  web/vite.config.cts
Labels: frontend 🎨, dependencies, infrastructure

#5176 add jp translation
  web/public/locales/en.json
Labels: translations 🗣

#5163 Tonyvanswet/pre commit
  web/.husky/pre-commit
Labels: frontend 🎨, dependencies

#5180 Tvs/fix tooltips
  web/src/components/ToggleButton.tsx
Labels: frontend 🎨

#5174 Adjusts the borders of Japan regions to be more precise
  web/Earthfile
  web/geo/world.geojson
Labels: frontend 🎨

#5188 fix(SV): migrate http to https to avoid connection error
  parsers/SV.py
Labels: parser

#5170 cypress test all script
  web/package.json
Labels: frontend 🎨, dependencies

#5173 fix FO emission factor
  config/zones/FO.yaml
Labels: zone config, emission factors

#5195 on outside click for mobile exchange tooltip
  web/src/components/tooltips/MobileTooltipWrapper.tsx
Labels: frontend 🎨

#4407 feat(TH): use 1-min datasource and implement `fetch_generation_forecast()`
  config/zones/TH.yaml
  parsers/TH.py
Labels: parser, zone config

#5171 publish from earthly to staging
  web/Earthfile
Labels: frontend 🎨, dependencies

#5116 Exchange config fixes for IE & GB-NIR
  config/exchanges/GB-NIR_IE.yaml
  parsers/IE.py
Labels: parser, exchange config

#5201 [TW] add http status for parser data
  parsers/TW.py
Labels: parser

#5169 Include target_time iteration and fix pytz issues
  parsers/IN.py
  parsers/test/test_IN.py
Labels: parser, tests

#5197 speed up generate-world by skipping validation if the world file is the same as the current one
  web/geo/generateTopojson.ts
  web/geo/generateWorld.ts
Labels: frontend 🎨

#5179 [Geo I] Typing functionality
  .github/workflows/typecheck.yml
  web/.gitignore
  web/geo/files.ts
  web/geo/generateAggregates.ts
  web/geo/generateExchangesToExclude.ts
  web/geo/generateTopojson.ts
  web/geo/generateWorld.ts
  web/geo/generateZoneBoundingBoxes.ts
  web/geo/types.ts
  web/geo/utilities.ts
  web/geo/validate.ts
  web/scripts/generateZonesConfig.ts
  web/tsconfig.json
  web/tsconfig.node.json
Labels: frontend 🎨, infrastructure

#5181 [Geo II] Updates scripts
  .github/workflows/eslint.yml
  .github/workflows/typecheck.yml
  .github/workflows/unit_test.yml
  web/package.json
  web/pnpm-lock.yaml
Labels: frontend 🎨, dependencies, infrastructure

#5211 Fixes links
  web/Earthfile
  web/src/features/modals/InfoModal.tsx
  web/src/features/panels/ranking-panel/SocialButtons.tsx
Labels: frontend 🎨

#5212 add generate steps
  web/Earthfile
Labels: frontend 🎨

#5208 common helper for fossil fuel ratio
  web/src/features/map/MapTooltip.tsx
  web/src/features/panels/zone/ZoneHeader.tsx
  web/src/utils/helpers.test.ts
  web/src/utils/helpers.ts
Labels: frontend 🎨

#5086 Tonyvanswet/multi dark mode
  web/cypress/e2e/map.spec.ts
  web/cypress/support/component.ts
  web/index.html
  web/package.json
  web/pnpm-lock.yaml
  web/public/locales/cs.json
  web/public/locales/da.json
  web/public/locales/de.json
  web/public/locales/el.json
  web/public/locales/en.json
  web/public/locales/es.json
  web/public/locales/et.json
  web/public/locales/fi.json
  web/public/locales/fr.json
  web/public/locales/hr.json
  web/public/locales/id.json
  web/public/locales/it.json
  web/public/locales/ja.json
  web/public/locales/ko.json
  web/public/locales/nl.json
  web/public/locales/no-NB.json
  web/public/locales/pl.json
  web/public/locales/pt-BR.json
  web/public/locales/ro.json
  web/public/locales/ru.json
  web/public/locales/sk.json
  web/public/locales/sl.json
  web/public/locales/sv.json
  web/public/locales/vi.json
  web/public/locales/zh-CN.json
  web/src/App.tsx
  web/src/features/charts/bar-breakdown/utils.ts
  web/src/features/map-controls/LanguageSelector.cy.tsx
  web/src/features/map-controls/LanguageSelector.tsx
  web/src/features/map-controls/MapButton.tsx
  web/src/features/map-controls/MapControls.cy.tsx
  web/src/features/map-controls/MapControls.tsx
  web/src/features/map-controls/MapOptionSelector.tsx
  web/src/features/map-controls/ThemeSelector.tsx
  web/src/features/modals/MobileLanguageSelector.tsx
  web/src/features/modals/SettingsModal.tsx
  web/src/hooks/theme.ts
  web/src/index.css
  web/src/utils/constants.ts
  web/src/utils/state/atoms.ts
  web/tailwind.config.cjs
Labels: frontend 🎨, dependencies, translations 🗣

#5218 Tvs/theme selector mobile
  web/package.json
  web/pnpm-lock.yaml
  web/src/features/map-controls/LanguageSelector.tsx
  web/src/features/map-controls/MapControls.tsx
  web/src/features/map-controls/MapOptionSelector.tsx
  web/src/features/map-controls/ThemeSelector.tsx
  web/src/features/modals/MobileLanguageSelector.tsx
  web/src/features/modals/SettingsModal.cy.tsx
  web/src/features/modals/SettingsModal.tsx
Labels: frontend 🎨, dependencies

#5219 close dropdown on outside click
  web/src/components/Button.tsx
  web/src/features/map-controls/LanguageSelector.tsx
  web/src/features/map-controls/MapControls.cy.tsx
  web/src/features/map-controls/MapOptionSelector.tsx
  web/src/features/map-controls/ThemeSelector.tsx
  web/src/features/modals/SettingsModal.cy.tsx
Labels: frontend 🎨

#5222 Fixes net exchanges not always appearing in the graph when changing selected time
  web/src/features/charts/bar-breakdown/utils.test.ts
  web/src/features/charts/bar-breakdown/utils.ts
  web/src/features/charts/hooks/useBarElectricityBreakdownChartData.ts
  web/src/features/charts/hooks/useBreakdownChartData.ts
Labels: frontend 🎨

#5221 Removes Sentry tracing
  web/package.json
  web/pnpm-lock.yaml
  web/src/main.tsx
  web/vite.config.cts
Labels: frontend 🎨, dependencies

#5224 refetch on focus if stale
  web/src/api/getState.ts
Labels: frontend 🎨

#5228 fix aggregateButtons country-zone toggle translation [de.json]
  web/public/locales/de.json
Labels: translations 🗣

#5226 increase date container width
  web/src/features/charts/tooltips/CarbonChartTooltip.tsx
Labels: frontend 🎨

#5227 Reduces panel re-rerenders when dragging timeslider
  web/src/features/panels/zone/Attribution.tsx
  web/src/features/panels/zone/ZoneDetails.tsx
  web/src/features/panels/zone/ZoneHeader.tsx
Labels: frontend 🎨

#5229 allow landscape for android and hide header when native
  mobileapp/android/app/build.gradle
  mobileapp/android/app/src/main/AndroidManifest.xml
  mobileapp/ios/App/App.xcodeproj/project.pbxproj
  mobileapp/package.json
  web/src/components/Button.tsx
  web/src/features/header/Header.tsx
  web/src/features/map-controls/LanguageSelector.tsx
  web/src/features/map-controls/MapOptionSelector.tsx
  web/src/features/map-controls/ThemeSelector.tsx
Labels: frontend 🎨, mobile app 📱, dependencies

#5231 change german term for 'zone'
  web/public/locales/de.json
Labels: translations 🗣

#5235 Fix exchange bar background in Bar Breakdown Cart
  web/src/features/charts/bar-breakdown/BarElectricityBreakdownChart.tsx
Labels: frontend 🎨

#5234 component tests for chart tooltips
  .github/workflows/cypress.yml
  web/src/features/charts/tooltips/ChartTooltips.cy.tsx
Labels: frontend 🎨, infrastructure

#5238 Add retry strategy for AU-NT (NETSMO parser)
  parsers/NTESMO.py
  parsers/lib/config.py
Labels: parser

#5240 updated FR parser to enable historical backfill
  config/zones/FR.yaml
  parsers/FR.py
Labels: parser, zone config

#5242 fix lockfile
  web/pnpm-lock.yaml
Labels: frontend 🎨, dependencies

#5214 Upgrade vite
  web/package.json
  web/pnpm-lock.yaml
Labels: frontend 🎨, dependencies

#5251 Updated FI renewable capacities per Fingrid
  config/zones/FI.yaml
Labels: zone config
