Repository electricitymaps/electricitymaps-contrib, pull requests merged in 2023-01, with the labels that each got.

#4893 Add Argentina exchanges
  config/exchanges/AR_CL-SEN.yaml
  config/exchanges/AR_PY.yaml
  config/exchanges/AR_UY.yaml
  parsers/AR.py
Labels: frontend 🎨, parser, exchange config

#4919 Fix SE unknown emission factors
  config/zones/SE-SE1.yaml
  config/zones/SE-SE2.yaml
  config/zones/SE-SE3.yaml
  config/zones/SE-SE4.yaml
  config/zones/SE.yaml
Labels: zone config

#4899 Add Embeded wind/solar and pumped hydro storage to ELEXON parser.
  parsers/ELEXON.py
Labels: parser

#4912 Fix DK's exchange parser's invalid datetime format
  parsers/DK.py
Labels: parser

#4844 Tonyvanswet/mobile app release
  mobileapp/config.xml
  mobileapp/package-lock.json
  mobileapp/package.json
  web/src/layout/leftpanel/index.jsx
Labels: frontend 🎨, mobile app 📱, dependencies

#4925 update_UY_parser
  config/exchanges/AR_UY.yaml
  config/exchanges/BR-S_UY.yaml
  config/zones/UY.yaml
  parsers/UY.py
Labels: parser, zone config, exchange config

#4921 Remove SE parser aggregation + general cleanup for DK, NO and SE
  config/zones/DK.yaml
  config/zones/NO-NO1.yaml
  config/zones/NO-NO2.yaml
  config/zones/NO-NO3.yaml
  config/zones/NO-NO4.yaml
  config/zones/NO-NO5.yaml
  config/zones/NO.yaml
  config/zones/SE.yaml
  parsers/ENTSOE.py
Labels: parser, zone config

#4928 fix the ZA parser
  parsers/ZA.py
Labels: parser

#4936 fix DK parser
  parsers/DK.py
Labels: parser

#4942 Rename some inconsistant test names for AUS
  parsers/test/mocks/AU/AU_TAS_FI_payload1.json
  parsers/test/mocks/AU/AU_TAS_KI_payload1.json
  parsers/test/mocks/AU/AU_WA_RI_payload1.json
  parsers/test/test_AU_TAS_FI.py
  parsers/test/test_AU_TAS_KI.py
  parsers/test/test_AU_WA_RI.py
Labels: parser, tests

#4941 new IE parser
  DATA_SOURCES.md
  config/exchanges/GB-NIR_IE.yaml
  config/exchanges/GB_GB-NIR.yaml
  config/zones/GB-NIR.yaml
  config/zones/IE.yaml
  parsers/IE.py
Labels: parser, zone config, exchange config

#4943 Adds missing translations of zone names
  web/public/locales/en.json
Labels: translations 🗣

#4950 fix_IE_parser
  parsers/IE.py
Labels: parser

#4952 Add storage to FR_O parser
  parsers/FR_O.py
Labels: parser

#4948 gr capacity update
  DATA_SOURCES.md
  config/exchanges/BG_GR.yaml
  config/zones/GR.yaml
Labels: zone config, exchange config

#4929 Add validation rules to BA in ENTOSE.py
  parsers/ENTSOE.py
Labels: parser

#4954 Add india consumption
  config/zones/IN-EA.yaml
  config/zones/IN-NE.yaml
  config/zones/IN-NO.yaml
  config/zones/IN-SO.yaml
  parsers/IN.py
Labels: parser, zone config

#4953 Add config filename validation to CI
  .github/workflows/CI.yml
  .github/workflows/validate_filenames.yml
  scripts/validate_config_filenames.py
Labels: infrastructure

#4960 IN parser update
  parsers/IN.py
  parsers/lib/validation.py
Labels: parser

#4956 Develop in no zone
  config/zones/IN-NO.yaml
  config/zones/IN.yaml
  parsers/IN.py
Labels: parser, zone config

#4961 update set-output to match the new syntax
  .github/workflows/CI.yml
  .github/workflows/python.yml
Labels: infrastructure

#4962 Updated PT Capacities
  DATA_SOURCES.md
  config/zones/PT.yaml
Labels: zone config

#4967 tz fix in-no
  parsers/IN.py
Labels: parser

#4970 TH: Updated Capacity Data from December 2022
  config/zones/TH.yaml
Labels: zone config

#4972 TR_parser_update
  config/zones/TR.yaml
  parsers/TR.py
Labels: parser, zone config

#4971 IN_parser_fix_historical
  DATA_SOURCES.md
  parsers/IN.py
Labels: parser

#4978 Update Belgian solar & wind capacities
  config/zones/BE.yaml
Labels: zone config

#4983 Bump isort
  poetry.lock
  pyproject.toml
Labels: dependencies

#4979 Fix exchange fetching in parsers/IE.py
  parsers/IE.py
Labels: parser

#4988 remove experimental optmisation
  web/tailwind.config.js
Labels: frontend 🎨

#4992 Add validator for hydro in US-CAR-YAD
  parsers/lib/quality.py
  tests/validators/fixtures/US-CAR-YAD_production_with_invalid_hydro.csv
  tests/validators/test_zone_specific_checks.py
  validators/zone_specific_checks.py
Labels: parser, tests

#4995 remove keystore
  mobileapp/electricitymap.keystore
Labels: mobile app 📱

#4984 Makes CI run successfully after the app rewrite merge
  .github/codeql-config.yml
  .github/workflows/CI.yml
  .github/workflows/codeql.yml
  .github/workflows/unit_test.yml
  .github/workflows/validate-local-links-in-md.yml
  .github/workflows/validate_filenames.yml
  .github/workflows/validate_generated_files.yml
  web/README.md
  web/package.json
  web/src/App.test.tsx
  web/src/components/LoadingOrError.test.tsx
  web/src/features/charts/tooltipCalculations.test.ts
  web/src/features/map/Map.test.tsx
  web/src/translation/i18n.ts
Labels: frontend 🎨, dependencies, infrastructure

#4990 No more yarn in web
  .github/labeler.yml
  mockserver/pnpm-lock.yaml
  mockserver/yarn.lock
  scripts/remove_zone.py
  web/.prettierignore
  web/.vscode/settings.json
  web/README.md
  web/package.json
  web/scripts/generate-zones-config.ts
Labels: frontend 🎨, dependencies, infrastructure

#4998 Fix NTESMO parser
  parsers/NTESMO.py
Labels: parser

#4996 Updates name of world.json-generation script for consistency
  .github/workflows/validate_generated_files.yml
  scripts/remove_zone.py
  web/geo/README.md
  web/geo/generate-topojson.ts
  web/geo/generate-world.ts
  web/package.json
Labels: frontend 🎨, dependencies, infrastructure
