Repository electricitymaps/electricitymaps-contrib, pull requests merged in 2023-08, with the labels that each got.

#5661 Update script to remove zones & Remove config for 3 deprecated US zones
  EMISSION_FACTORS_SOURCES.md
  config/retired_zones/US-NW-AVRN.yaml
  config/retired_zones/US-SW-DEAA.yaml
  config/retired_zones/US-SW-HGMA.yaml
  parsers/lib/quality.py
  parsers/test/test_EIA.py
  scripts/remove_zone.py
  validators/zone_specific_checks.py
  web/geo/world.geojson
  web/public/locales/de.json
  web/public/locales/el.json
  web/public/locales/en.json
  web/public/locales/es.json
  web/public/locales/et.json
  web/public/locales/fi.json
  web/public/locales/fr.json
  web/public/locales/it.json
  web/public/locales/ja.json
  web/public/locales/no-NB.json
  web/public/locales/pt-BR.json
  web/public/locales/ro.json
  web/public/locales/sl.json
  web/public/locales/sv.json
  web/public/locales/zh-CN.json
  web/public/locales/zh-TW.json
Labels: frontend 🎨, parser, translations 🗣, tests

#5658 Reverse AR<->CL-SEN arrow
  config/exchanges/AR_CL-SEN.yaml
Labels: exchange config

#5679 fix flex of zone disclaimer tooltip
  web/src/features/panels/zone/ZoneHeaderTitle.tsx
Labels: frontend 🎨

#5677 Dependency maintenance
  .github/dependabot.yml
  web/package.json
  web/pnpm-lock.yaml
  web/src/components/Flag.tsx
  web/src/translation/translation.ts
Labels: frontend 🎨, dependencies, infrastructure

#5694 Remove set_value from the Mix class in favour of add_value
  electricitymap/contrib/lib/models/events.py
  electricitymap/contrib/lib/tests/test_event_lists.py
  electricitymap/contrib/lib/tests/test_events.py
  parsers/CO.py
  parsers/EIA.py
  parsers/ENTSOE.py
  parsers/IN.py
  parsers/NI.py
  parsers/examples/example_parser.py
Labels: parser

#5696 Update capacities in TW.yaml
  config/zones/TW.yaml
Labels: zone config

#5663 #5662 Add Vogtle 3 nuclear capacity
  DATA_SOURCES.md
  config/zones/US-SE-SOCO.yaml
  config/zones/US.yaml
Labels: zone config

#5702 Fix CY solar and biomass
  parsers/CY.py
Labels: parser

#5700 Fix negative scaling in graphs
  web/src/features/charts/elements/AreaGraph.tsx
Labels: frontend 🎨

#5708 TH: Updated Capacity Data from July 2023
  config/zones/TH.yaml
Labels: zone config

#5709 Fix tooltip position on negative values
  web/src/features/charts/elements/GraphHoverline.tsx
Labels: frontend 🎨

#5710 Fixes breakdown tooltips on Safari
  web/src/features/charts/bar-breakdown/BarBreakdownChart.tsx
Labels: frontend 🎨

#5713 Updated solar capacity for Hungary
  DATA_SOURCES.md
  config/zones/HU.yaml
Labels: zone config

#5621 Adds production release lanes
  mobileapp/.gitignore
  mobileapp/android/app/build.gradle
  mobileapp/fastlane/Fastfile
  mobileapp/fastlane/README.md
  mobileapp/ios/App/App.xcodeproj/project.pbxproj
  mobileapp/package.json
Labels: mobile app 📱, dependencies

#5538 Fetches latest hour separately before fetching all 24 hours
  web/src/App.tsx
  web/src/api/getState.ts
  web/src/features/time/TimeController.tsx
Labels: frontend 🎨

#5715 Add solar mock data and fix solar layer moving issue
  mockserver/public/v3/gfs/solar.json
  mockserver/server.js
  web/src/features/weather-layers/solar/SolarLayer.tsx
Labels: frontend 🎨

#5719 Update Belgian wind & solar capacities
  config/zones/BE.yaml
Labels: zone config

#5717 Remove Unused Dependency: Deepdiff
  poetry.lock
  pyproject.toml
Labels: dependencies

#5729 Updated capacities for Hungary
  DATA_SOURCES.md
  config/zones/HU.yaml
Labels: zone config

#5728 Update Storybook and improves styling plugin
  web/.storybook/main.cjs
  web/.storybook/preview.js
  web/package.json
  web/pnpm-lock.yaml
Labels: frontend 🎨, dependencies

#5734 Fix zone switching from URL
  web/src/features/map/Map.tsx
  web/src/features/panels/zone/ZoneDetails.tsx
Labels: frontend 🎨

#5735 updated capacities for JP-KY
  DATA_SOURCES.md
  config/zones/JP-KY.yaml
Labels: zone config

#5733 Removes some any types
  web/src/features/charts/BreakdownChart.stories.ts
  web/src/features/charts/elements/AreaGraph.tsx
  web/src/features/charts/hooks/useBreakdownChartData.ts
  web/src/features/charts/tooltips/BreakdownChartTooltip.tsx
  web/src/features/charts/types.ts
  web/src/utils/constants.ts
Labels: frontend 🎨, techdebt

#5738 Upgrade price and exchanges from CA-CB to new data structure
  parsers/CA_AB.py
Labels: parser

#5739 Upgrade exchanges from CA_BC to new data format
  parsers/CA_BC.py
Labels: parser

#5741 remove approximate feature location
  web/src/features/map/Map.tsx
  web/src/features/map/map-utils/getApproximateFeature.ts
Labels: frontend 🎨

#5730 Revamp dark mode styling throughout the app 🌚
  web/src/components/Badge.tsx
  web/src/components/Modal.tsx
  web/src/components/TimeAverageToggle.tsx
  web/src/components/ToggleButton.tsx
  web/src/components/legend/LegendContainer.tsx
  web/src/components/tooltips/MobileTooltipWrapper.tsx
  web/src/components/tooltips/TooltipWrapper.tsx
  web/src/features/charts/BreakdownChart.tsx
  web/src/features/charts/bar-breakdown/BarBreakdownChart.tsx
  web/src/features/charts/tooltips/AreaGraphTooltip.tsx
  web/src/features/charts/tooltips/AreaGraphTooltipHeader.tsx
  web/src/features/charts/tooltips/BreakdownChartTooltip.tsx
  web/src/features/charts/tooltips/CarbonChartTooltip.tsx
  web/src/features/charts/tooltips/EmissionChartTooltip.tsx
  web/src/features/header/Header.tsx
  web/src/features/map-controls/MapControls.tsx
  web/src/features/modals/SettingsModal.tsx
  web/src/features/panels/LeftPanel.tsx
  web/src/features/panels/faq/FAQContent.tsx
  web/src/features/panels/faq/FAQPanel.tsx
  web/src/features/panels/ranking-panel/InfoText.tsx
  web/src/features/panels/ranking-panel/SearchBar.tsx
  web/src/features/panels/ranking-panel/ZoneList.tsx
  web/src/features/panels/zone/ZoneHeaderTitle.tsx
  web/src/features/time/TimeControllerWrapper.tsx
  web/src/features/weather-layers/wind-layer/windy.ts
  web/src/hooks/colors.ts
  web/src/index.css
Labels: frontend 🎨

#5742 Fix area graph color for storage
  web/src/features/charts/elements/AreaGraphLayers.tsx
Labels: frontend 🎨

#5736 Dependency maintenance
  web/package.json
  web/pnpm-lock.yaml
Labels: frontend 🎨, dependencies, techdebt

#5748 remove disclaimer from yaml file
  config/zones/JP-HKD.yaml
Labels: zone config

#5744 Make IN consumption parser use a ThreadPoolExecutor to run faster
  parsers/IN.py
Labels: parser

#5745 Upgrade CA-QC to new parser datastructure
  hydroquebec_consumption.json
  parsers/CA_QC.py
  parsers/test/mocks/Hydroquebec/__init__.py
  parsers/test/mocks/Hydroquebec/consumption.json
  parsers/test/mocks/Hydroquebec/production.json
  parsers/test/snapshots/__init__.py
  parsers/test/snapshots/snap_test_CA_CQ.py
  parsers/test/test_CA_CQ.py
  poetry.lock
  pyproject.toml
Labels: parser, dependencies, tests

#5732 TH `Unknown` emission factor 1998-2022
  config/zones/TH.yaml
Labels: zone config

#5749 update capacities for JP-CG
  config/zones/JP-CG.yaml
Labels: zone config

#5647 Net exchange graph
  web/public/locales/en.json
  web/src/features/charts/NetExchangeChart.tsx
  web/src/features/charts/hooks/useBreakdownChartData.ts
  web/src/features/charts/hooks/useNetExchangeChartData.ts
  web/src/features/charts/tooltips/AreaGraphTooltipHeader.tsx
  web/src/features/charts/tooltips/NetExchangeChartTooltip.tsx
  web/src/features/panels/zone/AreaGraphContainer.tsx
  web/src/utils/formatting.ts
  web/src/utils/helpers.ts
Labels: frontend 🎨, translations 🗣

#5766 Fix SG parser
  parsers/SG.py
Labels: parser

#5765 String enums for units
  web/src/components/CarbonIntensityDisplay.tsx
  web/src/components/CarbonIntensitySquare.tsx
  web/src/components/legend/Co2Legend.tsx
  web/src/features/charts/BreakdownChart.stories.ts
  web/src/features/charts/PriceChart.stories.ts
  web/src/features/charts/bar-breakdown/BarElectricityBreakdownChart.tsx
  web/src/features/charts/bar-breakdown/EmptyBarBreakdownChart.tsx
  web/src/features/charts/hooks/usePriceChartData.ts
  web/src/features/charts/tooltips/ChartTooltips.cy.tsx
  web/src/features/charts/tooltips/PriceChartTooltip.tsx
  web/src/utils/formatting.ts
  web/src/utils/units.ts
Labels: frontend 🎨

#5768 Split Philippines
  config/zones/PH-LU.yaml
  config/zones/PH-MI.yaml
  config/zones/PH-VI.yaml
  config/zones/PH.yaml
  web/geo/world.geojson
  web/public/locales/en.json
Labels: frontend 🎨, translations 🗣, zone config

#5769 PH production & exchanges parser
  config/exchanges/PH-LU_PH-VI.yaml
  config/exchanges/PH-MI_PH-VI.yaml
  config/zones/PH-LU.yaml
  config/zones/PH-MI.yaml
  config/zones/PH-VI.yaml
  parsers/PH.py
  poetry.lock
  pyproject.toml
Labels: parser, dependencies, zone config, exchange config

#5770 Fix Ukraine production parser
  parsers/UA.py
Labels: parser

#5760 Add missing German translations
  web/public/locales/de.json
Labels: translations 🗣

#5746 Fix cy capacity parser
  parsers/CY.py
Labels: parser

#5771 Make total values in tooltip respect selected mix-mode
  web/src/features/charts/graphUtils.test.ts
  web/src/features/charts/graphUtils.ts
  web/src/features/charts/hooks/useEmissionChartData.ts
  web/src/features/charts/tooltipCalculations.test.ts
  web/src/features/charts/tooltipCalculations.ts
  web/src/features/charts/tooltips/BreakdownChartTooltip.tsx
  web/src/features/charts/tooltips/EmissionChartTooltip.tsx
Labels: frontend 🎨

#5777 TotalConsumption events : add validation to filter 0 values
  electricitymap/contrib/lib/models/events.py
  parsers/test/test_ES.py
  parsers/test/test_MX.py
Labels: parser, tests

#5781 Fixes bug where hydro storage shows high emissions despite being 0
  web/src/features/charts/bar-breakdown/utils.ts
Labels: frontend 🎨

#5786 Make url usage more robust for PH
  parsers/PH.py
Labels: parser

#5747 Archive oahu parser
  config/zones/US-HI-OA.yaml
  parsers/archived/US_HI.py
  parsers/test/test_US_HI.py
Labels: parser, tests, zone config

#5789 Upgrade MX parser
  parsers/MX.py
Labels: parser

#5790 Upgrade GCCIA parser to Event datastructure.
  parsers/GCCIA.py
Labels: parser

#5761 [mobile release] Improve the mobile release workflow and bump Android SDK version
  mobileapp/android/variables.gradle
  mobileapp/fastlane/Fastfile
  mobileapp/fastlane/README.md
Labels: mobile app 📱

#5794 Fix dependencies for UY
  poetry.lock
  pyproject.toml
Labels: dependencies

#5793 Upgrade AR exchanges to new Event datastructure
  parsers/AR.py
  parsers/test/mocks/Cammesa/__init__.py
  parsers/test/mocks/Cammesa/exchanges.json
  parsers/test/snapshots/snap_test_AR.py
  parsers/test/test_AR.py
Labels: parser, tests

#5798 Fix EIA parser reports 0 hydro production as 0 hydro storage
  parsers/EIA.py
Labels: parser
