Repository electricitymaps/electricitymaps-contrib, pull requests merged in 2023-04, with the labels that each got.

#5248 Improve validate_config_filenames.py script
  scripts/validate_config_filenames.py
Labels: zone config

#5255 prevent exchanges rendering while moving the map
  web/src/features/map/Map.tsx
Labels: bug 🐞, frontend 🎨

#5258 Fix german translation of US zone names
  web/public/locales/de.json
Labels: translations 🗣

#5264 md/update gas EF for eu
  config/zones/AX.yaml
  config/zones/BG.yaml
  config/zones/CY.yaml
  config/zones/CZ.yaml
  config/zones/DE.yaml
  config/zones/DK-DK1.yaml
  config/zones/DK-DK2.yaml
  config/zones/DK.yaml
  config/zones/EE.yaml
  config/zones/ES-CN-FVLZ.yaml
  config/zones/ES-CN-GC.yaml
  config/zones/ES-CN-HI.yaml
  config/zones/ES-CN-IG.yaml
  config/zones/ES-CN-LP.yaml
  config/zones/ES-CN-TE.yaml
  config/zones/ES-IB-FO.yaml
  config/zones/ES-IB-IZ.yaml
  config/zones/ES-IB-MA.yaml
  config/zones/ES-IB-ME.yaml
  config/zones/ES.yaml
  config/zones/FI.yaml
  config/zones/FR-COR.yaml
  config/zones/FR.yaml
  config/zones/HR.yaml
  config/zones/IE.yaml
  config/zones/IT-CNO.yaml
  config/zones/IT-CSO.yaml
  config/zones/IT-NO.yaml
  config/zones/IT-SAR.yaml
  config/zones/IT-SIC.yaml
  config/zones/IT-SO.yaml
  config/zones/IT.yaml
  config/zones/LU.yaml
  config/zones/LV.yaml
  config/zones/MT.yaml
  config/zones/NL.yaml
  config/zones/RO.yaml
  config/zones/SI.yaml
  parsers/test/test_config.py
Labels: parser, tests, zone config

#5244 CA-SK Parser
  DATA_SOURCES.md
  config/zones/CA-SK.yaml
  parsers/CA_SK.py
Labels: parser, zone config

#5280 Update granularity of FR realtime parser
  parsers/FR.py
Labels: parser

#5281 Update Portugal's installed & interconnection capacities
  DATA_SOURCES.md
  config/exchanges/ES_PT.yaml
  config/zones/PT.yaml
Labels: zone config, exchange config

#5284 update parser for cal-ciso to enable historical refetch
  config/zones/US-CAL-CISO.yaml
  parsers/US_CA.py
Labels: parser, zone config

#5279 ExchangeArrows change to correct colorblind scale once the colorblind mode is on
  web/src/features/exchanges/ExchangeArrow.tsx
  web/src/features/exchanges/ExchangeLayer.tsx
Labels: frontend 🎨

#5288 Fix US-CAL-CISO battery values
  parsers/US_CA.py
Labels: parser

#5291 US-CAL-CISO fix negative hydro
  parsers/US_CA.py
Labels: parser

#5296 Update German nuclear capacity after closue of the last three reactors on April 15, 2023
  DATA_SOURCES.md
  config/zones/DE.yaml
Labels: zone config

#5292 don't show wind sprite tails on iOS
  web/src/features/weather-layers/wind-layer/windy.ts
Labels: frontend 🎨

#5297 Update US-FLA-TEC coal generation capacity
  DATA_SOURCES.md
  config/zones/US-FLA-TEC.yaml
Labels: zone config

#5303 Avoids duplicate country name in tooltips
  web/public/locales/en.json
  web/public/locales/sv.json
  web/src/translation/translation.ts
Labels: frontend 🎨, translations 🗣

#5287 enable automated deployment to point to prod
  web/Earthfile
Labels: frontend 🎨

#5301 mobile release 1.21.0
  mobileapp/android/app/build.gradle
  mobileapp/ios/App/App.xcodeproj/project.pbxproj
  mobileapp/package.json
  mobileapp/pnpm-lock.yaml
  web/.gitignore
  web/public/client-version.json
Labels: frontend 🎨, mobile app 📱, dependencies

#5302 Parser Validation: Create Event structure
  electricitymap/contrib/lib/__init__.py
  electricitymap/contrib/lib/models/__init__.py
  electricitymap/contrib/lib/models/constants.py
  electricitymap/contrib/lib/models/event_lists.py
  electricitymap/contrib/lib/models/events.py
  electricitymap/contrib/lib/tests/__init__.py
  electricitymap/contrib/lib/tests/test_event_lists.py
  electricitymap/contrib/lib/tests/test_events.py
  parsers/NI.py
  poetry.lock
  pyproject.toml
  tests/validators/test_sanity_checks.py
  tests/validators/test_zone_specific_checks.py
Labels: parser, dependencies, tests

#5308 Update parser example
  parsers/examples/example_parser.py
  parsers/examples/production.md
Labels: parser

#5182 [Geo III] Improves validation script performance
  web/geo/generateWorld.ts
  web/geo/validate.test.ts
  web/geo/validate.ts
  web/vite.config.cts
Labels: frontend 🎨

#5304 Uses US proxy for CA_QC parser
  parsers/CA_QC.py
Labels: parser

#5322 Fix AU-NT delay
  parsers/NTESMO.py
Labels: parser

#5325 Update to poetry 1.4.2
  Earthfile
  poetry.lock
  pyproject.toml
Labels: dependencies

#5330 Use new header for ESIOS parser
  parsers/ESIOS.py
Labels: parser

#5332 IN-WE fix typo in region mapping
  parsers/IN.py
Labels: parser

#5112 1899/czech parser
  config/exchanges/AT_CZ.yaml
  config/exchanges/CZ_DE.yaml
  config/exchanges/CZ_PL.yaml
  config/exchanges/CZ_SK.yaml
  config/zones/CZ.yaml
  parsers/CZ.py
Labels: parser, zone config, exchange config

#5230 More helpers and tests + tests for existing functions
  web/src/features/charts/tooltips/CarbonChartTooltip.tsx
  web/src/features/map/MapTooltip.tsx
  web/src/features/panels/zone/ZoneHeader.tsx
  web/src/utils/helpers.test.ts
  web/src/utils/helpers.ts
Labels: frontend 🎨, tests

#5311 Improvements on the event datastrucure
  electricitymap/contrib/lib/models/event_lists.py
  electricitymap/contrib/lib/models/events.py
  electricitymap/contrib/lib/tests/test_event_lists.py
  electricitymap/contrib/lib/tests/test_events.py
  parsers/NI.py
Labels: parser

#5331 prevent google translate on buttons
  web/src/components/Button.tsx
Labels: frontend 🎨

#5336 Allow historical refetch of ESIOS
  parsers/ESIOS.py
Labels: parser
