Repository electricitymaps/electricitymaps-contrib, pull requests merged in 2024-11, with the labels that each got.

#7360 Annaboye/gmm 172 ned data spiky
  parsers/NED.py
Labels: parser, python

#7383 Feat: Add labels for chart
  web/src/features/charts/ProductionSourceLegendList.tsx
Labels: frontend 🎨

#7348 Remove arrow from IL parser
  parsers/IL.py
Labels: parser, python

#7389 Consolidate data sources and methodologies
  web/src/features/charts/BreakdownChart.tsx
  web/src/features/charts/CarbonChart.tsx
  web/src/features/charts/DataSources.tsx
  web/src/features/charts/EmissionChart.tsx
  web/src/features/charts/bar-breakdown/BarBreakdownChart.tsx
  web/src/features/panels/zone/MethodologyCard.tsx
  web/src/locales/en.json
  web/src/utils/constants.ts
Labels: frontend 🎨

#7384 Rename BreakdownChart to OriginChart
  web/src/features/charts/OriginChart.stories.ts
  web/src/features/charts/OriginChart.tsx
  web/src/features/charts/hooks/useOriginChartData.ts
  web/src/features/panels/zone/AreaGraphContainer.tsx
Labels: frontend 🎨

#6896 fix: favicon
  web/public/icons/favicon.svg
Labels: frontend 🎨

#7356 chore(map): Map cleanup
  config/exchanges/AM_NKR.yaml
  config/zones/GG.yaml
  config/zones/JE.yaml
  config/zones/NKR.yaml
  web/geo/world.geojson
  web/public/locales/en.json
  web/src/locales/cs.json
  web/src/locales/da.json
  web/src/locales/de.json
  web/src/locales/el.json
  web/src/locales/en.json
  web/src/locales/es.json
  web/src/locales/et.json
  web/src/locales/fi.json
  web/src/locales/fr.json
  web/src/locales/id.json
  web/src/locales/it.json
  web/src/locales/ja.json
  web/src/locales/ko.json
  web/src/locales/nl.json
  web/src/locales/no-NB.json
  web/src/locales/pl.json
  web/src/locales/pt-BR.json
  web/src/locales/pt-PT.json
  web/src/locales/ro.json
  web/src/locales/ru.json
  web/src/locales/sl.json
  web/src/locales/sv.json
  web/src/locales/vi.json
  web/src/locales/zh-CN.json
  web/src/locales/zh-TW.json
Labels: translations 🗣, zone config, exchange config

#7394 fix(parsers):Remove geothermal from NL parser
  parsers/NED.py
Labels: parser, python

#7362 FR_O parser updates #7280
  parsers/FR_O.py
Labels: parser, python

#7361 Tonyvanswet/avo 617 use data router in the app
  web/src/api/getZone.ts
  web/src/components/AppStoreBanner.test.tsx
  web/src/components/InternalLink.tsx
  web/src/components/LoadingOverlay.tsx
  web/src/components/Time.tsx
  web/src/components/TimeAverageToggle.tsx
  web/src/components/TimeSlider.tsx
  web/src/components/modals/OnboardingModal.cy.tsx
  web/src/features/charts/elements/AreaGraph.tsx
  web/src/features/charts/hooks/useBarElectricityBreakdownChartData.ts
  web/src/features/charts/hooks/useOriginChartData.ts
  web/src/features/map/Map.cy.tsx
  web/src/features/map/Map.tsx
  web/src/features/map/MapWrapper.tsx
  web/src/features/panels/LeftPanel.tsx
  web/src/features/panels/ranking-panel/RankingPanel.tsx
  web/src/features/panels/zone/ZoneDetails.tsx
  web/src/features/panels/zone/ZoneHeaderTitle.tsx
  web/src/features/time/TimeController.tsx
  web/src/features/time/TimeHeader.tsx
  web/src/hooks/nightTimes.ts
  web/src/locales/en.json
  web/src/main.tsx
  web/src/testing/testUtils.tsx
  web/src/types.ts
  web/src/utils/constants.ts
  web/src/utils/helpers.test.ts
  web/src/utils/helpers.ts
  web/src/utils/state/atoms.ts
Labels: frontend 🎨

#7395 Mobile app release 1.184.0
  mobileapp/Gemfile.lock
  mobileapp/android/.gitignore
  mobileapp/android/app/build.gradle
  mobileapp/ios/.gitignore
  mobileapp/ios/App/App.xcodeproj/project.pbxproj
  mobileapp/ios/App/Podfile.lock
  mobileapp/package.json
  web/package.json
Labels: frontend 🎨, mobile app 📱, dependencies

#7396 fix(parsers): Fix NED parser after geothermal removal
  parsers/NED.py
Labels: parser, python

#6577 feat(ENTSOE.py): Parse and combine both kinds of exchange forecasts
  parsers/ENTSOE.py
  parsers/test/mocks/ENTSOE/BE_NL_exchange_forecast_exports.xml
  parsers/test/mocks/ENTSOE/BE_NL_exchange_forecast_imports.xml
  parsers/test/mocks/ENTSOE/EE_FI_exchange_forecast_exports.xml
  parsers/test/mocks/ENTSOE/EE_FI_exchange_forecast_imports.xml
  parsers/test/snapshots/snap_test_ENTSOE.py
  parsers/test/test_ENTSOE.py
Labels: parser, python, tests

#7401 fix(parsers): Update NL parser to include ENTSOE historic data
  parsers/NED.py
Labels: parser, python

#7399 bug(web): multiple api calls when not hourly
  web/src/api/getState.ts
  web/src/api/getZone.ts
  web/src/main.tsx
  web/src/utils/state/atoms.ts
Labels: frontend 🎨

#7403 fix(parsers): Make negative wind values zero GB-NIR
  parsers/SMARTGRIDDASHBOARD.py
Labels: parser, python

#7406 fix(parsers): GB-NIR update to not add negative wind to unknown
  parsers/SMARTGRIDDASHBOARD.py
Labels: parser, python

#7407 chore(SEO): Sanitze zone names in URL
  web/src/main.tsx
Labels: frontend 🎨

#7411 chore(shareability): track successful shares (mobile only)
  web/README.md
  web/src/features/panels/zone/ShareButton.tsx
  web/src/hooks/useShare.ts
  web/src/utils/analytics.ts
Labels: frontend 🎨

#7400 chore(sitemap): Add url time averages to sitemap links
  web/scripts/generateSitemap.js
Labels: frontend 🎨, javascript

#7412 chore(mobileapp): Fix iPad layout
  web/src/features/map-controls/MapControls.tsx
  web/src/features/map-controls/ZoomControls.tsx
  web/src/features/panels/LeftPanel.tsx
Labels: frontend 🎨

#7408 fruit(web): update US translations with SEO friendly zone names
  web/public/locales/en.json
  web/src/features/panels/zone/ZoneHeaderTitle.tsx
  web/src/locales/en.json
  web/src/translation/translation.ts
Labels: frontend 🎨, translations 🗣

#7415 bug(web): deselect zone on navigate back
  web/src/App.tsx
  web/src/features/map/Map.tsx
Labels: frontend 🎨

#7416 Add french translations
  web/src/locales/fr.json
Labels: frontend 🎨

#7061 fix(US-MIDA-PJM): use appropriate timezone
  parsers/US_PJM.py
Labels: parser, python

#7419 Update DE.yaml
  config/zones/DE.yaml
Labels: zone config

#7418 Origin Chart Legend tweaks
  web/src/features/charts/ProductionSourceLegendList.tsx
Labels: frontend 🎨

#7423 Update FI.yaml
  config/zones/FI.yaml
Labels: zone config

#7424 fix(events): downgrade negative production values from warning to debug
  electricitymap/contrib/lib/models/events.py
  electricitymap/contrib/lib/tests/test_event_lists.py
  electricitymap/contrib/lib/tests/test_events.py
  test_parser.py
Labels: python

#7422 add Greenlink to GB->IE interconnector
  parsers/ELEXON.py
Labels: parser, python

#7427 chore: format KR parser
  parsers/KPX.py
Labels: parser, python

#7426 Fix: Allow Origin Chart source selection on mobile
  web/src/features/charts/elements/AreaGraphLayers.tsx
Labels: frontend 🎨

#7343 chore: Update CODEOWNERS to include teams
  .github/CODEOWNERS
Labels: infrastructure

#7429 Mobile app release 1.188.0
  mobileapp/android/app/build.gradle
  mobileapp/ios/App/App.xcodeproj/project.pbxproj
  mobileapp/package.json
Labels: mobile app 📱, dependencies

#7414 bug(web): make mobile tooltip handling explicit
  web/cypress.config.ts
  web/src/components/tooltips/TooltipWrapper.tsx
  web/src/features/charts/CarbonChart.tsx
  web/src/features/charts/DataSources.tsx
  web/src/features/charts/EmissionChart.tsx
  web/src/features/charts/NetExchangeChart.tsx
  web/src/features/charts/OriginChart.stories.ts
  web/src/features/charts/OriginChart.tsx
  web/src/features/charts/PriceChart.stories.ts
  web/src/features/charts/PriceChart.tsx
  web/src/features/charts/bar-breakdown/BarBreakdownChart.tsx
  web/src/features/charts/bar-breakdown/BarEmissionExchangeChart.tsx
  web/src/features/charts/elements/AreaGraph.tsx
  web/src/features/charts/elements/AreaGraphLayers.tsx
  web/src/features/charts/elements/GraphHoverline.tsx
  web/src/features/charts/tooltips/AreaGraphTooltip.tsx
Labels: frontend 🎨

#7397 feat(web): handle historcal linking with basic navigation
  web/cypress/e2e/countrypanel.spec.ts
  web/cypress/e2e/ranking.spec.ts
  web/src/api/getState.ts
  web/src/api/getZone.ts
  web/src/api/helpers.ts
  web/src/components/Button.tsx
  web/src/components/Time.tsx
  web/src/features/time/HistoricalTimeHeader.tsx
  web/src/features/time/TimeController.tsx
  web/src/utils/formatting.ts
  web/src/utils/state/atoms.ts
Labels: frontend 🎨

#7434 Tonyvanswet/avo 647 match historical storytelling design for up to 24h
  web/src/components/TimeAverageToggle.tsx
  web/src/features/time/HistoricalTimeHeader.tsx
  web/src/features/time/TimeControllerWrapper.tsx
  web/src/locales/en.json
Labels: frontend 🎨

#7440 Update LT.yaml
  config/zones/LT.yaml
Labels: zone config

#7439 Installed capacity
  web/src/features/charts/bar-breakdown/BarBreakdownChart.tsx
Labels: frontend 🎨

#7431 repair deps
  poetry.lock
  pyproject.toml
Labels: dependencies

#7443 fix: fix redirect
  web/src/main.tsx
Labels: frontend 🎨

#7437 Tonyvanswet/avo 653 limit front end lookback period to 30 days
  web/src/features/panels/zone/ZoneDetails.tsx
  web/src/features/time/HistoricalTimeHeader.tsx
  web/src/features/time/TimeController.tsx
  web/src/utils/constants.ts
Labels: frontend 🎨

#7438 AVO-631: Integrate historical links and share dropdown
  web/src/components/MoreOptionsDropdown.tsx
  web/src/features/charts/ChartTitle.tsx
  web/src/features/panels/zone/ZoneHeaderTitle.tsx
  web/src/hooks/useGetCurrentUrl.ts
Labels: frontend 🎨

#7446 chore(deps): Add tzdata to dependabot allow list
  .github/dependabot.yml
Labels: infrastructure

#7468 Fix: Hide share options for production mode
  web/src/components/MoreOptionsDropdown.tsx
  web/src/features/panels/zone/ZoneHeaderTitle.tsx
Labels: frontend 🎨

#7469 Silence flaky tests
  web/cypress/e2e/countrypanel.spec.ts
Labels: frontend 🎨

#7471 fix(timezone): Fix the timezone for Guadeloupe (GP)
  config/zones/GP.yaml
Labels: zone config

#7447 feat(parsers): add ERCOT parser
  config/zones/US-TEX-ERCO.yaml
  parsers/US_ERCOT.py
  parsers/test/mocks/ERCOT.json
  parsers/test/mocks/ERCOT_demand.json
  parsers/test/test_ERCOT.py
Labels: parser, python, tests, zone config

#7472 fruit(bluesky): Add BlueSky share button
  web/src/components/buttons/BlueskyButton.tsx
  web/src/features/panels/ranking-panel/SocialIcons.tsx
  web/src/locales/en.json
  web/src/utils/analytics.ts
Labels: frontend 🎨

#7473 fruit(web): improve styling of onboarding modal
  web/src/components/modals/OnboardingModalInner.tsx
Labels: frontend 🎨

#7478 Add french translation for new time slider
  web/src/locales/fr.json
Labels: frontend 🎨

#7448 Fix CA-AB production parser down #7441
  parsers/CA_AB.py
Labels: parser, python

#7474 fix(exchanges): Fix exchanges batch 1
  config/exchanges/CA-BC_US-NW-BPAT.yaml
  config/exchanges/US-NW-BPAT_US-NW-CHPD.yaml
  config/exchanges/US-NW-BPAT_US-NW-PSEI.yaml
  config/exchanges/US-NW-BPAT_US-NW-TPWR.yaml
  config/exchanges/US-NW-CHPD_US-NW-DOPD.yaml
  config/exchanges/US-NW-CHPD_US-NW-PSEI.yaml
  config/exchanges/US-NW-PSEI_US-NW-SCL.yaml
  config/exchanges/US-NW-PSEI_US-NW-TPWR.yaml
Labels: exchange config
