Repository electricitymaps/electricitymaps-contrib, pull requests merged in 2024-08, with the labels that each got.

#6961 chore: Update the style of the legends + cleanup
  web/src/components/MapOverlays.tsx
  web/src/components/legend/LegendContainer.tsx
  web/src/components/legend/LegendItem.tsx
  web/src/components/legend/SolarLegend.tsx
  web/src/components/legend/WindLegend.tsx
Labels: frontend 🎨

#7027 chore: use Lucide icons for theme selector
  web/src/features/map-controls/ThemeSelector.tsx
Labels: frontend 🎨

#6867 feat: ranking panel rework
  web/cypress/e2e/ranking.spec.ts
  web/src/components/Accordion.tsx
  web/src/components/Button.stories.tsx
  web/src/components/Button.tsx
  web/src/components/Divider.tsx
  web/src/components/buttons/FAQButton.stories.tsx
  web/src/components/buttons/FAQButton.tsx
  web/src/components/buttons/FacebookButton.stories.tsx
  web/src/components/buttons/FacebookButton.tsx
  web/src/components/buttons/FeedbackButton.stories.tsx
  web/src/components/buttons/FeedbackButton.tsx
  web/src/components/buttons/GithubButton.stories.tsx
  web/src/components/buttons/GithubButton.tsx
  web/src/components/buttons/LegalNoticeButton.stories.tsx
  web/src/components/buttons/LegalNoticeButton.tsx
  web/src/components/buttons/LinkedinButton.stories.tsx
  web/src/components/buttons/LinkedinButton.tsx
  web/src/components/buttons/PrivacyPolicyButton.stories.tsx
  web/src/components/buttons/PrivacyPolicyButton.tsx
  web/src/components/buttons/SlackButton.stories.tsx
  web/src/components/buttons/SlackButton.tsx
  web/src/components/buttons/TwitterButton.stories.tsx
  web/src/components/buttons/TwitterButton.tsx
  web/src/features/charts/BreakdownChart.tsx
  web/src/features/charts/CarbonChart.tsx
  web/src/features/charts/EmissionChart.tsx
  web/src/features/charts/bar-breakdown/BarBreakdownChart.tsx
  web/src/features/modals/InfoModal.tsx
  web/src/features/modals/InfoText.tsx
  web/src/features/modals/SettingsModal.tsx
  web/src/features/panels/LeftPanel.tsx
  web/src/features/panels/ranking-panel/InfoText.tsx
  web/src/features/panels/ranking-panel/RankingPanel.tsx
  web/src/features/panels/ranking-panel/RankingPanelAccordion.tsx
  web/src/features/panels/ranking-panel/SocialButtons.tsx
  web/src/features/panels/ranking-panel/SocialIcons.tsx
  web/src/features/panels/zone/AreaGraphContainer.tsx
  web/src/features/panels/zone/Attribution.tsx
  web/src/features/panels/zone/Divider.tsx
  web/src/features/panels/zone/ZoneHeaderTitle.tsx
  web/src/icons/githubIcon.tsx
  web/src/locales/en.json
  web/src/locales/es.json
  web/src/locales/fr.json
  web/src/locales/hi.json
  web/src/locales/it.json
  web/src/locales/no-NB.json
  web/src/locales/pt-BR.json
  web/src/locales/pt-PT.json
  web/src/locales/sl.json
  web/src/locales/sv.json
  web/src/locales/zh-CN.json
  web/src/locales/zh-TW.json
  web/src/utils/constants.ts
  web/src/utils/state/atoms.ts
  web/tailwind.config.cjs
Labels: frontend 🎨, Review effort [1-5]: 4

#7059 fix(JP-TK): update url and parsing
  parsers/JP.py
Labels: parser, python

#7026 fix(NL): add reallocation from unknown to solar
  parsers/NED.py
Labels: parser, python

#7057 fix: revert bump to @tailwindcss/forms
  web/package.json
  web/pnpm-lock.yaml
Labels: frontend 🎨, dependencies

#7060 French translations
  web/src/locales/fr.json
Labels: frontend 🎨

#7058 refactor(web): change styling of exchange tooltips to match the other map tooltips
  web/src/features/exchanges/ExchangeArrow.tsx
Labels: frontend 🎨

#7003 EIA capacity update
  config/zones/US-CAL-BANC.yaml
  config/zones/US-CAL-CISO.yaml
  config/zones/US-CAL-IID.yaml
  config/zones/US-CAL-LDWP.yaml
  config/zones/US-CAR-CPLE.yaml
  config/zones/US-CAR-DUK.yaml
  config/zones/US-CAR-SCEG.yaml
  config/zones/US-CAR-YAD.yaml
  config/zones/US-CENT-SPA.yaml
  config/zones/US-CENT-SWPP.yaml
  config/zones/US-FLA-FPC.yaml
  config/zones/US-FLA-FPL.yaml
  config/zones/US-FLA-SEC.yaml
  config/zones/US-MIDA-PJM.yaml
  config/zones/US-MIDW-MISO.yaml
  config/zones/US-NE-ISNE.yaml
  config/zones/US-NW-BPAT.yaml
  config/zones/US-NW-GRID.yaml
  config/zones/US-NW-IPCO.yaml
  config/zones/US-NW-NEVP.yaml
  config/zones/US-NW-NWMT.yaml
  config/zones/US-NW-PACE.yaml
  config/zones/US-NW-PACW.yaml
  config/zones/US-NW-PSCO.yaml
  config/zones/US-NW-PSEI.yaml
  config/zones/US-NW-SCL.yaml
  config/zones/US-NW-WACM.yaml
  config/zones/US-NW-WAUW.yaml
  config/zones/US-NY-NYIS.yaml
  config/zones/US-SE-SEPA.yaml
  config/zones/US-SE-SOCO.yaml
  config/zones/US-SW-AZPS.yaml
  config/zones/US-SW-PNM.yaml
  config/zones/US-SW-SRP.yaml
  config/zones/US-SW-TEPC.yaml
  config/zones/US-TEN-TVA.yaml
  config/zones/US-TEX-ERCO.yaml
Labels: zone config

#7025 chore: removes english translations from other languages
  web/src/locales/el.json
  web/src/locales/sl.json
  web/src/locales/vi.json
Labels: frontend 🎨

#7064 fix(SG): update OCR configuration
  parsers/SG.py
  parsers/test/mocks/SG_ema_gov_sg_solar_map.png
  parsers/test/mocks/SG_ema_gov_sg_solar_map_nonzero.png
  parsers/test/test_SG.py
Labels: parser, python, tests

#7004 perf: use useCallbacks for handlers and deconstruct events
  web/src/features/map/Map.tsx
Labels: frontend 🎨, performance 🏎

#6982 perf: use icons instead of SVGs in TimeSlider
  web/public/images/slider-thumb-day.svg
  web/public/images/slider-thumb-night.svg
  web/public/images/slider-thumb.svg
  web/src/components/TimeSlider.test.ts
  web/src/components/TimeSlider.test.tsx
  web/src/components/TimeSlider.tsx
Labels: frontend 🎨, performance 🏎

#7070 Update map ws fixes 6618
  web/geo/world.geojson
Labels: frontend 🎨

#7067 chore(web): fix feedback card wording and font weight
  web/src/components/app-survey/FeedbackCard.tsx
  web/src/locales/en.json
Labels: frontend 🎨

#7062 fix(Button.tsx): replace button border with outline to prevent CLS
  .github/pull_request_template.md
  web/src/components/Button.tsx
Labels: frontend 🎨, infrastructure

#7023 feat: convert EUR/MWh to EUR/KWh
  web/src/features/charts/bar-breakdown/utils.test.ts
  web/src/features/charts/bar-breakdown/utils.ts
  web/src/features/charts/hooks/usePriceChartData.ts
  web/src/features/charts/tooltips/PriceChartTooltip.tsx
Labels: frontend 🎨

#7071 feat: Add button to our subreddit
  web/src/components/buttons/RedditButton.stories.tsx
  web/src/components/buttons/RedditButton.tsx
  web/src/features/panels/ranking-panel/RankingPanelAccordion.tsx
  web/src/locales/en.json
  web/src/locales/sv.json
Labels: frontend 🎨

#7066 feat: add info and settings button on mobileheader
  web/src/features/map-controls/MapControls.tsx
  web/src/features/map-controls/MobileButtons.tsx
  web/src/features/panels/LeftPanel.tsx
Labels: frontend 🎨

#7063 chore: ranking panel translations cleanup
  web/src/locales/cs.json
  web/src/locales/da.json
  web/src/locales/de.json
  web/src/locales/el.json
  web/src/locales/es.json
  web/src/locales/et.json
  web/src/locales/fi.json
  web/src/locales/fr.json
  web/src/locales/hr.json
  web/src/locales/id.json
  web/src/locales/it.json
  web/src/locales/ja.json
  web/src/locales/ko.json
  web/src/locales/nl.json
  web/src/locales/no-NB.json
  web/src/locales/pl.json
  web/src/locales/pt-BR.json
  web/src/locales/pt-PT.json
  web/src/locales/ro.json
  web/src/locales/ru.json
  web/src/locales/sk.json
  web/src/locales/sl.json
  web/src/locales/sv.json
  web/src/locales/vi.json
  web/src/locales/zh-CN.json
  web/src/locales/zh-TW.json
Labels: frontend 🎨

#7075 chore: add missing Swedish translations
  web/src/locales/sv.json
Labels: frontend 🎨

#7076 switch back to useQuery instead of useSuspenseQuery
  web/src/api/getZone.ts
  web/src/features/charts/hooks/useCarbonChartData.ts
  web/src/features/charts/hooks/useEmissionChartData.ts
  web/src/features/charts/hooks/useNetExchangeChartData.ts
  web/src/features/charts/hooks/usePriceChartData.ts
Labels: frontend 🎨, Review effort [1-5]: 2

#7078 chore: fix button outlines
  web/src/components/Button.tsx
Labels: frontend 🎨

#7087 chore: use Lucide icons in Header and simplify DOM
  web/src/features/header/Header.tsx
Labels: frontend 🎨, techdebt

#7088 fix(parser): use proxy for US-MIDA-PJM
  parsers/US_PJM.py
Labels: parser, python

#7084 chore: use Lucide icons for Onboarding and refractor code
  web/src/components/Button.tsx
  web/src/components/modals/OnboardingModal.tsx
  web/src/components/modals/OnboardingModalInner.tsx
Labels: frontend 🎨, techdebt

#7089 fix(parsers):India parser updated for new data format
  parsers/IN.py
Labels: parser, python

#7082 chore: use Lucide icons for Buttons and refractor code
  web/src/components/buttons/CommercialApiButton.stories.tsx
  web/src/components/buttons/CommercialApiButton.tsx
  web/src/components/buttons/FAQButton.tsx
  web/src/components/buttons/FeedbackButton.tsx
  web/src/features/panels/zone/ZoneDetails.tsx
Labels: frontend 🎨, techdebt

#7081 chore: use Lucide icons for MapControls and reuse logic
  web/src/features/map-controls/LanguageSelector.tsx
  web/src/features/map-controls/MapControls.tsx
  web/src/features/modals/SettingsModal.tsx
  web/src/utils/state/atoms.ts
Labels: frontend 🎨, techdebt

#7080 chore: use Lucide icons for ZoneHeaderTitle and simplify DOM
  web/src/features/panels/zone/ZoneHeaderTitle.tsx
Labels: frontend 🎨, techdebt

#7092 Add some french translations
  web/src/locales/fr.json
Labels: frontend 🎨

#7019 chore: Migrate MapMovement component test to E2E
  web/cypress/e2e/map.spec.ts
  web/src/components/ToggleButton.tsx
  web/src/features/map-controls/ConsumptionProductionToggle.tsx
  web/src/features/map-controls/SpatialAggregatesToggle.tsx
  web/src/features/map/MapMovement.cy.tsx
Labels: frontend 🎨

#6998 chore: Enforce arrow function implicit returns
  web/.eslintrc.json
  web/geo/generateZoneBoundingBoxes.ts
  web/src/api/getWeatherData.ts
  web/src/components/Toast.stories.tsx
  web/src/features/charts/bar-breakdown/BarElectricityBreakdownChart.tsx
  web/src/features/charts/bar-breakdown/EmptyBarBreakdownChart.tsx
  web/src/features/panels/zone/Attribution.tsx
  web/src/hooks/arrows.ts
  web/src/translation/translation.ts
  web/src/utils/helpers.ts
Labels: frontend 🎨, performance 🏎, techdebt

#6978 feat(web): unify unit formatting
  web/src/components/MetricRatio.tsx
  web/src/features/charts/BreakdownChart.tsx
  web/src/features/charts/EmissionChart.tsx
  web/src/features/charts/NetExchangeChart.tsx
  web/src/features/charts/bar-breakdown/BarBreakdownEmissionsChart.tsx
  web/src/features/charts/bar-breakdown/BarElectricityBreakdownChart.tsx
  web/src/features/charts/graphUtils.ts
  web/src/features/charts/tooltips/BreakdownChartTooltip.tsx
  web/src/features/charts/tooltips/EmissionChartTooltip.tsx
  web/src/features/charts/tooltips/NetExchangeChartTooltip.tsx
  web/src/features/exchanges/ExchangeTooltip.tsx
  web/src/utils/formatting.test.ts
  web/src/utils/formatting.ts
Labels: frontend 🎨, Review effort [1-5]: 3

#7079 chore: use Lucide icons for Accordion and simplify DOM
  web/src/components/Accordion.tsx
Labels: frontend 🎨, techdebt

#7083 chore: use Lucide icons for ZoneRow and simplify DOM
  web/src/features/panels/ranking-panel/ZoneList.tsx
  web/src/index.css
Labels: frontend 🎨, techdebt

#7094 French translations
  web/src/locales/fr.json
Labels: frontend 🎨

#7048 fix: persist ranking on search
  web/src/features/panels/ranking-panel/RankingPanel.tsx
  web/src/features/panels/ranking-panel/SearchBar.tsx
  web/src/features/panels/ranking-panel/ZoneList.tsx
  web/src/features/panels/ranking-panel/__snapshots__/getRankingPanelData.test.ts.snap
  web/src/features/panels/ranking-panel/getRankingPanelData.test.ts
  web/src/features/panels/ranking-panel/getRankingPanelData.ts
Labels: frontend 🎨

#7086 chore: use Lucide icons in DataSources and simplify DOM
  web/src/features/charts/DataSources.tsx
Labels: frontend 🎨, techdebt

#7096 fix(parsers):Change-some-interconnector-direction
  parsers/ELEXON.py
Labels: parser, python

#7100 chore: use Lucide icons instead of custom SVG components
  web/src/features/charts/BreakdownChart.tsx
  web/src/features/charts/CarbonChart.tsx
  web/src/features/charts/EmissionChart.tsx
  web/src/features/charts/bar-breakdown/BarBreakdownChart.tsx
  web/src/icons/circleBoltIcon.tsx
  web/src/icons/cloudArrowUpIcon.tsx
  web/src/icons/coinsIcon.tsx
  web/src/icons/exchangeIcon.tsx
  web/src/icons/industryIcon.tsx
  web/src/icons/plugCircleBoltIcon.tsx
  web/src/icons/utilityPoleIcon.tsx
  web/src/icons/windTurbineIcon.tsx
Labels: frontend 🎨

#7098 Update CA-BC.yaml Hydro capacity
  config/zones/CA-BC.yaml
Labels: zone config

#7105 Add somme french translations
  web/src/locales/fr.json
Labels: frontend 🎨

#7090 chore: use Lucide icons in ToggleButton and clean up styles
  web/src/components/ToggleButton.tsx
Labels: frontend 🎨

#7108 fix(translation): Remove hardcoded string in favour of translation strings
  web/src/features/panels/ranking-panel/SocialIcons.tsx
  web/src/locales/en.json
  web/src/locales/sv.json
Labels: frontend 🎨

#7085 chore: use Lucide icons for LeftPanel and FAQ
  web/src/features/panels/LeftPanel.tsx
  web/src/features/panels/faq/FAQContent.tsx
Labels: frontend 🎨, techdebt

#7109 Add some french translations
  web/src/locales/fr.json
Labels: frontend 🎨

#7101 chore: use Lucide icons instead of SVG backgrounds and simplify DOM
  web/package.json
  web/pnpm-lock.yaml
  web/public/images/aggregated_dark.svg
  web/public/images/aggregated_light.svg
  web/public/images/estimated_dark.svg
  web/public/images/estimated_light.svg
  web/public/images/preliminary_dark.svg
  web/public/images/preliminary_light.svg
  web/public/images/warning_dark.svg
  web/public/images/warning_light.svg
  web/src/components/Accordion.tsx
  web/src/components/Badge.tsx
  web/src/components/EstimationBadge.tsx
  web/src/components/OutageBadge.tsx
  web/src/features/panels/zone/EstimationCard.tsx
Labels: frontend 🎨, dependencies

#7072 chore: Improve test coverage
  web/geo/__snapshots__/utilities.test.ts.snap
  web/geo/utilities.test.ts
  web/geo/utilities.ts
  web/src/api/helpers.test.ts
  web/src/components/tooltips/utilities.test.ts
  web/src/features/charts/graphUtils.test.ts
  web/src/features/charts/graphUtils.ts
  web/src/features/panels/zone/__snapshots__/util.test.ts.snap
  web/src/features/panels/zone/util.test.ts
  web/src/features/weather-layers/wind-layer/util.test.ts
  web/src/stories/mockData.ts
  web/src/translation/translation.test.ts
  web/src/utils/formatting.test.ts
  web/src/utils/formatting.ts
  web/src/utils/helpers.test.ts
Labels: frontend 🎨, techdebt

#7107 feat(app): enrich sentry events
  web/src/main.tsx
  web/src/translation/i18n.ts
  web/src/utils/getSentryUuid.ts
  web/vite.config.ts
Labels: frontend 🎨

#7113 chore: fix legend icons
  web/src/features/charts/bar-breakdown/elements/BarBreakdownAxisLegend.tsx
Labels: frontend 🎨

#7112 fix: fix app deployment
  web/vite.config.ts
Labels: frontend 🎨

#6955 feat(Nordpool parser): Nordpool price parser
  config/zones/AT.yaml
  config/zones/BE.yaml
  config/zones/DE.yaml
  config/zones/DK-DK1.yaml
  config/zones/DK-DK2.yaml
  config/zones/EE.yaml
  config/zones/FI.yaml
  config/zones/FR.yaml
  config/zones/GB.yaml
  config/zones/LT.yaml
  config/zones/LV.yaml
  config/zones/NL.yaml
  config/zones/NO-NO1.yaml
  config/zones/NO-NO2.yaml
  config/zones/NO-NO3.yaml
  config/zones/NO-NO4.yaml
  config/zones/NO-NO5.yaml
  config/zones/PL.yaml
  config/zones/SE-SE1.yaml
  config/zones/SE-SE2.yaml
  config/zones/SE-SE3.yaml
  config/zones/SE-SE4.yaml
  electricitymap/contrib/lib/models/event_lists.py
  parsers/NORDPOOL.py
  parsers/test/mocks/NORDPOOL/se_current_day_price.json
  parsers/test/mocks/NORDPOOL/se_next_day_price.json
  parsers/test/mocks/NORDPOOL/token.json
  parsers/test/snapshots/snap_test_NORDPOOL.py
  parsers/test/test_NORDPOOL.py
Labels: parser, python, tests, zone config

#7114 fix: use id prop for Sentry instead of custom prop
  web/src/main.tsx
Labels: frontend 🎨

#7122 chore(web): Remove button xl from isIconOnly
  web/src/components/Button.tsx
Labels: frontend 🎨

#7110 fix(preliminary icon): use preliminary icon on chart badges
  web/src/components/EstimationBadge.tsx
  web/src/features/charts/BreakdownChart.tsx
  web/src/features/charts/CarbonChart.tsx
  web/src/features/charts/ChartTitle.tsx
  web/src/features/charts/EmissionChart.tsx
  web/src/features/charts/bar-breakdown/elements/BySource.tsx
  web/src/features/charts/graphUtils.ts
  web/src/features/map/MapTooltip.tsx
Labels: frontend 🎨, dependencies, Review effort [1-5]: 3

#7102 Update `solar` and `unknown` capacity for Hungary
  config/zones/HU.yaml
Labels: zone config
