Repository electricitymaps/electricitymaps-contrib, pull requests merged in 2024-12, with the labels that each got.

#7483 feat(web): prevent blank map on mobile apps
  web/src/features/map/Map.tsx
Labels: frontend 🎨

#7486 feat(parser): Add exchange parsing to the Nordpool parser
  parsers/NORDPOOL.py
  parsers/test/mocks/NORDPOOL/fi_se1_current_day_exchange.json
  parsers/test/mocks/NORDPOOL/fi_se1_previous_day_exchange.json
  parsers/test/snapshots/snap_test_NORDPOOL.py
  parsers/test/test_NORDPOOL.py
Labels: parser, python, tests

#7481 chore(cleanup): Remove disclaimer from ERCOT
  config/zones/US-TEX-ERCO.yaml
Labels: zone config

#7302 Feat: New Feature Popover
  web/package.json
  web/pnpm-lock.yaml
  web/src/components/NewFeaturePopover/NewFeaturePopover.cy.tsx
  web/src/components/NewFeaturePopover/NewFeaturePopover.tsx
  web/src/components/NewFeaturePopover/NewFeaturePopoverContent.tsx
  web/src/features/time/HistoricalTimeHeader.tsx
  web/src/features/time/TimeHeader.tsx
  web/src/locales/en.json
Labels: frontend 🎨, dependencies

#7506 New Feature Popover Tweaks
  web/src/components/NewFeaturePopover/NewFeaturePopover.tsx
  web/src/features/time/HistoricalTimeHeader.tsx
Labels: frontend 🎨

#7476 feat(web): add redirect toast for links older than 30 days
  web/src/App.tsx
  web/src/components/Toast.tsx
  web/src/features/time/DateRedirectToast.tsx
  web/src/features/time/TimeController.tsx
  web/src/locales/en.json
  web/src/utils/state/atoms.ts
Labels: frontend 🎨

#7507 chore(deps): Update vite to v6
  web/package.json
  web/pnpm-lock.yaml
Labels: frontend 🎨, dependencies

#7334 fix: errors in Mexico CENACE parser
  parsers/CENACE.py
Labels: parser, python

#7510 AVO-669: Quick Fix: Center date between Time Header nav arrows
  web/src/features/time/HistoricalTimeHeader.tsx
Labels: frontend 🎨

#7482 feat(web): add staletime and refetch on window focus
  web/src/api/getState.ts
  web/src/api/getZone.ts
  web/src/utils/refetching.ts
Labels: frontend 🎨

#7509 chore(deps): Update i18next to v24
  web/package.json
  web/pnpm-lock.yaml
Labels: frontend 🎨, dependencies

#7513 Tvs/mobile release 1.196.0
  mobileapp/android/app/build.gradle
  mobileapp/ios/App/App.xcodeproj/project.pbxproj
  mobileapp/ios/App/Podfile.lock
  mobileapp/package.json
  web/package.json
  web/src/components/MoreOptionsDropdown.cy.tsx
  web/src/components/MoreOptionsDropdown.tsx
Labels: frontend 🎨, mobile app 📱, dependencies

#7514 chore(web): use consistent testid naming
  web/cypress/e2e/countrypanel.spec.ts
  web/cypress/e2e/map.spec.ts
  web/cypress/e2e/ranking.spec.ts
  web/cypress/e2e/timeslider.spec.ts
  web/src/components/Accordion.tsx
  web/src/components/Badge.tsx
  web/src/components/Button.tsx
  web/src/components/CarbonIntensitySquare.tsx
  web/src/components/CircularGauge.tsx
  web/src/components/LoadingOverlay.tsx
  web/src/components/Modal.tsx
  web/src/components/MoreOptionsDropdown.cy.tsx
  web/src/components/MoreOptionsDropdown.tsx
  web/src/components/NewFeaturePopover/NewFeaturePopover.cy.tsx
  web/src/components/NewFeaturePopover/NewFeaturePopover.tsx
  web/src/components/Pill.tsx
  web/src/components/ShareIcon.tsx
  web/src/components/TimeAverageToggle.tsx
  web/src/components/TimeSlider.tsx
  web/src/components/ToggleButton.tsx
  web/src/components/ZoneGauges.tsx
  web/src/components/app-survey/FeedbackCard.tsx
  web/src/components/modals/OnboardingModal.tsx
  web/src/components/modals/OnboardingModalInner.tsx
  web/src/features/charts/FuturePrice.cy.tsx
  web/src/features/charts/FuturePrice.tsx
  web/src/features/charts/elements/AreaGraph.tsx
  web/src/features/charts/tooltips/CarbonChartTooltip.tsx
  web/src/features/exchanges/ExchangeArrow.tsx
  web/src/features/exchanges/ExchangeLayer.tsx
  web/src/features/exchanges/ExchangeTooltip.tsx
  web/src/features/map-controls/LanguageSelector.cy.tsx
  web/src/features/map-controls/MapButton.tsx
  web/src/features/map-controls/MapControls.cy.tsx
  web/src/features/map-controls/MapOptionSelector.tsx
  web/src/features/map-controls/MobileButtons.tsx
  web/src/features/map/Map.cy.tsx
  web/src/features/modals/SettingsModal.cy.tsx
  web/src/features/panels/LeftPanel.tsx
  web/src/features/panels/ranking-panel/SearchBar.tsx
  web/src/features/panels/ranking-panel/ZoneList.tsx
  web/src/features/panels/zone/EstimationCard.cy.tsx
  web/src/features/panels/zone/EstimationCard.tsx
  web/src/features/panels/zone/FeedbackCard.cy.tsx
  web/src/features/panels/zone/NoInformationMessage.tsx
  web/src/features/panels/zone/ShareButton.cy.tsx
  web/src/features/panels/zone/ShareButton.tsx
  web/src/features/panels/zone/ZoneDetails.tsx
  web/src/features/panels/zone/ZoneHeaderTitle.tsx
  web/src/features/weather-layers/wind-layer/WindLayer.tsx
Labels: frontend 🎨, Review effort [1-5]: 2

#7516 bug(web): wrong query key on zone request
  web/src/api/getZone.ts
Labels: frontend 🎨

#7515 Add french translation for new features
  web/src/locales/fr.json
Labels: frontend 🎨

#7266 feat: use average estimated percentage on aggregated levels
  web/src/features/charts/graphUtils.ts
Labels: frontend 🎨

#7521 chore: Slack be gone
  .github/ISSUE_TEMPLATE/config.yml
  README.md
  web/README.md
  web/src/components/buttons/SlackButton.stories.tsx
  web/src/components/buttons/SlackButton.tsx
  web/src/features/modals/InfoModal.tsx
  web/src/features/panels/ranking-panel/RankingPanelAccordion.tsx
  web/src/locales/da.json
  web/src/locales/en.json
  web/src/locales/es.json
  web/src/locales/fr.json
  web/src/locales/it.json
  web/src/locales/nl.json
  web/src/locales/no-NB.json
  web/src/locales/pl.json
  web/src/locales/pt-BR.json
  web/src/locales/pt-PT.json
  web/src/locales/sl.json
  web/src/locales/sv.json
  web/src/locales/zh-CN.json
  web/src/locales/zh-TW.json
Labels: frontend 🎨, infrastructure, Review effort [1-5]: 2

#7518 feat(web): include more options drop down in completed shares
  web/src/features/panels/zone/ShareButton.tsx
  web/src/hooks/useShare.ts
  web/src/utils/analytics.ts
Labels: frontend 🎨

#7523 fix(web): reformulate feature popover
  web/src/locales/en.json
Labels: frontend 🎨

#7522 fix: Quick fix for the rounding logic in analyzeChartData
  web/src/features/charts/graphUtils.ts
Labels: frontend 🎨

#7524 Update french new popover text
  web/src/locales/fr.json
Labels: frontend 🎨

#7532 fix(web): round estimation percentage to 0 decimals
  web/src/features/charts/graphUtils.ts
  web/src/features/charts/tooltips/BreakdownChartTooltip.tsx
  web/src/features/charts/tooltips/CarbonChartTooltip.tsx
  web/src/features/charts/tooltips/EmissionChartTooltip.tsx
  web/src/features/map/MapTooltip.tsx
  web/src/features/panels/zone/ZoneDetails.tsx
  web/src/hooks/getEstimationTranslation.ts
Labels: frontend 🎨

#7536 Update Spanish locale missing field [First contribution to the web app!]
  web/src/locales/es.json
Labels: frontend 🎨

#7402 Update the app frontend to handle 72 hour window
  web/scripts/generateSitemap.js
  web/src/api/getState.ts
  web/src/api/getZone.ts
  web/src/components/TimeAverageToggle.tsx
  web/src/features/charts/elements/AreaGraph.tsx
  web/src/features/charts/tooltips/AreaGraphTooltipHeader.tsx
  web/src/features/time/HistoricalTimeHeader.tsx
  web/src/features/time/TimeAxis.tsx
  web/src/features/time/TimeController.tsx
  web/src/locales/en.json
  web/src/main.tsx
  web/src/types.ts
  web/src/utils/constants.ts
  web/src/utils/formatting.ts
  web/src/utils/helpers.ts
  web/src/utils/refetching.ts
  web/src/utils/state/atoms.ts
Labels: frontend 🎨, javascript

#7528 Archive IQ (Iraq) parser
  config/exchanges/IQ_IQ-KUR.yaml
  config/exchanges/IQ_IR.yaml
  config/zones/IQ.yaml
  parsers/archived/IQ.py
Labels: frontend 🎨, parser, python, zone config, exchange config

#7531 fix(parsers): Update NI parser as old urls stopped working
  config/exchanges/CR_NI.yaml
  parsers/NI.py
Labels: parser, python, zone config, exchange config

#7539 feat(parsers): Update NI price parse
  parsers/NI.py
Labels: parser, python

#7543 translations(web): Change get our data to Access the API
  web/src/locales/en.json
Labels: frontend 🎨

#7512 feat(web): service worker update button mobile
  web/src/features/modals/InfoModal.tsx
  web/src/features/service-worker/UpdatePrompt.tsx
Labels: frontend 🎨

#7551 fix(app): Prevent iframing
  web/public/_headers
Labels: frontend 🎨

#7552 chore(SEO): Use useMatches to get the correct pathname with urlTimeRange
  web/src/hooks/useGetCanonicalUrl.tsx
Labels: frontend 🎨

#7554 Add or fix some French translations
  web/src/locales/fr.json
Labels: frontend 🎨

#7553 chore(parsers): Archive the Statnett parser
  config/exchanges/NO-NO4_RU-1.yaml
  parsers/archived/statnett.py
Labels: parser, python, exchange config

#7555 Fix mapping for FR-COR #7065
  parsers/FR_O.py
  parsers/test/mocks/FR_O/FR_COR.json
  parsers/test/test_FR_O.py
Labels: parser, python, tests

#7541 Exchange Data Disclaimer
  web/src/features/charts/MissingExchangeData.tsx
  web/src/features/charts/NetExchangeChart.tsx
  web/src/features/charts/OriginChart.tsx
  web/src/features/charts/elements/AreaGraph.tsx
  web/src/locales/en.json
Labels: frontend 🎨

#7548 feat(web): vertical line to show midnight
  web/src/features/charts/OriginChart.tsx
  web/src/features/charts/elements/AreaGraph.tsx
  web/src/features/time/TimeAxis.tsx
  web/src/features/time/TimeController.tsx
Labels: frontend 🎨

#7546 Navigate back/forward through time by 24 hours in 72 hour view
  web/src/features/time/HistoricalTimeHeader.tsx
Labels: frontend 🎨

#7558 feat(web): pop-over for 72h view
  web/src/components/NewFeaturePopover/NewFeaturePopover.tsx
  web/src/components/TimeRangeToggle.tsx
  web/src/features/time/HistoricalTimeHeader.tsx
  web/src/locales/en.json
  web/src/locales/fr.json
Labels: frontend 🎨

#7559 fix(parsers): CAISO url fix
  parsers/US_CA.py
Labels: parser, python

#7562 feat(zones):Update capacity value for CH and add unknown capacity value
  config/zones/CH.yaml
Labels: zone config

#7566 Tvs/mobile release 1.200.0
  mobileapp/android/app/build.gradle
  mobileapp/ios/App/App.xcodeproj/project.pbxproj
  mobileapp/package.json
  web/src/features/time/TimeAxis.tsx
Labels: frontend 🎨, mobile app 📱, dependencies

#7563 New feature popover french translation
  web/src/locales/fr.json
Labels: frontend 🎨

#7570 chore(exchanges): Switch internal nordic exchanges to Nordpool
  config/exchanges/DK-DK1_SE-SE3.yaml
  config/exchanges/DK-DK2_SE-SE4.yaml
  config/exchanges/FI_NO-NO4.yaml
  config/exchanges/FI_SE-SE1.yaml
  config/exchanges/FI_SE-SE3.yaml
  config/exchanges/NO-NO1_NO-NO2.yaml
  config/exchanges/NO-NO1_NO-NO3.yaml
  config/exchanges/NO-NO1_NO-NO5.yaml
  config/exchanges/NO-NO1_SE-SE3.yaml
  config/exchanges/NO-NO2_NO-NO5.yaml
  config/exchanges/NO-NO3_NO-NO4.yaml
  config/exchanges/NO-NO3_NO-NO5.yaml
  config/exchanges/NO-NO3_SE-SE2.yaml
  config/exchanges/NO-NO4_SE-SE1.yaml
  config/exchanges/NO-NO4_SE-SE2.yaml
Labels: exchange config

#7572 feat(config): add bboxes for upcomming zones
  config/zones/AO.yaml
  config/zones/BW.yaml
  config/zones/CI.yaml
  config/zones/DZ.yaml
  config/zones/EG.yaml
  config/zones/ET.yaml
  config/zones/GH.yaml
  config/zones/KE.yaml
  config/zones/KM.yaml
  config/zones/LS.yaml
  config/zones/MU.yaml
  config/zones/MW.yaml
  config/zones/MZ.yaml
  config/zones/SZ.yaml
  config/zones/TN.yaml
  config/zones/TZ.yaml
  config/zones/UG.yaml
  config/zones/YT.yaml
Labels: zone config

#7529 Update Get our data to Access the API and Open source to Community
  web/src/features/header/Header.tsx
  web/src/features/panels/zone/ZoneDetails.tsx
  web/src/locales/en.json
Labels: frontend 🎨, dependencies

#7571 Add exports+storage to origin charts
  web/src/features/charts/elements/AreaGraphLayers.tsx
  web/src/features/charts/hooks/useOriginChartData.ts
Labels: frontend 🎨

#7567 bug(web): midnight line not visible on mobile devices
  web/src/features/time/TimeAxis.tsx
Labels: frontend 🎨

#7575 feat(web): Default to 72h view
  mockserver/generate_mock_data.js
  mockserver/public/v9/details/daily/DE.json
  mockserver/public/v9/details/daily/DK-DK2.json
  mockserver/public/v9/details/hourly/DE.json
  mockserver/public/v9/details/hourly/DK-DK2.json
  mockserver/public/v9/details/hourly_72/CN.json
  mockserver/public/v9/details/hourly_72/DE.json
  mockserver/public/v9/details/hourly_72/DK-DK2.json
  mockserver/public/v9/details/monthly/DE.json
  mockserver/public/v9/details/monthly/DK-DK2.json
  mockserver/public/v9/details/yearly/DE.json
  mockserver/public/v9/details/yearly/DK-DK2.json
  mockserver/public/v9/meta.json
  mockserver/public/v9/state/daily.json
  mockserver/public/v9/state/hourly.json
  mockserver/public/v9/state/hourly_72.json
  mockserver/public/v9/state/last_hour.json
  mockserver/public/v9/state/monthly.json
  mockserver/public/v9/state/yearly.json
  web/cypress/e2e/countrypanel.spec.ts
  web/cypress/e2e/map.spec.ts
  web/cypress/e2e/ranking.spec.ts
  web/cypress/e2e/timeslider.spec.ts
  web/src/App.tsx
  web/src/api/getState.ts
  web/src/api/getZone.ts
  web/src/components/TimeRangeToggle.stories.tsx
  web/src/components/TimeRangeToggle.tsx
  web/src/hooks/useGetCurrentUrl.ts
  web/src/main.tsx
  web/src/utils/refetching.ts
Labels: frontend 🎨, javascript

#7578 Fix formatting of unit for 72hrs
  web/src/features/charts/hooks/useNetExchangeChartData.ts
Labels: frontend 🎨

#7577 Fix storage tooltip intensity
  web/src/components/CarbonIntensityDisplay.tsx
  web/src/features/charts/tooltips/BreakdownChartTooltip.tsx
Labels: frontend 🎨

#7579 Minor style changes to area graphs
  web/src/features/charts/elements/AreaGraph.tsx
  web/src/features/charts/elements/ValueAxis.tsx
  web/src/features/time/TimeAxis.tsx
  web/src/utils/formatting.test.ts
  web/src/utils/formatting.ts
  web/src/utils/helpers.test.ts
  web/src/utils/helpers.ts
Labels: frontend 🎨

#7576 feat(web): add estimation text for general purpose zone model
  web/src/locales/en.json
  web/src/utils/constants.ts
Labels: frontend 🎨

#7586 Feat update es locale
  web/src/locales/es.json
Labels: frontend 🎨

#7585 chore(mockserver): Cleanup last_hour data no longer being served
  mockserver/generate_mock_data.js
  mockserver/public/v9/state/last_hour.json
Labels: javascript

#7568 feat(web): Update information copy and CTAs
  web/src/components/buttons/ApiButton.tsx
  web/src/components/buttons/CommercialApiButton.tsx
  web/src/components/buttons/DocumentationButton.tsx
  web/src/features/modals/InfoModal.tsx
  web/src/features/modals/InfoText.tsx
  web/src/features/panels/ranking-panel/RankingPanel.tsx
  web/src/features/panels/ranking-panel/RankingPanelAccordion.tsx
  web/src/features/panels/ranking-panel/SearchBar.tsx
  web/src/features/panels/zone/AreaGraphContainer.tsx
  web/src/features/panels/zone/Attribution.tsx
  web/src/features/panels/zone/ZoneDetails.tsx
  web/src/locales/da.json
  web/src/locales/en.json
  web/src/locales/es.json
  web/src/locales/fr.json
  web/src/locales/it.json
  web/src/locales/nl.json
  web/src/locales/no-NB.json
  web/src/locales/pl.json
  web/src/locales/pt-BR.json
  web/src/locales/pt-PT.json
  web/src/locales/sv.json
  web/src/locales/zh-CN.json
  web/src/locales/zh-TW.json
Labels: frontend 🎨

#7588 bug(web): fix wrong graph index on tooltip close
  web/src/features/charts/elements/AreaGraph.tsx
Labels: frontend 🎨

#7589 mobile release
  mobileapp/ios/App/App.xcodeproj/project.pbxproj
  mobileapp/package.json
Labels: mobile app 📱, dependencies

#7597 Add some french translations
  web/src/locales/fr.json
Labels: frontend 🎨

#7601 perf: Optimize analyzeChartData
  web/src/features/charts/graphUtils.ts
Labels: frontend 🎨

#7605 perf: Extract regex patterns + more arrow functions
  web/src/components/ShareIcon.tsx
  web/src/features/charts/graphUtils.ts
  web/src/features/weather-layers/wind-layer/util.ts
  web/src/hooks/useShare.ts
  web/src/translation/i18n.ts
  web/src/utils/helpers.ts
Labels: frontend 🎨

#7599 fix(translation): Add 72h translations
  web/src/locales/da.json
  web/src/locales/de.json
  web/src/locales/fr.json
  web/src/locales/nl.json
  web/src/locales/pl.json
  web/src/locales/pt-PT.json
  web/src/locales/sv.json
  web/src/locales/zh-TW.json
Labels: frontend 🎨

#7600 fix(translation): Remove hardcoded string in favor of translation strings
  web/src/features/panels/zone/ZoneDetails.tsx
  web/src/locales/en.json
Labels: frontend 🎨

#7587 linting(web): update eslint to auto remove unused imports
  web/.eslintrc.json
  web/package.json
  web/pnpm-lock.yaml
  web/src/features/time/HistoricalTimeHeader.tsx
  web/src/translation/i18n.ts
Labels: frontend 🎨, dependencies

#7590 bug(web): try fix dynamically imported modules failing
  web/src/main.tsx
Labels: frontend 🎨

#7594 bug(web): present electric net exchange chart for 30d+ views
  web/src/utils/helpers.test.ts
  web/src/utils/helpers.ts
Labels: frontend 🎨

#7615 Add and fix some French translations
  web/src/locales/fr.json
Labels: frontend 🎨

#7616 fix(locales): Fix typo in sv.json
  web/src/locales/sv.json
Labels: frontend 🎨

#7619 fix(locales): make sv.json's net exchange translation consistent
  web/src/locales/sv.json
Labels: frontend 🎨

#7608 bug(web): drag from arrow on desktop
  web/src/features/exchanges/ExchangeArrow.tsx
Labels: frontend 🎨

#7610 perf: memoize TimeAxis
  web/src/features/time/TimeAxis.tsx
Labels: frontend 🎨

#7620 fix(parser): JP price parser fixed by updating API url
  DATA_SOURCES.md
  parsers/JP.py
Labels: parser, python

#7612 refactor(parser): swap arrow in favour of datetime in JP and occtonet
  parsers/JP.py
  parsers/occtonet.py
Labels: parser, python

#7614 refactor(parser): swap arrow in favour of datetime in GSO
  parsers/GSO.py
Labels: parser, python

#7488 refactor(EIA): remove usage of 'arrow' dependency
  parsers/EIA.py
  parsers/test/test_EIA.py
Labels: parser, python, tests

#7603 perf: Remove redundant loops in AreaGraph.tsx
  web/src/features/charts/elements/AreaGraph.tsx
Labels: frontend 🎨

#7611 perf: memoize MapTooltip internals
  web/src/components/CarbonIntensitySquare.tsx
  web/src/components/CircularGauge.stories.tsx
  web/src/components/CircularGauge.tsx
  web/src/components/ZoneGauges.tsx
  web/src/features/map/MapTooltip.tsx
Labels: frontend 🎨

#7626 refactor(parser): swap arrow in favour of datetime in IN_PB
  parsers/IN_PB.py
Labels: parser, python

#7640 chore(config): Remove other forecast keys
  electricitymap/contrib/config/constants.py
Labels: python

#7639 fix(tests): make CH parser test independent on test runner timezone
  parsers/test/test_CH.py
Labels: parser, python, tests

#7629 refactor(parser): swap arrow in favour of datetime in IN_UT
  parsers/IN_UT.py
Labels: parser, python

#7627 refactor/fix(parser): swap arrow in favour of datetime in IN_WE, and etc.
  parsers/IN_WE.py
Labels: parser, python, tests

#7595 fix(parsers): Add missing mapping for AM to the ENTSOE parser
  parsers/ENTSOE.py
Labels: parser, python
