Repository electricitymaps/electricitymaps-contrib, pull requests merged in 2024-06, with the labels that each got.

#6441 update(parser) - ELEXON
  parsers/ELEXON.py
Labels: parser, python

#6794 fix(translation): Update color blind mode location in FAQ answer for EN and ID language
  web/src/locales/en.json
  web/src/locales/id.json
Labels: frontend 🎨

#6795 updates FAQ panel for English and French translations
  web/src/locales/fr.json
Labels: frontend 🎨

#6797 feat(translation): Added full Portuguese (Portugal) to web
  web/index.html
  web/src/locales/pt-PT.json
  web/src/translation/locales.ts
Labels: frontend 🎨

#6793 chore(config): fix some typos in filenames
  config/zones/MX-CE.yaml
  config/zones/MX-NE.yaml
  config/zones/MX-NO.yaml
  config/zones/MX-NW.yaml
  config/zones/MX-OC.yaml
  config/zones/MX-OR.yaml
  config/zones/MX-PN.yaml
  config/zones/MX.yaml
  config/zones/US-CAR-CPLW.yaml
  config/zones/US-CAR-SCEG.yaml
  config/zones/US-FLA-JEA.yaml
Labels: zone config

#6781 Get caller-location and feature-flags from new endpoint
  mockserver/public/v8/meta.json
  mockserver/server.js
  web/src/api/getMeta.ts
  web/src/api/helpers.ts
  web/src/features/feature-flags/FeatureFlagsManager.tsx
  web/src/features/feature-flags/api.ts
  web/src/features/map/Map.tsx
  web/src/features/map/MapMovement.cy.tsx
  web/src/utils/helpers.ts
Labels: frontend 🎨, javascript

#6728 feat(web): add production source legends to data source accordion for carbon and emission chart
  web/src/features/charts/BreakdownChart.tsx
  web/src/features/charts/CarbonChart.tsx
  web/src/features/charts/DataSources.tsx
  web/src/features/charts/EmissionChart.tsx
  web/src/features/charts/NetExchangeChart.tsx
  web/src/features/charts/PriceChart.tsx
  web/src/features/charts/ProductionSourceLegend.tsx
  web/src/features/charts/ProductionSourceLegendList.tsx
  web/src/features/charts/ProductionsSourceIcons.tsx
  web/src/features/charts/RoundedCard.tsx
  web/src/features/charts/bar-breakdown/BarBreakdownChart.tsx
  web/src/features/charts/bar-breakdown/BarBreakdownEmissionsChart.tsx
  web/src/features/charts/bar-breakdown/BarElectricityBreakdownChart.tsx
  web/src/features/charts/bar-breakdown/DataSources.tsx
  web/src/features/charts/bar-breakdown/utils.ts
  web/src/features/charts/hooks/useBreakdownChartData.ts
  web/src/features/charts/hooks/useCarbonChartData.ts
  web/src/features/charts/hooks/useEmissionChartData.ts
  web/src/features/charts/hooks/useZoneDataSources.ts
  web/src/features/charts/tooltips/AreaGraphTooltipHeader.tsx
  web/src/features/panels/zone/MethodologyCard.tsx
Labels: frontend 🎨

#6759 feat(fo): add historical production data for FO parser
  config/zones/FO-MI.yaml
  config/zones/FO-SI.yaml
  config/zones/FO.yaml
  parsers/FO.py
  parsers/test/mocks/FO/sev_api_historical_2023_02_16.json
  parsers/test/mocks/FO/sev_api_historical_2023_07_16.json
  parsers/test/mocks/FO/sev_api_live.json
  parsers/test/mocks/FO/sev_api_live_0.json
  parsers/test/mocks/FO/sev_api_live_1.json
  parsers/test/snapshots/snap_test_FO.py
  parsers/test/test_FO.py
Labels: parser, python, tests, zone config

#6807 bug(web): map overlays blocking touch events on mobile
  web/src/components/MapOverlays.tsx
  web/src/components/app-survey/SurveyCard.tsx
  web/src/features/feature-flags/FeatureFlagsManager.tsx
Labels: frontend 🎨

#6806 Update `fr` locales
  web/src/locales/fr.json
Labels: frontend 🎨

#6809 bug(web): prevent translation causing crashing on edge browser
  web/src/components/Button.tsx
  web/src/features/charts/tooltips/BreakdownChartTooltip.tsx
Labels: frontend 🎨

#6810 chore(deps): update cypress to latest version
  web/package.json
  web/pnpm-lock.yaml
Labels: frontend 🎨, dependencies

#6812 fix(parser-validation): Remove parser validation on US-SE-SEPA
  parsers/EIA.py
Labels: parser, python

#6815 fix some misspells in french translation
  web/src/locales/fr.json
Labels: frontend 🎨

#6813 bug(web): close map control tooltip when menu button is clicked
  web/src/features/map-controls/MapButton.tsx
Labels: frontend 🎨

#6330 Update US-NW-PSEI.yaml to match 2023 Puget Sound Energy mix/capacity per reports
  config/zones/US-NW-PSEI.yaml
Labels: zone config

#6824 fix(config): Update expected production parser delays for some zones
  config/zones/AU-NT.yaml
  config/zones/BA.yaml
  config/zones/US-CENT-SPA.yaml
  config/zones/US-FLA-HST.yaml
  config/zones/US-SE-SEPA.yaml
Labels: zone config

#6826 fix(GB->NO-NO2): change GB->NO-NO2 to use ENTSO-E
  config/exchanges/GB_NO-NO2.yaml
Labels: exchange config

#6779 Update TSA estimations title and description
  web/public/images/preliminary_dark.svg
  web/public/images/preliminary_light.svg
  web/src/features/panels/zone/EstimationCard.tsx
  web/src/locales/de.json
  web/src/locales/en.json
  web/src/locales/es.json
  web/src/locales/fr.json
  web/src/locales/zh-TW.json
Labels: frontend 🎨

#6825 chore: run storybook migration + pnpm dedupe
  web/.storybook/main.cjs
  web/.storybook/preview.js
  web/package.json
  web/pnpm-lock.yaml
Labels: frontend 🎨, dependencies, javascript

#6786 feat(web): add links to data sources
  web/.eslintrc.json
  web/src/components/Link.tsx
  web/src/features/charts/DataSources.tsx
  web/src/features/charts/graphUtils.test.ts
  web/src/features/charts/graphUtils.ts
  web/src/features/panels/zone/MethodologyCard.tsx
  web/src/utils/constants.ts
Labels: frontend 🎨, dependencies, zone config

#6821 perf(loading spinner): optimize loading spinner and inline code + css animation
  web/public/images/loading-icon-darkmode.svg
  web/public/images/loading-icon.svg
  web/src/components/LoadingSpinner.tsx
  web/src/icons/loadingSpinnerIcon.tsx
  web/src/index.css
Labels: frontend 🎨

#6827 fix(config): Update expected production parser delays for US zones
  config/zones/US-AK-SEAPA.yaml
  config/zones/US-CAL-BANC.yaml
  config/zones/US-CAL-CISO.yaml
  config/zones/US-CAL-IID.yaml
  config/zones/US-CAL-LDWP.yaml
  config/zones/US-CAL-TIDC.yaml
  config/zones/US-CAR-CPLE.yaml
  config/zones/US-CAR-CPLW.yaml
  config/zones/US-CAR-DUK.yaml
  config/zones/US-CAR-SC.yaml
  config/zones/US-CAR-SCEG.yaml
  config/zones/US-CAR-YAD.yaml
  config/zones/US-CENT-SWPP.yaml
  config/zones/US-FLA-FMPP.yaml
  config/zones/US-FLA-FPC.yaml
  config/zones/US-FLA-FPL.yaml
  config/zones/US-FLA-GVL.yaml
  config/zones/US-FLA-HST.yaml
  config/zones/US-FLA-JEA.yaml
  config/zones/US-FLA-SEC.yaml
  config/zones/US-FLA-TAL.yaml
  config/zones/US-FLA-TEC.yaml
  config/zones/US-MIDA-PJM.yaml
  config/zones/US-MIDW-AECI.yaml
  config/zones/US-MIDW-LGEE.yaml
  config/zones/US-MIDW-MISO.yaml
  config/zones/US-NE-ISNE.yaml
  config/zones/US-NW-AVA.yaml
  config/zones/US-NW-BPAT.yaml
  config/zones/US-NW-CHPD.yaml
  config/zones/US-NW-DOPD.yaml
  config/zones/US-NW-GCPD.yaml
  config/zones/US-NW-GRID.yaml
  config/zones/US-NW-IPCO.yaml
  config/zones/US-NW-NEVP.yaml
  config/zones/US-NW-NWMT.yaml
  config/zones/US-NW-PACE.yaml
  config/zones/US-NW-PACW.yaml
  config/zones/US-NW-PGE.yaml
  config/zones/US-NW-PSCO.yaml
  config/zones/US-NW-PSEI.yaml
  config/zones/US-NW-SCL.yaml
  config/zones/US-NW-TPWR.yaml
  config/zones/US-NW-WACM.yaml
  config/zones/US-NW-WAUW.yaml
  config/zones/US-NY-NYIS.yaml
  config/zones/US-SE-SEPA.yaml
  config/zones/US-SE-SOCO.yaml
  config/zones/US-SW-AZPS.yaml
  config/zones/US-SW-EPE.yaml
  config/zones/US-SW-PNM.yaml
  config/zones/US-SW-SRP.yaml
  config/zones/US-SW-TEPC.yaml
  config/zones/US-SW-WALC.yaml
  config/zones/US-TEN-TVA.yaml
  config/zones/US-TEX-ERCO.yaml
Labels: zone config

#6820 feat(web): display in app survey in mobile view
  web/src/components/MapOverlays.tsx
  web/src/components/app-survey/FeedbackCard.tsx
  web/src/components/app-survey/SurveyCard.tsx
  web/src/features/panels/zone/FeedbackCard.cy.tsx
  web/src/features/panels/zone/ZoneDetails.tsx
  web/src/utils/styling.ts
Labels: frontend 🎨

#6830 Turn exchange arrows gray for zones with an outage
  web/src/features/exchanges/ExchangeTooltip.tsx
  web/src/hooks/arrows.test.ts
  web/src/hooks/arrows.ts
  web/src/locales/en.json
Labels: frontend 🎨

#6790 fix(web): change colors of production sources
  web/src/features/charts/ProductionsSourceIcons.tsx
  web/src/utils/constants.ts
Labels: frontend 🎨

#6791 fix(web): change order of production sources
  web/src/features/charts/bar-breakdown/EmptyBarBreakdownChart.tsx
  web/src/features/charts/bar-breakdown/utils.test.ts
  web/src/features/charts/bar-breakdown/utils.ts
  web/src/utils/constants.ts
Labels: frontend 🎨

#6792 feat(web): add announcement modal for the production source color changes
  web/src/App.tsx
  web/src/features/modals/AnnouncementModal.tsx
  web/src/icons/announcementSourceColorImage.tsx
Labels: frontend 🎨

#6837 Pin numpy to avoid 2.0.0 with breaking changes
  poetry.lock
  pyproject.toml
Labels: dependencies

#6838 Pin numpy to slightly older version
  poetry.lock
  pyproject.toml
Labels: dependencies

#6836 fix(dependabot): Ensure the correct pnpm version is used
  web/package.json
Labels: frontend 🎨, dependencies

#6841 feat(web): Open external nav bar links in new tab
  web/src/features/header/Header.tsx
Labels: frontend 🎨

#6857 perf(manual-chunking): Remove `country-flag-icons` from manual chunking
  web/vite.config.cts
Labels: frontend 🎨, performance 🏎

#6866 Hide zones with insufficient data from the map
  config/zones/BH.yaml
  config/zones/KW.yaml
  config/zones/MX-BC.yaml
  config/zones/MX-BCS.yaml
  config/zones/MX-CE.yaml
  config/zones/MX-NE.yaml
  config/zones/MX-NO.yaml
  config/zones/MX-NW.yaml
  config/zones/MX-OC.yaml
  config/zones/MX-OR.yaml
  config/zones/MX-PN.yaml
  config/zones/MX.yaml
  config/zones/TH.yaml
  web/src/features/panels/zone/NoInformationMessage.tsx
  web/src/features/panels/zone/ZoneDetails.tsx
  web/src/features/panels/zone/util.ts
  web/src/locales/en.json
Labels: frontend 🎨, zone config

#6822 chore(update-prompt): Update the prompt to match our new visual design
  web/src/components/Button.stories.tsx
  web/src/components/Button.tsx
  web/src/components/Toast.stories.tsx
  web/src/components/Toast.tsx
  web/src/components/app-survey/FeedbackCard.tsx
  web/src/features/service-worker/UpdatePrompt.tsx
  web/src/locales/ar.json
  web/src/locales/cs.json
  web/src/locales/da.json
  web/src/locales/de.json
  web/src/locales/el.json
  web/src/locales/en.json
  web/src/locales/es.json
  web/src/locales/et.json
  web/src/locales/fi.json
  web/src/locales/fr.json
  web/src/locales/hi.json
  web/src/locales/hr.json
  web/src/locales/id.json
  web/src/locales/it.json
  web/src/locales/ja.json
  web/src/locales/ko.json
  web/src/locales/nl.json
  web/src/locales/no-NB.json
  web/src/locales/pl.json
  web/src/locales/pt-BR.json
  web/src/locales/pt-PT.json
  web/src/locales/ro.json
  web/src/locales/ru.json
  web/src/locales/sk.json
  web/src/locales/sl.json
  web/src/locales/sv.json
  web/src/locales/vi.json
  web/src/locales/zh-CN.json
  web/src/locales/zh-HK.json
  web/src/locales/zh-TW.json
Labels: frontend 🎨

#6800 feat(PWA + Service worker): Add PWA manifest and use service worker to handle updates
  web/cypress/e2e/countrypanel.spec.ts
  web/package.json
  web/public/icons/android-chrome-192x192.png
  web/public/icons/android-chrome-512x512.png
  web/public/icons/icon-maskable.svg
  web/public/icons/icon.svg
  web/src/App.tsx
  web/src/api/getAppVersion.ts
  web/src/components/Button.stories.tsx
  web/src/components/Button.tsx
  web/src/components/Toast.stories.tsx
  web/src/components/Toast.tsx
  web/src/components/app-survey/FeedbackCard.tsx
  web/src/features/service-worker/UpdatePrompt.tsx
  web/src/locales/ar.json
  web/src/locales/cs.json
  web/src/locales/da.json
  web/src/locales/de.json
  web/src/locales/el.json
  web/src/locales/en.json
  web/src/locales/es.json
  web/src/locales/et.json
  web/src/locales/fi.json
  web/src/locales/fr.json
  web/src/locales/hi.json
  web/src/locales/hr.json
  web/src/locales/id.json
  web/src/locales/it.json
  web/src/locales/ja.json
  web/src/locales/ko.json
  web/src/locales/nl.json
  web/src/locales/no-NB.json
  web/src/locales/pl.json
  web/src/locales/pt-BR.json
  web/src/locales/pt-PT.json
  web/src/locales/ro.json
  web/src/locales/ru.json
  web/src/locales/sk.json
  web/src/locales/sl.json
  web/src/locales/sv.json
  web/src/locales/vi.json
  web/src/locales/zh-CN.json
  web/src/locales/zh-HK.json
  web/src/locales/zh-TW.json
  web/src/main.tsx
  web/tsconfig.json
  web/vite.config.cts
Labels: frontend 🎨, dependencies

#6789 feat(web): add a tooltip to clarify why production modes can have multiple emission factor sources
  web/src/features/charts/DataSources.tsx
  web/src/locales/en.json
Labels: frontend 🎨

#6862 chore(dependabot): Adjust dependabot config
  .github/dependabot.yml
Labels: infrastructure

#6864 mobile release 1.146.1
  mobileapp/android/app/build.gradle
  mobileapp/ios/App/App.xcodeproj/project.pbxproj
  mobileapp/package.json
Labels: frontend 🎨, mobile app 📱, dependencies

#6887 Remove US-CENT-SPA from fossil production requirement
  parsers/lib/quality.py
Labels: parser, python

#6831 refactor(gb-ork): replace usage of 'arrow' library with Python built-in 'datetime' module.
  parsers/GB_ORK.py
Labels: parser, python

#6829 chore(translations): Clean up unused translations
  web/public/locales/en.json
  web/scripts/syncTranslations.js
  web/src/locales/ar.json
  web/src/locales/cs.json
  web/src/locales/da.json
  web/src/locales/de.json
  web/src/locales/el.json
  web/src/locales/en.json
  web/src/locales/es.json
  web/src/locales/et.json
  web/src/locales/fi.json
  web/src/locales/fr.json
  web/src/locales/hi.json
  web/src/locales/hr.json
  web/src/locales/id.json
  web/src/locales/it.json
  web/src/locales/ja.json
  web/src/locales/ko.json
  web/src/locales/nl.json
  web/src/locales/no-NB.json
  web/src/locales/pl.json
  web/src/locales/pt-BR.json
  web/src/locales/pt-PT.json
  web/src/locales/ro.json
  web/src/locales/ru.json
  web/src/locales/sk.json
  web/src/locales/sl.json
  web/src/locales/sv.json
  web/src/locales/vi.json
  web/src/locales/zh-CN.json
  web/src/locales/zh-HK.json
  web/src/locales/zh-TW.json
Labels: translations 🗣, javascript

#6899 feat(web): dynamic import of featureflag component
  web/src/components/MapOverlays.tsx
  web/src/features/feature-flags/FeatureFlagsManager.tsx
Labels: frontend 🎨

#6894 perf: use optional chaining everywhere
  web/geo/generateAggregates.ts
  web/src/components/modals/OnboardingModalInner.tsx
  web/src/features/charts/DataSources.tsx
  web/src/features/charts/bar-breakdown/BarBreakdownChart.tsx
  web/src/features/charts/elements/GraphHoverline.tsx
  web/src/features/charts/tooltips/PriceChartTooltip.tsx
  web/src/features/header/Header.tsx
  web/src/features/map/Map.tsx
  web/src/features/panels/ranking-panel/RankingPanel.tsx
  web/src/features/weather-layers/wind-layer/Field.tsx
  web/src/utils/analytics.ts
Labels: frontend 🎨, performance 🏎

#6892 chore: use modern tailwind syntax
  web/src/components/ToggleButton.tsx
  web/src/components/modals/OnboardingModalInner.tsx
  web/src/features/map/MapTooltip.tsx
  web/src/features/panels/ranking-panel/ZoneList.tsx
Labels: frontend 🎨

#6889 chore(types): more specific badge types
  web/src/components/Badge.tsx
  web/src/features/panels/zone/EstimationCard.tsx
Labels: frontend 🎨

#6888 chore(storybook): Use storybook features for button stories
  web/src/components/Button.stories.tsx
  web/src/components/Button.tsx
Labels: frontend 🎨

#6832 Fix DST days in ES parser
  parsers/ES.py
  parsers/test/test_ES.py
Labels: parser, python, tests

#6885 hackday: Virtual lists for ranking panel
  web/package.json
  web/pnpm-lock.yaml
  web/src/features/panels/ranking-panel/RankingPanel.tsx
  web/src/features/panels/ranking-panel/ZoneList.tsx
Labels: frontend 🎨, dependencies
