Repository electricitymaps/electricitymaps-contrib, pull requests merged in 2024-01, with the labels that each got.

#6279 TH: Updated Capacity Data from December 2023
  config/zones/TH.yaml
Labels: zone config

#6308 [REF] update EU emission factor and remove outliers
  config/zones/AT.yaml
  config/zones/AX.yaml
  config/zones/BE.yaml
  config/zones/BG.yaml
  config/zones/CY.yaml
  config/zones/CZ.yaml
  config/zones/DE.yaml
  config/zones/EE.yaml
  config/zones/ES-CN-FVLZ.yaml
  config/zones/ES-CN-GC.yaml
  config/zones/ES-CN-HI.yaml
  config/zones/ES-CN-IG.yaml
  config/zones/ES-CN-LP.yaml
  config/zones/ES-CN-TE.yaml
  config/zones/ES-IB-FO.yaml
  config/zones/ES-IB-IZ.yaml
  config/zones/ES-IB-MA.yaml
  config/zones/ES-IB-ME.yaml
  config/zones/ES.yaml
  config/zones/FO-MI.yaml
  config/zones/FO-SI.yaml
  config/zones/FR-COR.yaml
  config/zones/FR.yaml
  config/zones/HR.yaml
  config/zones/IE.yaml
  config/zones/LT.yaml
  config/zones/LU.yaml
  config/zones/LV.yaml
  config/zones/MT.yaml
  config/zones/NL.yaml
  config/zones/PL.yaml
  config/zones/PT-AC.yaml
  config/zones/PT-MA.yaml
  config/zones/PT.yaml
  config/zones/SE-SE1.yaml
  config/zones/SE-SE2.yaml
  config/zones/SE-SE3.yaml
  config/zones/SE-SE4.yaml
  config/zones/SE.yaml
  config/zones/SI.yaml
  parsers/test/test_config.py
Labels: parser, python, tests, zone config

#6309 DK-GB exchange config for the country view
  config/exchanges/DK_GB.yaml
Labels: exchange config

#6280 refactor: remove arrow from TR parser
  parsers/TR.py
Labels: parser, python

#6275 refactor: remove arrow from SV parser
  parsers/SV.py
Labels: parser, python

#6325 Total FI-SE exchange capacity for country view
  config/exchanges/FI_SE.yaml
Labels: exchange config

#6326 Update capacity for Germany based on existing data sources
  config/zones/DE.yaml
Labels: zone config

#6316 fix cypress v7 tests
  mockserver/generate_mock_data.js
  mockserver/public/v7/details/daily/DE.json
  mockserver/public/v7/details/daily/DK-DK2.json
  mockserver/public/v7/details/hourly/CN.json
  mockserver/public/v7/details/hourly/DE.json
  mockserver/public/v7/details/hourly/DK-DK2.json
  mockserver/public/v7/details/monthly/DE.json
  mockserver/public/v7/details/monthly/DK-DK2.json
  mockserver/public/v7/details/yearly/DE.json
  mockserver/public/v7/details/yearly/DK-DK2.json
  mockserver/public/v7/state/daily.json
  mockserver/public/v7/state/hourly.json
  mockserver/public/v7/state/last_hour.json
  mockserver/public/v7/state/monthly.json
  mockserver/public/v7/state/yearly.json
  web/cypress/e2e/countrypanel.spec.ts
  web/cypress/e2e/timeslider.spec.ts
Labels: frontend 🎨, javascript

#6328 Updated emission factors CL-SEN (2022)
  config/zones/CL-SEN.yaml
Labels: zone config

#6312 Update ENTSO-E parser to use new proxy
  parsers/ENTSOE.py
  parsers/test/test_ENTSOE.py
  scripts/ENTSOE_capacity_update.py
Labels: parser, python, tests

#6331 Update EFs, capacity, lowCarbon, isRenewable
  config/zones/CH.yaml
Labels: zone config

#6334 Enable ruff for the test files
  parsers/test/mocks/quality_check.py
  parsers/test/snapshots/snap_test_CNDC.py
  parsers/test/snapshots/snap_test_ERP_PGCB.py
  parsers/test/snapshots/snap_test_TAIPOWER.py
  parsers/test/snapshots/snap_test_amper_landsnet.py
  parsers/test/snapshots/snap_test_bornholm_powerlab.py
  parsers/test/test_CNDC.py
  parsers/test/test_EIA.py
  parsers/test/test_ENTSOE.py
  parsers/test/test_ERP_PGCB.py
  parsers/test/test_ONS.py
  parsers/test/test_SG.py
  parsers/test/test_US_MISO.py
  parsers/test/test_US_SPP.py
  parsers/test/test_amper_landsnet.py
  parsers/test/test_entsoe_quality.py
  parsers/test/test_quality.py
  parsers/test/test_validation.py
  pyproject.toml
Labels: parser, dependencies, python, tests

#6332 Add link to Methodology page to the header
  web/src/features/header/Header.tsx
Labels: frontend 🎨

#6285 Add snapshot test for ENTSO-E exchange functions
  parsers/test/mocks/ENTSOE/DK-DK1_GB_exchange_exports.xml
  parsers/test/mocks/ENTSOE/DK-DK1_GB_exchange_imports.xml
  parsers/test/mocks/ENTSOE/DK-DK2_SE-SE4_exchange_forecast_exports.xml
  parsers/test/mocks/ENTSOE/DK-DK2_SE-SE4_exchange_forecast_imports.xml
  parsers/test/snapshots/snap_test_ENTSOE.py
  parsers/test/test_ENTSOE.py
Labels: parser, python, tests

#6337 Fix update capacity command example
  capacity_update.py
Labels: python

#6294 Modify raw exchange function to handle aggregate exchanges in ENTSOE
  config/exchanges/FR-COR_IT-SAR.yaml
  parsers/ENTSOE.py
  parsers/FR-COR_IT-SAR.py
  parsers/test/mocks/ENTSOE/FR-COR_IT-SAR_AC_exchange_exports.xml
  parsers/test/mocks/ENTSOE/FR-COR_IT-SAR_AC_exchange_forecast_exports.xml
  parsers/test/mocks/ENTSOE/FR-COR_IT-SAR_AC_exchange_forecast_imports.xml
  parsers/test/mocks/ENTSOE/FR-COR_IT-SAR_AC_exchange_imports.xml
  parsers/test/mocks/ENTSOE/FR-COR_IT-SAR_DC_exchange_exports.xml
  parsers/test/mocks/ENTSOE/FR-COR_IT-SAR_DC_exchange_forecast_exports.xml
  parsers/test/mocks/ENTSOE/FR-COR_IT-SAR_DC_exchange_forecast_imports.xml
  parsers/test/mocks/ENTSOE/FR-COR_IT-SAR_DC_exchange_imports.xml
  parsers/test/snapshots/snap_test_ENTSOE.py
  parsers/test/test_ENTSOE.py
Labels: parser, python, tests, exchange config

#6042 Upgrade IE parser to ParserFunctions
  config/exchanges/GB_GB-NIR.yaml
  config/zones/GB-NIR.yaml
  config/zones/IE.yaml
  parsers/IE.py
  parsers/SMARTGRIDDASHBOARD.py
  parsers/test/mocks/SMARTGRIDDASHBOARD/__init__.py
  parsers/test/mocks/SMARTGRIDDASHBOARD/consumption.json
  parsers/test/mocks/SMARTGRIDDASHBOARD/consumptionForecast.json
  parsers/test/mocks/SMARTGRIDDASHBOARD/exchange.json
  parsers/test/mocks/SMARTGRIDDASHBOARD/generation.json
  parsers/test/mocks/SMARTGRIDDASHBOARD/windForecast.json
  parsers/test/snapshots/snap_test_SMARTGRIDDASHBOARD.py
  parsers/test/test_SMARTGRIDDASHBOARD.py
Labels: parser, hacktoberfest-accepted, python, tests, zone config, exchange config

#6347 translations(web): Remove references to 5 years and add dynamic yearly range
  web/public/locales/de.json
  web/public/locales/es.json
  web/public/locales/fr.json
  web/public/locales/it.json
  web/public/locales/pt-BR.json
  web/public/locales/sl.json
  web/public/locales/sv.json
Labels: translations 🗣

#6338 Remove pill when country name is a part of zone name
  web/src/features/panels/zone/ZoneHeaderTitle.tsx
Labels: frontend 🎨

#6354 [Capacity update] US + minor change to EIA capacity parser
  config/zones/US-CAL-BANC.yaml
  config/zones/US-CAL-CISO.yaml
  config/zones/US-CAL-IID.yaml
  config/zones/US-CAL-LDWP.yaml
  config/zones/US-CAL-TIDC.yaml
  config/zones/US-CAR-CPLE.yaml
  config/zones/US-CAR-CPLW.yaml
  config/zones/US-CAR-DUK.yaml
  config/zones/US-CAR-SC.yaml
  config/zones/US-CAR-SCEG.yaml
  config/zones/US-CAR-YAD.yaml
  config/zones/US-CENT-SPA.yaml
  config/zones/US-CENT-SWPP.yaml
  config/zones/US-FLA-FMPP.yaml
  config/zones/US-FLA-FPC.yaml
  config/zones/US-FLA-FPL.yaml
  config/zones/US-FLA-GVL.yaml
  config/zones/US-FLA-HST.yaml
  config/zones/US-FLA-JEA.yaml
  config/zones/US-FLA-SEC.yaml
  config/zones/US-FLA-TAL.yaml
  config/zones/US-FLA-TEC.yaml
  config/zones/US-MIDA-PJM.yaml
  config/zones/US-MIDW-AECI.yaml
  config/zones/US-MIDW-LGEE.yaml
  config/zones/US-MIDW-MISO.yaml
  config/zones/US-NE-ISNE.yaml
  config/zones/US-NW-AVA.yaml
  config/zones/US-NW-BPAT.yaml
  config/zones/US-NW-CHPD.yaml
  config/zones/US-NW-DOPD.yaml
  config/zones/US-NW-GCPD.yaml
  config/zones/US-NW-GRID.yaml
  config/zones/US-NW-IPCO.yaml
  config/zones/US-NW-NEVP.yaml
  config/zones/US-NW-NWMT.yaml
  config/zones/US-NW-PACE.yaml
  config/zones/US-NW-PACW.yaml
  config/zones/US-NW-PGE.yaml
  config/zones/US-NW-PSCO.yaml
  config/zones/US-NW-PSEI.yaml
  config/zones/US-NW-SCL.yaml
  config/zones/US-NW-TPWR.yaml
  config/zones/US-NW-WACM.yaml
  config/zones/US-NW-WAUW.yaml
  config/zones/US-NY-NYIS.yaml
  config/zones/US-SE-SEPA.yaml
  config/zones/US-SE-SOCO.yaml
  config/zones/US-SW-AZPS.yaml
  config/zones/US-SW-EPE.yaml
  config/zones/US-SW-PNM.yaml
  config/zones/US-SW-SRP.yaml
  config/zones/US-SW-TEPC.yaml
  config/zones/US-SW-WALC.yaml
  config/zones/US-TEN-TVA.yaml
  config/zones/US-TEX-ERCO.yaml
  electricitymap/contrib/capacity_parsers/EIA.py
  electricitymap/contrib/config/model.py
  scripts/update_capacity_configuration.py
Labels: python, zone config, capacity parser

#6355 Short term fix for the EIA parser
  electricitymap/contrib/lib/models/event_lists.py
  electricitymap/contrib/lib/models/events.py
  electricitymap/contrib/lib/tests/test_event_lists.py
  parsers/EIA.py
  parsers/test/mocks/EIA/US_SMTH-coal.json
  parsers/test/test_EIA.py
Labels: parser, python, tests

#6356 Update PT solar capacity.
  config/zones/PT.yaml
Labels: zone config

#6361 fix(parser): Fix NTESMO parser's datetime issue
  parsers/NTESMO.py
Labels: parser, python

#6360 Update de.json
  web/public/locales/de.json
Labels: translations 🗣

#6299 Upgrade ENTSOE Consumption and Generation to new parser functions
  parsers/ENTSOE.py
  parsers/test/mocks/ENTSOE/DK-DK1_consumption.xml
  parsers/test/mocks/ENTSOE/DK-DK2_consumption_forecast.xml
  parsers/test/mocks/ENTSOE/SE-SE3_generation_forecast.xml
  parsers/test/snapshots/snap_test_ENTSOE.py
  parsers/test/test_ENTSOE.py
Labels: parser, python, tests

#6293 Upgrade ENTSOE exchange parsing to ExchangeList
  config/exchanges/FR-COR_IT-SAR.yaml
  parsers/ENTSOE.py
  parsers/FR-COR_IT-SAR.py
  parsers/test/mocks/ENTSOE/FR-COR_IT-SAR_AC_exchange_exports.xml
  parsers/test/mocks/ENTSOE/FR-COR_IT-SAR_AC_exchange_forecast_exports.xml
  parsers/test/mocks/ENTSOE/FR-COR_IT-SAR_AC_exchange_forecast_imports.xml
  parsers/test/mocks/ENTSOE/FR-COR_IT-SAR_AC_exchange_imports.xml
  parsers/test/mocks/ENTSOE/FR-COR_IT-SAR_DC_exchange_exports.xml
  parsers/test/mocks/ENTSOE/FR-COR_IT-SAR_DC_exchange_forecast_exports.xml
  parsers/test/mocks/ENTSOE/FR-COR_IT-SAR_DC_exchange_forecast_imports.xml
  parsers/test/mocks/ENTSOE/FR-COR_IT-SAR_DC_exchange_imports.xml
  parsers/test/snapshots/snap_test_ENTSOE.py
  parsers/test/test_ENTSOE.py
Labels: parser, python, tests, exchange config

#6341 Add missing zh-TW (chinese) translations
  web/public/locales/en.json
  web/public/locales/zh-TW.json
Labels: translations 🗣

#6353 Silkebonnen/ele 3345 implement new basic card
  web/.eslintrc.json
  web/public/images/aggregated_dark.svg
  web/public/images/aggregated_light.svg
  web/public/images/estimated_dark.svg
  web/public/images/estimated_light.svg
  web/public/images/warning_dark.svg
  web/public/images/warning_light.svg
  web/public/locales/en.json
  web/src/components/Badge.tsx
  web/src/features/panels/zone/EstimationCard.tsx
  web/src/features/panels/zone/ZoneDetails.tsx
  web/src/features/panels/zone/ZoneHeaderGauges.tsx
  web/src/features/panels/zone/ZoneHeaderTitle.tsx
Labels: frontend 🎨, translations 🗣

#6358 Update zone capacity script update
  scripts/update_capacity_configuration.py
  tests/test_update_capacity_configuration.py
Labels: python, tests

#6340 Add Belgian battery capacity
  DATA_SOURCES.md
  config/zones/BE.yaml
Labels: zone config

#6368 bug(web): Style not loaded on jump to zone from URL
  web/src/features/map/Map.tsx
Labels: frontend 🎨

#6375 Update data sources and capacity values for Poland
  DATA_SOURCES.md
  config/zones/PL.yaml
Labels: zone config

#6377 fix(EIA): add oil to the bypassed expected modes
  parsers/EIA.py
Labels: parser, python

#6364 Remove arrow from ENTSO-E
  parsers/ENTSOE.py
Labels: parser, python

#6291 Update production capacity RO.yaml
  DATA_SOURCES.md
  config/zones/RO.yaml
Labels: zone config

#6378 Adds FAQ question about regional emission factors
  web/public/locales/en.json
  web/src/features/panels/faq/FAQContent.tsx
Labels: translations 🗣

#6381 [estimation card] Update translations and support longer titles
  web/public/locales/de.json
  web/public/locales/en.json
  web/public/locales/fr.json
  web/src/features/panels/zone/EstimationCard.tsx
Labels: translations 🗣

#6382 Add loose capacity threshold
  electricitymap/contrib/lib/models/event_lists.py
Labels: python

#6385 Updates "this project" German translation
  web/public/locales/de.json
Labels: translations 🗣

#6384 Update Singapore solar capacity
  DATA_SOURCES.md
  config/zones/SG.yaml
Labels: zone config

#6386 update(capacity) - DE 2022 & 2023
  config/zones/DE.yaml
Labels: zone config

#6389 ops(workflows): make codium opt in
  .github/workflows/pr_agent.yml
Labels: infrastructure

#6392 Add function to get capacity data with source
  electricitymap/contrib/config/capacity.py
Labels: python

#6383 Add estimation drift message for filtered threshold zone
  web/public/locales/en.json
Labels: translations 🗣

#6388 improvement(parsers): Refactor SV parser
  config/zones/SV.yaml
  parsers/ESTADISTICO_UT.py
  parsers/SV.py
  parsers/test/mocks/ESTADISTICO_UT/data.html
  parsers/test/mocks/ESTADISTICO_UT/production.html
  parsers/test/snapshots/snap_test_ESTADISTICO_UT.py
  parsers/test/test_ESTADISTICO_UT.py
Labels: frontend 🎨, parser, python, tests, zone config

#6393 add capacity-source-to-zones config
  electricitymap/contrib/capacity_parsers/EIA.py
  electricitymap/contrib/capacity_parsers/EMBER.py
  electricitymap/contrib/capacity_parsers/ENTSOE.py
  electricitymap/contrib/capacity_parsers/IRENA.py
  electricitymap/contrib/config/capacity.py
Labels: python, capacity parser

#6399 DE capacity - add geothermal
  config/zones/DE.yaml
Labels: zone config

#6403 Fix capacity parser source to zones mapping
  electricitymap/contrib/config/capacity.py
Labels: python

#6394 Silkebonnen/ele 3346 add estimation label to each graph that is indeed estimated
  web/public/locales/de.json
  web/public/locales/en.json
  web/public/locales/es.json
  web/public/locales/fr.json
  web/src/components/Badge.tsx
  web/src/features/charts/BreakdownChart.tsx
  web/src/features/charts/CarbonChart.tsx
  web/src/features/charts/ChartTitle.tsx
  web/src/features/charts/EmissionChart.tsx
  web/src/features/charts/bar-breakdown/BarBreakdownChart.tsx
  web/src/features/charts/bar-breakdown/elements/BySource.tsx
  web/src/features/charts/graphUtils.ts
  web/src/features/charts/tooltips/AreaGraphTooltipHeader.tsx
  web/src/features/charts/tooltips/BreakdownChartTooltip.tsx
  web/src/features/charts/tooltips/CarbonChartTooltip.tsx
  web/src/features/charts/tooltips/EmissionChartTooltip.tsx
  web/src/features/charts/types.ts
  web/src/features/panels/zone/ZoneDetails.tsx
Labels: frontend 🎨, translations 🗣

#6406 Add more accurate Cyprus emission factors
  config/zones/CY.yaml
Labels: zone config, emission factors

#6414 fix(ERP_PGCB parser): skip ssl verify
  parsers/ERP_PGCB.py
Labels: parser, python, Bug fix

#6402 Update package dependencies and testing
  mockserver/package.json
  mockserver/pnpm-lock.yaml
  web/package.json
  web/pnpm-lock.yaml
  web/src/components/TimeSlider.test.ts
  web/src/features/charts/bar-breakdown/utils.test.ts
  web/src/features/charts/graphUtils.test.ts
  web/src/features/charts/tooltipCalculations.test.ts
  web/src/features/weather-layers/solar/utils.test.ts
  web/src/features/weather-layers/wind-layer/windy.test.ts
  web/src/hooks/nightTimes.test.ts
  web/src/testing/setupTests.ts
  web/src/utils/formatting.test.ts
  web/src/utils/helpers.test.ts
  web/src/utils/styling.test.ts
Labels: frontend 🎨, dependencies

#6415 fix(EIA parser): PGE not reporting data
  parsers/EIA.py
Labels: parser, python, Bug fix

#6416 update(parser NTESMO): update publication delay
  parsers/NTESMO.py
Labels: parser, python, Enhancement

#6407 Remap GB-NIR price domain to IE(SEM)
  .vscode/settings.json
  parsers/ENTSOE.py
Labels: parser, python, Bug fix, Configuration changes

#6412 El Salvador: change Termico from 'oil' to 'unknown' as it's now both oil and gas
  config/zones/SV.yaml
  parsers/ESTADISTICO_UT.py
  parsers/test/snapshots/snap_test_ESTADISTICO_UT.py
Labels: parser, python, tests, zone config

#6369 refactor: upgrade CA-ON with event classes
  parsers/CA_ON.py
Labels: parser, python

#6418 New averages for CH (from flowtracing)
  config/zones/CH.yaml
Labels: zone config, Enhancement

#6417 update(SMARTGRIDDASHBOARD parser) - fix fetch_production
  parsers/SMARTGRIDDASHBOARD.py
Labels: parser, python, Enhancement

#6422 Update the PR template to respect prettier v2
  .github/pull_request_template.md
Labels: infrastructure, Enhancement

#6401 Update dependabot schedule for ruff and add devcontainers
  .github/dependabot.yml
Labels: infrastructure

#6432 workflows(contrib): turn off auto review / describe / improve PR agent
  .github/workflows/pr_agent.yml
Labels: infrastructure
