Repository electricitymaps/electricitymaps-contrib, pull requests merged in 2024-02, with the labels that each got.

#6435 fix(exchange tooltip): Add optional chaining to prevent crash if there is no data for exchanges
  web/src/features/charts/tooltipCalculations.ts
Labels: frontend 🎨

#6440 fix(CA-NS) - data gets overwritten by 0
  parsers/CA_NS.py
Labels: parser, python

#6446 Updated capacities for Hungary
  DATA_SOURCES.md
  config/zones/HU.yaml
Labels: zone config

#6451 update(ENTSOe) - query_ENTSOE update to enable use for capacity parser
  electricitymap/contrib/capacity_parsers/ENTSOE.py
Labels: parser, python, capacity parser

#6450 update(capacity-config) - ENSTOE capacity for 2023 and 2024
  config/zones/AL.yaml
  config/zones/AT.yaml
  config/zones/BA.yaml
  config/zones/BE.yaml
  config/zones/BG.yaml
  config/zones/CZ.yaml
  config/zones/DK-DK1.yaml
  config/zones/DK-DK2.yaml
  config/zones/EE.yaml
  config/zones/FI.yaml
  config/zones/FR.yaml
  config/zones/GR.yaml
  config/zones/HR.yaml
  config/zones/HU.yaml
  config/zones/LT.yaml
  config/zones/LU.yaml
  config/zones/LV.yaml
  config/zones/ME.yaml
  config/zones/MK.yaml
  config/zones/NL.yaml
  config/zones/NO-NO1.yaml
  config/zones/NO-NO2.yaml
  config/zones/NO-NO3.yaml
  config/zones/NO-NO4.yaml
  config/zones/NO-NO5.yaml
  config/zones/PL.yaml
  config/zones/PT.yaml
  config/zones/RO.yaml
  config/zones/RS.yaml
  config/zones/SI.yaml
  config/zones/XK.yaml
  electricitymap/contrib/capacity_parsers/ENTSOE.py
Labels: python, zone config, capacity parser

#6455 Misc improvements to capacity update
  capacity_update.py
  pyproject.toml
Labels: dependencies, python

#6456 update(capacity-config) - IRENA zones
  config/zones/GF.yaml
  config/zones/IL.yaml
  config/zones/IS.yaml
  config/zones/KR.yaml
  config/zones/KW.yaml
  config/zones/LK.yaml
  config/zones/NI.yaml
  config/zones/PF.yaml
  config/zones/ZA.yaml
Labels: zone config

#6457 update(capacity-config) - OPENNEM zones
  config/zones/AU-NSW.yaml
  config/zones/AU-QLD.yaml
  config/zones/AU-SA.yaml
  config/zones/AU-TAS.yaml
  config/zones/AU-VIC.yaml
  config/zones/AU-WA.yaml
Labels: zone config

#6410 Fix mockserver connection refused error on WSL
  mockserver/server.js
Labels: javascript

#6445 refactor: remove arrow from US_SPP parser
  parsers/US_SPP.py
  parsers/test/test_US_SPP.py
Labels: parser, python, tests

#6444 refactor: remove arrow from US_CA parser
  parsers/US_CA.py
Labels: parser, python

#6437 feat(arrows.ts): change reduce to a loop and extract to a function + add tests
  web/src/hooks/arrows.test.ts
  web/src/hooks/arrows.ts
Labels: frontend 🎨, performance 🏎, tests, Enhancement

#6458 update(capacity-config) - ONS zone
  config/zones/BR-CS.yaml
  config/zones/BR-N.yaml
  config/zones/BR-NE.yaml
  config/zones/BR-S.yaml
Labels: zone config

#6460 update(capacity-config) - REE zones
  config/zones/ES-CE.yaml
  config/zones/ES-ML.yaml
  config/zones/ES.yaml
Labels: zone config

#6461 update(capacity-config) - GB
  config/zones/GB.yaml
Labels: zone config

#6462 update(FR parser) - review historical + add battery storage
  parsers/FR.py
  parsers/test/snapshots/snap_test_FR.py
  parsers/test/test_FR.py
Labels: parser, python, tests

#6424 fix(capacity.py) function get_capacity_data_with_source - index error
  electricitymap/contrib/config/capacity.py
  tests/test_capacity.py
Labels: python, tests, capacity parser, Bug fix

#6408 feat(estimated labels): Add estimated percentage of aggregates
  web/public/locales/de.json
  web/public/locales/en.json
  web/public/locales/es.json
  web/public/locales/fr.json
  web/scripts/generateZonesConfig.ts
  web/src/components/Badge.tsx
  web/src/features/charts/bar-breakdown/BarBreakdownChart.tsx
  web/src/features/charts/bar-breakdown/elements/BySource.tsx
  web/src/features/charts/graphUtils.ts
  web/src/features/charts/tooltips/AreaGraphTooltipHeader.tsx
  web/src/features/charts/tooltips/BreakdownChartTooltip.tsx
  web/src/features/charts/tooltips/CarbonChartTooltip.tsx
  web/src/features/charts/tooltips/EmissionChartTooltip.tsx
  web/src/features/panels/zone/EstimationCard.tsx
  web/src/features/panels/zone/ZoneDetails.tsx
  web/src/types.ts
Labels: translations 🗣, Enhancement

#6363 QA capacity update
  config/zones/QA.yaml
Labels: zone config

#6447 feat(code splitting): do more granular code splitting to improve first load
  web/src/App.tsx
  web/src/components/LoadingOverlay.tsx
  web/src/components/LoadingSpinner.tsx
  web/src/features/panels/LeftPanel.tsx
  web/src/features/panels/zone/ZoneDetails.tsx
Labels: frontend 🎨, performance 🏎

#6452 Add nuclear parser to JP-SK production parser
  config/zones/JP-SK.yaml
  parsers/JP_SK.py
  parsers/test/mocks/JP-SK/__init__.py
  parsers/test/mocks/JP-SK/image3.gif
  parsers/test/mocks/JP-SK/jp-sk-nuclear-html-page.html
  parsers/test/test_JP_SK.py
Labels: parser, python, tests, zone config

#6466 Revert "fix(capacity.py) function get_capacity_data_with_source - index error"
  electricitymap/contrib/config/capacity.py
  tests/test_capacity.py
Labels: python, tests

#6050 refactor: upgrade CA-NS with event classes
  config/exchanges/CA-NL-NF_CA-NS.yaml
  parsers/CA_NS.py
Labels: parser, hacktoberfest-accepted, python, exchange config

#6467 Revert-revert - update get_capacity_data function again
  electricitymap/contrib/config/capacity.py
  tests/test_capacity.py
Labels: python, tests

#6472 improvement(capcity-update): Improve get capacity types
  electricitymap/contrib/config/capacity.py
  tests/test_capacity.py
Labels: python, tests

#6448 feat(early hints): Add early hint headers for Cloudflare
  web/public/_headers
Labels: frontend 🎨, performance 🏎

#6474 chore(ruff): Add C4 rule to ruff
  parsers/EIA.py
  parsers/ELEXON.py
  parsers/ESTADISTICO_UT.py
  parsers/FR.py
  parsers/JP.py
  parsers/JP_KN.py
  parsers/MN.py
  parsers/NTESMO.py
  parsers/NZ.py
  parsers/PE.py
  parsers/TR.py
  parsers/US_PJM.py
  parsers/US_SPP.py
  parsers/lib/validation.py
  parsers/statnett.py
  pyproject.toml
  scripts/ENTSOE_capacity_update.py
  scripts/remove_zone.py
  scripts/update_capacity_configuration.py
  test_parser.py
  tests/test_parser_interface.py
Labels: parser, dependencies, python, tests

#6470 update(capacity-config) - CA-ON
  config/zones/CA-ON.yaml
Labels: zone config

#6477 fix(arrows): Add arrows that are not part of either exclusion set to both sets
  web/src/hooks/arrows.test.ts
  web/src/hooks/arrows.ts
Labels: frontend 🎨, bug_fix

#6483 Add source for Southeast Alaska Power Agency
  DATA_SOURCES.md
  config/zones/US-AK-SEAPA.yaml
Labels: zone config

#6476 chore(CI): Change the CI structure to allow for required checks
  .github/workflows/CI.yml
  .github/workflows/cypress.yml
  .github/workflows/eslint.yml
  .github/workflows/jsonlint.yml
  .github/workflows/prettier.yml
  .github/workflows/python_formatting.yml
  .github/workflows/python_tests.yml
  .github/workflows/typecheck.yml
  .github/workflows/unit_test.yml
  .github/workflows/validate_filenames.yml
  .github/workflows/validate_generate_files.yml
  .github/workflows/validate_generated_files.yml
Labels: infrastructure

#6489 update return types for capacity_update_configuration
  scripts/update_capacity_configuration.py
  tests/test_update_capacity_configuration.py
Labels: python, tests

#6486 update(ZA parser) - reallocate unknown as biomass
  parsers/ESKOM.py
  parsers/test/snapshots/snap_test_ESKOM.py
Labels: parser, python, tests

#6492 update(capacity-config) - PA
  config/zones/PA.yaml
Labels: zone config

#6481 PE parser: add unit tests and remove usage of arrow module
  parsers/PE.py
  parsers/test/mocks/PE/response_20240205.json
  parsers/test/mocks/PE/response_20240206.json
  parsers/test/snapshots/snap_test_PE.py
  parsers/test/test_PE.py
Labels: parser, python, tests

#6442 feat(productionBreakdownList): Add a function to update matching datetime with new values
  electricitymap/contrib/lib/models/event_lists.py
  electricitymap/contrib/lib/models/events.py
  electricitymap/contrib/lib/tests/test_event_lists.py
  electricitymap/contrib/lib/tests/test_events.py
Labels: python, tests, Enhancement

#6473 feat(ENTSOE.py): Use update function + get all forecasts
  parsers/ENTSOE.py
  parsers/test/mocks/ENTSOE/wind_solar_forecast_FI_CURRENT.xml
  parsers/test/mocks/ENTSOE/wind_solar_forecast_FI_DAY_AHEAD.xml
  parsers/test/mocks/ENTSOE/wind_solar_forecast_FI_INTRADAY.xml
  parsers/test/snapshots/snap_test_ENTSOE.py
  parsers/test/test_ENTSOE.py
Labels: parser, python, tests

#6491 chore(ruff): Add SIM ruleset
  electricitymap/contrib/capacity_parsers/EIA.py
  electricitymap/contrib/capacity_parsers/IRENA.py
  electricitymap/contrib/config/reading.py
  electricitymap/contrib/config/zones.py
  electricitymap/contrib/lib/models/events.py
  parsers/BG.py
  parsers/CA_NS.py
  parsers/CENACE.py
  parsers/CR.py
  parsers/DO.py
  parsers/ELEXON.py
  parsers/ENTE.py
  parsers/ENTSOE.py
  parsers/ES.py
  parsers/FO.py
  parsers/FR_O.py
  parsers/GB_ORK.py
  parsers/HN.py
  parsers/IEMOP.py
  parsers/IN.py
  parsers/JP.py
  parsers/NL.py
  parsers/NTESMO.py
  parsers/OPENNEM.py
  parsers/RU.py
  parsers/US_CA.py
  parsers/UY.py
  parsers/lib/exceptions.py
  parsers/lib/quality.py
  parsers/lib/validation.py
  parsers/test/test_CENACE.py
  parsers/test/test_ESKOM.py
  parsers/test/test_FR.py
  parsers/test/test_IEMOP.py
  parsers/test/test_IN_EA.py
  parsers/test/test_JP_SK.py
  parsers/test/test_KPX.py
  parsers/test/test_NTESMO.py
  parsers/test/test_PE.py
  parsers/test/test_TAIPOWER.py
  parsers/test/test_US_MISO.py
  parsers/test/test_US_SPP.py
  parsers/test/test_utils.py
  pyproject.toml
  scripts/create_aggregated_zone_config.py
  scripts/update_capacity_configuration.py
  scripts/utils.py
  test_parser.py
  tests/test_exchanges_json.py
  tests/test_parser_interface.py
  tests/test_zones_json.py
Labels: parser, dependencies, python, tests, capacity parser

#6485 feat(web): Show capacity sources in the app
  web/src/features/charts/tooltipCalculations.test.ts
  web/src/features/charts/tooltipCalculations.ts
  web/src/features/charts/tooltips/BreakdownChartTooltip.tsx
  web/src/types.ts
Labels: frontend 🎨, Review effort [1-5]: 3

#6493 update(parser) - PE
  parsers/PE.py
  parsers/test/mocks/PE/response_20240205.json
  parsers/test/mocks/PE/response_20240206.json
  parsers/test/snapshots/snap_test_PE.py
  parsers/test/test_PE.py
Labels: parser, python, tests

#6501 Avoid showing the "estimated" badge on graphs only based on outage message
  web/src/features/panels/zone/ZoneDetails.tsx
Labels: frontend 🎨

#6227 Change labels for the time periods
  web/public/locales/ar.json
  web/public/locales/cs.json
  web/public/locales/da.json
  web/public/locales/de.json
  web/public/locales/el.json
  web/public/locales/en.json
  web/public/locales/es.json
  web/public/locales/et.json
  web/public/locales/fi.json
  web/public/locales/fr.json
  web/public/locales/hi.json
  web/public/locales/hr.json
  web/public/locales/id.json
  web/public/locales/it.json
  web/public/locales/ja.json
  web/public/locales/ko.json
  web/public/locales/nl.json
  web/public/locales/no-NB.json
  web/public/locales/pl.json
  web/public/locales/pt-BR.json
  web/public/locales/ro.json
  web/public/locales/ru.json
  web/public/locales/sk.json
  web/public/locales/sl.json
  web/public/locales/sv.json
  web/public/locales/vi.json
  web/public/locales/zh-CN.json
  web/public/locales/zh-HK.json
  web/public/locales/zh-TW.json
  web/src/components/TimeAverageToggle.tsx
  web/src/components/modals/OnboardingModal.tsx
  web/src/features/charts/ChartTitle.tsx
  web/src/features/charts/bar-breakdown/elements/BySource.tsx
  web/src/translation/translation.ts
  web/src/utils/constants.ts
  web/src/utils/formatting.ts
Labels: translations 🗣

#6506 fix(UY): Sanitise UY parser
  parsers/UY.py
Labels: parser, python

#6512 perf: Avoid unnecessary property access
  web/src/features/map/map-utils/generateTopos.ts
Labels: frontend 🎨, performance 🏎

#6513 Update RS validation parameters
  parsers/ENTSOE.py
Labels: parser, python

#6509 chore(dependency): Bump date-fns and tree-shake debug logging
  web/package.json
  web/pnpm-lock.yaml
  web/src/features/weather-layers/hooks.ts
Labels: frontend 🎨, performance 🏎, dependencies

#6518 Capacity update AE and OM
  config/zones/AE.yaml
  config/zones/OM.yaml
Labels: zone config

#6464 Add estimation feedback card
  web/public/locales/en.json
  web/src/components/Pill.tsx
  web/src/features/panels/zone/EstimationCard.cy.tsx
  web/src/features/panels/zone/EstimationCard.tsx
  web/src/features/panels/zone/FeedbackCard.cy.tsx
  web/src/features/panels/zone/FeedbackCard.tsx
  web/src/features/panels/zone/util.test.ts
  web/src/features/panels/zone/util.ts
  web/src/utils/state/atoms.ts
Labels: translations 🗣

#6517 CL parser: add snapshot test and remove usage of arrow module
  parsers/CL.py
  parsers/test/mocks/CL/response_historical_20240224.json
  parsers/test/snapshots/snap_test_CL.py
  parsers/test/test_CL.py
Labels: parser, python, tests

#6519 Add french estimation text
  web/public/locales/fr.json
Labels: translations 🗣

#6495 feat(parsers): add BB parser
  config/zones/BB.yaml
  parsers/BB.py
Labels: parser, python, zone config
