Repository electricitymaps/electricitymaps-contrib, pull requests merged in 2024-04, with the labels that each got.

#6582 Fix FAQ entry for regional emission factors
  web/public/locales/en.json
Labels: translations 🗣

#6613 CY parser: remove usage of arrow module
  parsers/CY.py
  parsers/test/mocks/CY/response_historical_20240318.html
  parsers/test/mocks/CY/response_realtime_20240401.html
  parsers/test/snapshots/snap_test_CY.py
  parsers/test/test_CY.py
Labels: parser, python, tests

#6616 refactor(ni): remove usage of arrow from NI parser
  parsers/NI.py
Labels: parser, python

#6610 refactor(pa): upgrade PA parser with event classes
  parsers/PA.py
  parsers/test/snapshots/snap_test_PA.py
  parsers/test/test_PA.py
Labels: parser, python, tests

#6612 refactor(cr): upgrade CR parser with event classes
  parsers/CR.py
  parsers/test/mocks/CR/exchange_live.json
  parsers/test/mocks/CR/production_20210716.json
  parsers/test/mocks/CR/production_live.json
  parsers/test/snapshots/snap_test_CR.py
  parsers/test/test_CR.py
Labels: parser, python, tests

#6590 fix(ERP_PGCB.py): fix BD unknown data and upgrade to event lists
  parsers/ERP_PGCB.py
  parsers/test/snapshots/snap_test_ERP_PGCB.py
  parsers/test/test_ERP_PGCB.py
Labels: parser, python, tests

#6595 refactor(us-pjm): remove usage of arrow from US-PJM parser
  parsers/US_PJM.py
Labels: parser, python

#6617 chore(deps): Update ESLint stuff
  .github/dependabot.yml
  web/.eslintrc.json
  web/cypress/.eslintrc.cjs
  web/package.json
  web/pnpm-lock.yaml
Labels: frontend 🎨, dependencies, infrastructure

#6619 refactor(OPENNEM): remove usage of arrow from OPENNEM parser
  parsers/OPENNEM.py
Labels: parser, python

#6631 Use links with new button component
  web/public/locales/ar.json
  web/public/locales/cs.json
  web/public/locales/da.json
  web/public/locales/de.json
  web/public/locales/el.json
  web/public/locales/en.json
  web/public/locales/es.json
  web/public/locales/et.json
  web/public/locales/fi.json
  web/public/locales/fr.json
  web/public/locales/hi.json
  web/public/locales/hr.json
  web/public/locales/id.json
  web/public/locales/it.json
  web/public/locales/ja.json
  web/public/locales/ko.json
  web/public/locales/nl.json
  web/public/locales/no-NB.json
  web/public/locales/pl.json
  web/public/locales/pt-BR.json
  web/public/locales/ro.json
  web/public/locales/ru.json
  web/public/locales/sk.json
  web/public/locales/sl.json
  web/public/locales/sv.json
  web/public/locales/vi.json
  web/public/locales/zh-CN.json
  web/public/locales/zh-HK.json
  web/public/locales/zh-TW.json
  web/src/features/header/Header.tsx
  web/src/features/panels/zone/Attribution.tsx
  web/src/features/panels/zone/ZoneDetails.tsx
  web/src/icons/githubIcon.tsx
Labels: translations 🗣

#6575 Update missing zh-TW (Chinese) translation
  web/public/locales/zh-TW.json
Labels: translations 🗣

#6574 refactor(JP-KN): replace arrow with datatime library
  parsers/JP_KN.py
Labels: parser, python

#6633 refactor(ge): remove usage of arrow from GE parser
  parsers/GE.py
Labels: parser, python

#6632 refactor(kpx): remove usage of arrow from KPX parser
  parsers/KPX.py
Labels: parser, python

#6630 ENTE parser: remove usage of arrow module
  parsers/ENTE.py
  parsers/test/mocks/ENTE/response_generic_20240403.json
  parsers/test/snapshots/snap_test_ENTE.py
  parsers/test/test_ENTE.py
Labels: parser, python, tests

#6584 feat(leftpanel): implement the accordion list component
  web/public/locales/en.json
  web/src/components/Accordion.tsx
  web/src/features/charts/bar-breakdown/BarBreakdownChart.tsx
  web/src/features/charts/bar-breakdown/DataSources.tsx
  web/src/features/panels/zone/Attribution.tsx
  web/src/features/panels/zone/EstimationCard.tsx
  web/src/icons/industryIcon.tsx
  web/src/icons/utilityPoleIcon.tsx
  web/src/icons/windTurbineIcon.tsx
  web/src/utils/state/atoms.ts
Labels: translations 🗣

#6639 Add tracking for header button and estimation card
  web/src/features/header/Header.tsx
  web/src/features/panels/zone/EstimationCard.tsx
Labels: frontend 🎨

#6648 fix(US-CAR-CPLW): update oil capacity
  config/zones/US-CAR-CPLW.yaml
Labels: zone config

#6594 perf(exchange layer): deduplicate exchange tooltips
  web/src/components/tooltips/MobileTooltipWrapper.tsx
  web/src/components/tooltips/TooltipWrapper.tsx
  web/src/features/exchanges/ExchangeArrow.tsx
  web/src/features/exchanges/ExchangeLayer.tsx
  web/src/features/exchanges/ExchangeTooltip.cy.tsx
  web/src/features/exchanges/ExchangeTooltip.tsx
  web/src/features/exchanges/MobileExchangeTooltip.tsx
Labels: frontend 🎨, performance 🏎, techdebt

#6637 Update getRankingPanelData.ts to omit null values for co2intensity
  web/src/features/panels/ranking-panel/getRankingPanelData.ts
Labels: frontend 🎨

#6649 fix(capacity): allow null in the new capacity format
  config/zones/US-CAR-CPLW.yaml
  electricitymap/contrib/config/model.py
Labels: python, zone config

#6650 fix: Update GE exchange configurations to use ENTSOE.py instead of GE.py
  config/exchanges/AM_GE.yaml
  config/exchanges/AZ_GE.yaml
  config/exchanges/GE_TR.yaml
Labels: exchange config

#6643 refactor(ge): upgrade GE parser with event classes
  config/zones/GE.yaml
  parsers/GE.py
  parsers/test/mocks/GE/exchange_live.json
  parsers/test/mocks/GE/production_20200101.xls
  parsers/test/mocks/GE/production_live.xls
  parsers/test/snapshots/snap_test_GE.py
  parsers/test/test_GE.py
Labels: parser, python, tests, zone config

#6621 refactor(md): remove usage of arrow from MD parser
  parsers/MD.py
Labels: parser, python

#6625 Update US balancing authority naming
  web/public/locales/en.json
Labels: translations 🗣

#6638 left align icons
  web/src/features/charts/bar-breakdown/BarBreakdownEmissionsChart.tsx
  web/src/features/charts/bar-breakdown/BarElectricityBreakdownChart.tsx
  web/src/features/charts/bar-breakdown/ProductionSourceLegend.tsx
  web/src/features/charts/bar-breakdown/constants.ts
  web/src/features/charts/bar-breakdown/elements/Row.tsx
Labels: frontend 🎨

#6653 Add some french translations
  web/public/locales/fr.json
Labels: translations 🗣

#6263 feat(app): Use the v8 backend
  mockserver/public/v8/details/hourly/CN.json
  mockserver/server.js
  web/cypress/e2e/countrypanel.spec.ts
  web/cypress/e2e/map.spec.ts
  web/cypress/e2e/ranking.spec.ts
  web/cypress/e2e/timeslider.spec.ts
  web/src/api/getState.ts
  web/src/api/getZone.ts
  web/src/features/charts/bar-breakdown/BarBreakdownChart.tsx
  web/src/features/charts/bar-breakdown/utils.test.ts
  web/src/features/charts/hooks/useCarbonChartData.ts
  web/src/features/charts/tooltips/CarbonChartTooltip.tsx
  web/src/features/exchanges/ExchangeLayer.tsx
  web/src/features/exchanges/ExchangeTooltip.tsx
  web/src/features/map/Map.cy.tsx
  web/src/features/map/Map.tsx
  web/src/features/map/MapTooltip.stories.tsx
  web/src/features/map/MapTooltip.tsx
  web/src/features/panels/ranking-panel/ZoneList.tsx
  web/src/features/panels/ranking-panel/getRankingPanelData.ts
  web/src/features/panels/zone/Attribution.tsx
  web/src/features/panels/zone/ZoneHeaderGauges.tsx
  web/src/features/time/TimeController.tsx
  web/src/hooks/arrows.test.ts
  web/src/hooks/arrows.ts
  web/src/stories/mockData.ts
  web/src/types.ts
  web/src/utils/formatting.test.ts
  web/src/utils/helpers.test.ts
  web/src/utils/helpers.ts
Labels: frontend 🎨, javascript

#6652 refractor(app): Change App.tsx to lazy load TimeControllerWrapper component
  web/src/App.tsx
Labels: frontend 🎨, performance 🏎

#6661 refactor(ch): remove usage of arrow from CH parser
  parsers/CH.py
Labels: parser, python

#6660 refactor(md): upgrade MD parser to use event classes
  config/zones/MD.yaml
  parsers/MD.py
  parsers/test/mocks/MD/moldoelectrica_api_historical_20210725.json
  parsers/test/mocks/MD/moldoelectrica_api_live.json
  parsers/test/snapshots/snap_test_MD.py
  parsers/test/test_MD.py
Labels: parser, python, tests, zone config

#6657 Change "see issue #5613" to "see details"
  web/public/locales/en.json
  web/src/features/panels/zone/EstimationCard.stories.tsx
  web/src/features/panels/zone/EstimationCard.tsx
Labels: translations 🗣

#6662 fix(app): Fix the headers target path
  web/public/_headers
Labels: frontend 🎨

#6659 feat(app): add cacheBuster and use URL internally
  web/cypress/support/commands.ts
  web/src/api/getState.ts
  web/src/api/getWeatherData.ts
  web/src/api/getZone.ts
  web/src/api/helpers.ts
  web/src/features/feature-flags/api.ts
Labels: frontend 🎨

#6671 perf: Use itemgetter instead of lambda
  electricitymap/contrib/lib/models/event_lists.py
Labels: python

#6672 chore(app): Add estimated_forecast_hierarchy localization in en.json
  web/public/locales/en.json
Labels: translations 🗣

#6673 chore: upgrade to pnpm 9
  .github/workflows/CI.yml
  .github/workflows/deploy_preview_branch.yml
  .github/workflows/deploy_staging.yml
  mobileapp/package.json
  mobileapp/pnpm-lock.yaml
  mockserver/package.json
  mockserver/pnpm-lock.yaml
  web/Earthfile
  web/package.json
  web/pnpm-lock.yaml
Labels: frontend 🎨, mobile app 📱, dependencies, infrastructure

#6665 Add some french translations
  web/public/locales/fr.json
Labels: translations 🗣

#6674 feat: add productionSourceLegendList to BreakDownChart
  web/src/features/charts/BreakdownChart.tsx
  web/src/features/charts/bar-breakdown/ProductionSourceLegend.tsx
  web/src/features/charts/bar-breakdown/ProductionSourceLegendList.tsx
  web/src/features/charts/bar-breakdown/ProductionsSourceIcons.tsx
  web/src/features/charts/bar-breakdown/constants.ts
  web/src/features/charts/bar-breakdown/elements/HorizontalBar.tsx
  web/src/features/charts/tooltips/AreaGraphTooltipHeader.tsx
Labels: frontend 🎨

#6680 Switch app-backend domain
  web/Earthfile
  web/index.html
  web/public/_headers
  web/src/api/helpers.ts
Labels: frontend 🎨

#6676 chore(web): update outage message description and improve some typing
  web/public/locales/en.json
  web/src/features/panels/zone/EstimationCard.cy.tsx
  web/src/features/panels/zone/EstimationCard.stories.tsx
  web/src/features/panels/zone/EstimationCard.tsx
  web/src/features/panels/zone/ZoneDetails.tsx
  web/src/types.ts
Labels: translations 🗣

#6685 fix(Wind & Solar layers): use v8 GFS endpoint
  web/src/api/getWeatherData.ts
Labels: frontend 🎨

#6688 fix resize
  web/package.json
  web/pnpm-lock.yaml
  web/src/features/charts/bar-breakdown/BarBreakdownChart.tsx
  web/src/features/charts/elements/AreaGraph.tsx
  web/src/features/exchanges/ExchangeLayer.tsx
  web/src/features/time/TimeAxis.tsx
  web/src/features/weather-layers/wind-layer/WindLayer.tsx
  web/src/features/weather-layers/wind-layer/windy.ts
  web/src/utils/viewport.ts
Labels: frontend 🎨, dependencies

#6691 chore(web): fix methodology link
  web/src/features/panels/zone/EstimationCard.tsx
Labels: frontend 🎨

#6675 chore(DO): update parser
  electricitymap/contrib/lib/models/events.py
  electricitymap/contrib/lib/tests/test_events.py
  parsers/DO.py
  parsers/test/snapshots/snap_test_CNDC.py
  parsers/test/test_DO.py
Labels: parser, python, tests

#6692 refactor(parser validation): Remove required mode rule
  parsers/ELEXON.py
  parsers/ENTSOE.py
  parsers/FO.py
  parsers/TR.py
  parsers/archived/GB_NIR.py
  parsers/lib/validation.py
  parsers/test/test_entsoe_quality.py
Labels: parser, python, tests

#6689 feat(web): show automated outage for daily view
  web/src/features/charts/bar-breakdown/BarBreakdownChart.tsx
  web/src/features/charts/bar-breakdown/elements/BySource.tsx
  web/src/features/panels/zone/EstimationCard.stories.tsx
  web/src/features/panels/zone/EstimationCard.tsx
  web/src/features/panels/zone/ZoneDetails.tsx
Labels: frontend 🎨

#6693 Fix typo in en.json
  web/public/locales/en.json
Labels: translations 🗣

#6677 add unit below the graph titles
  web/cypress/e2e/countrypanel.spec.ts
  web/src/features/charts/BreakdownChart.stories.ts
  web/src/features/charts/BreakdownChart.tsx
  web/src/features/charts/CarbonChart.tsx
  web/src/features/charts/ChartTitle.tsx
  web/src/features/charts/EmissionChart.tsx
  web/src/features/charts/NetExchangeChart.tsx
  web/src/features/charts/PriceChart.stories.ts
  web/src/features/charts/PriceChart.tsx
  web/src/features/charts/bar-breakdown/BarBreakdownChart.tsx
  web/src/features/charts/bar-breakdown/elements/BySource.tsx
  web/src/features/charts/elements/AreaGraph.tsx
  web/src/features/charts/elements/ValueAxis.tsx
  web/src/features/charts/graphUtils.ts
Labels: frontend 🎨, translations 🗣

#6695 feat(web): show exchange arrows after closing side panel
  web/src/features/panels/LeftPanel.tsx
  web/src/features/panels/zone/ZoneHeaderTitle.tsx
Labels: frontend 🎨

#6679 fix(ntesmo): fix data fetching for AU-NT parser
  config/zones/AU-NT.yaml
  parsers/NTESMO.py
  parsers/test/test_NTESMO.py
Labels: parser, python, tests, zone config

#6698 Add some french translations
  web/public/locales/fr.json
Labels: translations 🗣

#6702 chore(dependencies): Bump cypress
  web/package.json
  web/pnpm-lock.yaml
Labels: frontend 🎨, dependencies

#6703 fix(CH.py): fix capacity type for downstream insert
  parsers/CH.py
Labels: parser, python

#6699 fix(options requests): Fix OPTIONS request for state
  web/src/api/getState.ts
Labels: frontend 🎨, performance 🏎, techdebt
