Repository electricitymaps/electricitymaps-contrib, pull requests merged in 2024-10, with the labels that each got.

#7249 feat(config): add malaysia country zone
  config/exchanges/MY_SG.yaml
  config/exchanges/MY_TH.yaml
  config/zones/MY-EM.yaml
  config/zones/MY-WM.yaml
  config/zones/MY.yaml
  web/public/locales/en.json
  web/src/locales/cs.json
  web/src/locales/de.json
  web/src/locales/el.json
  web/src/locales/en.json
  web/src/locales/es.json
  web/src/locales/et.json
  web/src/locales/fi.json
  web/src/locales/fr.json
  web/src/locales/hr.json
  web/src/locales/id.json
  web/src/locales/it.json
  web/src/locales/ja.json
  web/src/locales/ko.json
  web/src/locales/no-NB.json
  web/src/locales/pl.json
  web/src/locales/pt-BR.json
  web/src/locales/pt-PT.json
  web/src/locales/ro.json
  web/src/locales/ru.json
  web/src/locales/sk.json
  web/src/locales/sl.json
  web/src/locales/sv.json
  web/src/locales/vi.json
  web/src/locales/zh-CN.json
  web/src/locales/zh-TW.json
Labels: translations 🗣, zone config, exchange config

#7267 chore(web): make wind layer safer, from sentry errors
  web/src/features/weather-layers/wind-layer/windy.ts
Labels: frontend 🎨

#7268 fix: fix parsing 0 in elexon production
  parsers/ELEXON.py
Labels: parser, python

#7271 fix wrong translation in zh-TW
  web/src/locales/zh-TW.json
Labels: frontend 🎨

#7240 Feat: Share button in zone header
  web/src/components/Toast.test.tsx
  web/src/components/Toast.tsx
  web/src/features/panels/zone/ShareButton.cy.tsx
  web/src/features/panels/zone/ShareButton.test.tsx
  web/src/features/panels/zone/ShareButton.tsx
  web/src/features/panels/zone/ZoneHeaderTitle.tsx
  web/src/features/service-worker/UpdatePrompt.tsx
  web/src/features/weather-layers/wind-layer/util.ts
  web/src/locales/en.json
  web/src/utils/analytics.ts
Labels: frontend 🎨

#7251 feat(SEO): exchange names in the graph are links
  web/src/features/charts/bar-breakdown/BarElectricityExchangeChart.tsx
  web/src/features/charts/bar-breakdown/BarElectricityProductionChart.tsx
  web/src/features/charts/bar-breakdown/BarEmissionExchangeChart.tsx
  web/src/features/charts/bar-breakdown/BarEmissionProductionChart.tsx
  web/src/features/charts/bar-breakdown/EmptyBarBreakdownChart.tsx
  web/src/features/charts/bar-breakdown/elements/Row.tsx
Labels: frontend 🎨

#7273 Fix accordion initial state
  web/src/components/Accordion.tsx
Labels: frontend 🎨

#7164 perf: extract isConsumption checks to derived atom
  web/src/components/ZoneGauges.tsx
  web/src/features/charts/BreakdownChart.tsx
  web/src/features/charts/bar-breakdown/BarBreakdownChart.tsx
  web/src/features/charts/bar-breakdown/utils.test.ts
  web/src/features/charts/bar-breakdown/utils.ts
  web/src/features/charts/graphUtils.test.ts
  web/src/features/charts/graphUtils.ts
  web/src/features/charts/hooks/useBarElectricityBreakdownChartData.ts
  web/src/features/charts/hooks/useBreakdownChartData.ts
  web/src/features/charts/hooks/useCarbonChartData.ts
  web/src/features/charts/hooks/useEmissionChartData.ts
  web/src/features/charts/tooltipCalculations.test.ts
  web/src/features/charts/tooltipCalculations.ts
  web/src/features/charts/tooltips/BreakdownChartTooltip.tsx
  web/src/features/charts/tooltips/CarbonChartTooltip.tsx
  web/src/features/charts/tooltips/EmissionChartTooltip.tsx
  web/src/features/exchanges/ExchangeLayer.tsx
  web/src/features/map/Map.tsx
  web/src/features/panels/ranking-panel/RankingPanel.tsx
  web/src/features/panels/zone/DisplayByEmissionToggle.tsx
  web/src/utils/state/atoms.ts
Labels: frontend 🎨, performance 🏎, Review effort [1-5]: 3

#7275 [Disregard] Test
  web/src/features/charts/FuturePrice.cy.tsx
Labels: frontend 🎨

#7276 Fjatelnicki PL translation
  web/src/locales/en.json
  web/src/locales/pl.json
Labels: frontend 🎨

#7279 Refactor: Z-indexes
  web/src/components/MapOverlays.tsx
  web/src/components/Toast.tsx
  web/src/components/modals/OnboardingModalInner.tsx
  web/src/features/header/Header.tsx
  web/src/features/map-controls/MapControls.tsx
  web/src/features/panels/LeftPanel.tsx
  web/src/features/time/TimeControllerWrapper.tsx
Labels: frontend 🎨

#7120 feat(Accordion): Animate the Accordion
  web/src/components/Accordion.tsx
  web/src/features/charts/FuturePrice.cy.tsx
Labels: frontend 🎨

#7293 release(mobile): version 1.175.6
  mobileapp/android/app/capacitor.build.gradle
  mobileapp/android/capacitor.settings.gradle
  mobileapp/ios/App/App.xcodeproj/project.pbxproj
  mobileapp/ios/App/Podfile
  mobileapp/ios/App/Podfile.lock
  mobileapp/package.json
  mobileapp/pnpm-lock.yaml
  web/package.json
  web/pnpm-lock.yaml
  web/src/features/panels/zone/ShareButton.test.tsx
  web/src/features/panels/zone/ShareButton.tsx
  web/src/features/panels/zone/ZoneDetails.tsx
  web/src/features/panels/zone/ZoneHeaderTitle.tsx
Labels: frontend 🎨, mobile app 📱, dependencies

#7292 ESIOS.py shifted arrow to datetime only
  parsers/ESIOS.py
  parsers/test/snapshots/snap_test_ESIOS.py
  parsers/test/test_ESIOS.py
Labels: parser, python, tests

#7300 Fix wind scale
  web/src/features/weather-layers/wind-layer/scales.ts
  web/src/features/weather-layers/wind-layer/windy.ts
Labels: frontend 🎨

#7299 Avoid sending token
  web/src/api/helpers.ts
Labels: frontend 🎨

#7287 error fix broken path and permission error
  web/scripts/generateSitemap.js
Labels: frontend 🎨, javascript

#7295 Remove usage of arrow from parser RU
  parsers/RU.py
Labels: parser, python

#7298 Added exchange file for Lesotho-South Africa.
  config/exchanges/LS_ZA.yaml
Labels: exchange config

#7301 fix(SEO): re-add the zone title
  web/cypress/e2e/map.spec.ts
  web/src/features/panels/zone/ZoneHeaderTitle.tsx
Labels: frontend 🎨

#7291 refactor(web): add all trackevents strings to trackevent enum
  web/src/App.tsx
  web/src/components/TimeSlider.tsx
  web/src/components/buttons/GithubButton.tsx
  web/src/features/header/Header.tsx
  web/src/features/map-controls/ConsumptionProductionToggle.tsx
  web/src/features/map-controls/LanguageSelector.tsx
  web/src/features/map-controls/MapControls.tsx
  web/src/features/map-controls/SpatialAggregatesToggle.tsx
  web/src/features/map-controls/ThemeSelector.tsx
  web/src/features/panels/zone/DisplayByEmissionToggle.tsx
  web/src/features/panels/zone/EstimationCard.tsx
  web/src/features/panels/zone/MethodologyCard.tsx
  web/src/features/time/TimeController.tsx
  web/src/utils/analytics.ts
  web/src/utils/constants.ts
Labels: frontend 🎨

#7272 fix(web): day a head price styling features
  web/src/features/charts/FuturePrice.tsx
  web/tailwind.config.cjs
Labels: frontend 🎨

#7282 fix: fix logic in ZoneHeaderTitle to match tooltip
  web/src/features/panels/zone/ZoneHeaderTitle.tsx
Labels: frontend 🎨

#7304 chore(translations): remove languages that have a low amount of translated keys
  web/index.html
  web/src/locales/ar.json
  web/src/locales/hi.json
  web/src/locales/zh-HK.json
  web/src/translation/locales.ts
Labels: frontend 🎨

#7305 Fix: Share cancel on native app
  web/src/features/panels/zone/ShareButton.test.tsx
  web/src/features/panels/zone/ShareButton.tsx
Labels: frontend 🎨

#7226 perf: optimize getHasSubZones
  web/src/features/panels/zone/util.ts
Labels: frontend 🎨, performance 🏎

#7277 remove usage of arrow in IN.py
  parsers/IN.py
Labels: parser, python

#7313 feat(web): show breakdown chart in historical consumption views
  web/src/features/charts/BreakdownChart.tsx
  web/src/locales/en.json
Labels: frontend 🎨

#7315 AVO-588: Match share/copy icon to functionality
  web/src/features/panels/zone/ShareButton.cy.tsx
  web/src/features/panels/zone/ShareButton.tsx
Labels: frontend 🎨

#7314 feat(web): hide consumption toggle behind ff
  web/src/App.tsx
  web/src/features/map-controls/MapControls.cy.tsx
  web/src/features/map-controls/MapControls.tsx
  web/src/features/map-controls/ZoomControls.tsx
  web/src/features/modals/SettingsModal.cy.tsx
  web/src/features/modals/SettingsModal.tsx
Labels: frontend 🎨

#7317 Skip Production Toggle Onboarding View
  web/src/components/modals/OnboardingModal.cy.tsx
  web/src/components/modals/OnboardingModal.tsx
Labels: frontend 🎨

#7316 feat(web): zone specific datetimes
  config/zones/BR-CS.yaml
  config/zones/BR-N.yaml
  config/zones/BR-NE.yaml
  config/zones/BR-S.yaml
  config/zones/BR.yaml
  config/zones/IQ-KUR.yaml
  config/zones/NKR.yaml
  config/zones/RU-FE.yaml
  web/geo/types.ts
  web/scripts/generateZonesConfig.ts
  web/src/components/Time.tsx
  web/src/components/TimeDisplay.tsx
  web/src/features/charts/elements/AreaGraph.tsx
  web/src/features/charts/tooltips/ChartTooltips.cy.tsx
  web/src/features/map/MapTooltip.tsx
  web/src/features/time/TimeAxis.tsx
  web/src/features/time/TimeController.tsx
  web/src/utils/formatting.test.ts
  web/src/utils/formatting.ts
  web/src/utils/helpers.ts
Labels: frontend 🎨, infrastructure, zone config

#7318 feat(web): better search with full zone name
  web/src/features/panels/ranking-panel/RankingPanel.tsx
  web/src/features/panels/ranking-panel/ZoneList.tsx
  web/src/features/panels/ranking-panel/__snapshots__/getRankingPanelData.test.ts.snap
  web/src/features/panels/ranking-panel/getRankingPanelData.ts
  web/src/locales/en.json
Labels: frontend 🎨

#7297 feat(translations): Auto-translate all missing Dutch keys
  web/src/locales/nl.json
Labels: frontend 🎨

#7326 Added exchange config for Andorra-France connection
  config/exchanges/AD_FR.yaml
Labels: exchange config

#7327 Update solar and biomass capacities for Hungary
  config/zones/HU.yaml
Labels: zone config

#7322 Add French translation for "emissionFactorDataSourcesTooltip" key
  web/src/locales/fr.json
Labels: frontend 🎨

#7274 fix(web): day ahead price styling features v3
  web/src/features/charts/FuturePrice.stories.ts
  web/src/features/charts/FuturePrice.tsx
  web/src/features/charts/RoundedCard.tsx
  web/src/features/charts/futurePriceUtils.test.ts
  web/src/features/charts/futurePriceUtils.ts
  web/src/stories/mockData.ts
  web/tailwind.config.cjs
Labels: frontend 🎨, Review effort [1-5]: 3

#7328 bug(web): Japan/Tokyo invalid timezone
  config/zones/JP.yaml
Labels: zone config

#7331 feat: sync area graph index between graphs
  web/src/features/charts/elements/AreaGraph.tsx
Labels: frontend 🎨

#7332 translations(web): improve california display name to make it more readable
  web/public/locales/en.json
  web/src/locales/en.json
  web/src/locales/nl.json
  web/src/locales/pl.json
  web/src/locales/pt-PT.json
  web/src/locales/sv.json
Labels: frontend 🎨, translations 🗣

#7335 feat(config): add my-em bbox
  config/zones/MY-EM.yaml
Labels: zone config

#7311 chore(locales): add danish translations
  web/src/locales/da.json
  web/src/locales/en.json
Labels: frontend 🎨

#7339 chore(capacities): Update EIA capacities for 2024-07-01
  config/zones/US-CAL-CISO.yaml
  config/zones/US-CAL-LDWP.yaml
  config/zones/US-CAR-DUK.yaml
  config/zones/US-CENT-SWPP.yaml
  config/zones/US-MIDA-PJM.yaml
  config/zones/US-MIDW-MISO.yaml
  config/zones/US-NE-ISNE.yaml
  config/zones/US-NW-BPAT.yaml
  config/zones/US-NW-NEVP.yaml
  config/zones/US-NW-NWMT.yaml
  config/zones/US-NW-PACE.yaml
  config/zones/US-NW-PSCO.yaml
  config/zones/US-NY-NYIS.yaml
  config/zones/US-SW-SRP.yaml
  config/zones/US-TEN-TVA.yaml
  config/zones/US-TEX-ERCO.yaml
Labels: capacity, zone config

#7306 chore(translation-files): remove escaped quotes
  .github/workflows/CI.yml
  scripts/remove_escaped_quotes_in_locales.py
  web/src/locales/cs.json
  web/src/locales/da.json
  web/src/locales/de.json
  web/src/locales/el.json
  web/src/locales/en.json
  web/src/locales/es.json
  web/src/locales/et.json
  web/src/locales/fi.json
  web/src/locales/fr.json
  web/src/locales/hr.json
  web/src/locales/id.json
  web/src/locales/it.json
  web/src/locales/ja.json
  web/src/locales/ko.json
  web/src/locales/nl.json
  web/src/locales/no-NB.json
  web/src/locales/pl.json
  web/src/locales/pt-BR.json
  web/src/locales/pt-PT.json
  web/src/locales/ro.json
  web/src/locales/ru.json
  web/src/locales/sk.json
  web/src/locales/sl.json
  web/src/locales/sv.json
  web/src/locales/zh-CN.json
  web/src/locales/zh-TW.json
Labels: frontend 🎨, python, infrastructure

#7336 feat(shareability): Add Reddit share button
  web/src/components/buttons/RedditButton.tsx
  web/src/features/panels/ranking-panel/SocialIcons.tsx
  web/src/locales/en.json
  web/src/locales/sv.json
Labels: frontend 🎨

#7342 chore(translation-files): Change Consumption to Electricity on the country-panel toggle
  web/cypress/e2e/countrypanel.spec.ts
  web/src/components/ToggleButton.tsx
  web/src/features/panels/zone/DisplayByEmissionToggle.tsx
  web/src/locales/da.json
  web/src/locales/de.json
  web/src/locales/en.json
  web/src/locales/es.json
  web/src/locales/fr.json
  web/src/locales/it.json
  web/src/locales/nl.json
  web/src/locales/pl.json
  web/src/locales/ro.json
  web/src/locales/sv.json
Labels: frontend 🎨

#7340 fix: fix elexon parser
  electricitymap/contrib/lib/models/events.py
  parsers/ELEXON.py
Labels: parser, python

#7352 fix: Update AU-LH timezone
  config/zones/AU-LH.yaml
Labels: zone config

#7333 AVO-592: Add Scroll-to functionality
  web/cypress/e2e/countrypanel.spec.ts
  web/src/features/charts/BreakdownChart.tsx
  web/src/features/charts/CarbonChart.tsx
  web/src/features/charts/ChartTitle.tsx
  web/src/features/charts/EmissionChart.tsx
  web/src/features/charts/NetExchangeChart.tsx
  web/src/features/charts/NotEnoughDataMessage.tsx
  web/src/features/charts/PriceChart.tsx
  web/src/features/charts/bar-breakdown/BarBreakdownChart.tsx
  web/src/features/charts/bar-breakdown/elements/BySource.tsx
  web/src/features/map/Map.tsx
  web/src/features/panels/zone/ZoneDetails.tsx
  web/src/features/panels/zone/ZoneHeaderTitle.tsx
  web/src/utils/constants.ts
  web/src/utils/helpers.test.ts
  web/src/utils/helpers.ts
Labels: frontend 🎨

#7346 Add More Options Dropdown UI
  web/src/components/AppStoreBanner.tsx
  web/src/components/DefaultCloseButton.tsx
  web/src/components/MoreOptionsDropdown.cy.tsx
  web/src/components/MoreOptionsDropdown.tsx
  web/src/components/ShareIcon.tsx
  web/src/components/Toast.tsx
  web/src/features/charts/BreakdownChart.tsx
  web/src/features/charts/CarbonChart.tsx
  web/src/features/charts/ChartTitle.tsx
  web/src/features/charts/bar-breakdown/elements/BySource.tsx
  web/src/features/map/Map.tsx
  web/src/features/panels/zone/ShareButton.tsx
  web/src/features/panels/zone/ZoneDetails.tsx
  web/src/hooks/useShare.ts
  web/src/locales/en.json
  web/src/utils/analytics.ts
  web/src/utils/constants.ts
  web/src/utils/helpers.ts
Labels: frontend 🎨

#7358 Fix tests
  web/cypress/e2e/countrypanel.spec.ts
Labels: frontend 🎨

#7353 Consolidate ChartTitle and BySource components
  web/src/features/charts/BreakdownChart.tsx
  web/src/features/charts/CarbonChart.tsx
  web/src/features/charts/ChartTitle.tsx
  web/src/features/charts/EmissionChart.tsx
  web/src/features/charts/NetExchangeChart.tsx
  web/src/features/charts/NotEnoughDataMessage.tsx
  web/src/features/charts/PriceChart.tsx
  web/src/features/charts/bar-breakdown/BarBreakdownChart.tsx
  web/src/features/charts/bar-breakdown/elements/BySource.tsx
Labels: frontend 🎨

#7354 Reverse chart layer opacity on hover
  web/src/features/charts/BreakdownChart.tsx
  web/src/features/charts/elements/AreaGraph.tsx
  web/src/features/charts/elements/AreaGraphLayers.tsx
Labels: frontend 🎨

#7359 Feat: Create shareUrl and hook up More Options dropdown UI to scroll to chart
  web/src/components/MoreOptionsDropdown.cy.tsx
  web/src/components/MoreOptionsDropdown.tsx
  web/src/features/charts/ChartTitle.tsx
  web/src/features/charts/NotEnoughDataMessage.tsx
  web/src/utils/analytics.ts
Labels: frontend 🎨
