Repository electricitymaps/electricitymaps-contrib, pull requests merged in 2024-07, with the labels that each got.

#6893 chore: switch storybook to ts
  web/.storybook/main.ts
  web/.storybook/preview.ts
  web/tsconfig.node.json
Labels: frontend 🎨

#6907 chore(deps-dev): vitest stable and fix code
  web/geo/files.ts
  web/geo/generateWorld.ts
  web/geo/generateZoneBoundingBoxes.ts
  web/package.json
  web/pnpm-lock.yaml
  web/scripts/generateZonesConfig.ts
Labels: frontend 🎨, dependencies

#6900 fix: update example parser
  parsers/lib/quality.py
Labels: parser, python

#6904 storybook: global language selector
  web/.storybook/preview.jsx
Labels: frontend 🎨, javascript

#6936 chore(workflows): try get the review bot working again
  .github/workflows/pr_agent.yml
Labels: infrastructure

#6938 clean up after failed merge
  web/.storybook/preview.ts
  web/.storybook/preview.tsx
Labels: frontend 🎨

#6915 feat(dev server): Use SWC for dev server
  web/.gitignore
  web/package.json
  web/pnpm-lock.yaml
  web/src/utils/analytics.ts
  web/vite.config.cts
Labels: frontend 🎨, performance 🏎, dependencies

#6912 add screenshots to PWA manifest
  web/public/images/screenshots/desktop/1.png
  web/public/images/screenshots/desktop/2.png
  web/public/images/screenshots/desktop/3.png
  web/public/images/screenshots/desktop/4.png
  web/public/images/screenshots/mobile/1.png
  web/public/images/screenshots/mobile/2.png
  web/public/images/screenshots/mobile/3.png
  web/public/images/screenshots/mobile/4.png
  web/public/images/screenshots/mobile/5.png
  web/vite.config.cts
Labels: frontend 🎨

#6941 feat(web): add link to com website from header logo
  web/src/features/header/Header.tsx
Labels: frontend 🎨

#6916 chore(deps): migrate to @tanstack/react-query@v5
  web/package.json
  web/pnpm-lock.yaml
  web/src/App.tsx
  web/src/api/getMeta.ts
  web/src/api/getState.ts
  web/src/api/getWeatherData.ts
  web/src/api/getZone.ts
  web/src/features/map/Map.tsx
  web/src/main.tsx
  web/src/testing/testUtils.tsx
Labels: frontend 🎨, dependencies

#6946 feat: update emission factors for ME, BA, RS, MK, AL
  config/zones/AL.yaml
  config/zones/BA.yaml
  config/zones/ME.yaml
  config/zones/MK.yaml
  config/zones/RS.yaml
Labels: zone config

#6947 Update Solar and Wind capacity for Portugal
  config/zones/PT.yaml
Labels: zone config

#6905 feat(web): Display preliminary instead of estimated when using TSA
  web/src/features/charts/bar-breakdown/elements/BySource.tsx
  web/src/features/charts/bar-breakdown/utils.test.ts
  web/src/features/charts/graphUtils.ts
  web/src/features/charts/tooltips/AreaGraphTooltipHeader.tsx
  web/src/features/charts/tooltips/BreakdownChartTooltip.tsx
  web/src/features/charts/tooltips/CarbonChartTooltip.tsx
  web/src/features/charts/tooltips/EmissionChartTooltip.tsx
  web/src/features/panels/zone/EstimationCard.cy.tsx
  web/src/features/panels/zone/EstimationCard.stories.tsx
  web/src/features/panels/zone/EstimationCard.tsx
  web/src/features/panels/zone/ZoneDetails.tsx
  web/src/hooks/getEstimationTranslation.ts
  web/src/locales/de.json
  web/src/locales/en.json
  web/src/locales/es.json
  web/src/locales/fr.json
  web/src/locales/pt-PT.json
  web/src/locales/sv.json
  web/src/locales/zh-TW.json
  web/src/types.ts
  web/src/utils/constants.ts
Labels: frontend 🎨, Review effort [1-5]: 3

#6953 bug(web): fix incorrect estimation labeling
  web/src/features/charts/graphUtils.ts
  web/src/hooks/getEstimationTranslation.ts
  web/src/utils/constants.ts
Labels: frontend 🎨

#6952 feat(config): re-enable price for nordpool zones
  config/zones/AT.yaml
  config/zones/AX.yaml
  config/zones/BE.yaml
  config/zones/CH.yaml
  config/zones/DE.yaml
  config/zones/DK-BHM.yaml
  config/zones/DK-DK1.yaml
  config/zones/DK-DK2.yaml
  config/zones/DK.yaml
  config/zones/EE.yaml
  config/zones/FI.yaml
  config/zones/FR.yaml
  config/zones/GB.yaml
  config/zones/LT.yaml
  config/zones/LU.yaml
  config/zones/LV.yaml
  config/zones/NL.yaml
  config/zones/NO-NO1.yaml
  config/zones/NO-NO2.yaml
  config/zones/NO-NO3.yaml
  config/zones/NO-NO4.yaml
  config/zones/NO-NO5.yaml
  config/zones/NO.yaml
  config/zones/PL.yaml
  config/zones/SE-SE1.yaml
  config/zones/SE-SE2.yaml
  config/zones/SE-SE3.yaml
  config/zones/SE-SE4.yaml
  config/zones/SE.yaml
Labels: zone config

#6959 bug(web): hide swiss data
  config/zones/CH.yaml
Labels: zone config

#6935 chore(deps-dev): remove whatwg-fetch
  web/package.json
  web/pnpm-lock.yaml
  web/src/testing/setupTests.ts
Labels: frontend 🎨, dependencies

#6855 feat(web): use tailwinds font size
  web/src/components/Accordion.tsx
  web/src/components/Badge.tsx
  web/src/components/Button.tsx
  web/src/components/Modal.tsx
  web/src/components/ToggleButton.tsx
  web/src/components/legend/Co2Legend.tsx
  web/src/features/charts/CarbonChart.tsx
  web/src/features/charts/ChartTitle.tsx
  web/src/features/charts/DataSources.tsx
  web/src/features/charts/bar-breakdown/BarBreakdownChart.tsx
  web/src/features/charts/bar-breakdown/EmptyBarBreakdownChart.tsx
  web/src/features/charts/bar-breakdown/elements/BySource.tsx
  web/src/features/charts/bar-breakdown/elements/Row.tsx
  web/src/features/charts/tooltips/AreaGraphTooltipHeader.tsx
  web/src/features/modals/InfoModal.tsx
  web/src/features/panels/faq/FAQContent.tsx
  web/src/features/panels/zone/DisplayByEmissionToggle.tsx
  web/src/features/panels/zone/EstimationCard.tsx
  web/src/features/panels/zone/MethodologyCard.tsx
  web/src/features/panels/zone/ZoneDetails.tsx
  web/src/features/panels/zone/ZoneHeaderTitle.tsx
  web/src/features/time/TimeAxis.tsx
  web/src/index.css
  web/tailwind.config.cjs
Labels: frontend 🎨

#6950 feat: simplify dark mode class toggle logic
  web/src/App.tsx
Labels: frontend 🎨

#6913 feat: include timezone in hourly displays
  web/src/utils/__snapshots__/formatting.test.ts.snap
  web/src/utils/formatting.test.ts
  web/src/utils/formatting.ts
Labels: frontend 🎨

#6954 feat: Update selectedDatetimeIndexAtom to use a Date object and use derived Atom for string format
  web/src/components/TimeDisplay.tsx
  web/src/components/TimeSlider.tsx
  web/src/features/charts/hooks/useBarElectricityBreakdownChartData.ts
  web/src/features/map/Map.cy.tsx
  web/src/features/map/Map.tsx
  web/src/features/map/MapMovement.cy.tsx
  web/src/features/map/MapTooltip.tsx
  web/src/features/panels/ranking-panel/RankingPanel.tsx
  web/src/features/panels/zone/ZoneDetails.tsx
  web/src/features/panels/zone/ZoneHeaderGauges.tsx
  web/src/features/time/TimeController.tsx
  web/src/features/time/TimeHeader.tsx
  web/src/hooks/arrows.ts
  web/src/utils/state/atoms.ts
Labels: frontend 🎨, performance 🏎

#6962 chore: Merge GR zones
  EMISSION_FACTORS_SOURCES.md
  config/zones/GR-IS.yaml
  electricitymap/contrib/config/__init__.py
  web/geo/world.geojson
  web/public/locales/en.json
  web/src/locales/cs.json
  web/src/locales/de.json
  web/src/locales/el.json
  web/src/locales/en.json
  web/src/locales/es.json
  web/src/locales/et.json
  web/src/locales/fi.json
  web/src/locales/fr.json
  web/src/locales/hr.json
  web/src/locales/id.json
  web/src/locales/it.json
  web/src/locales/ja.json
  web/src/locales/ko.json
  web/src/locales/no-NB.json
  web/src/locales/pl.json
  web/src/locales/pt-BR.json
  web/src/locales/pt-PT.json
  web/src/locales/ro.json
  web/src/locales/ru.json
  web/src/locales/sk.json
  web/src/locales/sl.json
  web/src/locales/sv.json
  web/src/locales/vi.json
  web/src/locales/zh-CN.json
  web/src/locales/zh-TW.json
Labels: frontend 🎨, translations 🗣, python, zone config

#6969 chore: Move date on tooltips
  web/src/features/charts/tooltips/AreaGraphTooltipHeader.tsx
Labels: frontend 🎨

#6973 fix: Fix github icon color on outage message
  web/src/features/panels/zone/EstimationCard.tsx
Labels: frontend 🎨

#6970 feat(web): Add tooltip to production source legends in BreakdownChart
  web/src/features/charts/ProductionSourceLegendList.tsx
Labels: frontend 🎨, Review effort [1-5]: 3

#6965 Improve Nigeria parser
  config/zones/NG.yaml
  parsers/NG.py
Labels: parser, python, zone config

#6977 chore(deps): Update react-icons to latest version
  web/package.json
  web/pnpm-lock.yaml
Labels: frontend 🎨, dependencies

#6975 Type hint Fix
  parsers/CA_AB.py
  parsers/IN.py
Labels: parser, python

#6984 revert: use reseaux parser again
  config/zones/FR.yaml
Labels: zone config

#6985 feat(config): add tag in zones config for generation only zones
  config/zones/US-CAR-YAD.yaml
  config/zones/US-NW-GRID.yaml
  config/zones/US-SE-SEPA.yaml
  electricitymap/contrib/config/model.py
Labels: python, zone config

#6980 perf: Add useCallbacks and isHourly derived atom
  web/src/api/getState.ts
  web/src/components/TimeSlider.tsx
  web/src/features/charts/BreakdownChart.tsx
  web/src/features/charts/bar-breakdown/BarBreakdownChart.tsx
  web/src/features/charts/bar-breakdown/BarElectricityBreakdownChart.tsx
  web/src/features/charts/graphUtils.ts
  web/src/features/charts/tooltips/BreakdownChartTooltip.tsx
  web/src/features/charts/tooltips/NetExchangeChartTooltip.tsx
  web/src/features/exchanges/ExchangeTooltip.tsx
  web/src/features/map-controls/MapControls.tsx
  web/src/features/modals/SettingsModal.tsx
  web/src/features/panels/zone/ZoneDetails.tsx
  web/src/features/time/TimeController.tsx
  web/src/utils/state/atoms.ts
Labels: frontend 🎨, performance 🏎

#6981 perf: use derived atoms for solar and wind state
  web/src/components/legend/LegendContainer.tsx
  web/src/features/map-controls/MapControls.tsx
  web/src/features/weather-layers/solar/SolarLayer.tsx
  web/src/features/weather-layers/wind-layer/WindLayer.tsx
  web/src/utils/state/atoms.ts
Labels: frontend 🎨, performance 🏎

#6963 chore: clean up world and round to 3 decimals
  config/zones/GI.yaml
  web/geo/generateWorld.ts
  web/geo/world.geojson
Labels: frontend 🎨, performance 🏎, zone config

#6988 Adds new generation_only type and ensure it's available for scripts
  web/geo/generateAggregates.ts
  web/geo/types.ts
  web/geo/world.geojson
  web/scripts/generateZonesConfig.ts
Labels: frontend 🎨

#6987 perf: set experimental min chunk size to 3500 bytes
  web/vite.config.cts
Labels: frontend 🎨, performance 🏎

#6993 Revert "parser validation - add function to filter out events with total production of 0 MW"
  electricitymap/contrib/lib/models/event_lists.py
  electricitymap/contrib/lib/tests/test_event_lists.py
  parsers/EIA.py
  parsers/PE.py
Labels: parser, python

#6989 chore(deps): update to react-i18next 15
  web/package.json
  web/pnpm-lock.yaml
Labels: frontend 🎨, dependencies

#6999 fix: remove generation only zones from ranking
  web/src/features/panels/ranking-panel/getRankingPanelData.ts
  web/src/features/panels/zone/util.ts
Labels: frontend 🎨

#7002 fix: Fix Thailand's electricity price calculation
  parsers/TH.py
Labels: parser, python

#6995 fix(web): replace renderToString
  web/src/features/charts/tooltips/BreakdownChartTooltip.stories.ts
  web/src/features/charts/tooltips/BreakdownChartTooltip.tsx
  web/src/locales/ar.json
  web/src/locales/cs.json
  web/src/locales/da.json
  web/src/locales/de.json
  web/src/locales/el.json
  web/src/locales/en.json
  web/src/locales/es.json
  web/src/locales/et.json
  web/src/locales/fi.json
  web/src/locales/fr.json
  web/src/locales/hr.json
  web/src/locales/id.json
  web/src/locales/it.json
  web/src/locales/ja.json
  web/src/locales/ko.json
  web/src/locales/nl.json
  web/src/locales/no-NB.json
  web/src/locales/pl.json
  web/src/locales/pt-BR.json
  web/src/locales/pt-PT.json
  web/src/locales/ro.json
  web/src/locales/ru.json
  web/src/locales/sk.json
  web/src/locales/sl.json
  web/src/locales/sv.json
  web/src/locales/vi.json
  web/src/locales/zh-CN.json
  web/src/locales/zh-HK.json
  web/src/locales/zh-TW.json
Labels: frontend 🎨, performance 🏎, techdebt

#7001 fix: Align no data tooltip with other map tooltips
  web/src/components/NoDataBadge.tsx
  web/src/components/ZoneName.tsx
  web/src/features/map/MapTooltip.stories.tsx
  web/src/features/map/MapTooltip.tsx
Labels: frontend 🎨

#7005 Design Hack: Remove icons from chart titles
  web/src/features/charts/BreakdownChart.tsx
  web/src/features/charts/CarbonChart.tsx
  web/src/features/charts/ChartTitle.tsx
  web/src/features/charts/EmissionChart.tsx
  web/src/features/charts/NetExchangeChart.tsx
  web/src/features/charts/PriceChart.tsx
  web/src/features/charts/bar-breakdown/elements/BySource.tsx
Labels: frontend 🎨

#7010 Design Hack: Change time controller title size and font
  web/src/features/time/TimeHeader.tsx
Labels: frontend 🎨

#7006 Design Hack: Remove time header on mobile
  web/src/features/panels/LeftPanel.tsx
Labels: frontend 🎨

#7009 Design Hack: Use badge to show time in TimeHeader.tsx
  web/src/features/time/TimeHeader.tsx
Labels: frontend 🎨

#6948 chore(web): typing and refactoring
  web/src/components/TimeSlider.test.ts
  web/src/components/TimeSlider.tsx
  web/src/features/charts/bar-breakdown/BarBreakdownChart.tsx
  web/src/features/charts/bar-breakdown/utils.ts
  web/src/features/charts/elements/AreaGraph.tsx
  web/src/features/charts/elements/AreaGraphLayers.tsx
  web/src/features/charts/elements/GraphBackground.tsx
  web/src/features/charts/graphUtils.ts
  web/src/features/exchanges/ExchangeArrow.tsx
  web/src/features/time/TimeAxis.tsx
  web/src/hooks/arrows.ts
  web/src/hooks/headerHeight.ts
  web/src/translation/i18n.ts
Labels: frontend 🎨, Review effort [1-5]: 3

#6908 storybook: add build job
  .github/workflows/CI.yml
  web/.gitignore
  web/.storybook/manager-head.html
  web/.storybook/vite.config.ts
  web/package.json
Labels: frontend 🎨, dependencies, infrastructure

#6803 feat(web): add legends to BarBreakdownChart
  web/src/components/legend/Co2Legend.tsx
  web/src/components/legend/ColorBar.tsx
  web/src/components/legend/LegendItem.tsx
  web/src/components/legend/SolarLegend.tsx
  web/src/components/legend/WindLegend.tsx
  web/src/features/charts/bar-breakdown/BarBreakdownChart.tsx
  web/src/features/charts/bar-breakdown/BarBreakdownEmissionsChart.tsx
  web/src/features/charts/bar-breakdown/BarElectricityBreakdownChart.tsx
  web/src/features/charts/bar-breakdown/BarElectricityExchangeChart.tsx
  web/src/features/charts/bar-breakdown/BarElectricityProductionChart.tsx
  web/src/features/charts/bar-breakdown/BarEmissionExchangeChart.tsx
  web/src/features/charts/bar-breakdown/BarEmissionProductionChart.tsx
  web/src/features/charts/bar-breakdown/constants.ts
  web/src/features/charts/bar-breakdown/elements/Axis.tsx
  web/src/features/charts/bar-breakdown/elements/BarBreakdownAxisLegend.tsx
  web/src/features/charts/bar-breakdown/elements/CapacityLegend.tsx
  web/src/features/charts/bar-breakdown/utils.test.ts
  web/src/features/charts/bar-breakdown/utils.ts
  web/src/features/charts/hooks/useBarElectricityBreakdownChartData.ts
  web/src/locales/en.json
Labels: frontend 🎨

#7012 chore(deps): Upgrade to tailwind-merge 2.4.0
  web/package.json
  web/pnpm-lock.yaml
Labels: frontend 🎨, dependencies

#7011 feat: add lucide-react and change X icon
  web/package.json
  web/pnpm-lock.yaml
  web/src/components/Modal.tsx
  web/src/components/Toast.tsx
  web/src/components/app-survey/FeedbackCard.tsx
  web/src/components/modals/OnboardingModalInner.tsx
  web/src/features/charts/DataSources.tsx
  web/src/features/charts/ProductionSourceLegendList.tsx
  web/src/features/charts/bar-breakdown/BarBreakdownChart.tsx
  web/src/features/charts/tooltips/AreaGraphTooltip.tsx
  web/src/features/modals/AnnouncementModal.tsx
Labels: frontend 🎨, dependencies

#7014 feat(web): always show BarBreakdownAxisLegend
  web/src/features/charts/bar-breakdown/BarBreakdownChart.tsx
  web/src/features/charts/bar-breakdown/BarElectricityBreakdownChart.tsx
  web/src/features/charts/bar-breakdown/BarElectricityProductionChart.tsx
  web/src/features/charts/bar-breakdown/elements/Axis.tsx
  web/src/features/charts/bar-breakdown/elements/BarBreakdownAxisLegend.tsx
  web/src/features/charts/bar-breakdown/utils.ts
Labels: frontend 🎨

#7015 chore(readme): Update section about icon usage
  web/README.md
Labels: frontend 🎨

#7016 feat(web): add co2 legend to carbon intensity graph
  web/src/features/charts/CarbonChart.tsx
Labels: frontend 🎨

#6891 perf: use browserslist targets
  web/Earthfile
  web/package.json
  web/pnpm-lock.yaml
  web/tsconfig.node.json
  web/vite.config.ts
Labels: frontend 🎨, performance 🏎, dependencies

#7008 Design Hack: Remove by source in the chart title
  web/src/locales/da.json
  web/src/locales/de.json
  web/src/locales/en.json
  web/src/locales/es.json
  web/src/locales/fr.json
  web/src/locales/it.json
  web/src/locales/no-NB.json
  web/src/locales/pt-BR.json
  web/src/locales/pt-PT.json
  web/src/locales/sl.json
  web/src/locales/sv.json
  web/src/locales/zh-TW.json
Labels: frontend 🎨

#7007 Design Hack: Change title for emission toggle
  web/cypress/e2e/countrypanel.spec.ts
  web/src/features/charts/tooltips/ChartTooltips.cy.tsx
  web/src/locales/ar.json
  web/src/locales/cs.json
  web/src/locales/da.json
  web/src/locales/de.json
  web/src/locales/el.json
  web/src/locales/en.json
  web/src/locales/es.json
  web/src/locales/et.json
  web/src/locales/fi.json
  web/src/locales/fr.json
  web/src/locales/hi.json
  web/src/locales/hr.json
  web/src/locales/id.json
  web/src/locales/it.json
  web/src/locales/ja.json
  web/src/locales/ko.json
  web/src/locales/nl.json
  web/src/locales/no-NB.json
  web/src/locales/pl.json
  web/src/locales/pt-BR.json
  web/src/locales/pt-PT.json
  web/src/locales/ro.json
  web/src/locales/ru.json
  web/src/locales/sk.json
  web/src/locales/sl.json
  web/src/locales/sv.json
  web/src/locales/vi.json
  web/src/locales/zh-CN.json
  web/src/locales/zh-HK.json
  web/src/locales/zh-TW.json
Labels: frontend 🎨

#7024 chore: update TimeController title
  web/scripts/syncTranslations.js
  web/src/features/time/TimeHeader.tsx
  web/src/locales/cs.json
  web/src/locales/da.json
  web/src/locales/de.json
  web/src/locales/en.json
  web/src/locales/es.json
  web/src/locales/fr.json
  web/src/locales/hi.json
  web/src/locales/it.json
  web/src/locales/no-NB.json
  web/src/locales/pl.json
  web/src/locales/pt-BR.json
  web/src/locales/pt-PT.json
  web/src/locales/ro.json
  web/src/locales/ru.json
  web/src/locales/sl.json
  web/src/locales/sv.json
  web/src/locales/zh-TW.json
Labels: frontend 🎨, javascript, Review effort [1-5]: 2
