Repository electricitymaps/electricitymaps-contrib, pull requests merged in 2024-03, with the labels that each got.

#6374 Wind layer fixes
  web/src/features/weather-layers/wind-layer/Field.tsx
  web/src/features/weather-layers/wind-layer/Grid.tsx
  web/src/features/weather-layers/wind-layer/WindLayer.tsx
  web/src/features/weather-layers/wind-layer/calc.test.ts
  web/src/features/weather-layers/wind-layer/calc.ts
  web/src/features/weather-layers/wind-layer/scales.ts
  web/src/features/weather-layers/wind-layer/util.ts
  web/src/features/weather-layers/wind-layer/windy.test.ts
  web/src/features/weather-layers/wind-layer/windy.ts
Labels: frontend 🎨, techdebt

#6520 show on map tooltip when data is estimated
  web/public/locales/de.json
  web/public/locales/en.json
  web/public/locales/es.json
  web/public/locales/fr.json
  web/src/components/CarbonIntensitySquare.tsx
  web/src/components/CircularGauge.tsx
  web/src/components/EstimationBadge.tsx
  web/src/components/OutageBadge.tsx
  web/src/components/ZoneName.tsx
  web/src/features/map/MapTooltip.tsx
  web/src/types.ts
Labels: frontend 🎨, translations 🗣

#6536 fix(estimation labels & cards): Small fixes for Null data due to filtering
  web/src/features/panels/zone/ZoneDetails.tsx
Labels: frontend 🎨

#6535 update(capacity) - Portugal (PT)
  config/zones/PT.yaml
Labels: zone config

#6505 update(capacity) - new source for FI solar capacity
  config/zones/FI.yaml
  electricitymap/contrib/capacity_parsers/FI.py
Labels: python, zone config, capacity parser

#6543 remove the use of badge
  web/src/features/charts/ChartTitle.tsx
  web/src/features/charts/bar-breakdown/elements/BySource.tsx
  web/src/features/charts/tooltips/AreaGraphTooltipHeader.tsx
Labels: frontend 🎨

#6533 parser validation - add function to filter out events with total production of 0 MW
  electricitymap/contrib/lib/models/event_lists.py
  electricitymap/contrib/lib/tests/test_event_lists.py
  parsers/EIA.py
  parsers/PE.py
Labels: parser, python

#6545 Update unknown capacity for SV
  config/zones/SV.yaml
  electricitymap/contrib/capacity_parsers/EMBER.py
Labels: python, zone config, capacity parser

#6548 chore: lock ruff to 0.3.1
  poetry.lock
  pyproject.toml
Labels: dependencies

#6510 feat: refactor TH parser to use event classes
  parsers/TH.py
Labels: parser, python

#6507 feat: refactor SG parser to use event classes
  parsers/SG.py
Labels: parser, python

#6550 refactor: use event classes in US-MISO parser
  parsers/US_MISO.py
  parsers/test/test_US_MISO.py
Labels: parser, python, tests

#6511 refactor: use event classes in TR parser
  parsers/TR.py
Labels: parser, python

#6544 (#6011) Refactor AX parser to use electricitymaps event classes
  parsers/AX.py
Labels: parser, python

#6551 refactor: use event classes in US-NY parser, remove arrow
  parsers/US_NY.py
Labels: parser, python

#6555 Improvements to mobile app deployment workflow
  mobileapp/Gemfile.lock
  mobileapp/fastlane/Fastfile
Labels: mobile app 📱

#6547 Silkebonnen/ele 3900 implement production source legend component
  web/src/features/charts/bar-breakdown/BarBreakdownEmissionsChart.tsx
  web/src/features/charts/bar-breakdown/BarElectricityBreakdownChart.tsx
  web/src/features/charts/bar-breakdown/ProductionSourceLegend.tsx
  web/src/features/charts/bar-breakdown/ProductionsSourceIcons.tsx
  web/src/features/charts/bar-breakdown/constants.ts
  web/src/features/charts/bar-breakdown/elements/Row.tsx
  web/src/features/charts/tooltips/AreaGraphTooltipHeader.tsx
  web/src/features/charts/tooltips/BreakdownChartTooltip.tsx
Labels: frontend 🎨

#6557 CAMMESA parser: remove usage of arrow module
  parsers/CAMMESA.py
Labels: parser, python

#6554 Add two new bypassed subzones in AU.yaml
  config/zones/AU.yaml
Labels: zone config

#6494 Update react-map-gl to version 7.1.7
  mobileapp/ios/App/App.xcodeproj/project.pbxproj
  mobileapp/ios/App/Podfile
  web/cypress/e2e/map.spec.ts
  web/package.json
  web/pnpm-lock.yaml
  web/src/features/exchanges/ExchangeArrow.tsx
  web/src/features/exchanges/ExchangeLayer.tsx
  web/src/features/map-controls/ZoomControls.tsx
  web/src/features/map/Map.cy.tsx
  web/src/features/map/Map.tsx
  web/src/features/map/map-layers/BackgroundLayer.tsx
  web/src/features/map/map-layers/StatesLayer.tsx
  web/src/features/map/map-layers/ZonesLayer.tsx
  web/src/features/map/map-utils/CustomLayer.tsx
  web/src/features/weather-layers/solar/SolarLayer.tsx
  web/src/features/weather-layers/wind-layer/WindLayer.tsx
  web/src/features/weather-layers/wind-layer/calc.test.ts
  web/src/features/weather-layers/wind-layer/calc.ts
  web/src/features/weather-layers/wind-layer/windy.ts
  web/src/index.css
Labels: frontend 🎨, mobile app 📱, performance 🏎, dependencies, techdebt

#6565 fix(parser) - IN.py
  parsers/IN.py
Labels: parser, python

#6564 (#6011) Update CZ parser to use event classes
  parsers/CZ.py
Labels: parser, python

#6559 Issue 6135 Remove Arrow Usage from CA_AB
  parsers/CA_AB.py
Labels: parser, python

#6568 fix(capacity_parsers/EIA): typesafe addition of per power plant capacity
  electricitymap/contrib/capacity_parsers/EIA.py
Labels: python, capacity parser

#6569 Update unknown capacity for CA-SK
  DATA_SOURCES.md
  config/zones/CA-SK.yaml
Labels: zone config

#6537 feat(ExchangeList): Add Exchange._update() and ExchangeList.update_exchanges() methods
  electricitymap/contrib/lib/models/event_lists.py
  electricitymap/contrib/lib/models/events.py
  electricitymap/contrib/lib/tests/test_event_lists.py
  electricitymap/contrib/lib/tests/test_events.py
Labels: python

#6558 fix: treat nan values as none in parser events
  electricitymap/contrib/lib/models/events.py
  electricitymap/contrib/lib/tests/test_events.py
Labels: python

#6571 refactor(JP-KY): remove arrow usage
  parsers/JP-KY.py
Labels: parser, python

#6576 refactor: remove arrow from CA_BC parser
  parsers/CA_BC.py
Labels: parser, python

#6570 CL parser: refactor to use event classes
  parsers/CL.py
  parsers/test/snapshots/snap_test_CL.py
  parsers/test/test_CL.py
Labels: parser, python, tests

#6563 Implement button component
  web/public/locales/cs.json
  web/public/locales/da.json
  web/public/locales/de.json
  web/public/locales/el.json
  web/public/locales/en.json
  web/public/locales/et.json
  web/public/locales/fi.json
  web/public/locales/fr.json
  web/public/locales/hr.json
  web/public/locales/id.json
  web/public/locales/it.json
  web/public/locales/ja.json
  web/public/locales/ko.json
  web/public/locales/nl.json
  web/public/locales/no-NB.json
  web/public/locales/pl.json
  web/public/locales/pt-BR.json
  web/public/locales/ro.json
  web/public/locales/ru.json
  web/public/locales/sk.json
  web/public/locales/sl.json
  web/public/locales/sv.json
  web/public/locales/vi.json
  web/public/locales/zh-TW.json
  web/src/components/Button.stories.tsx
  web/src/components/Button.tsx
  web/src/components/LoadingSpinner.tsx
  web/src/features/charts/ChartTitle.tsx
  web/src/features/charts/NotEnoughDataMessage.tsx
  web/src/features/map-controls/LanguageSelector.tsx
  web/src/features/map-controls/MapControls.tsx
  web/src/features/map-controls/MapOptionSelector.tsx
  web/src/features/map-controls/ThemeSelector.tsx
  web/src/features/modals/InfoModal.tsx
  web/src/features/modals/SettingsModal.tsx
  web/src/features/panels/zone/ZoneDetails.tsx
Labels: frontend 🎨, translations 🗣

#6588 refactor_remove arrow from CA_NB
  parsers/CA_NB.py
Labels: parser, python

#6596 refactor(us-prepa): remove usage of arrow from US-PREPA parser
  parsers/US_PREPA.py
Labels: parser, python

#6591 improve datetime naiveness check
  electricitymap/contrib/lib/models/events.py
Labels: python

#6587 refactor: upgrade BG parser with event classes
  parsers/BG.py
  parsers/examples/example_parser.py
  parsers/test/mocks/BG/production_live.json
  parsers/test/snapshots/snap_test_BG.py
  parsers/test/test_BG.py
Labels: parser, python, tests
