Repository electricitymaps/electricitymaps-contrib, pull requests merged in 2024-09, with the labels that each got.

#7150 Update solar capacity for Hungary
  config/zones/HU.yaml
Labels: zone config

#7152 fix(parsers):Update TR parser to handle TR API update
  parsers/TR.py
Labels: parser, python

#7153 chore(RoundedCard): add forward ref to RoundedCard so it's reusable for BarBreakdownChart
  web/src/features/charts/RoundedCard.tsx
  web/src/features/charts/bar-breakdown/BarBreakdownChart.tsx
  web/src/features/panels/zone/DisplayByEmissionToggle.tsx
  web/src/features/panels/zone/MethodologyCard.tsx
Labels: frontend 🎨

#7151 fix: Fix unknown locale error
  web/src/translation/i18n.test.ts
  web/src/translation/i18n.ts
Labels: frontend 🎨

#7154 fix(parsers): Fix to include new Adani import column in BD data
  parsers/ERP_PGCB.py
  parsers/test/mocks/ERP_PGCB/latest.html
  parsers/test/snapshots/snap_test_ERP_PGCB.py
Labels: parser, python, tests

#7158 UAE - update nuclear capacity
  config/zones/AE.yaml
  web/src/features/panels/zone/__snapshots__/util.test.ts.snap
Labels: frontend 🎨, zone config

#7160 chore: ensure better internal type checking in Button
  web/src/components/Button.tsx
Labels: frontend 🎨

#7168 fix: make the ? smaller
  web/src/features/charts/bar-breakdown/elements/Row.tsx
Labels: frontend 🎨

#7170 Add disclaimer to NKR
  config/zones/NKR.yaml
Labels: zone config

#7127 CarbonIntensitySquare and CircularGauge with tooltip
  .github/dependabot.yml
  web/package.json
  web/pnpm-lock.yaml
  web/src/App.tsx
  web/src/components/CarbonIntensityDisplay.tsx
  web/src/components/CarbonIntensitySquare.stories.ts
  web/src/components/CarbonIntensitySquare.tsx
  web/src/components/CircularGauge.tsx
  web/src/components/InfoIconWithPadding.tsx
  web/src/components/legend/Co2Legend.tsx
  web/src/features/charts/bar-breakdown/BarElectricityExchangeChart.tsx
  web/src/features/charts/tooltips/ChartTooltips.cy.tsx
  web/src/features/panels/zone/ZoneHeaderGauges.tsx
  web/src/features/panels/zone/ZoneHeaderTitle.tsx
  web/src/locales/ar.json
  web/src/locales/cs.json
  web/src/locales/da.json
  web/src/locales/de.json
  web/src/locales/el.json
  web/src/locales/en.json
  web/src/locales/es.json
  web/src/locales/et.json
  web/src/locales/fi.json
  web/src/locales/fr.json
  web/src/locales/hi.json
  web/src/locales/hr.json
  web/src/locales/id.json
  web/src/locales/it.json
  web/src/locales/ja.json
  web/src/locales/ko.json
  web/src/locales/nl.json
  web/src/locales/no-NB.json
  web/src/locales/pl.json
  web/src/locales/pt-BR.json
  web/src/locales/pt-PT.json
  web/src/locales/ro.json
  web/src/locales/ru.json
  web/src/locales/sk.json
  web/src/locales/sl.json
  web/src/locales/sv.json
  web/src/locales/vi.json
  web/src/locales/zh-CN.json
  web/src/locales/zh-HK.json
  web/src/locales/zh-TW.json
  web/src/utils/units.ts
  web/tailwind.config.cjs
  web/vite.config.ts
Labels: frontend 🎨, performance 🏎, dependencies, techdebt, infrastructure

#7118 feat(app): use new TimeAverageToggle
  web/src/components/TimeAverageToggle.stories.tsx
  web/src/components/TimeAverageToggle.tsx
  web/src/features/time/TimeController.tsx
  web/src/features/time/TimeControllerWrapper.tsx
  web/src/features/time/TimeHeader.tsx
Labels: frontend 🎨

#7103 chore: remove AnnouncementModal
  web/src/App.tsx
  web/src/features/modals/AnnouncementModal.tsx
  web/src/icons/announcementSourceColorImage.tsx
Labels: frontend 🎨, techdebt

#7171 chore: add GB->IM exchange config
  config/exchanges/GB_IM.yaml
Labels: exchange config

#7095 chore: bump vite to v5 and vitest to v2
  web/package.json
  web/pnpm-lock.yaml
Labels: frontend 🎨, performance 🏎, dependencies, techdebt

#7169 fix: fix area graph estimation badge
  web/src/features/charts/tooltips/AreaGraphTooltipHeader.tsx
Labels: frontend 🎨

#7193 Changed CollapseButton and made a copy called ShareButton
  web/src/features/panels/LeftPanel.tsx
Labels: frontend 🎨

#7195 fix: fix TimeAverageToggle not visible on Firefox
  web/src/components/TimeAverageToggle.tsx
Labels: frontend 🎨

#7190 chore(CI): add workflow to CI that ensures all translation are in sync
  .github/workflows/CI.yml
  web/scripts/detectTranslationsOutOfSync.js
Labels: frontend 🎨, javascript, infrastructure

#7166 perf: memoize useZoneDataSources
  web/src/features/charts/hooks/useZoneDataSources.ts
Labels: frontend 🎨, performance 🏎

#6497 Improve Canary Islands oil emission factors
  config/zones/ES-CN-FVLZ.yaml
  config/zones/ES-CN-GC.yaml
  config/zones/ES-CN-HI.yaml
  config/zones/ES-CN-IG.yaml
  config/zones/ES-CN-LP.yaml
  config/zones/ES-CN-TE.yaml
  config/zones/ES-IB-IZ.yaml
  config/zones/ES-IB-ME.yaml
Labels: zone config, emission factors

#7104 fix: Fix rules of react violation in Accordion
  web/src/components/Accordion.tsx
  web/src/features/charts/BreakdownChart.tsx
  web/src/features/charts/CarbonChart.tsx
  web/src/features/charts/EmissionChart.tsx
  web/src/features/charts/bar-breakdown/BarBreakdownChart.tsx
  web/src/features/panels/ranking-panel/RankingPanelAccordion.tsx
  web/src/features/panels/zone/EstimationCard.tsx
  web/src/features/panels/zone/MethodologyCard.tsx
  web/src/utils/state/atoms.ts
Labels: frontend 🎨, performance 🏎, techdebt, Review effort [1-5]: 3

#7198 perf: streamline getContributors logic
  web/src/features/panels/zone/Attribution.tsx
  web/src/features/panels/zone/__snapshots__/util.test.ts.snap
  web/src/features/panels/zone/util.ts
Labels: frontend 🎨

#7201 Add new contributor for Canary Islands
  config/zones/ES-CN-FVLZ.yaml
  config/zones/ES-CN-GC.yaml
  config/zones/ES-CN-HI.yaml
  config/zones/ES-CN-IG.yaml
  config/zones/ES-CN-LP.yaml
  config/zones/ES-CN-TE.yaml
  config/zones/ES-IB-IZ.yaml
  config/zones/ES-IB-ME.yaml
Labels: zone config

#7202 Se/hackathonbranch
  web/package.json
  web/pnpm-lock.yaml
  web/src/declarations.d.ts
  web/src/features/panels/LeftPanel.tsx
Labels: frontend 🎨, dependencies

#7199 feat(web): Add copy image to clipboard functionality (#7193)
  web/package.json
  web/pnpm-lock.yaml
  web/public/images/mocked-screenshot.png
  web/src/features/panels/LeftPanel.tsx
Labels: frontend 🎨, dependencies

#7203 hack hack hack
  web/src/App.tsx
  web/src/features/panels/LeftPanel.tsx
  web/src/features/time/TimeControllerWrapper.tsx
Labels: frontend 🎨

#7205 Add french translations for tooltips
  web/src/locales/fr.json
Labels: frontend 🎨

#7206 add atom to open fields during screenshot
  web/src/features/charts/bar-breakdown/elements/BySource.tsx
  web/src/features/panels/LeftPanel.tsx
  web/src/index.css
  web/src/utils/state/atoms.ts
Labels: frontend 🎨

#7208 Data sources now open when pressing the share button and closes after…
  package-lock.json
  package.json
  web/src/components/Accordion.tsx
  web/src/features/panels/LeftPanel.tsx
Labels: frontend 🎨

#7163 fix: Mexico CENACE parser
  parsers/CENACE.py
Labels: parser, python

#7212 chore(SEO): Use the correct link for get our data
  web/src/components/buttons/CommercialApiButton.tsx
  web/src/locales/sv.json
Labels: frontend 🎨

#7192 fix: switch to bidding zone exchanges for Germany
  parsers/ENTSOE.py
Labels: parser, python

#7172 Fix chart tooltip defaults
  web/src/features/charts/tooltips/NetExchangeChartTooltip.tsx
  web/src/features/charts/tooltips/PriceChartTooltip.tsx
Labels: frontend 🎨

#7117 fix(maybe): Remove the v from the version in Sentry
  web/vite.config.ts
Labels: frontend 🎨

#7119 parsers:Change NL parser to only receive NED data
  parsers/NED.py
Labels: parser, python

#7191 perf: use state data for gauges
  web/src/components/ZoneGauges.tsx
  web/src/features/map/MapTooltip.tsx
  web/src/features/panels/zone/ZoneDetails.tsx
  web/src/features/panels/zone/ZoneHeaderGauges.tsx
Labels: frontend 🎨, performance 🏎

#7214 feat(parsers): add proxy to malaysia (MY-WM) parser
  parsers/GSO.py
  parsers/lib/config.py
Labels: parser, python

#7211 chore(SEO): use semantic HTML
  web/src/components/Accordion.tsx
  web/src/components/Badge.tsx
  web/src/components/Time.tsx
  web/src/components/TimeDisplay.tsx
  web/src/features/charts/RoundedCard.tsx
  web/src/features/charts/tooltips/AreaGraphTooltipHeader.tsx
  web/src/features/panels/LeftPanel.tsx
  web/src/features/panels/ranking-panel/RankingPanel.tsx
  web/src/features/panels/ranking-panel/SocialIcons.tsx
  web/src/features/time/TimeHeader.tsx
Labels: frontend 🎨, techdebt

#7215 AVO-488: Add social media share Plausible tracking
  web/src/components/buttons/FacebookButton.tsx
  web/src/components/buttons/LinkedinButton.tsx
  web/src/components/buttons/TwitterButton.tsx
  web/src/features/panels/ranking-panel/SocialIcons.tsx
  web/src/utils/analytics.ts
  web/src/utils/constants.ts
Labels: frontend 🎨

#7162 chore: remove duplicate function
  web/src/features/charts/hooks/useCarbonChartData.ts
  web/src/features/map/Map.tsx
  web/src/features/panels/ranking-panel/RankingPanel.tsx
  web/src/features/panels/ranking-panel/getRankingPanelData.test.ts
  web/src/features/panels/ranking-panel/getRankingPanelData.ts
  web/src/utils/helpers.test.ts
  web/src/utils/helpers.ts
Labels: frontend 🎨, techdebt

#7207 chore: clean up generated config and config types
  web/geo/files.ts
  web/geo/generateAggregates.ts
  web/geo/types.ts
  web/scripts/generateZonesConfig.ts
Labels: frontend 🎨, performance 🏎, techdebt

#6788 Clean up various links and names of sources
  config/zones/CA-NB.yaml
  config/zones/JP-CB.yaml
  config/zones/QA.yaml
  config/zones/RU.yaml
  config/zones/SE-SE1.yaml
  config/zones/SE-SE2.yaml
  config/zones/SE-SE3.yaml
  config/zones/SE-SE4.yaml
  config/zones/SE.yaml
  config/zones/SV.yaml
  parsers/GT.py
  parsers/JP.py
  parsers/ajenti.py
  parsers/test/snapshots/snap_test_GT.py
Labels: parser, python, tests, zone config

#7155 Update emission factors for Europe (2023)
  EMISSION_FACTORS_SOURCES.md
  config/zones/AT.yaml
  config/zones/AX.yaml
  config/zones/BE.yaml
  config/zones/BG.yaml
  config/zones/CY.yaml
  config/zones/CZ.yaml
  config/zones/DE.yaml
  config/zones/DK-BHM.yaml
  config/zones/DK-DK1.yaml
  config/zones/DK-DK2.yaml
  config/zones/DK.yaml
  config/zones/EE.yaml
  config/zones/ES.yaml
  config/zones/FI.yaml
  config/zones/FO-MI.yaml
  config/zones/FO-SI.yaml
  config/zones/FO.yaml
  config/zones/FR-COR.yaml
  config/zones/FR.yaml
  config/zones/GB-NIR.yaml
  config/zones/GR.yaml
  config/zones/HR.yaml
  config/zones/HU.yaml
  config/zones/IE.yaml
  config/zones/IT-CNO.yaml
  config/zones/IT-CSO.yaml
  config/zones/IT-NO.yaml
  config/zones/IT-SAR.yaml
  config/zones/IT-SIC.yaml
  config/zones/IT-SO.yaml
  config/zones/IT.yaml
  config/zones/LT.yaml
  config/zones/LU.yaml
  config/zones/LV.yaml
  config/zones/MT.yaml
  config/zones/NL.yaml
  config/zones/PL.yaml
  config/zones/PT.yaml
  config/zones/RO.yaml
  config/zones/SE-SE1.yaml
  config/zones/SE-SE2.yaml
  config/zones/SE-SE3.yaml
  config/zones/SE-SE4.yaml
  config/zones/SE.yaml
  config/zones/SI.yaml
  config/zones/SK.yaml
  parsers/test/test_config.py
  scripts/update_emission_factors_sources.py
  tests/test_config_model.py
Labels: parser, python, tests, zone config

#7210 feat(SEO): add react-helmet-async
  web/index.html
  web/package.json
  web/pnpm-lock.yaml
  web/src/App.tsx
  web/src/main.tsx
  web/src/translation/i18n.ts
Labels: frontend 🎨, dependencies, techdebt

#7216 fix(MY): change order of decorators
  parsers/GSO.py
Labels: parser, python

#7213 feat(SEO): Add dynamic canonical links
  web/index.html
  web/src/App.tsx
  web/src/components/buttons/FacebookButton.tsx
  web/src/components/buttons/LinkedinButton.tsx
  web/src/components/buttons/TwitterButton.tsx
  web/src/features/panels/ranking-panel/RankingPanel.tsx
  web/src/features/panels/zone/ZoneHeaderTitle.tsx
  web/src/hooks/useGetCanonicalUrl.tsx
  web/src/utils/constants.ts
Labels: frontend 🎨, Review effort [1-5]: 3

#7217 Tvs/add country name as hover
  web/src/components/Flag.tsx
Labels: frontend 🎨

#7200 chore(capacities): Update EIA capacities
  config/zones/US-CAL-CISO.yaml
  config/zones/US-CAL-IID.yaml
  config/zones/US-CAL-LDWP.yaml
  config/zones/US-CAL-TIDC.yaml
  config/zones/US-CAR-CPLE.yaml
  config/zones/US-CAR-CPLW.yaml
  config/zones/US-CAR-DUK.yaml
  config/zones/US-CAR-SCEG.yaml
  config/zones/US-CENT-SWPP.yaml
  config/zones/US-FLA-FPC.yaml
  config/zones/US-FLA-FPL.yaml
  config/zones/US-FLA-TEC.yaml
  config/zones/US-MIDA-PJM.yaml
  config/zones/US-MIDW-AECI.yaml
  config/zones/US-MIDW-MISO.yaml
  config/zones/US-NE-ISNE.yaml
  config/zones/US-NW-BPAT.yaml
  config/zones/US-NW-IPCO.yaml
  config/zones/US-NW-NEVP.yaml
  config/zones/US-NW-PACE.yaml
  config/zones/US-NW-PACW.yaml
  config/zones/US-NW-PSCO.yaml
  config/zones/US-NW-WACM.yaml
  config/zones/US-NW-WAUW.yaml
  config/zones/US-NY-NYIS.yaml
  config/zones/US-SE-SOCO.yaml
  config/zones/US-SW-AZPS.yaml
  config/zones/US-SW-PNM.yaml
  config/zones/US-SW-SRP.yaml
  config/zones/US-SW-TEPC.yaml
  config/zones/US-SW-WALC.yaml
  config/zones/US-TEN-TVA.yaml
  config/zones/US-TEX-ERCO.yaml
Labels: zone config

#6218 Improve REE capacity parser time granularity
  config/zones/ES.yaml
  electricitymap/contrib/capacity_parsers/REE.py
Labels: capacity, python, zone config, capacity parser

#6808 Update Belgian Solar capacity
  config/zones/BE.yaml
Labels: zone config

#6668 feat(ch): update CH parser with 2023 and 2024 data
  config/zones/CH.yaml
  parsers/CH.py
  parsers/test/test_CH.py
Labels: parser, python, tests, zone config

#6479 add(capacity-parser) - Indian zones
  config/zones/IN-EA.yaml
  config/zones/IN-NE.yaml
  config/zones/IN-NO.yaml
  config/zones/IN-SO.yaml
  config/zones/IN-WE.yaml
  electricitymap/contrib/capacity_parsers/CEA.py
Labels: python, zone config, capacity parser

#7221 fix: abbreviate month in hourly datetimes
  web/src/utils/__snapshots__/formatting.test.ts.snap
  web/src/utils/formatting.test.ts
  web/src/utils/formatting.ts
Labels: frontend 🎨

#7222 feat(SEO): Add dynamic meta titles
  web/src/App.tsx
  web/src/features/panels/ranking-panel/RankingPanel.tsx
  web/src/features/panels/zone/ZoneHeaderTitle.tsx
  web/src/utils/constants.ts
Labels: frontend 🎨

#7220 fix: fix the translation-status.cjs script
  web/scripts/translation-status.cjs
Labels: frontend 🎨

#7223 feat(web): AGI solves the wind layer, maybe
  web/src/features/weather-layers/wind-layer/windy.ts
Labels: frontend 🎨

#7156 Feat: Add AppStore Banner
  web/src/App.tsx
  web/src/components/AppStoreBanner.test.tsx
  web/src/components/AppStoreBanner.tsx
  web/src/features/map/Map.cy.tsx
  web/src/features/map/Map.tsx
  web/src/features/panels/zone/MethodologyCard.tsx
  web/src/features/panels/zone/ZoneDetails.tsx
  web/src/features/weather-layers/wind-layer/util.ts
  web/src/icons/emapsIcon.tsx
  web/src/locales/de.json
  web/src/locales/en.json
  web/src/locales/fr.json
  web/src/testing/testUtils.tsx
  web/src/utils/constants.ts
Labels: frontend 🎨

#7228 French translation fix for new App banner
  web/src/locales/fr.json
Labels: frontend 🎨

#7224 feat(SEO): Generate static sitemap at build
  web/.gitignore
  web/Earthfile
  web/package.json
  web/public/robots.txt
  web/scripts/generateSitemap.js
Labels: frontend 🎨, dependencies, javascript

#7232 fix(parsers): Change behavior of continous mode in EIA parser
  parsers/EIA.py
Labels: parser, python

#7233 chore(exchanges): Add missing US-NW-SCL exchanges
  config/exchanges/US-NW-BPAT_US-NW-SCL.yaml
  config/exchanges/US-NW-PSEI_US-NW-SCL.yaml
Labels: exchange config

#7227 feat(web): add future price
  web/package.json
  web/pnpm-lock.yaml
  web/src/components/Accordion.tsx
  web/src/features/charts/FuturePrice.cy.tsx
  web/src/features/charts/FuturePrice.stories.ts
  web/src/features/charts/FuturePrice.tsx
  web/src/features/charts/PriceChart.tsx
  web/src/features/charts/bar-breakdown/BarElectricityBreakdownChart.stories.ts
  web/src/features/charts/bar-breakdown/utils.test.ts
  web/src/features/charts/bar-breakdown/utils.ts
  web/src/features/charts/futurePriceUtils.test.ts
  web/src/features/charts/futurePriceUtils.ts
  web/src/features/charts/hooks/usePriceChartData.ts
  web/src/locales/en.json
  web/src/stories/mockData.ts
  web/src/types.ts
  web/src/utils/state/atoms.ts
Labels: frontend 🎨, dependencies

#7236 feat(web): add trackevent to futurePrice
  web/src/features/charts/FuturePrice.tsx
  web/src/utils/constants.ts
Labels: frontend 🎨

#7234 Feat: Toast Redesign
  web/src/components/Toast.stories.tsx
  web/src/components/Toast.test.tsx
  web/src/components/Toast.tsx
  web/src/features/service-worker/UpdatePrompt.tsx
  web/src/locales/cs.json
  web/src/locales/de.json
  web/src/locales/en.json
  web/src/locales/es.json
  web/src/locales/fr.json
  web/src/locales/it.json
  web/src/locales/nl.json
  web/src/locales/pl.json
  web/src/locales/sl.json
  web/src/locales/sv.json
Labels: frontend 🎨

#7244 Add price-chart french translations
  web/src/locales/fr.json
Labels: frontend 🎨

#7238 feat(exchange): Add data for GB->IM
  config/exchanges/GB_IM.yaml
  config/zones/GB.yaml
  config/zones/IM.yaml
  parsers/ELEXON.py
Labels: parser, python, zone config, exchange config

#7248 Wrap share button in feature flag
  web/src/features/panels/zone/ZoneHeaderTitle.tsx
Labels: frontend 🎨
