Repository electricitymaps/electricitymaps-contrib, pull requests merged in 2024-05, with the labels that each got.

#6711 chore(web): remove mouseflow script
  web/index.html
Labels: frontend 🎨

#6708 feat(web): Record language selection in Plausible
  web/src/features/map-controls/LanguageSelector.tsx
Labels: frontend 🎨

#6710 feat(web): Track colorblind mode in plausible
  web/src/features/map-controls/MapControls.tsx
Labels: frontend 🎨

#6707 feat(web): Record time slider interactions with plausible
  web/src/components/TimeSlider.tsx
Labels: frontend 🎨

#6696 remove arrow NG.py
  parsers/NG.py
Labels: parser, python

#6714 chore(capacities): Update capacity values for BG and HU zones
  config/zones/BG.yaml
  config/zones/HU.yaml
Labels: zone config

#6718 Add french translations
  web/public/locales/fr.json
Labels: translations 🗣

#6694 NZ parser: Remove usage of arrow (refactor) and add snapshot test
  parsers/NZ.py
  parsers/test/mocks/NZ/response_2024_04_24_17_30.html
  parsers/test/mocks/NZ/response_2024_04_24_18_00.html
  parsers/test/mocks/NZ/response_2024_04_24_18_00.json
  parsers/test/mocks/NZ/response_2024_04_24_18_30.json
  parsers/test/snapshots/snap_test_NZ.py
  parsers/test/test_NZ.py
Labels: parser, python, tests

#6664 feat(md): add fetch_exchange_forecast for MD parser
  config/exchanges/MD_RO.yaml
  config/exchanges/MD_UA.yaml
  parsers/MD.py
  parsers/test/snapshots/snap_test_MD.py
  parsers/test/test_MD.py
Labels: parser, python, tests, exchange config

#6682 refactor(nl): remove usage of arrow from NL parser
  parsers/NL.py
Labels: parser, python

#6655 refactor(gb): upgrade GB parser to use event classes
  config/zones/GB.yaml
  parsers/GB.py
  parsers/test/mocks/GB/eco2mix_api_historical_20220716.xml
  parsers/test/mocks/GB/eco2mix_api_live.xml
  parsers/test/snapshots/snap_test_GB.py
  parsers/test/test_GB.py
Labels: parser, python, tests, zone config

#6654 refactor(gt): upgrade GT parser with event classes
  config/zones/GT.yaml
  parsers/GT.py
  parsers/test/mocks/GT/wl12_api_historical_20230716_0.json
  parsers/test/mocks/GT/wl12_api_historical_20230716_1.json
  parsers/test/mocks/GT/wl12_api_live_0.json
  parsers/test/mocks/GT/wl12_api_live_1.json
  parsers/test/snapshots/snap_test_GT.py
  parsers/test/test_GT.py
Labels: parser, python, tests, zone config

#6722 chore(deps): Update react-i18next dependency to version 14.1.1
  web/package.json
  web/pnpm-lock.yaml
Labels: frontend 🎨, dependencies

#6720 chore(deps): Upgrade Storybook to V8
  web/.storybook/main.cjs
  web/.storybook/preview.js
  web/package.json
  web/pnpm-lock.yaml
Labels: frontend 🎨, dependencies, javascript

#6716 Update the dependabot config to use multi directory support
  .github/dependabot.yml
Labels: infrastructure

#6713 feat(web): add tracking events for data source accordions
  web/src/components/Accordion.tsx
  web/src/features/charts/BreakdownChart.tsx
  web/src/features/charts/CarbonChart.tsx
  web/src/features/charts/EmissionChart.tsx
  web/src/features/charts/bar-breakdown/BarBreakdownChart.tsx
  web/src/utils/constants.ts
Labels: frontend 🎨

#6725 chore(deps): Update tzdata dependency to version 2024.1
  poetry.lock
  pyproject.toml
Labels: dependencies

#6697 fix(options requests): Fix API request in getFeatureFlags function
  web/src/features/feature-flags/api.ts
  web/src/features/panels/zone/EstimationCard.cy.tsx
Labels: frontend 🎨, performance 🏎, techdebt, javascript

#6704 chore(deps): bump ruff to 0.4
  .pre-commit-config.yaml
  parsers/ENTSOE.py
  parsers/lib/parsers.py
  parsers/lib/quality.py
  parsers/lib/validation.py
  poetry.lock
  pyproject.toml
Labels: parser, dependencies, python

#6729 chore(app): Update cacheBuster logic to round down minutes to the nearest multiple of 5
  web/src/api/helpers.ts
Labels: frontend 🎨

#6733 tmp-fix(FR parser): switch FR production parser to ENTSO-E
  config/zones/FR.yaml
  poetry.lock
Labels: dependencies, zone config

#6730 fix(app-deployments): Fix sentry source map uploads
  web/.gitignore
  web/vite.config.cts
Labels: frontend 🎨

#6735 Fix mockserver solar data parsing
  mockserver/server.js
Labels: javascript

#6737 chore(deps): Update i18next-browser-languagedetector to version 8.0.0
  web/package.json
  web/pnpm-lock.yaml
Labels: frontend 🎨, dependencies

#6742 translations(web): add selected layer key where missing
  web/public/locales/hr.json
  web/public/locales/pl.json
  web/public/locales/ru.json
  web/public/locales/zh-CN.json
  web/public/locales/zh-HK.json
  web/public/locales/zh-TW.json
Labels: translations 🗣

#6651 Enable ESlint rules for React Hooks
  web/.eslintrc.json
  web/src/api/getWeatherData.ts
  web/src/api/getZone.ts
  web/src/components/Accordion.tsx
  web/src/components/LoadingOverlay.tsx
  web/src/components/TimeSlider.tsx
  web/src/components/tooltips/TooltipWrapper.tsx
  web/src/features/charts/bar-breakdown/BarBreakdownEmissionsChart.tsx
  web/src/features/charts/elements/AreaGraph.tsx
  web/src/features/charts/graphUtils.ts
  web/src/features/charts/hooks/useNetExchangeChartData.ts
  web/src/features/charts/tooltips/NetExchangeChartTooltip.tsx
  web/src/features/exchanges/ExchangeArrow.tsx
  web/src/features/map/Map.tsx
  web/src/features/map/MapWrapper.tsx
  web/src/features/panels/zone/EstimationCard.tsx
  web/src/features/panels/zone/FeedbackCard.tsx
  web/src/features/panels/zone/ZoneDetails.tsx
  web/src/features/time/TimeController.tsx
  web/src/features/weather-layers/solar/SolarLayer.tsx
  web/src/features/weather-layers/weatherUtils.ts
  web/src/features/weather-layers/wind-layer/WindLayer.tsx
  web/src/hooks/nightTimes.ts
  web/src/utils/formatting.test.ts
  web/src/utils/helpers.ts
Labels: frontend 🎨, techdebt

#6747 fix(web): Add FAQModal auto-open on /faq page load
  web/src/features/modals/FAQModal.tsx
Labels: frontend 🎨

#6750 fix DK bounding boxes
  config/zones/DK-DK1.yaml
  config/zones/DK-DK2.yaml
Labels: zone config

#6727 refactor(fo): upgrade FO parser to use event classes
  parsers/FO.py
  parsers/test/mocks/FO/sev_api_live.json
  parsers/test/snapshots/snap_test_FO.py
  parsers/test/test_FO.py
Labels: parser, python, tests

#6752 Fix mobile app solar layer
  web/src/features/weather-layers/solar/SolarLayer.tsx
Labels: frontend 🎨

#6748 fix(ENTSOE.py): Fix for one or more internal ENTSO-E modes missing temporarily
  parsers/ENTSOE.py
  parsers/test/test_ENTSOE.py
Labels: parser, python, tests

#6721 feat(app): Update capacitor to the latest version
  mobileapp/android/app/build.gradle
  mobileapp/android/app/capacitor.build.gradle
  mobileapp/android/app/src/main/AndroidManifest.xml
  mobileapp/android/build.gradle
  mobileapp/android/capacitor.settings.gradle
  mobileapp/android/gradle.properties
  mobileapp/android/gradle/wrapper/gradle-wrapper.jar
  mobileapp/android/gradle/wrapper/gradle-wrapper.properties
  mobileapp/android/gradlew
  mobileapp/android/gradlew.bat
  mobileapp/android/variables.gradle
  mobileapp/ios/.gitignore
  mobileapp/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-20x20@1x.png
  mobileapp/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-20x20@2x-1.png
  mobileapp/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-20x20@2x.png
  mobileapp/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-20x20@3x.png
  mobileapp/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-29x29@1x.png
  mobileapp/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-29x29@2x-1.png
  mobileapp/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-29x29@2x.png
  mobileapp/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-29x29@3x.png
  mobileapp/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-40x40@1x.png
  mobileapp/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-40x40@2x-1.png
  mobileapp/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-40x40@2x.png
  mobileapp/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-40x40@3x.png
  mobileapp/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-60x60@2x.png
  mobileapp/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-60x60@3x.png
  mobileapp/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-76x76@1x.png
  mobileapp/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-76x76@2x.png
  mobileapp/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-83.5x83.5@2x.png
  mobileapp/ios/App/App/Assets.xcassets/AppIcon.appiconset/Contents.json
  mobileapp/ios/App/Podfile
  mobileapp/ios/App/Podfile.lock
  mobileapp/package.json
  mobileapp/pnpm-lock.yaml
  web/package.json
  web/pnpm-lock.yaml
Labels: frontend 🎨, mobile app 📱, dependencies, techdebt

#6762 Wind being removed on touch bug fix (issue #6753)
  web/src/features/map/Map.tsx
Labels: frontend 🎨

#6765 Bugfix - Show correct final month
  web/src/features/charts/elements/AreaGraph.tsx
  web/src/utils/constants.ts
Labels: frontend 🎨

#6761 chore(app): Remove SentryRoutes as we don't use performance monitoring
  web/src/features/panels/LeftPanel.tsx
Labels: frontend 🎨, performance 🏎, techdebt

#6359 Fix 6203 tooltip overflows behind screen
  web/src/features/charts/bar-breakdown/BarBreakdownChart.tsx
  web/src/features/charts/bar-breakdown/utils.ts
  web/src/features/charts/elements/AreaGraph.tsx
  web/src/features/charts/tooltips/AreaGraphTooltip.tsx
  web/src/features/exchanges/ExchangeArrow.tsx
Labels: frontend 🎨

#6768 feat(web): simplify moving logic
  web/src/features/map/Map.tsx
Labels: frontend 🎨

#6766 Fix issues with graphs on iOS 16 and below
  mobileapp/README.md
  mobileapp/capacitor.config.ts
  mobileapp/fastlane/Fastfile
  web/src/features/charts/elements/AreaGraph.tsx
  web/src/features/time/TimeAxis.tsx
  web/src/utils/polyfills.ts
Labels: frontend 🎨, mobile app 📱

#6763 chore(deps): Update to Sentry v8
  web/package.json
  web/pnpm-lock.yaml
  web/src/features/error-boundary/ErrorBoundary.tsx
  web/vite.config.cts
Labels: frontend 🎨, dependencies

#6745 feat(web): create applied methodologies accordion
  web/src/features/charts/BreakdownChart.tsx
  web/src/features/charts/CarbonChart.tsx
  web/src/features/charts/EmissionChart.tsx
  web/src/features/charts/NetExchangeChart.tsx
  web/src/features/charts/PriceChart.tsx
  web/src/features/charts/bar-breakdown/RoundedCard.tsx
  web/src/features/panels/zone/MethodologyCard.tsx
  web/src/features/panels/zone/ZoneDetails.tsx
  web/src/icons/emapsIcon.tsx
  web/src/locales/en.json
Labels: frontend 🎨, translations 🗣

#6758 Mobile release PR
  mobileapp/Gemfile.lock
  mobileapp/android/app/build.gradle
  mobileapp/ios/App/App.xcodeproj/project.pbxproj
  mobileapp/package.json
Labels: mobile app 📱, dependencies

#6754 fix(web): axis units overflowing graphcard
  web/src/features/charts/BreakdownChart.tsx
  web/src/features/charts/DisabledMessage.tsx
  web/src/features/charts/NetExchangeChart.tsx
  web/src/features/charts/PriceChart.tsx
  web/src/features/charts/bar-breakdown/RoundedCard.tsx
  web/src/features/charts/elements/AreaGraph.tsx
  web/src/locales/en.json
  web/src/utils/formatting.test.ts
  web/src/utils/formatting.ts
Labels: frontend 🎨, translations 🗣

#6775 perf(ENTSOE.py): Adds small perf improvements to the ENTSO-E parser
  parsers/ENTSOE.py
  parsers/test/mocks/ENTSOE/LU_production.xml
  parsers/test/snapshots/snap_test_ENTSOE.py
  parsers/test/test_ENTSOE.py
Labels: parser, python, tests

#6782 fix(parsers): handle missing storage values for BE
  parsers/ENTSOE.py
Labels: parser, python
