Repository electricitymaps/electricitymaps-contrib, pull requests merged in 2025-03, with the labels that each got.

#7860 Add some french translations
  web/src/locales/fr.json
Labels: frontend 🎨

#7867 Ss/add new fuel types to eia parser
  parsers/EIA.py
  parsers/test/__snapshots__/test_US_NY.ambr
  parsers/test/mocks/EIA/US_CAL_IID-battery_storage.json
  parsers/test/test_EIA.py
  parsers/test/test_US_NY.py
Labels: frontend 🎨, parser, mobile app 📱, dependencies, python, tests, infrastructure, zone config

#7888 Fix typos in french translations
  web/src/locales/fr.json
Labels: frontend 🎨

#7887 fix(locales): correct country and zone names for Saint Martin en.json
  web/public/locales/en.json
  web/src/locales/cs.json
  web/src/locales/da.json
  web/src/locales/de.json
  web/src/locales/el.json
  web/src/locales/en.json
  web/src/locales/es.json
  web/src/locales/et.json
  web/src/locales/fi.json
  web/src/locales/fr.json
  web/src/locales/hr.json
  web/src/locales/id.json
  web/src/locales/it.json
  web/src/locales/ja.json
  web/src/locales/ko.json
  web/src/locales/no-NB.json
  web/src/locales/pl.json
  web/src/locales/pt-BR.json
  web/src/locales/pt-PT.json
  web/src/locales/ro.json
  web/src/locales/ru.json
  web/src/locales/sk.json
  web/src/locales/sl.json
  web/src/locales/sv.json
  web/src/locales/vi.json
  web/src/locales/zh-CN.json
  web/src/locales/zh-TW.json
Labels: frontend 🎨, translations 🗣

#7893 add name to hawaii zone
  web/public/locales/en.json
  web/src/locales/en.json
Labels: frontend 🎨, translations 🗣

#7855 wind solar forecast in US_PJM
  config/zones/US-MIDA-PJM.yaml
  parsers/US_PJM.py
  parsers/test/__snapshots__/test_US_PJM.ambr
  parsers/test/mocks/US_PJM/pjm_solar_forecast_2025-02-24T00:00:00.0000000.json
  parsers/test/mocks/US_PJM/pjm_wind_forecast_2025-02-24T00:00:00.0000000.json
  parsers/test/test_US_PJM.py
Labels: parser, python, tests, zone config

#7862 wind solar forecast US_NEISO
  config/zones/US-NE-ISNE.yaml
  parsers/US_NEISO.py
  parsers/test/__snapshots__/test_US_NEISO.ambr
  parsers/test/mocks/US_NEISO/seven_day_solar_power_forecast_20250225.csv
  parsers/test/mocks/US_NEISO/seven_day_wind_power_forecast_20250225.csv
  parsers/test/test_US_NEISO.py
Labels: parser, python, tests, zone config

#7894 chore: Clean up configs and language files
  config/exchanges/IQ_IQ-KUR.yaml
  config/retired_zones/IQ-KUR.yaml
  web/src/locales/cs.json
  web/src/locales/da.json
  web/src/locales/de.json
  web/src/locales/el.json
  web/src/locales/en.json
  web/src/locales/es.json
  web/src/locales/et.json
  web/src/locales/fi.json
  web/src/locales/fr.json
  web/src/locales/hr.json
  web/src/locales/id.json
  web/src/locales/it.json
  web/src/locales/ja.json
  web/src/locales/ko.json
  web/src/locales/no-NB.json
  web/src/locales/pl.json
  web/src/locales/pt-BR.json
  web/src/locales/pt-PT.json
  web/src/locales/ro.json
  web/src/locales/ru.json
  web/src/locales/sk.json
  web/src/locales/sl.json
  web/src/locales/sv.json
  web/src/locales/vi.json
  web/src/locales/zh-CN.json
  web/src/locales/zh-TW.json
Labels: frontend 🎨, exchange config

#7111 chore(web): Add Romanian Translations
  web/src/locales/ro.json
Labels: frontend 🎨

#7591 Update IM.yaml
  config/exchanges/FR_JE.yaml
  config/zones/IM.yaml
Labels: zone config, exchange config

#7167 Update mobile app release workflow
  mobileapp/.gitignore
  mobileapp/README.md
  mobileapp/fastlane/Fastfile
  mobileapp/fastlane/Matchfile
Labels: mobile app 📱

#7902 Fix formatting in README
  mobileapp/README.md
Labels: mobile app 📱

#7899 price compliance
  config/zones/ES.yaml
  config/zones/IT-CNO.yaml
  config/zones/IT-CSO.yaml
  config/zones/IT-NO.yaml
  config/zones/IT-SAR.yaml
  config/zones/IT-SIC.yaml
  config/zones/IT-SO.yaml
  config/zones/IT.yaml
  config/zones/PT.yaml
Labels: zone config

#7904 fix(EIA): hardcode fix for us-cal-iid
  parsers/EIA.py
Labels: parser, python

#7903 feat(metrics/parser-data): Increase production parser delay for AU-NT, AU-WA and ZA
  config/zones/AU-NT.yaml
  config/zones/AU-WA.yaml
  config/zones/ZA.yaml
Labels: zone config

#7901 Adds new cross-platform sidebar 🌟
  web/package.json
  web/pnpm-lock.yaml
  web/src/App.tsx
  web/src/components/Modal.tsx
  web/src/components/tooltips/utilities.test.ts
  web/src/components/tooltips/utilities.ts
  web/src/features/app-sidebar/AppSidebar.tsx
  web/src/features/app-sidebar/MenuItem.tsx
  web/src/features/app-sidebar/Sidebar.tsx
  web/src/features/header/Header.tsx
  web/src/features/header/Logo.tsx
  web/src/features/map/Map.tsx
  web/src/features/panels/LeftPanel.tsx
  web/src/features/time/TimeControllerWrapper.tsx
  web/src/index.css
  web/src/utils/constants.ts
  web/tailwind.config.cjs
Labels: frontend 🎨, dependencies

#7911 Bumps broken package
  web/package.json
  web/pnpm-lock.yaml
Labels: frontend 🎨, dependencies

#7914 feat(zones-configs): add IRENA capacity for GPZD zones
  config/zones/BJ.yaml
  config/zones/BN.yaml
  config/zones/BW.yaml
  config/zones/CD.yaml
  config/zones/CG.yaml
  config/zones/CI.yaml
  config/zones/CM.yaml
  config/zones/CU.yaml
  config/zones/CW.yaml
  config/zones/DZ.yaml
  config/zones/ER.yaml
  config/zones/ET.yaml
  scripts/update_capacity_configuration.py
Labels: python, zone config

#7922 feat(zone-config): add more capacities
  config/zones/BF.yaml
  config/zones/BJ.yaml
  config/zones/BN.yaml
  config/zones/BW.yaml
  config/zones/CA.yaml
  config/zones/CD.yaml
  config/zones/CG.yaml
  config/zones/CI.yaml
  config/zones/CM.yaml
  config/zones/CU.yaml
  config/zones/CW.yaml
  config/zones/DZ.yaml
  config/zones/ER.yaml
  config/zones/ET.yaml
  config/zones/FM.yaml
  config/zones/GF.yaml
  config/zones/GH.yaml
  config/zones/GQ.yaml
  config/zones/GS.yaml
  config/zones/HT.yaml
  config/zones/IS.yaml
  config/zones/JM.yaml
  config/zones/JO.yaml
  config/zones/KE.yaml
  config/zones/KH.yaml
  config/zones/KR.yaml
  config/zones/LA.yaml
  config/zones/LB.yaml
  config/zones/LK.yaml
  config/zones/LY.yaml
  config/zones/MU.yaml
  config/zones/MY.yaml
  config/zones/MZ.yaml
  config/zones/NE.yaml
  config/zones/NI.yaml
  config/zones/PA.yaml
  config/zones/PF.yaml
  config/zones/PW.yaml
  config/zones/ZA.yaml
Labels: zone config

#7924 Fixing BH and AE capacity
  config/zones/AE.yaml
  config/zones/BH.yaml
Labels: zone config

#7925 feat(zone-config): add more capacities
  config/zones/KP.yaml
  config/zones/PY.yaml
  config/zones/RW.yaml
  config/zones/SD.yaml
  config/zones/SN.yaml
  config/zones/SR.yaml
  config/zones/SS.yaml
  config/zones/ST.yaml
  config/zones/SY.yaml
  config/zones/SZ.yaml
  config/zones/TD.yaml
  config/zones/TL.yaml
  config/zones/TM.yaml
  config/zones/TT.yaml
  config/zones/TZ.yaml
  config/zones/UG.yaml
  config/zones/VE.yaml
  config/zones/YE.yaml
  config/zones/YT.yaml
  config/zones/ZM.yaml
  config/zones/ZW.yaml
Labels: zone config

#7926 feat(zone-configs): add capacity for USA
  config/zones/US.yaml
Labels: zone config

#7927 Increase delay for CO and MX
  config/zones/CO.yaml
  config/zones/MX.yaml
Labels: zone config

#7920 Splitting unknown with yearly total
  parsers/CAMMESA.py
  parsers/test/__snapshots__/test_CAMMESA.ambr
Labels: parser, python, tests

#7917 Fix typo and add some french translations
  web/src/locales/fr.json
Labels: frontend 🎨

#7931 fix(metrics) : update parsers production delay to 48 hours for most of the US zones
  config/zones/US-CAL-BANC.yaml
  config/zones/US-CAL-IID.yaml
  config/zones/US-CAL-LDWP.yaml
  config/zones/US-CAL-TIDC.yaml
  config/zones/US-CAR-CPLE.yaml
  config/zones/US-CAR-CPLW.yaml
  config/zones/US-CAR-DUK.yaml
  config/zones/US-CAR-SC.yaml
  config/zones/US-CAR-SCEG.yaml
  config/zones/US-CAR-YAD.yaml
  config/zones/US-CENT-SPA.yaml
  config/zones/US-FLA-FMPP.yaml
  config/zones/US-FLA-FPC.yaml
  config/zones/US-FLA-FPL.yaml
  config/zones/US-FLA-GVL.yaml
  config/zones/US-FLA-HST.yaml
  config/zones/US-FLA-JEA.yaml
  config/zones/US-FLA-SEC.yaml
  config/zones/US-FLA-TAL.yaml
  config/zones/US-FLA-TEC.yaml
  config/zones/US-MIDW-AECI.yaml
  config/zones/US-MIDW-LGEE.yaml
  config/zones/US-MIDW-MISO.yaml
  config/zones/US-NW-AVA.yaml
  config/zones/US-NW-BPAT.yaml
  config/zones/US-NW-CHPD.yaml
  config/zones/US-NW-DOPD.yaml
  config/zones/US-NW-GCPD.yaml
  config/zones/US-NW-GRID.yaml
  config/zones/US-NW-IPCO.yaml
  config/zones/US-NW-NEVP.yaml
  config/zones/US-NW-NWMT.yaml
  config/zones/US-NW-PACE.yaml
  config/zones/US-NW-PACW.yaml
  config/zones/US-NW-PGE.yaml
  config/zones/US-NW-PSCO.yaml
  config/zones/US-NW-PSEI.yaml
  config/zones/US-NW-SCL.yaml
  config/zones/US-NW-TPWR.yaml
  config/zones/US-NW-WACM.yaml
  config/zones/US-NW-WAUW.yaml
  config/zones/US-SE-SEPA.yaml
  config/zones/US-SE-SOCO.yaml
  config/zones/US-SW-AZPS.yaml
  config/zones/US-SW-EPE.yaml
  config/zones/US-SW-PNM.yaml
  config/zones/US-SW-SRP.yaml
  config/zones/US-SW-TEPC.yaml
  config/zones/US-SW-WALC.yaml
  config/zones/US-TEN-TVA.yaml
Labels: zone config

#7919 Design revamp part III: Aligns tooltips
  web/src/components/CarbonIntensitySquare.tsx
  web/src/components/CircularGauge.tsx
  web/src/components/tooltips/LabelTooltip.tsx
  web/src/components/tooltips/TooltipWrapper.tsx
  web/src/features/app-sidebar/AppSidebar.tsx
  web/src/features/app-sidebar/MenuItem.tsx
  web/src/features/app-sidebar/Sidebar.tsx
  web/src/features/app-sidebar/SupportButton.tsx
  web/src/features/charts/DataSources.tsx
  web/src/features/exchanges/ExchangeArrow.tsx
  web/src/features/exchanges/ExchangeTooltip.tsx
  web/src/features/map-controls/MapButton.tsx
  web/src/features/panels/zone/ZoneHeaderTitle.tsx
  web/src/utils/state/atoms.ts
Labels: frontend 🎨

#7923 Design revamp Part IV: New Search
  web/cypress/e2e/map.spec.ts
  web/cypress/e2e/ranking.spec.ts
  web/public/locales/en.json
  web/src/components/modals/OnboardingModal.tsx
  web/src/features/map-controls/MapControls.tsx
  web/src/features/map-controls/MobileButtons.tsx
  web/src/features/panels/LeftPanel.tsx
  web/src/features/panels/ranking-panel/RankingPanel.tsx
  web/src/features/panels/ranking-panel/RankingPanelAccordion.tsx
  web/src/features/panels/ranking-panel/SearchBar.tsx
  web/src/features/panels/ranking-panel/SocialIcons.tsx
  web/src/features/panels/ranking-panel/__snapshots__/getRankingPanelData.test.ts.snap
  web/src/features/panels/ranking-panel/getRankingPanelData.test.ts
  web/src/features/panels/ranking-panel/getRankingPanelData.ts
  web/src/features/panels/search-panel/NoResults.tsx
  web/src/features/panels/search-panel/NoResultsIllustration.tsx
  web/src/features/panels/search-panel/SearchBar.tsx
  web/src/features/panels/search-panel/SearchPanel.tsx
  web/src/features/panels/search-panel/ZoneList.tsx
  web/src/features/panels/search-panel/getSearchData.ts
  web/src/features/panels/zone/EstimationCard.cy.tsx
  web/src/features/panels/zone/EstimationCard.stories.tsx
  web/src/features/panels/zone/EstimationCard.tsx
  web/src/features/panels/zone/ZoneDetails.tsx
  web/src/features/time/TimeControllerWrapper.tsx
  web/src/index.css
  web/src/locales/cs.json
  web/src/locales/da.json
  web/src/locales/de.json
  web/src/locales/el.json
  web/src/locales/en.json
  web/src/locales/es.json
  web/src/locales/et.json
  web/src/locales/fi.json
  web/src/locales/fr.json
  web/src/locales/hr.json
  web/src/locales/id.json
  web/src/locales/it.json
  web/src/locales/ja.json
  web/src/locales/ko.json
  web/src/locales/no-NB.json
  web/src/locales/pl.json
  web/src/locales/pt-BR.json
  web/src/locales/pt-PT.json
  web/src/locales/ro.json
  web/src/locales/ru.json
  web/src/locales/sk.json
  web/src/locales/sl.json
  web/src/locales/sv.json
  web/src/locales/vi.json
  web/src/locales/zh-CN.json
  web/src/locales/zh-TW.json
  web/src/main.tsx
  web/src/utils/state/atoms.ts
Labels: frontend 🎨, dependencies, translations 🗣

#7935 modify fetch_consumption_forecast
  config/zones/US-MIDA-PJM.yaml
  parsers/US_PJM.py
  parsers/test/__snapshots__/test_US_PJM.ambr
  parsers/test/mocks/US_PJM/compressed_pjm_load_forecast_2025-03-19.gz
  parsers/test/test_US_PJM.py
Labels: parser, python, tests, zone config

#7916 chore(parsers): Use enums for Emaps production and storage modes
  electricitymap/contrib/lib/models/events.py
  parsers/ENTSOE.py
  parsers/NED.py
  parsers/lib/config.py
  parsers/lib/tests/__snapshots__/test_config.ambr
  parsers/lib/tests/test_config.py
  parsers/lib/utils.py
  pyproject.toml
Labels: parser, dependencies, python, tests

#7909 fetch_consumption_forecast and fetch_wind_solar_forecasts
  config/zones/US-TEX-ERCO.yaml
  parsers/US_ERCOT.py
  parsers/test/__snapshots__/test_US_ERCOT.ambr
  parsers/test/mocks/US_ERCOT/load_forecast_by_forecast_zone.json
  parsers/test/mocks/US_ERCOT/load_forecast_specific_reportid.zip
  parsers/test/mocks/US_ERCOT/solar_power_production_hourly_averaged_actual_and_forecasted_values_rtid.json
  parsers/test/mocks/US_ERCOT/solar_specific_reportid.zip
  parsers/test/mocks/US_ERCOT/wind_power_production_hourly_averaged_actual_and_forecasted_values_rtid.json
  parsers/test/mocks/US_ERCOT/wind_specific_reportid.zip
  parsers/test/test_US_ERCOT.py
Labels: parser, python, tests, zone config

#7944 Dark Mode, Lighter Tides: A Sea of Subtle Shades 🌚
  web/src/features/app-sidebar/AppSidebar.tsx
  web/src/hooks/colors.ts
Labels: frontend 🎨

#7945 chore(zone-configs): increase delay on AU zones
  config/zones/AU-NSW.yaml
  config/zones/AU-NT.yaml
  config/zones/AU-QLD.yaml
  config/zones/AU-SA.yaml
  config/zones/AU-TAS.yaml
  config/zones/AU-VIC.yaml
  config/zones/AU-WA.yaml
Labels: zone config

#7955 Fix French name for Libya
  web/src/locales/fr.json
Labels: frontend 🎨

#7942 feat(app): reduce spammy errors from blocked plausible
  web/src/main.tsx
Labels: frontend 🎨

#7936 feat(parsers): add price parser for spp north hub
  config/zones/US-CENT-SWPP.yaml
  electricitymap/contrib/config/model.py
  electricitymap/contrib/lib/models/event_lists.py
  electricitymap/contrib/lib/models/events.py
  electricitymap/contrib/lib/tests/test_event_lists.py
  electricitymap/contrib/lib/tests/test_events.py
  parsers/US_SPP.py
  parsers/lib/parsers.py
  tests/test_parser_interface.py
Labels: parser, python, tests, zone config

#7940 feat(app): first draft at new estimation copy
  web/src/components/EstimationBadge.tsx
  web/src/features/panels/zone/EstimationCard.cy.tsx
  web/src/features/panels/zone/EstimationCard.tsx
  web/src/features/panels/zone/ZoneDetails.tsx
  web/src/locales/en.json
Labels: frontend 🎨

#7938 Tonyvanswet/tig 450 apply vocab to the map
  web/src/components/Badge.tsx
  web/src/components/MoreOptionsDropdown.tsx
  web/src/features/charts/ChartTitle.tsx
  web/src/features/charts/bar-breakdown/BarBreakdownChart.tsx
  web/src/features/panels/zone/ZoneHeader.tsx
  web/src/features/panels/zone/ZoneHeaderTitle.tsx
  web/src/features/time/TimeAxis.tsx
  web/src/locales/da.json
  web/src/locales/de.json
  web/src/locales/en.json
  web/src/locales/es.json
  web/src/locales/fr.json
  web/src/locales/it.json
  web/src/locales/no-NB.json
  web/src/locales/pl.json
  web/src/locales/pt-BR.json
  web/src/locales/pt-PT.json
  web/src/locales/ro.json
  web/src/locales/sl.json
  web/src/locales/sv.json
Labels: frontend 🎨, zone config

#7959 update GB Capacity parser
  config/zones/GB.yaml
  electricitymap/contrib/capacity_parsers/GB.py
Labels: python, zone config, capacity parser

#7961 chore: update ruff
  .pre-commit-config.yaml
  electricitymap/contrib/capacity_parsers/IRENA.py
  electricitymap/contrib/lib/tests/test_event_lists.py
  parsers/CA_SK.py
  parsers/CY.py
  parsers/CZ.py
  parsers/EIA.py
  parsers/ELEXON.py
  parsers/ESTADISTICO_UT.py
  parsers/FR.py
  parsers/IEMOP.py
  parsers/IN_MH.py
  parsers/OPENNEM.py
  parsers/RU.py
  parsers/TAIPOWER.py
  parsers/US_NY.py
  parsers/US_PREPA.py
  parsers/ajenti.py
  parsers/lib/quality.py
  parsers/lib/validation.py
  parsers/test/test_quality.py
  poetry.lock
  pyproject.toml
  test_parser.py
  tests/test_parser_interface.py
  tests/test_zones_json.py
Labels: parser, dependencies, python, tests, capacity parser

#7962 adding new pictures of the map
  web/public/images/electricitymap_social_image.png
  web/public/images/electricitymap_social_image_dark.png
Labels: frontend 🎨

#7968 Price license pt es
  config/zones/ES.yaml
  config/zones/PT.yaml
Labels: zone config

#7933 US_NEISO fetch consumption forecast parser
  config/zones/US-NE-ISNE.yaml
  parsers/US_NEISO.py
  parsers/test/__snapshots__/test_US_NEISO.ambr
  parsers/test/mocks/US_NEISO/day_ahead_load_forecast_20250317.xml
  parsers/test/test_US_NEISO.py
Labels: parser, python, tests, zone config

#7941 CA_AB fetch_wind_solar_forecasts
  config/zones/CA-AB.yaml
  parsers/CA_AB.py
  parsers/test/__snapshots__/test_CA_AB.ambr
  parsers/test/mocks/CA_AB/solar_rpt_longterm.csv
  parsers/test/mocks/CA_AB/wind_rpt_longterm.csv
  parsers/test/test_CA_AB.py
Labels: parser, python, tests, zone config

#7969 chore(parsers): Add snapshot tests to US_NEISO fetch_exchange + switch parser for CA-NB->US-NE-ISNE
  config/exchanges/CA-NB_US-NE-ISNE.yaml
  parsers/US_NEISO.py
  parsers/test/__snapshots__/test_US_NEISO.ambr
  parsers/test/mocks/US_NEISO/exchange_CA-NB_US-NE-ISNE.json
  parsers/test/mocks/US_NEISO/exchange_CA-QC_US-NE-ISNE.json
  parsers/test/mocks/US_NEISO/exchange_US-NE-ISNE_US-NY-NYIS.json
  parsers/test/test_US_NEISO.py
Labels: parser, techdebt, python, tests, exchange config

#7970 feat(app): ignore any plausible errors
  web/src/main.tsx
Labels: frontend 🎨

#7965 fix(parser): add error handling to US SPP
  parsers/US_SPP.py
Labels: parser, python

#7972 chore(parsers): Floor datetimes in events
  electricitymap/contrib/lib/models/events.py
  parsers/test/__snapshots__/test_AW.ambr
  parsers/test/__snapshots__/test_CO.ambr
  parsers/test/__snapshots__/test_PA.ambr
  parsers/test/__snapshots__/test_amper_landsnet.ambr
  parsers/test/__snapshots__/test_bornholm_powerlab.ambr
Labels: parser, python, tests

#7966 Tonyvanswet/PLG 570 settings modal in the app
  web/src/App.tsx
  web/src/components/Accordion.tsx
  web/src/components/GlassContainer.tsx
  web/src/components/Link.tsx
  web/src/components/ToggleSwitch.tsx
  web/src/components/buttons/FAQButton.stories.tsx
  web/src/components/buttons/FAQButton.tsx
  web/src/components/tooltips/TooltipWrapper.tsx
  web/src/features/map-controls/LanguageSelector.cy.tsx
  web/src/features/map-controls/LanguageSelector.tsx
  web/src/features/map-controls/MapButton.tsx
  web/src/features/map-controls/MapButtons.tsx
  web/src/features/map-controls/MapControls.cy.tsx
  web/src/features/map-controls/MapControls.tsx
  web/src/features/map-controls/MobileButtons.tsx
  web/src/features/map-controls/SpatialAggregatesToggle.tsx
  web/src/features/map-controls/ThemeSelector.tsx
  web/src/features/modals/FAQModal.stories.tsx
  web/src/features/modals/FAQModal.tsx
  web/src/features/modals/InfoModal.stories.tsx
  web/src/features/modals/InfoModal.tsx
  web/src/features/modals/LayersModal.tsx
  web/src/features/modals/SettingsModal.cy.tsx
  web/src/features/modals/SettingsModal.tsx
  web/src/features/modals/modalAtoms.ts
  web/src/features/panels/LeftPanel.tsx
  web/src/locales/en.json
  web/tailwind.config.cjs
Labels: frontend 🎨

#7939 feat(app): allow keyboard shortcuts for pro users
  web/src/App.tsx
  web/src/features/panels/search-panel/SearchBar.tsx
  web/src/features/panels/search-panel/SearchPanel.tsx
  web/src/features/panels/search-panel/ZoneList.tsx
Labels: frontend 🎨

#7974 feat(app): update flow-tracing copy to be static
  web/src/features/modals/SettingsModal.tsx
  web/src/locales/en.json
Labels: frontend 🎨

#7978 fix(parser): change the sign for storage for EIA parser
  parsers/EIA.py
  parsers/test/test_EIA.py
Labels: parser, python, tests

#7979 feat(geo): add GeoJSON examples
  web/geo/solar_assets.geojson
  web/geo/wind_assets.geojson
Labels: frontend 🎨

#7980 fix(parsers): fix bug in ELEXON parser
  parsers/ELEXON.py
Labels: parser, python
