Repository electricitymaps/electricitymaps-contrib, pull requests merged in 2025-01, with the labels that each got.

#7630 refactor/fix(parser): swap arrow in favour of datetime in CO, and etc.
  parsers/CO.py
Labels: parser, python

#7636 refactor(parser): remove arrow in a few straggler files
  parsers/BORNHOLM_POWERLAB.py
  parsers/IN_DL.py
  parsers/IN_KA.py
  parsers/archived/IN_AP.py
  parsers/lib/IN.py
  parsers/lib/quality.py
  parsers/test/lib/test_IN.py
  parsers/test/test_IN.py
  parsers/test/test_OPENNEM.py
Labels: parser, python, tests

#7649 perf: Memoize CapacityLegend.tsx
  web/src/features/charts/bar-breakdown/BarBreakdownChart.tsx
  web/src/features/charts/bar-breakdown/BarElectricityExchangeChart.tsx
  web/src/features/charts/bar-breakdown/elements/CapacityLegend.tsx
Labels: frontend 🎨, performance 🏎

#7645 perf: Memoize MethodologyCard.tsx
  web/src/features/panels/zone/MethodologyCard.tsx
Labels: frontend 🎨, performance 🏎

#7641 perf: Memoize HistoricalTimeHeader.tsx
  web/src/features/time/HistoricalTimeHeader.tsx
Labels: frontend 🎨, performance 🏎

#7643 perf: Memoize Dividers
  web/src/components/Divider.tsx
  web/src/components/HorizontalDivider.tsx
  web/src/components/VerticalDivider.tsx
  web/src/features/charts/FuturePrice.tsx
  web/src/features/charts/tooltips/AreaGraphTooltipHeader.tsx
  web/src/features/modals/InfoModal.tsx
  web/src/features/panels/ranking-panel/RankingPanel.tsx
  web/src/features/panels/zone/ZoneDetails.tsx
Labels: frontend 🎨, performance 🏎

#7635 perf: Memoize ProductionSourceLegend.tsx
  web/src/features/charts/ProductionSourceLegend.tsx
Labels: frontend 🎨, performance 🏎

#7621 perf: memoize EstimationBadge.tsx
  web/src/components/EstimationBadge.tsx
Labels: frontend 🎨, performance 🏎

#7646 perf: Memoize FuturePrice.tsx
  web/src/features/charts/FuturePrice.tsx
Labels: frontend 🎨, performance 🏎

#7602 perf: Optimize callbacks in AreaGraph.tsx
  web/src/features/charts/elements/AreaGraph.tsx
Labels: frontend 🎨, performance 🏎

#7634 perf: Memoize map legends and ColorBar.tsx
  web/src/components/legend/Co2Legend.tsx
  web/src/components/legend/ColorBar.tsx
  web/src/components/legend/LegendContainer.tsx
  web/src/components/legend/SolarLegend.tsx
  web/src/components/legend/WindLegend.tsx
Labels: frontend 🎨, performance 🏎

#7628 perf: Memoize Link.tsx
  web/src/components/Link.tsx
  web/src/features/charts/DataSources.tsx
  web/src/features/header/Header.tsx
  web/src/features/modals/InfoText.tsx
  web/src/features/panels/zone/MethodologyCard.tsx
Labels: frontend 🎨, performance 🏎

#7622 perf: memoize ComercialApiButton.tsx
  web/src/components/buttons/CommercialApiButton.stories.tsx
  web/src/components/buttons/CommercialApiButton.tsx
  web/src/features/panels/zone/ZoneDetails.tsx
Labels: frontend 🎨, performance 🏎

#7650 fix(parser, SV): adjust to data source changes
  config/zones/SV.yaml
  parsers/ESTADISTICO_UT.py
  parsers/test/mocks/ESTADISTICO_UT/data.html
  parsers/test/mocks/ESTADISTICO_UT/get.html
  parsers/test/mocks/ESTADISTICO_UT/post.html
  parsers/test/mocks/ESTADISTICO_UT/production.html
  parsers/test/snapshots/snap_test_ESTADISTICO_UT.py
  parsers/test/test_ESTADISTICO_UT.py
  poetry.lock
  pyproject.toml
Labels: parser, dependencies, python, tests, zone config

#7638 perf: Memoize Axis.tsx
  web/src/features/charts/bar-breakdown/BarBreakdownEmissionsChart.tsx
  web/src/features/charts/bar-breakdown/BarElectricityBreakdownChart.tsx
  web/src/features/charts/bar-breakdown/BarElectricityExchangeChart.tsx
  web/src/features/charts/bar-breakdown/BarElectricityProductionChart.tsx
  web/src/features/charts/bar-breakdown/BarEmissionExchangeChart.tsx
  web/src/features/charts/bar-breakdown/BarEmissionProductionChart.tsx
  web/src/features/charts/bar-breakdown/elements/Axis.tsx
  web/src/features/charts/bar-breakdown/elements/BarBreakdownAxisLegend.tsx
Labels: frontend 🎨, performance 🏎

#7623 perf: Deduplicate API buttons, clean up unused translations + add icon
  web/src/components/MoreOptionsDropdown.tsx
  web/src/components/buttons/ApiButton.stories.tsx
  web/src/components/buttons/ApiButton.tsx
  web/src/components/buttons/CommercialApiButton.tsx
  web/src/components/buttons/DocumentationButton.tsx
  web/src/features/header/Header.tsx
  web/src/features/modals/InfoModal.tsx
  web/src/features/panels/ranking-panel/RankingPanel.tsx
  web/src/features/panels/zone/ZoneDetails.tsx
  web/src/locales/da.json
  web/src/locales/en.json
  web/src/locales/fr.json
  web/src/locales/nl.json
  web/src/locales/pl.json
  web/src/locales/pt-PT.json
  web/src/locales/sv.json
Labels: frontend 🎨, performance 🏎

#7673 Show current date in drawer
  web/src/features/time/HistoricalTimeHeader.tsx
Labels: frontend 🎨

#7674 perf: Memoize BarBreakdownChart.tsx
  web/src/features/charts/bar-breakdown/BarBreakdownChart.tsx
  web/src/features/charts/bar-breakdown/BarElectricityBreakdownChart.tsx
  web/src/features/charts/bar-breakdown/BarElectricityProductionChart.tsx
  web/src/features/charts/bar-breakdown/EmptyBarBreakdownChart.tsx
  web/src/features/charts/bar-breakdown/utils.test.ts
  web/src/features/charts/bar-breakdown/utils.ts
  web/src/features/charts/hooks/useBarElectricityBreakdownChartData.ts
  web/src/features/charts/hooks/useOriginChartData.ts
Labels: frontend 🎨

#7677 chore: replace deprecated pkg_resources, cleanup __init__.py files
  parsers/test/mocks/AW/__init__.py
  parsers/test/mocks/Bornholm_Powerlab/__init__.py
  parsers/test/mocks/CEB/__init__.py
  parsers/test/mocks/Cammesa/__init__.py
  parsers/test/mocks/EIA/__init__.py
  parsers/test/mocks/FR_O/__init__.py
  parsers/test/mocks/Hydroquebec/__init__.py
  parsers/test/mocks/JP-SK/__init__.py
  parsers/test/mocks/SMARTGRIDDASHBOARD/__init__.py
  parsers/test/mocks/quality_check.py
  parsers/test/test_JP_SK.py
  parsers/test/test_bornholm_powerlab.py
Labels: parser, python, tests

#7678 chore(tests): prefer use of requests_mock over unittest.mock
  parsers/test/__snapshots__/test_ES.ambr
  parsers/test/test_ES.py
Labels: parser, python, tests

#7679 chore(tests): compare snapshots directly with parsers output
  parsers/test/__snapshots__/test_AW.ambr
  parsers/test/__snapshots__/test_BG.ambr
  parsers/test/__snapshots__/test_CAMMESA.ambr
  parsers/test/__snapshots__/test_CA_CQ.ambr
  parsers/test/__snapshots__/test_CEB.ambr
  parsers/test/__snapshots__/test_CL.ambr
  parsers/test/__snapshots__/test_CNDC.ambr
  parsers/test/__snapshots__/test_CR.ambr
  parsers/test/__snapshots__/test_CY.ambr
  parsers/test/__snapshots__/test_ENERCAL.ambr
  parsers/test/__snapshots__/test_ENTE.ambr
  parsers/test/__snapshots__/test_ENTSOE.ambr
  parsers/test/__snapshots__/test_ERP_PGCB.ambr
  parsers/test/__snapshots__/test_ESIOS.ambr
  parsers/test/__snapshots__/test_ESKOM.ambr
  parsers/test/__snapshots__/test_ESTADISTICO_UT.ambr
  parsers/test/__snapshots__/test_KPX.ambr
  parsers/test/__snapshots__/test_NORDPOOL.ambr
  parsers/test/__snapshots__/test_NZ.ambr
  parsers/test/__snapshots__/test_PA.ambr
  parsers/test/__snapshots__/test_PE.ambr
  parsers/test/__snapshots__/test_PF.ambr
  parsers/test/__snapshots__/test_SMARTGRIDDASHBOARD.ambr
  parsers/test/__snapshots__/test_amper_landsnet.ambr
  parsers/test/__snapshots__/test_bornholm_powerlab.ambr
  parsers/test/test_AW.py
  parsers/test/test_BG.py
  parsers/test/test_CAMMESA.py
  parsers/test/test_CA_CQ.py
  parsers/test/test_CEB.py
  parsers/test/test_CL.py
  parsers/test/test_CNDC.py
  parsers/test/test_CR.py
  parsers/test/test_CY.py
  parsers/test/test_ENERCAL.py
  parsers/test/test_ENTE.py
  parsers/test/test_ENTSOE.py
  parsers/test/test_ERP_PGCB.py
  parsers/test/test_ESIOS.py
  parsers/test/test_ESKOM.py
  parsers/test/test_ESTADISTICO_UT.py
  parsers/test/test_KPX.py
  parsers/test/test_NORDPOOL.py
  parsers/test/test_NZ.py
  parsers/test/test_PA.py
  parsers/test/test_PE.py
  parsers/test/test_PF.py
  parsers/test/test_SMARTGRIDDASHBOARD.py
  parsers/test/test_amper_landsnet.py
  parsers/test/test_bornholm_powerlab.py
Labels: parser, python, tests

#7637 cleanup: remove arrow and backports-datetime-fromisoformat parser deps
  poetry.lock
  pyproject.toml
Labels: parser, dependencies, python

#7347 Make OnboardingModal content scroll on vertical overflow
  web/src/components/modals/OnboardingModalInner.tsx
Labels: frontend 🎨

#7681 fix: correct California exchange arrow positions
  config/exchanges/US-CAL-BANC_US-CAL-CISO.yaml
  config/exchanges/US-CAL-BANC_US-CAL-TIDC.yaml
  config/exchanges/US-CAL-BANC_US-NW-BPAT.yaml
  config/exchanges/US-CAL-CISO_US-CAL-IID.yaml
  config/exchanges/US-CAL-CISO_US-CAL-LDWP.yaml
  config/exchanges/US-CAL-CISO_US-CAL-TIDC.yaml
  config/exchanges/US-CAL-CISO_US-NW-BPAT.yaml
  config/exchanges/US-CAL-CISO_US-NW-NEVP.yaml
  config/exchanges/US-CAL-CISO_US-SW-AZPS.yaml
  config/exchanges/US-CAL-CISO_US-SW-SRP.yaml
  config/exchanges/US-CAL-CISO_US-SW-WALC.yaml
  config/exchanges/US-CAL-IID_US-SW-AZPS.yaml
  config/exchanges/US-CAL-IID_US-SW-WALC.yaml
  config/exchanges/US-CAL-LDWP_US-NW-BPAT.yaml
  config/exchanges/US-CAL-LDWP_US-NW-NEVP.yaml
  config/exchanges/US-CAL-LDWP_US-NW-PACE.yaml
  config/exchanges/US-CAL-LDWP_US-SW-AZPS.yaml
  config/exchanges/US-CAL-LDWP_US-SW-WALC.yaml
  config/exchanges/US-NW-NEVP_US-SW-WALC.yaml
  config/exchanges/US-SW-AZPS_US-SW-WALC.yaml
Labels: exchange config

#7685 fix(web): don't allow persistant production mode
  web/src/utils/state/atoms.ts
Labels: frontend 🎨

#7633 perf: Memoize ToggleButton.tsx and specific toggles
  web/src/components/ToggleButton.tsx
  web/src/features/map-controls/ConsumptionProductionToggle.tsx
  web/src/features/map-controls/SpatialAggregatesToggle.tsx
  web/src/features/panels/zone/DisplayByEmissionToggle.tsx
Labels: frontend 🎨, performance 🏎

#7693 fix: pin poetry to v1 pending migration to v2
  .github/workflows/CI.yml
  Earthfile
  parsers.dockerfile
  pyproject.toml
Labels: dependencies, infrastructure

#7669 chore: Update ENTSO-E capacities with values from 2017 to 2025
  config/zones/AL.yaml
  config/zones/AT.yaml
  config/zones/BA.yaml
  config/zones/BE.yaml
  config/zones/BG.yaml
  config/zones/CZ.yaml
  config/zones/DK-DK1.yaml
  config/zones/DK-DK2.yaml
  config/zones/EE.yaml
  config/zones/FR.yaml
  config/zones/GR.yaml
  config/zones/HR.yaml
  config/zones/HU.yaml
  config/zones/LT.yaml
  config/zones/LU.yaml
  config/zones/LV.yaml
  config/zones/ME.yaml
  config/zones/MK.yaml
  config/zones/NL.yaml
  config/zones/NO-NO1.yaml
  config/zones/NO-NO2.yaml
  config/zones/NO-NO3.yaml
  config/zones/NO-NO4.yaml
  config/zones/NO-NO5.yaml
  config/zones/PL.yaml
  config/zones/PT.yaml
  config/zones/RO.yaml
  config/zones/RS.yaml
  config/zones/SI.yaml
  config/zones/SK.yaml
  config/zones/XK.yaml
Labels: capacity, zone config

#7687 fix(parsers, KR): fix broken consumption parsing, and add wind power
  config/zones/KR.yaml
  parsers/KPX.py
  parsers/test/__snapshots__/test_KPX.ambr
  parsers/test/mocks/KPX/realtime.html
  parsers/test/test_KPX.py
Labels: parser, dependencies, python, tests, zone config

#7683 perf: Memoize to optimise sliding
  web/src/components/TimeRangeToggle.tsx
  web/src/features/panels/zone/ZoneDetails.tsx
  web/src/features/time/TimeController.tsx
  web/src/utils/helpers.ts
  web/src/utils/state/atoms.ts
Labels: frontend 🎨, performance 🏎

#7688 chore(ci system): colorize pytest output and summarize slowest tests
  pyproject.toml
Labels: dependencies

#7631 perf: Refractor and memoize ZoneHeaderTitle.tsx
  web/src/features/panels/zone/ZoneDetails.tsx
  web/src/features/panels/zone/ZoneHeader.tsx
  web/src/features/panels/zone/ZoneHeaderTitle.tsx
Labels: frontend 🎨, performance 🏎

#7632 perf: Splits out and memozie the back button in the ZoneHeader
  web/src/features/panels/zone/ZoneHeader.tsx
  web/src/features/panels/zone/ZoneHeaderBackButton.tsx
Labels: frontend 🎨, performance 🏎

#7699 fix(web): don't allow persistant country mode
  web/src/utils/state/atoms.ts
Labels: frontend 🎨

#7582 chore(zones): Merge CA-NL-LB and CA-NL-NF into CA-NL
  config/exchanges/CA-NL_CA-NS.yaml
  config/retired_zones/CA-NL-LB.yaml
  config/retired_zones/CA-NL-NF.yaml
  config/zones/CA-NL.yaml
  parsers/CA_NS.py
  web/geo/world.geojson
  web/public/locales/en.json
  web/src/locales/da.json
  web/src/locales/de.json
  web/src/locales/en.json
  web/src/locales/et.json
  web/src/locales/fr.json
  web/src/locales/it.json
  web/src/locales/no-NB.json
  web/src/locales/pl.json
  web/src/locales/pt-BR.json
  web/src/locales/pt-PT.json
  web/src/locales/ro.json
  web/src/locales/sl.json
  web/src/locales/sv.json
  web/src/locales/zh-CN.json
  web/src/locales/zh-TW.json
Labels: parser, translations 🗣, python, zone config, exchange config

#7700 add command for generating bounding boxes
  web/package.json
Labels: frontend 🎨, dependencies

#7706 adding bounding boxes for BN, EC, GU, JO, PK, VE
  config/zones/BN.yaml
  config/zones/EC.yaml
  config/zones/GU.yaml
  config/zones/JO.yaml
  config/zones/PK.yaml
  config/zones/VE.yaml
Labels: zone config

#7709 refactor(parsers, ENTSOE): comment document/process types systematically
  parsers/ENTSOE.py
Labels: parser, python

#7704 bug(web): 72h slider showing 1 day before
  web/src/utils/formatting.ts
Labels: frontend 🎨

#7710 Fix mobile paddings
  web/src/features/map-controls/MobileButtons.tsx
  web/src/features/panels/zone/ZoneHeader.tsx
  web/src/features/time/TimeControllerWrapper.tsx
Labels: frontend 🎨

#7707 add some French translations
  web/src/locales/fr.json
Labels: frontend 🎨

#7714 chore(NG.py): Adjust re-fetch frequency for NG.py
  parsers/NG.py
Labels: parser, python

#7698 tests: updated to new snapshot testing library
  parsers/test/__snapshots__/test_FO.ambr
  parsers/test/__snapshots__/test_FR.ambr
  parsers/test/__snapshots__/test_GB.ambr
  parsers/test/__snapshots__/test_GE.ambr
  parsers/test/__snapshots__/test_GT.ambr
  parsers/test/__snapshots__/test_IEMOP.ambr
  parsers/test/__snapshots__/test_MD.ambr
  parsers/test/__snapshots__/test_TAIPOWER.ambr
  parsers/test/test_FO.py
  parsers/test/test_FR.py
  parsers/test/test_GB.py
  parsers/test/test_GE.py
  parsers/test/test_GT.py
  parsers/test/test_IEMOP.py
  parsers/test/test_MD.py
  parsers/test/test_TAIPOWER.py
Labels: parser, python, tests

#7732 fix: Fix capacity update script
  capacity_update.py
Labels: python

#7733 fixing bouding boxes
  config/zones/VN.yaml
Labels: zone config

#7731 Adding Bounding box for weather-pre-processing
  config/zones/AF.yaml
  config/zones/AG.yaml
  config/zones/BF.yaml
  config/zones/BS.yaml
  config/zones/CG.yaml
  config/zones/CM.yaml
  config/zones/DM.yaml
  config/zones/FJ.yaml
  config/zones/GA.yaml
  config/zones/GI.yaml
  config/zones/GM.yaml
  config/zones/GY.yaml
  config/zones/JM.yaml
  config/zones/KG.yaml
  config/zones/KH.yaml
  config/zones/LB.yaml
  config/zones/LY.yaml
  config/zones/ML.yaml
  config/zones/MM.yaml
  config/zones/PG.yaml
  config/zones/PS.yaml
  config/zones/SN.yaml
  config/zones/TJ.yaml
  config/zones/TM.yaml
  config/zones/TT.yaml
  config/zones/UZ.yaml
  config/zones/YE.yaml
  config/zones/ZW.yaml
Labels: zone config

#7738 Suppress production parser for CA-NB, CA-SK, CA-YT
  config/zones/CA-NB.yaml
  config/zones/CA-SK.yaml
  config/zones/CA-YT.yaml
Labels: zone config

#7739 working version
  parsers/ESTADISTICO_UT.py
Labels: parser, python

#7742 tests(parsers, ESTADISTICO_UT): add snapshot test for historical prod
  parsers/test/__snapshots__/test_ESTADISTICO_UT.ambr
  parsers/test/mocks/ESTADISTICO_UT/get_historical.html
  parsers/test/mocks/ESTADISTICO_UT/get_live.html
  parsers/test/mocks/ESTADISTICO_UT/post_historical.html
  parsers/test/mocks/ESTADISTICO_UT/post_live.html
  parsers/test/test_ESTADISTICO_UT.py
Labels: parser, python, tests

#7744 show CA-SK data on the map
  config/zones/CA-SK.yaml
Labels: zone config

#7749 removing AL parser since it is not working
  config/zones/AL.yaml
Labels: zone config

#7705 remove all vietnams subzones
  config/zones/VN-C.yaml
  config/zones/VN-N.yaml
  config/zones/VN-S.yaml
  config/zones/VN.yaml
  web/geo/world.geojson
  web/public/locales/en.json
  web/src/locales/en.json
  web/src/locales/fr.json
  web/src/locales/no-NB.json
  web/src/locales/pl.json
  web/src/locales/pt-PT.json
  web/src/locales/sv.json
  web/src/locales/zh-CN.json
  web/src/locales/zh-TW.json
Labels: parser, translations 🗣, python, zone config

#7754 fix(VN): remove subZoneNames field from yaml file
  config/zones/VN.yaml
Labels: zone config

#7753 chore: Update social image
  web/index.html
  web/public/images/social_image.png
Labels: frontend 🎨

#7750 Change nuclear capacity for Slovakia (SK)
  config/zones/SK.yaml
Labels: zone config

#7759 feat(parsers): remove CH production parser
  config/zones/CH.yaml
Labels: zone config

#7746 fix/feat(parsers, BD, BD_NP): fix to handle HTML changes and add BD_NP exchange
  config/exchanges/BD_NP.yaml
  config/zones/BD.yaml
  parsers/ERP_PGCB.py
  parsers/test/__snapshots__/test_ERP_PGCB.ambr
  parsers/test/mocks/ERP_PGCB/historical.html
  parsers/test/mocks/ERP_PGCB/latest.html
  parsers/test/test_ERP_PGCB.py
Labels: parser, python, tests, zone config, exchange config

#7741 fix/tests(parsers, DO): adopt use_proxy decorator that makes things work again, and add snapshot test
  config/zones/DO.yaml
  parsers/DO.py
  parsers/lib/config.py
  parsers/test/__snapshots__/test_DO.ambr
  parsers/test/mocks/DO/production.html
  parsers/test/test_DO.py
Labels: parser, python, tests, zone config

#7740 Update geo and configs
  config/exchanges/BZ_MX.yaml
  config/exchanges/GT_MX-OR.yaml
  config/exchanges/GT_MX.yaml
  config/exchanges/MX-CE_MX-OC.yaml
  config/exchanges/MX-CE_MX-OR.yaml
  config/exchanges/MX-NE_MX-NO.yaml
  config/exchanges/MX-NE_MX-OC.yaml
  config/exchanges/MX-NE_MX-OR.yaml
  config/exchanges/MX-NE_US-TEX-ERCO.yaml
  config/exchanges/MX-NO_MX-NW.yaml
  config/exchanges/MX-NO_MX-OC.yaml
  config/exchanges/MX-NW_MX-OC.yaml
  config/exchanges/MX-OC_MX-OR.yaml
  config/exchanges/MX-OR_MX-PN.yaml
  config/exchanges/MX_US-CAL-CISO.yaml
  config/exchanges/MX_US-TEX-ERCO.yaml
  config/retired_zones/MX-BC.yaml
  config/retired_zones/MX-BCS.yaml
  config/retired_zones/MX-CE.yaml
  config/retired_zones/MX-NE.yaml
  config/retired_zones/MX-NO.yaml
  config/retired_zones/MX-NW.yaml
  config/retired_zones/MX-OC.yaml
  config/retired_zones/MX-OR.yaml
  config/retired_zones/MX-PN.yaml
  config/retired_zones/US-HI-HA.yaml
  config/retired_zones/US-HI-KA.yaml
  config/retired_zones/US-HI-KH.yaml
  config/retired_zones/US-HI-LA.yaml
  config/retired_zones/US-HI-MA.yaml
  config/retired_zones/US-HI-MO.yaml
  config/retired_zones/US-HI-NI.yaml
  config/retired_zones/US-HI-OA.yaml
  config/zones/BM.yaml
  config/zones/CW.yaml
  config/zones/KY.yaml
  config/zones/MC.yaml
  config/zones/MO.yaml
  config/zones/MV.yaml
  config/zones/MX.yaml
  config/zones/SC.yaml
  config/zones/US-HI.yaml
  electricitymap/contrib/config/__init__.py
  electricitymap/contrib/config/reading.py
  electricitymap/contrib/lib/models/events.py
  parsers/CENACE.py
  parsers/ENTE.py
  web/geo/world.geojson
Labels: frontend 🎨, parser, python, zone config, exchange config

#7708 feat(parsers, ES-IB-ME): add capacity config
  config/zones/ES-IB-ME.yaml
Labels: zone config

#7737 fix(parsers, KW): update regexp and workaround legacy connect issue
  config/zones/KW.yaml
  parsers/KW.py
Labels: parser, python, zone config

#7745 remove delay, check data, time zone TZ, issue #7351
  parsers/ENERCAL.py
Labels: parser, python

#7735 fix/feat(parsers, MN): fix json parsing error and add coal data
  config/zones/MN.yaml
  parsers/MN.py
Labels: parser, python, zone config

#7756 Fix all warnings in CI workflows
  .github/workflows/CI.yml
  .github/workflows/codeql.yml
  .github/workflows/deploy_preview_branch.yml
  .github/workflows/deploy_staging.yml
  .github/workflows/earthly-contrib.yml
  .github/workflows/label.yml
  .github/workflows/pr_agent.yml
  .github/workflows/validate_local_links_in_md.yml
Labels: infrastructure

#7765 Update FI.yaml
  config/zones/FI.yaml
Labels: zone config

#7690 fix(parsers, CO): adopt use_proxy, fix parsing, add tests
  config/zones/CO.yaml
  parsers/CO.py
  parsers/ESTADISTICO_UT.py
  parsers/lib/config.py
  parsers/test/__snapshots__/test_CO.ambr
  parsers/test/mocks/CO/cons_dt.json
  parsers/test/mocks/CO/cons_live.json
  parsers/test/mocks/CO/price_dt.json
  parsers/test/mocks/CO/price_live.json
  parsers/test/mocks/CO/prod1_dt.json
  parsers/test/mocks/CO/prod1_live.json
  parsers/test/mocks/CO/prod2_dt.json
  parsers/test/mocks/CO/prod2_live.json
  parsers/test/test_CO.py
Labels: parser, python, tests, zone config

#7768 Fix IN-DL parser
  parsers/IN_DL.py
Labels: parser, python

#7762 chore(deps): Clean up python dependencies
  poetry.lock
  pyproject.toml
Labels: dependencies

#7624 perf: optimize object creation in ExchangeArrow.tsx
  web/src/features/exchanges/ExchangeArrow.tsx
Labels: frontend 🎨, performance 🏎

#7766 tidy(web): Move test assertions over to jest style
  web/.eslintrc.json
  web/geo/validate.test.ts
  web/scripts/generateZonesConfig.test.ts
  web/src/components/TimeSlider.test.tsx
  web/src/features/charts/bar-breakdown/utils.test.ts
  web/src/features/charts/futurePriceUtils.test.ts
  web/src/features/charts/graphUtils.test.ts
  web/src/features/charts/tooltipCalculations.test.ts
  web/src/features/weather-layers/solar/utils.test.ts
  web/src/features/weather-layers/wind-layer/calc.test.ts
  web/src/features/weather-layers/wind-layer/windy.test.ts
  web/src/hooks/nightTimes.test.ts
  web/src/translation/translation.test.ts
  web/src/utils/formatting.test.ts
  web/src/utils/helpers.test.ts
  web/src/utils/styling.test.ts
Labels: frontend 🎨

#7780 feat(contrib): include .yaml files in build
  pyproject.toml
Labels: dependencies
