Repository electricitymaps/electricitymaps-contrib, pull requests merged in 2025-07, with the labels that each got.

#8272 EIA capacity update
  capacity_update.py
  config/zones/US-CAL-CISO.yaml
  config/zones/US-CAL-LDWP.yaml
  config/zones/US-CAR-CPLE.yaml
  config/zones/US-CAR-DUK.yaml
  config/zones/US-CAR-SCEG.yaml
  config/zones/US-CENT-SPA.yaml
  config/zones/US-CENT-SWPP.yaml
  config/zones/US-FLA-FPL.yaml
  config/zones/US-FLA-TEC.yaml
  config/zones/US-MIDA-PJM.yaml
  config/zones/US-MIDW-AECI.yaml
  config/zones/US-MIDW-MISO.yaml
  config/zones/US-NE-ISNE.yaml
  config/zones/US-NW-IPCO.yaml
  config/zones/US-NW-NWMT.yaml
  config/zones/US-NW-PACE.yaml
  config/zones/US-NW-PACW.yaml
  config/zones/US-NW-PGE.yaml
  config/zones/US-NW-PSCO.yaml
  config/zones/US-NW-WACM.yaml
  config/zones/US-NY-NYIS.yaml
  config/zones/US-SE-SOCO.yaml
  config/zones/US-SW-AZPS.yaml
  config/zones/US-SW-SRP.yaml
  config/zones/US-TEN-TVA.yaml
  config/zones/US-TEX-ERCO.yaml
Labels: python, zone config

#8203 chore(emission-factors): update oil emissions factors with 2024 data
  config/retired_zones/ES-CN-FVLZ.yaml
  config/zones/ES-CN-FV.yaml
  config/zones/ES-CN-GC.yaml
  config/zones/ES-CN-HI.yaml
  config/zones/ES-CN-IG.yaml
  config/zones/ES-CN-LP.yaml
  config/zones/ES-CN-LZ.yaml
  config/zones/ES-CN-TE.yaml
Labels: zone config

#8273 Hideprice ro tr
  config/zones/RO.yaml
  config/zones/TR.yaml
Labels: zone config

#8276 fix(parser): only get relevant text from SPP email parser
  parsers/email_grid_alerts.py
Labels: parser, python

#8282 [Parser]: EIA parser update
  parsers/EIA.py
  parsers/test/__snapshots__/test_EIA.ambr
  parsers/test/test_EIA.py
Labels: parser, python, tests

#8287 5 min disclaimer
  web/src/components/TimeRangeSelector.tsx
  web/src/features/app-sidebar/AppSidebar.tsx
  web/src/features/panels/zone/ExperimentalCard.tsx
  web/src/features/panels/zone/ZoneDetails.tsx
  web/src/locales/en.json
  web/tailwind.config.cjs
Labels: frontend 🎨

#8289 feat(openem): hackily add exchanges
  parsers/OPENNEM.py
  parsers/test/__snapshots__/test_OPENNEM.ambr
  parsers/test/mocks/OPENNEM/OPENNEM_AU-NSW.json
  parsers/test/mocks/OPENNEM/OPENNEM_AU-QLD.json
  parsers/test/mocks/OPENNEM/OPENNEM_AU-VIC.json
  parsers/test/test_OPENNEM.py
Labels: parser, python, tests

#8293 Cleanup: Dead code removal
  parsers/lib/validation.py
Labels: parser, python

#8288 feat(capacity_parsers):Change to openelectricity
  config/zones/AU-NSW.yaml
  config/zones/AU-QLD.yaml
  config/zones/AU-SA.yaml
  config/zones/AU-TAS.yaml
  config/zones/AU-VIC.yaml
  config/zones/AU-WA.yaml
  electricitymap/contrib/capacity_parsers/OPENELECTRICITY.py
  electricitymap/contrib/capacity_parsers/tests/__snapshots__/test_OPENELECTRICITY.ambr
  electricitymap/contrib/capacity_parsers/tests/conftest.py
  electricitymap/contrib/capacity_parsers/tests/mocks/OPENELECTRICITY/AU-QLD_capacities.json
  electricitymap/contrib/capacity_parsers/tests/test_EMBER.py
  electricitymap/contrib/capacity_parsers/tests/test_IRENA.py
  electricitymap/contrib/capacity_parsers/tests/test_OPENELECTRICITY.py
  pyproject.toml
Labels: dependencies, python, zone config, capacity parser

#8271 Remove time prefix for hourly and 5 minute for charts
  web/src/locales/cs.json
  web/src/locales/da.json
  web/src/locales/en.json
  web/src/locales/fr.json
  web/src/locales/nl.json
  web/src/locales/pl.json
  web/src/locales/pt-PT.json
  web/src/locales/sv.json
  web/src/locales/zh-TW.json
Labels: frontend 🎨

#8281 feat(web): add grid alerts to app
  web/src/components/CarbonIntensitySquare.tsx
  web/src/features/map/Map.tsx
  web/src/features/map/map-layers/GridAlertsLayer.tsx
  web/src/features/panels/zone/CurrentGridAlertsCard.tsx
  web/src/features/panels/zone/EstimationCard.cy.tsx
  web/src/features/panels/zone/EstimationCard.stories.tsx
  web/src/features/panels/zone/EstimationCard.tsx
  web/src/features/panels/zone/ZoneDetails.tsx
  web/src/locales/en.json
  web/src/types.ts
  web/tailwind.config.cjs
Labels: frontend 🎨

#8301 feat(parsers): add grid alert parser for CA-AB
  config/zones/CA-AB.yaml
  electricitymap/contrib/lib/models/event_lists.py
  parsers/CA_AB.py
Labels: parser, python, zone config

#8302 Add translations for settings modal and some missing pl
  web/src/features/modals/LayersModal.tsx
  web/src/features/modals/SettingsModal.tsx
  web/src/locales/en.json
  web/src/locales/pl.json
Labels: frontend 🎨

#8312 add some french translations
  web/src/locales/fr.json
Labels: frontend 🎨

#8310 [Parser]: Clean up CA_QC
  parsers/CA_QC.py
  parsers/test/__snapshots__/test_CA_CQ.ambr
Labels: parser, python, tests

#8314 [Parser]: Clean up EIA parser
  parsers/EIA.py
  parsers/test/test_EIA.py
Labels: parser, python, tests

#8317 Set refetch frequency for RU production
  parsers/RU.py
Labels: parser, python
