Repository electricitymaps/electricitymaps-contrib, pull requests merged in 2025-02, with the labels that each got.

#7767 Parser ES updates #7764
  parsers/ES.py
  parsers/test/__snapshots__/test_ES.ambr
  parsers/test/mocks/ES/demandaGeneracionBaleares.json
  parsers/test/mocks/ES/demandaGeneracionCanarias.json
  parsers/test/mocks/ES/demandaGeneracionPeninsula.json
  parsers/test/test_ES.py
Labels: parser, python, tests, zone config

#7800 feat(zone-configs): add historical capacities for US-NW-AVA
  config/zones/US-NW-AVA.yaml
Labels: zone config

#7804 chore(geo): Merge Mexico (again)
  config/exchanges/BZ_MX.yaml
  config/exchanges/GT_MX-OR.yaml
  config/exchanges/GT_MX.yaml
  config/exchanges/MX-CE_MX-OC.yaml
  config/exchanges/MX-CE_MX-OR.yaml
  config/exchanges/MX-NE_MX-NO.yaml
  config/exchanges/MX-NE_MX-OC.yaml
  config/exchanges/MX-NE_MX-OR.yaml
  config/exchanges/MX-NE_US-TEX-ERCO.yaml
  config/exchanges/MX-NO_MX-NW.yaml
  config/exchanges/MX-NO_MX-OC.yaml
  config/exchanges/MX-NW_MX-OC.yaml
  config/exchanges/MX-OC_MX-OR.yaml
  config/exchanges/MX-OR_MX-PN.yaml
  config/exchanges/MX_US-CAL-CISO.yaml
  config/exchanges/MX_US-TEX-ERCO.yaml
  config/retired_zones/MX-BC.yaml
  config/retired_zones/MX-BCS.yaml
  config/retired_zones/MX-CE.yaml
  config/retired_zones/MX-NE.yaml
  config/retired_zones/MX-NO.yaml
  config/retired_zones/MX-NW.yaml
  config/retired_zones/MX-OC.yaml
  config/retired_zones/MX-OR.yaml
  config/retired_zones/MX-PN.yaml
  config/zones/MX.yaml
  web/geo/world.geojson
Labels: frontend 🎨, zone config, exchange config

#7799 chore(zones): Split up ES-CN-FVLZ
  config/exchanges/ES-CN-FV_ES-CN-LZ.yaml
  config/retired_zones/ES-CN-FVLZ.yaml
  config/zones/ES-CN-FV.yaml
  config/zones/ES-CN-LZ.yaml
  web/geo/world.geojson
  web/public/locales/en.json
  web/src/locales/cs.json
  web/src/locales/da.json
  web/src/locales/de.json
  web/src/locales/el.json
  web/src/locales/en.json
  web/src/locales/es.json
  web/src/locales/et.json
  web/src/locales/fi.json
  web/src/locales/fr.json
  web/src/locales/hr.json
  web/src/locales/id.json
  web/src/locales/it.json
  web/src/locales/ja.json
  web/src/locales/ko.json
  web/src/locales/no-NB.json
  web/src/locales/pl.json
  web/src/locales/pt-BR.json
  web/src/locales/pt-PT.json
  web/src/locales/ro.json
  web/src/locales/ru.json
  web/src/locales/sk.json
  web/src/locales/sl.json
  web/src/locales/sv.json
  web/src/locales/vi.json
  web/src/locales/zh-CN.json
  web/src/locales/zh-TW.json
Labels: frontend 🎨, translations 🗣, zone config, exchange config

#7806 feat(config-zones): add new capacity values from EIA
  config/zones/US-CAL-BANC.yaml
  config/zones/US-CAL-CISO.yaml
  config/zones/US-CAL-IID.yaml
  config/zones/US-CAL-LDWP.yaml
  config/zones/US-CAR-DUK.yaml
  config/zones/US-CENT-SWPP.yaml
  config/zones/US-FLA-FPC.yaml
  config/zones/US-FLA-FPL.yaml
  config/zones/US-FLA-TEC.yaml
  config/zones/US-MIDA-PJM.yaml
  config/zones/US-MIDW-MISO.yaml
  config/zones/US-NE-ISNE.yaml
  config/zones/US-NW-AVA.yaml
  config/zones/US-NW-IPCO.yaml
  config/zones/US-NW-NEVP.yaml
  config/zones/US-NW-NWMT.yaml
  config/zones/US-NW-PACE.yaml
  config/zones/US-NW-PSCO.yaml
  config/zones/US-NW-WACM.yaml
  config/zones/US-NY-NYIS.yaml
  config/zones/US-SE-SEPA.yaml
  config/zones/US-SE-SOCO.yaml
  config/zones/US-SW-AZPS.yaml
  config/zones/US-SW-PNM.yaml
  config/zones/US-SW-SRP.yaml
  config/zones/US-TEN-TVA.yaml
  config/zones/US-TEX-ERCO.yaml
Labels: zone config

#7808 fix: Fix UY parser
  parsers/test/__snapshots__/test_UY.ambr
  parsers/test/mocks/UY/data.ods
  parsers/test/mocks/UY/html.html
  parsers/test/test_UY.py
  poetry.lock
  pyproject.toml
Labels: parser, dependencies, python, tests

#7809 feat(contrib): add config/ folder to module build + change import
  config/__init__.py
  electricitymap/contrib/__init__.py
  electricitymap/contrib/config/__init__.py
  pyproject.toml
Labels: dependencies, python

#7811 Fix some french translations
  web/src/locales/fr.json
Labels: frontend 🎨

#7703 feat(web): link data portal from app
  web/src/components/MoreOptionsDropdown.cy.tsx
  web/src/components/MoreOptionsDropdown.tsx
  web/src/features/panels/zone/ZoneHeader.tsx
  web/src/locales/en.json
Labels: frontend 🎨

#7812 feat(capacity-parsers): fix EMBER capacity parser
  electricitymap/contrib/capacity_parsers/EMBER.py
Labels: python, capacity parser

#7814 chore(tests): Clean up python test to use global fixtures
  parsers/test/test_ESKOM.py
  parsers/test/test_FO.py
  parsers/test/test_FR.py
  parsers/test/test_GB.py
  parsers/test/test_GE.py
  parsers/test/test_GT.py
  parsers/test/test_IEMOP.py
  parsers/test/test_IN_EA.py
  parsers/test/test_MD.py
  parsers/test/test_NTESMO.py
  parsers/test/test_TAIPOWER.py
Labels: parser, python, tests

#7820 bug(web): dark mode text for more options dorpdown
  web/src/components/MoreOptionsDropdown.tsx
Labels: frontend 🎨

#6635 refactor(us-mida-pjm): upgrade US-MIDA-PJM parser with event classes
  config/zones/US-MIDA-PJM.yaml
  parsers/US_PJM.py
Labels: parser, python, zone config

#7805 feat(web): enable 1 hour app delay using feature flag
  web/src/api/getState.ts
  web/src/api/getZone.ts
  web/src/api/helpers.ts
Labels: frontend 🎨

#7813 feat(zones): EMBER capacity update
  config/zones/AR.yaml
  config/zones/AW.yaml
  config/zones/BD.yaml
  config/zones/BO.yaml
  config/zones/BY.yaml
  config/zones/CO.yaml
  config/zones/CR.yaml
  config/zones/CY.yaml
  config/zones/DO.yaml
  config/zones/GE.yaml
  config/zones/GT.yaml
  config/zones/HN.yaml
  config/zones/IE.yaml
  config/zones/MD.yaml
  config/zones/MN.yaml
  config/zones/MX.yaml
  config/zones/NG.yaml
  config/zones/NZ.yaml
  config/zones/PE.yaml
  config/zones/RU.yaml
  config/zones/SG.yaml
  config/zones/SV.yaml
  config/zones/TH.yaml
  config/zones/TR.yaml
  config/zones/TW.yaml
  config/zones/UY.yaml
Labels: python, zone config, capacity parser

#7822 Revert "feat(contrib): add config/ folder to module build + change import"
  config/__init__.py
  electricitymap/contrib/__init__.py
  electricitymap/contrib/config/__init__.py
  pyproject.toml
Labels: dependencies, python

#7825 chore: Unblock zones
  config/zones/BH.yaml
  config/zones/HK.yaml
  config/zones/ID.yaml
  config/zones/KW.yaml
  config/zones/MX.yaml
  config/zones/MY-EM.yaml
  config/zones/TH.yaml
Labels: zone config

#7827 feat(CodeQL): Add actions to CodeQL scanning
  .github/workflows/codeql.yml
Labels: infrastructure

#7829 Fix Danish name for Moldova
  web/src/locales/da.json
Labels: frontend 🎨

#7830 Fix fuerteventura lanzarote exchange direction
  parsers/ES.py
Labels: parser, python

#7835 chore(ENTSOE parser): Temporary re-map DE->SE-SE4 to fetch historical data
  parsers/ENTSOE.py
Labels: parser, python

#7836 chore: Streamline code and types
  electricitymap/contrib/config/__init__.py
  electricitymap/contrib/config/co2eq_parameters.py
  electricitymap/contrib/config/reading.py
  electricitymap/contrib/config/zones.py
Labels: python

#7834 chore(zones): Add contributor to Mexico zone configuration
  config/zones/MX.yaml
Labels: zone config

#7077 feat: Update ENTSO-E parser with Energy Storage
  electricitymap/contrib/capacity_parsers/ENTSOE.py
  parsers/ENTSOE.py
Labels: parser, python, capacity parser

#7839 fix(CI): Temporary deactivate the E2E tests
  .github/workflows/CI.yml
Labels: infrastructure

#7824 FR : Hortographic correction + missing settings
  web/src/locales/fr.json
Labels: frontend 🎨, translations 🗣

#7607 perf: reduce min / max loops
  web/src/features/charts/hooks/useCarbonChartData.ts
  web/src/features/charts/hooks/useEmissionChartData.ts
  web/src/features/charts/hooks/useNetExchangeChartData.ts
  web/src/features/charts/hooks/usePriceChartData.ts
Labels: frontend 🎨, performance 🏎

#7828 chore(app): Remove legacy code for aggregates_displayed
  electricitymap/contrib/config/model.py
  web/geo/types.ts
  web/scripts/generateZonesConfig.ts
  web/src/features/panels/zone/NoInformationMessage.tsx
  web/src/features/panels/zone/ZoneDetails.tsx
  web/src/features/panels/zone/util.test.ts
  web/src/features/panels/zone/util.ts
  web/src/locales/da.json
  web/src/locales/en.json
  web/src/locales/fr.json
  web/src/locales/no-NB.json
  web/src/locales/pl.json
  web/src/locales/pt-PT.json
  web/src/locales/sv.json
  web/src/locales/zh-TW.json
Labels: frontend 🎨, python

#7837 feat(web): reduce app delay to 0
  web/src/api/helpers.ts
Labels: frontend 🎨

#7840 Update US_NY.py
  config/zones/US-NY-NYIS.yaml
  parsers/US_NY.py
  parsers/test/__snapshots__/test_US_NY.ambr
  parsers/test/mocks/US_NY/20250219isolf.csv
  parsers/test/test_US_NY.py
Labels: parser, python, tests, zone config

#7841 fix(web): remove pill from estimation card
  web/src/features/panels/zone/EstimationCard.cy.tsx
  web/src/features/panels/zone/EstimationCard.tsx
Labels: frontend 🎨

#7842 feat(web): update estimation text
  web/src/features/panels/zone/EstimationCard.cy.tsx
  web/src/locales/da.json
  web/src/locales/de.json
  web/src/locales/en.json
  web/src/locales/es.json
  web/src/locales/fr.json
  web/src/locales/pl.json
  web/src/locales/pt-PT.json
  web/src/locales/sv.json
  web/src/locales/zh-TW.json
Labels: frontend 🎨

#7845 fix(web): remove console log print
  web/src/api/getState.ts
Labels: frontend 🎨

#7851 update DK parser to fetch wind and solar forecasts
  config/zones/DK-DK1.yaml
  config/zones/DK-DK2.yaml
  parsers/DK.py
  parsers/test/__snapshots__/test_DK.ambr
  parsers/test/mocks/DK/ElectricityProdex5MinRealtime.json
  parsers/test/mocks/DK/Forecasts_5Min.json
  parsers/test/test_DK.py
Labels: parser, python, tests, zone config

#7844 fix(web): change color of preliminary estimation
  web/src/components/EstimationBadge.tsx
  web/src/features/charts/bar-breakdown/BarBreakdownChart.tsx
  web/src/features/charts/tooltips/AreaGraphTooltipHeader.tsx
  web/src/features/panels/zone/EstimationCard.tsx
  web/src/utils/constants.ts
Labels: frontend 🎨

#7853 Update LT.yaml
  config/zones/LT.yaml
Labels: zone config

#7846 feat(web): map tooltip estimation badge should follow estimation models
  web/src/features/map/MapTooltip.stories.tsx
  web/src/features/map/MapTooltip.tsx
  web/src/features/panels/zone/EstimationCard.tsx
  web/src/stories/mockData.ts
  web/src/types.ts
Labels: frontend 🎨

#7625 perf: Simplify time handling
  web/package.json
  web/pnpm-lock.yaml
  web/src/api/getWeatherData.ts
  web/src/features/service-worker/UpdatePrompt.tsx
  web/src/features/time/HistoricalTimeHeader.tsx
  web/src/features/weather-layers/grib.ts
  web/src/utils/refetching.ts
Labels: frontend 🎨, performance 🏎, dependencies

#7854 fix(web): change map tooltip color for preliminary
  web/src/features/map/MapTooltip.tsx
Labels: frontend 🎨

#7856 changed method name in US_CA
  config/zones/US-CAL-CISO.yaml
  parsers/US_CA.py
  parsers/test/__snapshots__/test_US_CA.ambr
  parsers/test/test_US_CA.py
Labels: parser, python, tests, zone config

#7857 feat(deps): Bump poetry to version 2.1
  .github/workflows/CI.yml
  Earthfile
  parsers.dockerfile
  poetry.lock
  pyproject.toml
Labels: dependencies, infrastructure

#7858 Update FI.yaml
  config/zones/FI.yaml
Labels: zone config

#7865 chore(app): Update social image
  web/public/images/social_image.png
Labels: frontend 🎨
