Repository electricitymaps/electricitymaps-contrib, pull requests merged in 2025-08, with the labels that each got.

#8334 feat(IN): Update solar capacity for all 5 grid regions
  config/zones/IN-EA.yaml
  config/zones/IN-NE.yaml
  config/zones/IN-NO.yaml
  config/zones/IN-SO.yaml
  config/zones/IN-WE.yaml
Labels: zone config

#8335 Remove validation code only used by the test_parser utility
  parsers/lib/quality.py
  parsers/test/mocks/quality_check.py
  parsers/test/test_quality.py
  test_parser.py
Labels: parser, python, tests

#8339 fix(parser): add User-Agent to SG parser
  parsers/SG.py
Labels: parser, python

#8337 [Capacity]: Backfill US capacities
  config/zones/US-CAL-BANC.yaml
  config/zones/US-CAL-CISO.yaml
  config/zones/US-CAL-IID.yaml
  config/zones/US-CAL-LDWP.yaml
  config/zones/US-CAL-TIDC.yaml
  config/zones/US-CAR-CPLE.yaml
  config/zones/US-CAR-CPLW.yaml
  config/zones/US-CAR-DUK.yaml
  config/zones/US-CAR-SC.yaml
  config/zones/US-CAR-SCEG.yaml
  config/zones/US-CAR-YAD.yaml
  config/zones/US-CENT-SPA.yaml
  config/zones/US-CENT-SWPP.yaml
  config/zones/US-FLA-FMPP.yaml
  config/zones/US-FLA-FPC.yaml
  config/zones/US-FLA-FPL.yaml
  config/zones/US-FLA-GVL.yaml
  config/zones/US-FLA-HST.yaml
  config/zones/US-FLA-JEA.yaml
  config/zones/US-FLA-SEC.yaml
  config/zones/US-FLA-TAL.yaml
  config/zones/US-FLA-TEC.yaml
  config/zones/US-MIDA-PJM.yaml
  config/zones/US-MIDW-AECI.yaml
  config/zones/US-MIDW-LGEE.yaml
  config/zones/US-MIDW-MISO.yaml
  config/zones/US-NE-ISNE.yaml
  config/zones/US-NW-AVA.yaml
  config/zones/US-NW-BPAT.yaml
  config/zones/US-NW-CHPD.yaml
  config/zones/US-NW-DOPD.yaml
  config/zones/US-NW-GCPD.yaml
  config/zones/US-NW-IPCO.yaml
  config/zones/US-NW-NEVP.yaml
  config/zones/US-NW-NWMT.yaml
  config/zones/US-NW-PACE.yaml
  config/zones/US-NW-PACW.yaml
  config/zones/US-NW-PGE.yaml
  config/zones/US-NW-PSCO.yaml
  config/zones/US-NW-PSEI.yaml
  config/zones/US-NW-SCL.yaml
  config/zones/US-NW-TPWR.yaml
  config/zones/US-NW-WACM.yaml
  config/zones/US-NW-WAUW.yaml
  config/zones/US-NY-NYIS.yaml
  config/zones/US-SE-SEPA.yaml
  config/zones/US-SE-SOCO.yaml
  config/zones/US-SW-AZPS.yaml
  config/zones/US-SW-EPE.yaml
  config/zones/US-SW-PNM.yaml
  config/zones/US-SW-SRP.yaml
  config/zones/US-SW-TEPC.yaml
  config/zones/US-SW-WALC.yaml
  config/zones/US-TEN-TVA.yaml
  config/zones/US-TEX-ERCO.yaml
  electricitymap/contrib/capacity_parsers/EIA.py
Labels: python, zone config, capacity parser

#8356 Add generation and consumption forecasts to MD
  config/zones/MD.yaml
Labels: zone config

#8360 Update LT.yaml
  config/zones/LT.yaml
Labels: zone config

#8362 feat(entsoe-outages): add outage events + code to get xml tree
  electricitymap/contrib/lib/models/event_lists.py
  electricitymap/contrib/lib/models/events.py
  parsers/ENTSOE.py
Labels: parser, python

#8366 feat(parsers): add outage parser data types etc
  electricitymap/contrib/config/model.py
  electricitymap/contrib/lib/data_types.py
  parsers/lib/parsers.py
  tests/test_parser_interface.py
Labels: parser, python, tests

#8365 feat(parsers): query, parse and fetch outages
  config/zones/DK-DK1.yaml
  config/zones/DK-DK2.yaml
  config/zones/FR.yaml
  electricitymap/contrib/lib/models/event_lists.py
  electricitymap/contrib/lib/models/events.py
  parsers/ENTSOE.py
  parsers/test/__snapshots__/test_ENTSOE.ambr
  parsers/test/fixtures/planned_unavailability.xml
  parsers/test/mocks/ENTSOE/BE_outages.zip
  parsers/test/test_ENTSOE.py
Labels: parser, python, tests, zone config

#8359 removing from the web constant
  web/src/features/panels/zone/EstimationCard.cy.tsx
  web/src/utils/constants.ts
Labels: frontend 🎨

#8349 Paulromieu/cleaning parser data no used
  config/zones/BB.yaml
  config/zones/CA-NS.yaml
  config/zones/CA-PE.yaml
  config/zones/IL.yaml
  config/zones/PR.yaml
Labels: zone config

#8373 fix(TR): fetch the last 2 days of data to avoid missing the last hours of the day
  parsers/TR.py
Labels: parser, python
