Repository electricitymaps/electricitymaps-contrib, pull requests merged in 2025-06, with the labels that each got.

#8198 feat(parser): create PJM grid alert parser
  config/zones/US-MIDA-PJM.yaml
  parsers/US_PJM.py
Labels: parser, python, tests, zone config

#8199 fix: move all basicConfig calls into scopes to prevent import sideeff…
  capacity_update.py
  electricitymap/contrib/capacity_parsers/CA_ON.py
  electricitymap/contrib/capacity_parsers/CL_SEN.py
  electricitymap/contrib/capacity_parsers/DE.py
  electricitymap/contrib/capacity_parsers/MY_WM.py
  parsers/CA_QC.py
  scripts/update_capacity_configuration.py
  test_parser.py
Labels: parser, python, capacity parser

#8173 Create MISO grid alert parser
  config/zones/US-MIDW-MISO.yaml
  parsers/US_MISO.py
Labels: parser, python, zone config

#8207 Ireland solar
  config/zones/GB-NIR.yaml
  config/zones/IE.yaml
  parsers/SMARTGRIDDASHBOARD.py
  parsers/test/__snapshots__/test_SMARTGRIDDASHBOARD.ambr
  parsers/test/mocks/SMARTGRIDDASHBOARD/generation.json
  parsers/test/mocks/SMARTGRIDDASHBOARD/solarForecast.json
  parsers/test/mocks/SMARTGRIDDASHBOARD/solarProduction.json
  parsers/test/mocks/SMARTGRIDDASHBOARD/windForecast.json
  parsers/test/mocks/SMARTGRIDDASHBOARD/windProduction.json
  parsers/test/test_SMARTGRIDDASHBOARD.py
Labels: parser, python, tests, zone config

#8202 create NYISO grid alerts parser
  config/zones/US-NY-NYIS.yaml
  parsers/US_NY.py
Labels: parser, python, zone config

#8086 Show estimation markers
  web/src/features/charts/CarbonChart.tsx
  web/src/features/charts/EmissionChart.tsx
  web/src/features/charts/LoadChart.tsx
  web/src/features/charts/NetExchangeChart.tsx
  web/src/features/charts/OriginChart.tsx
  web/src/features/charts/bar-breakdown/BarBreakdownChart.tsx
  web/src/features/charts/bar-breakdown/BarElectricityProductionChart.tsx
  web/src/features/charts/bar-breakdown/elements/CapacityLegend.tsx
  web/src/features/charts/elements/AreaGraph.tsx
  web/src/features/charts/elements/EstimationMarkers.tsx
  web/src/features/charts/graphUtils.ts
  web/src/features/charts/hooks/useEstimationData.ts
  web/src/features/charts/tooltips/AreaGraphTooltipHeader.tsx
  web/src/features/charts/tooltips/BreakdownChartTooltip.tsx
  web/src/features/charts/tooltips/CarbonChartTooltip.tsx
  web/src/features/charts/tooltips/EmissionChartTooltip.tsx
  web/src/features/charts/tooltips/LoadChartTooltip.tsx
  web/src/features/charts/tooltips/NetExchangeChartTooltip.tsx
  web/src/features/map/MapTooltip.tsx
  web/src/features/panels/zone/EstimationCard.cy.tsx
  web/src/features/panels/zone/EstimationCard.stories.tsx
  web/src/features/panels/zone/EstimationCard.tsx
  web/src/features/panels/zone/ZoneDetails.tsx
  web/src/hooks/getEstimationTranslation.ts
  web/src/locales/cs.json
  web/src/locales/da.json
  web/src/locales/de.json
  web/src/locales/en.json
  web/src/locales/es.json
  web/src/locales/fr.json
  web/src/locales/pl.json
  web/src/locales/pt-PT.json
  web/src/locales/sv.json
  web/src/locales/zh-TW.json
  web/src/types.ts
  web/src/utils/constants.ts
  web/src/utils/getEstimationTranslation.ts
Labels: frontend 🎨

#8215 fix(AU-TAS): filter data with only 0 solar value
  parsers/OPENNEM.py
  parsers/test/test_OPENNEM.py
Labels: parser, python, tests

#8214 fix(exchanges): delete FR-COR -> IT exchange
  config/exchanges/FR-COR_IT.yaml
Labels: exchange config

#8211 fix(parser): drop data before appending
  parsers/US_SPP.py
  parsers/test/test_JP_KY.py
Labels: parser, python, tests

#8219 fix(parsers): add metadata of wrapped function instead of wrapper fun…
  parsers/lib/config.py
  parsers/test/test_ENTSOE.py
Labels: parser, python, tests

#8212 fix(parser): GB->GB-NIR filter for datetimes in the future
  parsers/SMARTGRIDDASHBOARD.py
Labels: parser, python

#8228 fix(parsers): EIA consumption forecasts in the future
  parsers/EIA.py
Labels: parser, python

#8226 fix(opennem): filter out data points with only solar
  parsers/OPENNEM.py
Labels: parser, python

#8230 feat(config): geojson config
  electricitymap/contrib/config/__init__.py
  electricitymap/contrib/config/reading.py
  tests/config/test_config.py
Labels: python, tests

#8232 Revert "fix(config): change GEO path reference"
  Earthfile
  electricitymap/contrib/config/__init__.py
  electricitymap/contrib/config/reading.py
  tests/config/test_config.py
  web/Earthfile
Labels: frontend 🎨, python, tests

#8233 Revert "feat(config): geojson config"
  electricitymap/contrib/config/__init__.py
  electricitymap/contrib/config/reading.py
  tests/config/test_config.py
Labels: python, tests

#8225 feat(parsers): add grid alerts IESO parser
  config/zones/CA-ON.yaml
  parsers/CA_ON.py
Labels: parser, python, zone config

#8249 (feat) Add webshare proxy support to Cyprus (CY) parser
  parsers/CY.py
Labels: parser, python
