Repository electricitymaps/electricitymaps-contrib, pull requests merged in 2025-09, with the labels that each got.

#8382 fix(parers):Remove breakpoint
  parsers/YUKONENERGY.py
Labels: parser, python

#8358 remove estimation_method from config.
  config/zones/AU.yaml
  config/zones/BR.yaml
  config/zones/CH.yaml
  config/zones/HK.yaml
  config/zones/ID.yaml
  config/zones/IL.yaml
  config/zones/IN-MH.yaml
  config/zones/IN-UP.yaml
  config/zones/IN.yaml
  config/zones/IT.yaml
  config/zones/JP-KN.yaml
  config/zones/JP-TK.yaml
  config/zones/KR.yaml
  config/zones/MY-EM.yaml
  config/zones/MY.yaml
  config/zones/NL.yaml
  config/zones/US.yaml
  electricitymap/contrib/config/model.py
  web/geo/types.ts
  web/scripts/generateZonesConfig.ts
  web/src/features/panels/zone/util.ts
Labels: frontend 🎨, python, zone config

#8386 Include static config in built package
  pyproject.toml
Labels: dependencies
