Repository electricitymaps/electricitymaps-contrib, pull requests merged in 2025-05, with the labels that each got.

#8114 fix: remove duplicates for JP-KY emission factors for battery and hydro discharge
  config/zones/JP-KY.yaml
Labels: zone config

#8055 Update Czech translation
  web/src/locales/cs.json
Labels: frontend 🎨

#8036 Add some french translations
  web/src/locales/fr.json
Labels: frontend 🎨

#8039 Update capacities for Reunion (RE) #8024
  config/zones/RE.yaml
Labels: zone config

#8119 Pierresegonne/remove production per unit
  config/zones/DK-DK1.yaml
  config/zones/DK-DK2.yaml
  config/zones/FI.yaml
  config/zones/PL.yaml
  config/zones/SE-SE1.yaml
  config/zones/SE-SE2.yaml
  config/zones/SE-SE3.yaml
  config/zones/SE-SE4.yaml
  config/zones/XK.yaml
  electricitymap/contrib/config/model.py
  electricitymap/contrib/lib/data_types.py
  parsers/ENTSOE.py
  parsers/lib/parsers.py
  tests/test_parser_interface.py
  web/geo/types.ts
Labels: frontend 🎨, parser, python, tests, zone config

#8118 feat(zones): Add subzone names to Russia
  config/zones/RU.yaml
Labels: zone config

#8120 Update en.json with net flows
  web/src/locales/en.json
Labels: frontend 🎨

#8079 feat(parsers): add dayahead LMP for ERCOT
  config/zones/US-TEX-ERCO.yaml
  parsers/US_ERCOT.py
Labels: parser, python, zone config

#8087 Add Posthog to Map App
  web/.eslintrc.json
  web/Earthfile
  web/index.html
  web/package.json
  web/pnpm-lock.yaml
  web/public/_headers
  web/src/components/AppStoreBanner.tsx
  web/src/components/Link.tsx
  web/src/components/MoreOptionsDropdown.cy.tsx
  web/src/components/MoreOptionsDropdown.tsx
  web/src/components/buttons/ApiButton.tsx
  web/src/components/buttons/BlueskyButton.tsx
  web/src/components/buttons/FacebookButton.tsx
  web/src/components/buttons/GithubButton.tsx
  web/src/components/buttons/LinkedinButton.tsx
  web/src/components/buttons/TwitterButton.tsx
  web/src/features/app-sidebar/AppSidebar.tsx
  web/src/features/app-sidebar/MenuItem.tsx
  web/src/features/charts/CarbonChart.tsx
  web/src/features/charts/FuturePrice.tsx
  web/src/features/charts/LoadChart.tsx
  web/src/features/charts/NetExchangeChart.tsx
  web/src/features/charts/OriginChart.tsx
  web/src/features/charts/PriceChart.tsx
  web/src/features/charts/bar-breakdown/BarBreakdownChart.tsx
  web/src/features/map-controls/ConsumptionProductionToggle.tsx
  web/src/features/map-controls/LanguageSelector.tsx
  web/src/features/map-controls/SpatialAggregatesToggle.tsx
  web/src/features/modals/SettingsModal.tsx
  web/src/features/panels/zone/Attribution.tsx
  web/src/features/panels/zone/DisplayByEmissionToggle.tsx
  web/src/features/panels/zone/EstimationCard.tsx
  web/src/features/panels/zone/MethodologyCard.tsx
  web/src/features/panels/zone/ZoneDetails.tsx
  web/src/features/time/HistoricalTimeHeader.tsx
  web/src/hooks/useShare.ts
  web/src/hooks/useTrackEvent.tsx
  web/src/main.tsx
  web/src/utils/analytics.ts
  web/src/utils/constants.ts
  web/src/utils/createConsoleGreeting.ts
Labels: frontend 🎨, dependencies

#8125 poetry run capacity_update --source ENTSOE --target_datetime '2025-05…
  config/zones/BE.yaml
  config/zones/BG.yaml
  config/zones/HU.yaml
  config/zones/PL.yaml
Labels: zone config

#8031 Create consumption forecast parser in AU-NT
  config/zones/AU-NT.yaml
  parsers/NTESMO.py
  parsers/test/__snapshots__/test_NTESMO.ambr
  parsers/test/mocks/NTESMO/as-7-days-forecast.json
  parsers/test/mocks/NTESMO/dk-7-days-forecast.json
  parsers/test/mocks/NTESMO/tc-7-days-forecast.json
  parsers/test/test_NTESMO.py
Labels: parser, python, tests, zone config

#7895 fetch wind and solar forecasts in CA_ON
  config/zones/CA-ON.yaml
  parsers/CA_ON.py
  parsers/test/__snapshots__/test_CA_ON.ambr
  parsers/test/mocks/CA_ON/adequacy_report_20250228.xml
  parsers/test/mocks/CA_ON/var_gen_forecast_summary_report_20250228.xml
  parsers/test/test_CA_ON.py
Labels: parser, python, tests, zone config

#8122 Minor updates and fixes in Czech locale
  web/src/locales/cs.json
Labels: frontend 🎨

#8127 chore(capacity): Update EIA capacities
  config/zones/US-CAL-BANC.yaml
  config/zones/US-CAL-CISO.yaml
  config/zones/US-CAL-IID.yaml
  config/zones/US-CAL-LDWP.yaml
  config/zones/US-CAR-CPLE.yaml
  config/zones/US-CAR-CPLW.yaml
  config/zones/US-CAR-DUK.yaml
  config/zones/US-CAR-SC.yaml
  config/zones/US-CAR-SCEG.yaml
  config/zones/US-CENT-SPA.yaml
  config/zones/US-CENT-SWPP.yaml
  config/zones/US-FLA-FMPP.yaml
  config/zones/US-FLA-FPC.yaml
  config/zones/US-FLA-FPL.yaml
  config/zones/US-FLA-GVL.yaml
  config/zones/US-FLA-TEC.yaml
  config/zones/US-MIDA-PJM.yaml
  config/zones/US-MIDW-AECI.yaml
  config/zones/US-MIDW-LGEE.yaml
  config/zones/US-MIDW-MISO.yaml
  config/zones/US-NE-ISNE.yaml
  config/zones/US-NW-BPAT.yaml
  config/zones/US-NW-CHPD.yaml
  config/zones/US-NW-DOPD.yaml
  config/zones/US-NW-IPCO.yaml
  config/zones/US-NW-NEVP.yaml
  config/zones/US-NW-NWMT.yaml
  config/zones/US-NW-PACE.yaml
  config/zones/US-NW-PACW.yaml
  config/zones/US-NW-PSCO.yaml
  config/zones/US-NW-SCL.yaml
  config/zones/US-NW-WACM.yaml
  config/zones/US-NW-WAUW.yaml
  config/zones/US-NY-NYIS.yaml
  config/zones/US-SE-SOCO.yaml
  config/zones/US-SW-AZPS.yaml
  config/zones/US-SW-PNM.yaml
  config/zones/US-SW-SRP.yaml
  config/zones/US-SW-WALC.yaml
  config/zones/US-TEN-TVA.yaml
  config/zones/US-TEX-ERCO.yaml
Labels: zone config

#8124 Improve Historic Data Retrieval of > 9 Days for `production` and `consumptionForecast` in `US-NY-NYIS` Zone
  parsers/US_NY.py
  parsers/test/__snapshots__/test_US_NY.ambr
  parsers/test/mocks/US_NY/20250201rtfuelmix_csv.zip
  parsers/test/test_US_NY.py
Labels: parser, python, tests

#8141 Fix live alignment
  web/src/features/time/TimeAxis.tsx
Labels: frontend 🎨

#8129 fix(parsers): Fix TAIPOWER parsing of battery and hydro storage
  parsers/TAIPOWER.py
  parsers/test/__snapshots__/test_TAIPOWER.ambr
  parsers/test/mocks/TAIPOWER/genary.json
Labels: parser, python, tests

#8130 Add some french translations
  web/src/locales/fr.json
Labels: frontend 🎨

#8144 fix(parsers): fix return type for some parsers
  parsers/CA_AB.py
  parsers/GB_ORK.py
  parsers/JP_KN.py
  parsers/JP_KY.py
  parsers/JP_SK.py
  parsers/KW.py
  parsers/NZ.py
  parsers/ajenti.py
  parsers/test/__snapshots__/test_JP_KY.ambr
  parsers/test/__snapshots__/test_NZ.ambr
  parsers/test/test_AU_TAS_FI.py
  parsers/test/test_AU_TAS_KI.py
  parsers/test/test_AU_WA_RI.py
  parsers/test/test_JP_KY.py
Labels: parser, python, tests

#8143 Add data-explorer tab
  web/src/features/app-sidebar/AppSidebar.tsx
  web/src/features/app-sidebar/Sidebar.tsx
Labels: frontend 🎨

#8133 Python upgrade 3.11
  .devcontainer/devcontainer.json
  .github/filter-groups.yml
  .python-version
  CONTRIBUTING.md
  Earthfile
  parsers.dockerfile
  poetry.lock
  pyproject.toml
Labels: dependencies, infrastructure

#8146 Fix a word in locale fr
  web/src/locales/fr.json
Labels: frontend 🎨

#8153 Tvs/test hack
  .github/workflows/CI.yml
  .github/workflows/deploy_preview_branch.yml
  electricitymap/contrib/config/model.py
  electricitymap/contrib/config/reading.py
  web/Earthfile
  web/src/features/data-centers/DataCenterLayer.tsx
  web/src/features/panels/search-panel/getSearchData.ts
Labels: frontend 🎨, dependencies, javascript, python, infrastructure

#8150 fix(parsers): fix IN parser when there is no renewables
  parsers/IN.py
Labels: parser, python

#8154 Revert "Python upgrade 3.11 (#8133)"
  .devcontainer/devcontainer.json
  .github/filter-groups.yml
  .python-version
  CONTRIBUTING.md
  Earthfile
  parsers.dockerfile
  poetry.lock
  pyproject.toml
Labels: dependencies, infrastructure

#8162 fix(parser): do not raise exception when conventional is missing for one day, only logs it
  parsers/IN.py
Labels: parser, python

#8145 fix(parsers): NZ production parser slipped through the net
  parsers/NZ.py
  parsers/test/__snapshots__/test_NZ.ambr
Labels: parser, python, tests

#8171 india cap
  config/zones/IN-EA.yaml
  config/zones/IN-NE.yaml
  config/zones/IN-NO.yaml
  config/zones/IN-SO.yaml
  config/zones/IN-WE.yaml
Labels: zone config

#8176 feat(parsers): add demand data for GB Elexon
  config/zones/GB.yaml
  parsers/ELEXON.py
Labels: parser, python, zone config
