Repository electricitymaps/electricitymaps-contrib, pull requests merged in 2025-04, with the labels that each got.

#8006 feat(app): link from settings panel to flow-tracing blog
  web/src/components/Link.tsx
  web/src/features/modals/SettingsModal.tsx
  web/src/locales/en.json
Labels: frontend 🎨

#7967 Tweak left-panel times
  web/src/components/InfoIconWithPadding.tsx
  web/src/components/ZoneGauges.tsx
  web/src/features/charts/CarbonChart.tsx
  web/src/features/charts/ChartTitle.tsx
  web/src/features/charts/EmissionChart.tsx
  web/src/features/charts/NetExchangeChart.tsx
  web/src/features/charts/OriginChart.tsx
  web/src/features/charts/PriceChart.tsx
  web/src/features/charts/bar-breakdown/BarBreakdownChart.tsx
  web/src/features/map/MapTooltip.tsx
  web/src/features/panels/zone/DisplayByEmissionToggle.tsx
  web/src/features/panels/zone/ZoneDetails.tsx
  web/src/features/panels/zone/ZoneHeader.tsx
  web/src/features/panels/zone/ZoneHeaderBackButton.tsx
  web/src/features/panels/zone/ZoneHeaderGauges.tsx
  web/src/utils/__snapshots__/formatting.test.ts.snap
  web/src/utils/formatting.test.ts
  web/src/utils/formatting.ts
Labels: frontend 🎨

#7971 TimeRangeSelector with All Years and All Months
  web/src/components/MoreOptionsDropdown.tsx
  web/src/components/TimeRangeSelector.tsx
  web/src/components/TimeRangeToggle.tsx
  web/src/features/panels/zone/DisplayByEmissionToggle.tsx
  web/src/features/panels/zone/ZoneDetails.tsx
  web/src/features/time/HistoricalTimeHeader.tsx
  web/src/features/time/TimeAxis.tsx
  web/src/features/time/TimeController.tsx
  web/src/features/time/TimeControllerWrapper.tsx
  web/src/index.css
  web/src/locales/da.json
  web/src/locales/de.json
  web/src/locales/en.json
  web/src/locales/fr.json
  web/src/main.tsx
Labels: frontend 🎨

#7986 #7977 Adding fix for filenames unsupported in Windows
  parsers/test/mocks/US_PJM/pjm_solar_forecast_2025-02-24.json
  parsers/test/mocks/US_PJM/pjm_wind_forecast_2025-02-24.json
  parsers/test/test_US_PJM.py
Labels: parser, python, tests

#8011 chore(app): remove onboarding
  web/src/components/modals/OnboardingModal.cy.tsx
  web/src/utils/state/atoms.ts
Labels: frontend 🎨

#8012 Increase delay on IN zones and BA
  config/zones/BA.yaml
  config/zones/IN-EA.yaml
  config/zones/IN-NE.yaml
  config/zones/IN-NO.yaml
  config/zones/IN-SO.yaml
  config/zones/IN-WE.yaml
Labels: zone config

#8008 Tonyvanswet/PLG 584 add gtm or hubspot direct intgration to the map
  web/index.html
  web/src/App.tsx
  web/src/components/GtmPageTracker.tsx
  web/src/utils/gtm.ts
Labels: frontend 🎨

#7983 Add french translations for the new settings panel
  web/src/locales/fr.json
Labels: frontend 🎨

#7987 Update sv.json
  web/src/locales/sv.json
Labels: frontend 🎨

#8017 Remove unused timeRangeToggle
  web/src/components/TimeRangeToggle.stories.tsx
  web/src/components/TimeRangeToggle.tsx
Labels: frontend 🎨, techdebt

#7776 Uzbekistan update of installed capacities
  config/zones/UZ.yaml
Labels: zone config

#7898 US_MISO parsers
  config/zones/US-MIDW-MISO.yaml
  parsers/US_MISO.py
  parsers/test/__snapshots__/test_US_MISO.ambr
  parsers/test/mocks/US_MISO/20250310_df_al.xls
  parsers/test/mocks/US_MISO/DataBrokerServicesgetSolarForecast.asmx.json
  parsers/test/mocks/US_MISO/DataBrokerServicesgetWindForecast.asmx.json
  parsers/test/test_US_MISO.py
Labels: parser, python, tests, zone config

#8007 Australia zones forecast parsers
  config/zones/AU-NSW.yaml
  config/zones/AU-QLD.yaml
  config/zones/AU-SA.yaml
  config/zones/AU-TAS.yaml
  config/zones/AU-VIC.yaml
  parsers/AEMO.py
  parsers/test/__snapshots__/test_AEMO.ambr
  parsers/test/mocks/AEMO/PUBLIC_FORECAST_OPERATIONAL_DEMAND_HH_202504011800_20250401173353.zip
  parsers/test/test_AEMO.py
Labels: parser, python, tests, zone config

#8026 chore(capacity): Fix BD wind capacity
  config/zones/BD.yaml
  electricitymap/contrib/capacity_parsers/EMBER.py
Labels: python, zone config, capacity parser

#8032 feat(app): change service worker to use autoUpdate option
  web/Earthfile
  web/src/App.tsx
  web/src/features/service-worker/UpdatePrompt.tsx
  web/vite.config.ts
Labels: frontend 🎨

#8030 feat(app): add intercom to the app
  web/package.json
  web/pnpm-lock.yaml
  web/src/App.tsx
  web/src/components/MapOverlays.tsx
  web/src/features/app-sidebar/AppSidebar.tsx
  web/src/features/app-sidebar/SupportButton.tsx
  web/src/index.css
Labels: frontend 🎨, dependencies

#7957 Open nem api v4
  parsers/OPENNEM.py
  parsers/test/__snapshots__/test_OPENNEM.ambr
  parsers/test/mocks/OPENNEM/OPENNEM.json
  parsers/test/test_OPENNEM.py
Labels: parser, python, tests

#8042 remove link to app in safari
  web/index.html
Labels: frontend 🎨

#8041 Fix logo and zone header on mobile app
  web/src/features/panels/LeftPanel.tsx
  web/src/features/panels/zone/ZoneDetails.tsx
  web/tailwind.config.cjs
Labels: frontend 🎨

#8045 feat(parser): Use 5 min data for AU
  parsers/OPENNEM.py
  parsers/test/__snapshots__/test_OPENNEM.ambr
  parsers/test/test_OPENNEM.py
Labels: parser, python, tests

#8051 refactor: simplify option checks in ToggleButton toggles
  web/src/components/ToggleButton.tsx
  web/src/features/map-controls/ConsumptionProductionToggle.tsx
  web/src/features/map-controls/SpatialAggregatesToggle.tsx
  web/src/features/panels/zone/DisplayByEmissionToggle.tsx
Labels: frontend 🎨

#8058 fix(parsers/IN): fix fossil production parser for IN after spreadsheet structure changed
  parsers/IN.py
Labels: parser, python

#8049 Parser generation forecast data JP
  config/zones/JP-CB.yaml
  config/zones/JP-CG.yaml
  config/zones/JP-HKD.yaml
  config/zones/JP-HR.yaml
  config/zones/JP-KN.yaml
  config/zones/JP-KY.yaml
  config/zones/JP-ON.yaml
  config/zones/JP-SK.yaml
  config/zones/JP-TH.yaml
  config/zones/JP-TK.yaml
  config/zones/JP.yaml
  parsers/JP.py
  parsers/test/__snapshots__/test_JP.ambr
  parsers/test/mocks/JP-CB/keito_yosoku_cepco003.csv
  parsers/test/mocks/JP-CG/202504_jyukyu2_chugoku.zip
  parsers/test/mocks/JP-HKD/20250415_hokkaido_yosoku.csv
  parsers/test/mocks/JP-HR/yosoku_05_20250415.csv
  parsers/test/mocks/JP-KN/20250416_yosoku.csv
  parsers/test/mocks/JP-KY/21110_TSO9_0_20250407.csv
  parsers/test/mocks/JP-ON/jukyu_yosoku_20250415.csv
  parsers/test/mocks/JP-SK/yosoku_today.csv
  parsers/test/mocks/JP-SK/yosoku_tomorrow.csv
  parsers/test/mocks/JP-TH/area_tso_yosoku_20250416.csv
  parsers/test/mocks/JP-TH/area_tso_yosoku_y.csv
  parsers/test/mocks/JP-TK/AREA_ONCE_YOSOKU.csv
  parsers/test/mocks/JP-TK/AREA_YOSOKU.csv
  parsers/test/test_JP.py
Labels: parser, python, tests, zone config

#8062 chore(capacity): Increase GB-IE exchange capacity (#7863)
  DATA_SOURCES.md
  config/exchanges/GB_IE.yaml
Labels: exchange config

#8052 chore(parsers): Remove capacity parsing from OPENNEM parser as the source no longer reports capacity
  parsers/OPENNEM.py
  parsers/test/__snapshots__/test_OPENNEM.ambr
Labels: parser, python, tests

#8064 Ss/fix india renewable parser
  parsers/IN.py
Labels: parser, python

#8066 fix(parser): fix JP-KY parser
  parsers/JP-KY.py
Labels: parser, python

#8070 toggle colors
  web/src/components/ToggleSwitch.tsx
Labels: frontend 🎨

#8076 Remove 1 Hour App Delay Feature Flag
  web/src/api/getState.ts
  web/src/api/getZone.ts
  web/src/api/helpers.ts
Labels: frontend 🎨

#8071 update consumption forecast parser
  parsers/JP.py
  parsers/test/__snapshots__/test_JP.ambr
  parsers/test/test_JP.py
Labels: parser, python, tests

#8067 Add US-AK, US-AK-SEAPA, and US-HI to US.yaml subzones
  config/zones/US.yaml
Labels: zone config

#8077 Fix CY.py parser 403 error by adding User-Agent header
  parsers/CY.py
Labels: parser, python

#8072 fix padding for safe area top
  web/src/features/map-controls/MapButtons.tsx
  web/src/features/panels/LeftPanel.tsx
  web/src/features/panels/zone/ZoneDetails.tsx
  web/src/features/panels/zone/ZoneHeader.tsx
Labels: frontend 🎨

#8075 Fix US zone translations across multiple languages, from Contiguous United States to just United States
  web/public/locales/en.json
  web/src/locales/de.json
  web/src/locales/el.json
  web/src/locales/en.json
  web/src/locales/es.json
  web/src/locales/et.json
  web/src/locales/fi.json
  web/src/locales/id.json
  web/src/locales/it.json
  web/src/locales/ja.json
  web/src/locales/ko.json
  web/src/locales/nl.json
  web/src/locales/no-NB.json
  web/src/locales/pl.json
  web/src/locales/pt-BR.json
  web/src/locales/pt-PT.json
  web/src/locales/sl.json
  web/src/locales/sv.json
Labels: translations 🗣

#8068 test(parsers): add tests for JP-KY
  config/zones/JP-KY.yaml
  parsers/JP_KY.py
  parsers/test/__snapshots__/test_JP_KY.ambr
  parsers/test/mocks/JP_KY/genkai.html
  parsers/test/mocks/JP_KY/sendai.html
  parsers/test/mocks/JP_KY/solar_and_consumption.csv
  parsers/test/mocks/JP_KY/solar_and_consumption_day.csv
  parsers/test/test_JP_KY.py
Labels: parser, python, tests, zone config

#8080 fix(ES): decrease parser validation for spain
  parsers/ENTSOE.py
Labels: parser, python

#8081 chore: update PT validation range
  parsers/ENTSOE.py
Labels: parser, python

#8082 chore: use v0.8 earthfiles
  .github/workflows/earthly-contrib.yml
  Earthfile
  config/Earthfile
  web/Earthfile
Labels: frontend 🎨, infrastructure

#8048 feat: EMBER capacity parser handles zone overrides for known modes
  config/zones/BO.yaml
  electricitymap/contrib/capacity_parsers/EMBER.py
Labels: python, zone config, capacity parser

#8093 fix: set PT lower bound to 0
  parsers/ENTSOE.py
Labels: parser, python

#8094 Put solar before wind on graphs
  web/src/utils/constants.ts
Labels: frontend 🎨
